<div class="course-card carousel-card mx-0" (click)="onCourseClick(learningMt)">
  <div class="position-relative">
    <div class="icons timer">
      <img src="/assets/images/timer.svg" class="rounded-img" alt="timer icon" /><span
       >{{learningMt.duration.inMinutes}} min</span>
    </div>
    <div class="icons labelRed"><span>#{{learningMt.topicName}}</span></div>
    <div class="icons publisher">
      <img src="/assets/images/course-list-icon.svg" alt="publisher icon" /><span
       >TekCapzule</span>
    </div>
    <div class="icons topic-name">
      <img src="../../../assets/images/skillstudio/course-icon.svg" alt="" />
      <span>Course</span>
    </div>
    <div class="course-tile-bg"></div>
  </div>
  <div class="content">
    <div class="title">
      {{learningMt.title}} <br>Design
      <p class="author">
        {{learningMt.authors[0]}} <span *ngIf="learningMt.authors.length > 1" class="more"> {{learningMt.authors.length - 1}} more</span><span> | </span> <span>{{learningMt.publishedOn}}</span>
      </p>
    </div>
    <div class="description">
      {{learningMt.description}}
    </div>
    <div *ngIf="learningMt.tags?.length" class="d-flex">
      <div *ngFor="let tag of learningMt.tags" class="pills">#{{tag}}</div>
    </div>
  </div>
  <div class="mt-2 d-flex align-items-center justify-content-between px-4 card-footer">
    <div class="recommend"><span (click)="onRecommendClick($event)" class="okhand-gray-icon"></span>Recommend <span
      class="count">({{learningMt.recommendations}})</span>
  </div>
  <div class="icon bookmark-icon-animated"></div>
    <div class="d-flex align-items-center">
      <span [ngClass]="learningMt.prizingModel.toLowerCase()+'-icon'" class="mr-2"></span>{{learningMt.prizingModel}}
    </div>
  </div>
</div>
<!-- <div class="course-card carousel-card mx-0" (click)="onCourseClick(course)">
  <div class="position-relative">
    <div class="icons timer">
      <img src="/assets/images/timer.svg" class="rounded-img" alt="timer icon" /><span
        _ngcontent-xwg-c263="">{{course.duration}} mins</span>
    </div>
    <div class="icons labelRed"><span _ngcontent-xwg-c263="">#{{course.topicName}}</span></div>
    <div class="icons publisher">
      <img src="/assets/images/course-list-icon.svg" alt="publisher icon" /><span
        _ngcontent-xwg-c263="">{{course.publisher}}</span>
    </div>
    <div class="icons bookmark-icon-animated"></div>
    <img [src]="course.imageUrl" alt="card 3" class="header-image" />
  </div>
  <div class="content">
    <div class="title">
      {{course.title}}
      <p _ngcontent-xwg-c263="">
        {{course.author}} <span> | </span> <span _ngcontent-xwg-c263="">{{course.publishedOn}}</span>
      </p>
    </div>
    <div class="description">
      <p _ngcontent-xwg-c263="">
        {{course.summary}}
      </p>
    </div>
  </div>
  <div class="mt-2 d-flex align-items-center justify-content-between px-4 card-footer">
    <div class="recommend"><span (click)="onRecommendClick($event)" class="okhand-gray-icon"></span>Recommend <span
      class="count">({{ course.recommendations }})</span>
  </div>
    <div class="d-flex align-items-center">
      <span class="free-icon mr-2"></span>Free
    </div>
  </div>
</div> -->