<div class="course-card carousel-card mx-0" (click)="onCourseClick(course)">
  <div class="position-relative">
    <div class="icons timer">
      <img src="/assets/images/timer.svg" class="rounded-img" alt="timer icon" /><span
        _ngcontent-xwg-c263="">{{course.duration}} mins</span>
    </div>
    <div class="icons labelRed"><span _ngcontent-xwg-c263="">#{{course.topicName}}</span></div>
    <div class="icons publisher">
      <img src="/assets/images/course-list-icon.svg" alt="publisher icon" /><span
        _ngcontent-xwg-c263="">{{course.publisher}}</span>
    </div>
    <div class="icons bookmark-icon-animated"></div>
    <img [src]="course.imageUrl" alt="card 3" class="header-image" />
  </div>
  <div class="content">
    <div class="title">
      {{course.title}}
      <p _ngcontent-xwg-c263="">
        {{course.author}} <span> | </span> <span _ngcontent-xwg-c263="">{{course.publishedOn}}</span>
      </p>
    </div>
    <div class="description">
      <p _ngcontent-xwg-c263="">
        {{course.summary}}
      </p>
    </div>
  </div>
  <div class="mt-2 d-flex align-items-center justify-content-between px-4 card-footer">
    <div class="recommend"><span (click)="onRecommendClick($event)" class="okhand-gray-icon"></span>Recommend <span
      class="count">({{ course.recommendations }})</span>
  </div>
    <div class="d-flex align-items-center">
      <span class="free-icon mr-2"></span>Free
    </div>
  </div>
</div>