<div class="careers-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <div class="container">
    <nav id="breadcrumbs" class="container breadcrumbs">
      <span
        ><span><a href="/">Home</a></span> <img src="../../assets/images/breadcrumb_arrow.png" />
        <span class="breadcrumb_last" aria-current="page">Careers</span></span
      >
    </nav>
  </div>
  <section class="page-banner careers-banner-bg">
    <div class="inner row">
      <div
        class="col-xl-5 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content px-0"
      >
        <h1 class="text-white animate__animated animate__fadeInUp delay-1">
          New possibilities begin HERE
        </h1>
        <h4 class="text-white content-sub-text animate__animated animate__fadeInUp delay-1">
          People are our greatest asset. If you're passionate about your work and want to make a
          real difference, we'd love to hear from you.
        </h4>
        <button
          mat-raised-button
          class="button primary mt-2 animate__animated animate__fadeInUp delay-3" routerLink="/aboutus"
        >
          Join Us
        </button>
      </div>
    </div>
  </section>

  <section>
    <div class="inner">
      <h3>Checkout our current open positions</h3>
      <p>Browse our current openings and discover how you can contribute to our mission.</p>
      <div class="job-card-layout">
        <div class="job-card">
          <h5>Mobile Developer</h5>
          <p>
            Design, develop and maintain our Android and iOS apps using Flutter. The ideal candidate
            will have strong background in mobile app development and excellent problem solving
            skills.
          </p>
          <h5 class="location">Bengaluru, Karnata, India (Hybrid)</h5>
          <div class="work-details">
            <div class="work-status">
              <span>Full Time</span>
            </div>
            <div class="experience">
              <span>5+ years of experience</span>
            </div>
          </div>
          <div class="position-applied">18 applied for this position</div>
        </div>
        <div class="job-card">
          <h5>Front-end Developer</h5>
          <p>
            Build and maintain our web applications using React and Angular, deliver responsive,
            scalable and high performance user interfaces. The ideal candidate will have a strong
            background in frontend development, excellent knowledge of modern web technologies, and
            a passion for building intuitive and engaging user experiences.
          </p>
          <h5 class="location">Bengaluru, Karnata, India (Hybrid)</h5>
          <div class="work-details">
            <div class="work-status">
              <span>Full Time</span>
            </div>
            <div class="experience">
              <span>5+ years of experience</span>
            </div>
          </div>
          <div class="position-applied">29 applied for this position</div>
        </div>
        <div class="job-card">
          <h5>Corporate Trainer</h5>
          <p>
            Desing and deliver engaging technology training programmes to our clients. The ideal
            candidate will have a strong background in corporate training, excellent presentation
            and facilitation skills.
          </p>
          <h5 class="location">Bengaluru, Karnata, India (Hybrid)</h5>
          <div class="work-details">
            <div class="work-status">
              <span>Full Time</span>
            </div>
            <div class="experience">
              <span>10+ years of experience</span>
            </div>
          </div>
          <div class="position-applied">05 applied for this position</div>
        </div>
        <div class="job-card">
          <h5>Java Developer</h5>
          <p>
            Design. develop and maintain our Java applications using Springboot and java 17. The
            ideal candidate will have a strong background in java programming, excellent problem
            solving skills and a passion for building scalable and high performance applications.
          </p>
          <h5 class="location">Bengaluru, Karnata, India (Hybrid)</h5>
          <div class="work-details">
            <div class="work-status">
              <span>Full Time</span>
            </div>
            <div class="experience">
              <span>10+ years of experience</span>
            </div>
          </div>
          <div class="position-applied">22 applied for this position</div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Subscribe Section ======= -->
  <section class="form-bg">
    <div class="container inner">
      <div class="row">
        <div class="careers-block pb-0 pt-5">
          <h2>Can’t find the role you’re looking for?</h2>
          <p class="content-sub-text">
            Send your profiles to
            <a href="mailto:careers@tekcapzule.com">careers@tekcapzule.com</a> and we'll get back to
            you
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
