<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>
  <section class="container-fluid aihub-banner courses skillstudio-banner">
    <div class="container main-banner">
      <div class="mob-mr-0 mt-sm-0 mob-mb-2">
        <h2 class="bg-fandango text-white">SkillStudio</h2>
        <div class="banner-highlights text-white">
          A comprehensive collection <br>of tech learning resources <br>at your fingertip!
        </div>
      </div>
      <img src="assets/images/home/skillstudio-all.png" alt="skillstudio" class="img-fluid skill-girl" />
      <div id="heroBanner" class="carousel slide skill-carousel" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#heroBanner" data-slide-to="0" class="active"></li>
          <li data-target="#heroBanner" data-slide-to="1"></li>
          <li data-target="#heroBanner" data-slide-to="2"></li>
          <li data-target="#heroBanner" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner pb-4">
          <div class="carousel-item active">
            <div class="carousel-caption">
              <section class="col-lg-9 px-0">
                <h3 class="text-white">Learning never stops, Continuous Learning starts here!</h3>
                <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                  doloremque.</p>
                <button class="button primary-btn-sm">Know More</button>
                <img src="assets/images/skillstudio/online-video-call.png" alt="online" class="img-fluid video-call" />
              </section>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <section class="col-lg-9 px-0">
                <h3 class="text-white">Learning never stops, Continuous Learning starts here!</h3>
                <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                  doloremque.</p>
                <button class="button primary-btn-sm">Know More</button>
                <img src="assets/images/skillstudio/girl-learning.png" alt="online" class="img-fluid video-call" />
              </section>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <section class="col-lg-9 px-0">
                <h3 class="text-white">Learning never stops, Continuous Learning starts here!</h3>
                <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                  doloremque.</p>
                <button class="button primary-btn-sm">Know More</button>
                <img src="assets/images/skillstudio/girl-learning-1.png" alt="online" class="img-fluid video-call" />
              </section>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <section class="col-lg-9 px-0">
                <h3 class="text-white">Learning never stops, Continuous Learning starts here!</h3>
                <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                  doloremque.</p>
                <button class="button primary-btn-sm">Know More</button>
                <img src="assets/images/skillstudio/girl-learning-2.png" alt="online" class="img-fluid video-call" />
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="skill-carousel">
        <h2 class="text-white">Learning never stops, Continuous Learning starts here!</h2>
        <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
          doloremque.</p>
        <button class="button primary-btn-sm">Know More</button>
        <img src="assets/images/skillstudio/online-video-call.png" alt="online" class="img-fluid video-call" />
      </div> -->
    </div>
  </section>
  <div class="col-lg-12 bg-white py-5">
    <section class="container space-fill">
      <div class="row">
        <div *ngIf="isFilterVisible" class="col-lg-2 col-md-4 col-sm-6">
          <div class="filter-column">
            <div class="filter-heading" data-toggle="collapse" href="#filterAccordion" aria-expanded="true">
              Filter
            </div>
            <div id="filterAccordion" class="collapse show filter-accordion-content">
              <div class="filter-topic">Topic</div>
              <div *ngFor="let topic of topics" class="field-checkbox pb-3">
                <p-checkbox name="topic" [value]="topic.code" [(ngModel)]="selectedTopic" [inputId]="topic.code"
                  (onChange)="onFilterChange($event, topic.code)"></p-checkbox>
                <label [for]="topic.code">{{ topic.title }}</label>
              </div>
              <div class="filter-topic mt-4">Category</div>
              <div class="field-checkbox pb-3">
                <p-checkbox name="group1" value="All"></p-checkbox>
                <label>All</label>
              </div>
              <div class="field-checkbox pb-3">
                <p-checkbox name="group1" value="Tekbyte"></p-checkbox>
                <span class="icon tekbyte-select-icon"></span>
                <label>Tekbyte</label>
              </div>
              <div class="field-checkbox pb-3">
                <p-checkbox name="group1" value="Course"></p-checkbox>
                <span class="icon course-select-icon"></span>
                <label>Course</label>
              </div>
              <div class="field-checkbox pb-3">
                <p-checkbox name="group1" value="Interview Prep"></p-checkbox>
                <span class="icon interview-prep-select-icon"></span>
                <label>Interview Prep</label>
              </div>
              <div class="field-checkbox pb-3">
                <p-checkbox name="group1" value="Video"></p-checkbox>
                <span class="icon video-select-icon"></span>
                <label>Video</label>
              </div>
              <div class="field-checkbox pb-3">
                <p-checkbox name="group1" value="Research Paper"></p-checkbox>
                <span class="icon research-paper-select-icon"></span>
                <label>Research Paper</label>
              </div>
              <div class="field-checkbox pb-3">
                <p-checkbox name="group1" value="Newsletter"></p-checkbox>
                <span class="icon newsletter-select-icon"></span>
                <label>Newsletter</label>
              </div>
              <div class="field-checkbox pb-3">
                <p-checkbox name="group1" value="Podcast"></p-checkbox>
                <span class="icon podcast-select-icon"></span>
                <label>Podcast</label>
              </div>
              <div class="field-checkbox pb-3">
                <p-checkbox name="group1" value="Event"></p-checkbox>
                <span class="icon events-select-icon"></span>
                <label>Event</label>
              </div>
              <div class="field-checkbox pb-3">
                <p-checkbox name="group1" value="Recorded Event"></p-checkbox>
                <span class="icon events-select-icon"></span>
                <label>Recorded Event</label>
              </div>
              <div class="field-checkbox pb-3">
                <p-checkbox name="group1" value="Book"></p-checkbox>
                <span class="icon events-select-icon"></span>
                <label>Book</label>
              </div>


              <!-- <div *ngFor="let skillstudio of skillstudioCategories" class="field-checkbox pb-2">
                <p-checkbox
                  name="category"
                  [value]="skillstudio.key"
                  [inputId]="skillstudio.key"
                  [(ngModel)]="selectedSkillstudioCategories"
                  (onChange)="onFilterChange($event, skillstudio.key)"
                ></p-checkbox>
                <span class="icon course-select-icon"></span>

                <label [for]="skillstudio.key">{{ skillstudio.name }}</label>
              </div> -->
              <div class="filter-topic mt-4">Price Type</div>
              <div *ngFor="let category of paymentCategories" class="field-checkbox pb-2">
                <p-checkbox name="payment" [value]="category.key" [inputId]="category.key"
                  [(ngModel)]="selectedPayments" (onChange)="onFilterChange($event, category.key)"></p-checkbox>
                <label [for]="category.key">{{ category.name }}</label>
              </div>
              <div class="filter-topic mt-4">Delivery Mode</div>
              <div *ngFor="let dm of deliveryMode" class="field-checkbox pb-2">
                <p-checkbox name="delivery" [value]="dm.key" [inputId]="dm.key" [(ngModel)]="selectedDeliveryMode"
                  (onChange)="onFilterChange($event, dm.key)"></p-checkbox>
                <label [for]="dm.key">{{ dm.name }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-6">
          <div class="row">
            <div class="search-box mt-0 pb-4 mb-3 ml-0 col-lg-9">
              <input type="text" name="searchTopics"
                placeholder="All you need in one place: software, tool, hardware, products etc.." class="mb-0"
                [(ngModel)]="searchText" (keyup)="onSearch()" />
              <button title="search bar" class="search-btn mr-3"></button>
            </div>
            <div *ngIf="isSortVisible" class="col-lg-3">
              <div class="form-group">
                <select class="form-control" name="sort">
                  <option value="">Sort (Newest)</option>
                </select>
              </div>
            </div>
          </div>
          <!-- <div class="show-result pb-4">Showing <span>{{filteredCourseList.length}}</span> of <span>{{courseList.length}}</span></div> -->

          <div class="course-card-skeleton-wrapper">
            <div class="mb-4 pb-4 colby3" *ngIf="!spinner.isLoading">
              <ng-container *ngFor="let learningMt of filteredlearningMtList; let i = index">
                <app-skill-card [learningMt]="learningMt" class="course-tile-bg-{{i}}"></app-skill-card>
              </ng-container>
            </div>
            <div *ngIf="spinner.isLoading">
              <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
                <app-skill-skeleton></app-skill-skeleton>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>