<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid">
    <div class="container header-align">
      <!-- Responsive Menu -->
      <nav class="navbar navbar-expand-lg">
        <button #collapseBtn class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="!isMobileResolution  || (isMobileResolution && selectedMenuItem?.uniqueId === 'HOME')"
          class="navbar-brand logo">
          <a href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse.show"
            routerLinkActive="active" (click)="onMenuClick(headerMenu[0])"><img src="/assets/images/logo-white.svg" alt="Tekcapsule Logo"/></a>
        </div>
        
        <div class="page-name" *ngIf="isMobileResolution && selectedMenuItem?.uniqueId !== 'HOME'">
          <div class="main-nav">{{selectedMenuItem?.displayName}}</div>
          <div *ngIf="selectedChildMenuItem" class="sub-nav">{{selectedChildMenuItem?.displayName}}</div>
        </div>
        <div class="menu-hide">&nbsp;</div>

        <div #navbarNav id="navbarNav" class="collapse navbar-collapse nav-menu" (click)="onStopClick($event)">

          <ul class="navbar-nav">
            <ng-container *ngFor="let hm of headerMenu; let i=index">
              <li [ngClass]="{'dropdown': isMobileResolution && hm.children, 'active': selectedMenuItem?.uniqueId === hm.uniqueId}"
                *ngIf="hm.showOnMobile ? isMobileResolution : true">
                <a href="Javascript:void(0)" class="nav-item pe-none"
                [ngClass]="{'parent-menu': isMobileResolution && hm.children}" (click)="onMenuClick(hm)">{{hm.displayName}}
                  <span *ngIf="isMobileResolution && hm.children && selectedMenuItem?.uniqueId === 'My_Feeds'"
                    [ngClass]="{'parent-menu': isMobileResolution && hm.children}" class="caret"></span></a>

                <ng-container *ngIf="isMobileResolution && hm.children && openedMenuItem?.uniqueId === hm.uniqueId">
                  <ul class="dropdown-menu show">
                    <li *ngFor="let menuItem of hm.children; let i=index">
                      <a href="Javascript:void(0)" class="nav-item" (click)="onChildMenuClick(menuItem)">{{menuItem.displayName}}</a>
                    </li>
                  </ul>
                </ng-container>
              </li>
            </ng-container>
          </ul>
        </div>
      </nav>
      <!-- <div class="search-box">
        <input type="search" name="search" placeholder="What are you looking for?" />
        <button title="search bar" class="search-btn"></button>
      </div>
          <button mat-raised-button class="button primary">Sign up</button>
          <button mat-stroked-button class="button secondary">Login</button> -->
    </div>
  </div>
</header>
<!-- End Header -->