<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid">
    <div class="container header-align">
      <!-- Responsive Menu -->
      <nav class="navbar navbar-expand-lg">
        <button #collapseBtn class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="!isMobileResolution  || (isMobileResolution && selectedMenuItem?.uniqueId === 'HOME')"
          class="navbar-brand logo">
          <a href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse.show"
            routerLinkActive="active" (click)="onMenuClick(headerMenu[0])"><img src="/assets/images/logo.svg" alt="Tekcapsule Logo"/></a>
        </div>
        
        <div class="page-name" *ngIf="isMobileResolution && selectedMenuItem?.uniqueId !== 'HOME'">
          <div class="main-nav">{{selectedMenuItem?.displayName}}</div>
          <div *ngIf="selectedChildMenuItem" class="sub-nav">{{selectedChildMenuItem?.displayName}}</div>
        </div>
        <div class="menu-hide">&nbsp;</div>

        <div #navbarNav id="navbarNav" class="collapse navbar-collapse nav-menu" (click)="onStopClick($event)">

          <ul class="navbar-nav">
            <ng-container *ngFor="let hm of headerMenu; let i=index">
              <li [ngClass]="{'dropdown': (hm.viewType || isMobileResolution) && hm.children, 'active': selectedMenuItem?.uniqueId === hm.uniqueId}"
                *ngIf="hm.showOnMobile ? isMobileResolution : true">
                <a href="Javascript:void(0)" class="nav-item pe-none"
                [ngClass]="{'parent-menu': isMobileResolution && hm.children}" (click)="onMenuClick(hm)">{{hm.displayName}}
                  <span *ngIf="isMobileResolution && hm.children || hm.viewType === 'ALL'"
                    [ngClass]="{'parent-menu': (isMobileResolution || hm.viewType === 'ALL') && hm.children}" class="caret"></span></a>


                <ng-container *ngIf="isMobileResolution && hm.children && openedMenuItem?.uniqueId === hm.uniqueId">
                  <ul class="dropdown-menu show">
                    <li *ngFor="let menuItem of hm.children; let i=index">
                      <a href="Javascript:void(0)" class="nav-item" (click)="onChildMenuClick(menuItem)">{{menuItem.displayName}}</a>
                    </li>
                  </ul>
                </ng-container>

                <ng-cotainer *ngIf="hm.viewType === 'ALL' && !isMobileResolution && hm.children && openedMenuItem?.uniqueId === hm.uniqueId">
                  <div class="">
                    <div class="dropdown-content container">
                      <div class="px-5">
                        <div class="sub-menu-title text-left">
                          <h2>SkillStudio {{math.ceil(hm.children.length/2)}}</h2>
                        </div>
                      <div class="d-flex">
                        <div class="col-lg-6 pl-0">
                          <ul class="sub-menu">
                            <li *ngFor="let sm of hm.children | slice:0:math.ceil(hm.children.length/2)"  (click)="onChildMenuClick(sm)">
                              <div class="icon"><span  [ngClass]="sm.uniqueId.toLowerCase() + '-menu-icon'"></span></div>
                              <h3>{{sm.displayName}}</h3>
                              <span>{{sm.desc}}</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-6">
                          <ul class="sub-menu">
                            <li *ngFor="let sm of hm.children | slice:math.ceil(hm.children.length/2):hm.children.length">
                              <div class="icon"><span  [ngClass]="sm.uniqueId.toLowerCase() + '-menu-icon'"></span></div>
                              <h3>{{sm.displayName}}</h3>
                              <span>{{sm.desc}}</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </ng-cotainer>
              </li>
                
            </ng-container>
          </ul>
          <div class="dropdown">
            <button class="dropbtn">SkillStudio  <i class="arrow down"></i></button>
            <div class="">
                <div class="dropdown-content container">
                  <div class="px-5">
                    <div class="sub-menu-title text-left">
                      <h2>SkillStudio</h2>
                    </div>
                  <div class="d-flex">
                    <div class="col-lg-6 pl-0">
                      <ul class="sub-menu">
                        <li>
                          <div class="icon"><span  class="icon-1"></span></div>
                          <h3>Tekbytes</h3>
                          <span>Current tech landscape is so dynamic and fast evolving.</span>
                        </li>
                        <li>
                          <div class="icon"><span  class="icon-2"></span></div>
                          <h3>Courses</h3>
                          <span>Current tech landscape is so dynamic and fast evolving.</span>
                        </li>
                        <li>
                          <div class="icon"><span  class="icon-3"></span></div>
                          <h3>Interview Prep</h3>
                          <span>Current tech landscape is so dynamic and fast evolving.</span>
                        </li>
                        <li>
                          <div class="icon"><span  class="icon-4"></span></div>
                          <h3>Mentoring</h3>
                          <span>Current tech landscape is so dynamic and fast evolving.</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6">
                      <ul class="sub-menu">
                        <li>
                          <div class="icon"><span  class="icon-5"></span></div>
                          <h3>Research Papers</h3>
                          <span>Current tech landscape is so dynamic and fast evolving.</span>
                        </li>
                        <li>
                          <div class="icon"><span  class="icon-6"></span></div>
                          <h3>Video Library</h3>
                          <span>Current tech landscape is so dynamic and fast evolving.</span>
                        </li>
                        <li>
                          <div class="icon"><span  class="icon-7"></span></div>
                          <h3>Weekly Digest</h3>
                          <span>Current tech landscape is so dynamic and fast evolving.</span>
                        </li>
                        <li>
                          <div class="icon"><span  class="icon-8"></span></div>
                          <h3>Events</h3>
                          <span>Current tech landscape is so dynamic and fast evolving.</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- End Header -->