@import '../../.././../assets/styles/variables.scss';
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  //transition: all 0.5s;
  z-index: 997;
  padding: 7px ​0;
  border-bottom: 1px solid #efefef;
  background: #fff;
  box-shadow: 0 0px 5px rgb(57 63 72 / 30%);
  -webkit-box-shadow: 0 0px 5px rgb(57 63 72 / 30%);
  -moz-box-shadow: 0 0px 5px rgb(57 63 72 / 30%);
  .header-align {
    height: 90px;
    display: flex;
  }
  .header-scrolled,
  .header-inner-pages {
    padding: 12px 0;
  }

  .logo {
    img {
      margin-right: 35px;
      margin-top: -10px;
      @media only screen and (max-width: 480px) {
        margin-right: 15px;
        width: 180px;
      }
    }
  }
  .button {
    font-size: 16px;
    &.primary,
    &.secondary {
      width: 125px;
      height: 46px;
      @include helveticaNeueFont();
    }
    &.primary.respIconBtn {
      @media only screen and (max-width: 1360px) {
        width: 40px;
        height: 40px;
        font-size: 0px;
        text-align: center;
        padding: 3px;
        margin-right: 0;
        background-color: transparent;
        &:before {
          content: '';
          background: url(../../../../assets/images/user.svg);
          width: 30px;
          height: 30px;
          display: inline-block;
        }
      }
    }
  }
}
// @media (max-width: 992px) {
//   #header {
//     padding: 12px 0;
//   }
// }
.respSearchIcon {
  display: none;
}
@media only screen and (max-width: 1360px) {
  .respSearchIcon {
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 7px;
  }
  .search-box {
    display: none;
    right: 0px;
    top: 57px;
    width: 100%;
    left: 0px;
    padding: 5px;
    margin: 0px;
    position: absolute;
    background: rgb(244, 244, 244);
    input[type='search'] {
      margin-bottom: 0px;
    }
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
@media (min-width: 992px) and (max-width: 1920px){
a.dropdown-toggle.d-flex::after {
  display: none!important;
}
}
.dropdown-menu.show {
  display: none;
}
.nav-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > ul {
    display: flex;

    > li {
      position: relative;
      white-space: nowrap;
      // padding: 10px 40px;
      padding: 10px 75px;
      @media only screen and (max-width: 1500px) {
        // padding: 10px;
        padding: 10px 40px;
      }
      @media only screen and (width: 1536px) {
        padding: 10px 75px;
      }
      ::after {
        content: '';
        display: block;
        width: 0px;
        height: 2px;
        // background: #fec400;
        transition: 0.2s;
        @media only screen and (max-width: 990px) {
          margin-top: 10px;
          margin-left: 5px;
        }
       
      }
    }
  }

  a {
    display: block;
    position: relative;
    color: #000;
    transition: 0.3s;
    font-size: 20px!important;
    font-weight: 600;
    @include helveticaNeueFont();
    @media (max-width: 992px) {
      padding-top: 15px;
      font-family: HelveticaNeueLTProBoldCondensed;
      color: $white;
      font-size: 16px!important;
    }

    &:hover:before {
      visibility: visible;
      width: 100%;
    }
  }

  > ul > li > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  li:hover > a:before,
  .active > a:before {
    visibility: visible;
    width: 100%;
  }

  a:hover,
  .active > a,
  li:hover > a {
    color: $primary-color;
  }
}
/* Get Startet Button */

.get-started-btn {
  margin-left: 25px;
  color: $primary-color;
  border-radius: 5px;
  padding: 6px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.5);

  &:hover {
    border-color: #fff;
    color: #fff;
  }
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
  .dropdown-menu.show {
    display: block!important;
  }
  a.dropdown-toggle.d-flex::after {
    display: block!important;
  }
}

/* Mobile Navigation */

.navbar-nav .dropdown-menu {
  background: none;
  border: 0 none;
  line-height: 10px;
  margin-top: 14px!important;
  margin-left: 15px!important;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;

  i {
    color: #fff;
  }
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;

  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    position: relative;
    color: #2c4964;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;

    &:hover {
      color: #5846f9;
      text-decoration: none;
    }
  }

  .active > a,
  li:hover > a {
    color: #5846f9;
    text-decoration: none;
  }
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(28, 47, 65, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;

  .mobile-nav {
    opacity: 1;
    visibility: visible;
  }

  .mobile-nav-toggle i {
    color: #fff;
  }
}
.navbar {
  padding: 0.5rem 0!important;
}
@media (max-width: 992px) {
  #header {
    .md-justify-left {
      justify-content: space-between !important;
    }
    @media only screen and (max-width: 480px) {
      .navbar {
        padding: 8px 0;
      }
    }
  }

  .navbar-toggler {
    margin-right: 20px;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    background: url('../../../../assets/images/burgerMenuIcon.svg') 10px 10px no-repeat;
    // .navbar-toggler-icon{
    // position: relative;
    // display: inline-block;
    // width: 1.5em;
    // height: 1.25em;
    // border-top: 0.15em solid #e30045;
    // border-bottom: 0.15em solid #e30045;
    // &:before{
    // content: "";
    // position: absolute;
    // top: 0.4em;
    // left: 0px;
    // width: 100%;
    // border-top: 0.15em solid #e30045;
    // }
    // }
  }
  .navbar-toggler[aria-expanded='true'] {
    background: url('../../../../assets/images/crossMobileMenu.svg') 10px 10px no-repeat;
  }
  .nav-menu > ul > li {
    padding: 0 10px;
    border-bottom: 1px solid #fff;
  }
  .navbar-collapse {
    position: fixed;
    top: 93px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100%;
    background: $primary-color;
  }

  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
}
