<div id="capsules" class="capsules-page p-main">
  <div class="flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>  

  <nav mat-tab-nav-bar *ngIf="!canHideNavTabs()" [tabPanel]="tabPanel">
    <div class="container d-flex">
      <ng-container *ngFor="let navTab of navTabs">
        <a
          mat-tab-link
          (click)="setActiveTab(navTab)"
          [active]="isActiveTab(navTab)"
          [routerLink]="[navTab.navUrl]"
        >
          <span style="width: 130px">{{ navTab.displayName }}</span>
        </a>
      </ng-container>

      <a mat-tab-link data-toggle="modal" data-target="#browseByTopicModal">
        <span style="width: 120px">Browse by Topic</span>
        <img src="/assets/images/down-arrow.svg" class="pl-2" />
      </a>
      <div class="w-75 pr-0 d-flex justify-content-end">
        <button class="reset-btn" (click)="onHardRefreshCapsules()">
          <img src="/assets/images/reset.svg" alt="" class="pr-3 pt-1" />
        </button>
        <button
          mat-stroked-button
          class="button secondary-btn-sm contribute-btn"
          (click)="navigateToContributePage()"
        >
          Contribute
        </button>
      </div>
    </div>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
  <!-- Modal -->
  <div
    class="modal fade in mobileOverlayMenu"
    id="browseByTopicModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="browseByTopicModalLabel"
    aria-hidden="true"
    data-backdrop="static"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container p-0">
          <div class="modal-header">
            <div class="col-lg-12 px-0">
              <div class="search-box mx-0">
                <input
                  type="search"
                  name="search"
                  placeholder="What are you looking for?"
                  [(ngModel)]="searchInputValue"
                  (input)="searchInputChanged($event.target.value)"
                />
                <button title="search bar" class="search-btn" *ngIf="!searchInputValue"></button>
              </div>
            </div>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
              (click)="searchInputValue = ''; searchInputChanged('')"
            >
              <img src="/assets/images/iframe-close-icon.png" style="width:35px" />
            </button>
          </div>
          <div class="modal-body pt-0 px-4 tags">
            <div class="row pb-4">
              <div class="col-md-12">
                <ul class="topics-list">
                  <ng-container *ngFor="let item of filteredBrowseByTopics">
                    <li [class.active]="item.isSubscribed" (click)="toggleSubscribeTopic(item)">
                      #{{ item.topic.title }}
                    </li>
                  </ng-container>
                </ul>
                <div class="text-right">
                <button
              mat-stroked-button
              class="button secondary-btn-sm apply-btn"
              (click)="doLoadFeedsForSelectedTopics()"
            >
              Apply
            </button>
          </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
