@import './../../assets/styles/variables.scss';

.capsules-page {
  background: #e4e4e4;
  &.p-main {
    padding-top: 75px;
    padding-bottom: 0;
  }
}

/*********************************
            Tab Component
**********************************/

.mat-mdc-tab-nav-bar,
.mat-mdc-tab-header {
  box-shadow: 0px 4px 6px #0000000f;
  background: #fbfbfb;
  height: 65px;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.mat-mdc-tab-list {
  position: fixed;
  background: #FBFBFB;
  width: 100%;
  box-shadow: 0px 3px 6px #00000003;
}
.mat-mdc-tab-list {
  position: fixed;
  background: #FBFBFB;
  width: 100%;
  box-shadow: 0px 3px 6px #00000003;
}
.mat-mdc-tab-label {
  height: 60px;
  .mat-mdc-tab-label-container {
    max-width: 1400px;
  }
}

.mat-mdc-tab-label,
.mat-mdc-tab-link {
  font-family: $cardtitle-font !important;
  color: #575757;
  font-size: 18px;
  height: 60px;

  @media only screen and (max-width: 768px) {
    min-width: auto !important;
    margin-right: 30px;
  }
}
.contribute-btn {
  margin-top: 10px;
  float: right;
  font-size: 16px;
  height: 38px;
  padding: 4px 0 0 0;
}
h2 {
  font-size: 30px;
  margin-bottom: 32px;
}
ul {
  padding-inline-start: 0px;
  &.topics-list {
    display: inline-block;
    @media only screen and (max-width: 990px) {
      display: flex;
      overflow-x: scroll;
      white-space: nowrap;
    }
    li {
      font-family: HelveticaNeueLTPro-medium;
      font-size: 18px;
      line-height: 33px;
      list-style: none;
      border-radius: 25px;
      margin-right: 13px;
      margin-bottom: 13px;
      border: 1px solid #f9bbce;
      padding: 0 30px;
      float: left;
      cursor: pointer;
      span {
        color: $primary-color;
      }
      &.active {
        background-color: $primary-color;
        color: $white;
        span {
          color: $white;
        }
      }
      // span {
      //   font-size: 13px;
      //   background: #f1f1f1;
      //   border-radius: 35px;
      //   padding: 6px 15px 3px 15px;
      //   color: $secondary-color;
      //   display: none;
      //   &.active {
      //     color: $primary-color;
      //   }
      // }
    }
  }
}
.mat-mdc-tab-header.mat-mdc-tab-nav-bar-stretch-tabs .mat-mdc-tab-link {
  // width: 70px !important;
  padding: 0 !important;
  text-align: start !important;
  justify-content: initial !important;
  margin-right: 87px !important;
  font-family: HelveticaNeueLTProBoldCondensed !important;
  color: #575757 !important;
  font-size: 18px !important;
  height: 60px !important;
}

.mdc-tab-indicator--active .mdc-tab-indicator__content, .mdc-tab-indicator__content .mdc-tab-indicator__content--underline {
  height: 4px !important;
}
.mdc-tab-indicator, .mdc-tab-indicator .mdc-tab-indicator__content {
  color: #e7245f !important;
}

.tags-section {
  top: 140px;
    position: sticky;
    height: 75px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.0588235294);
    background: #fbfbfb;
    z-index: 1;
    border-top: 1px solid #ddd;
    .selected-topic-list {
      font-family: HelveticaNeueLTPro-medium;
      font-size: 18px;
      display: flex;
      align-items: center;
      padding: 20px 0;
      @media only screen and (max-width: 990px) {
        padding: 10px 0 !important;
      }
    }
}




