@import './../../assets/styles/variables.scss';

.capsules-page {
  // background: #f7f7f7;
  &.p-main {
    padding-top: 108px;
    padding-bottom: 0;
  }
}
.inner {
  max-width: 1110px;
}
.linear-bg {
  min-height: 140px;
  background: linear-gradient(248deg, #28346A 35%, #770B77 100%);
}
.profile-section {
  background: url('../../assets/images/feeds/profile-top-bg.svg');
  width: 100%;
  background-size: 100%;
  color: $white;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    .profile-pic {
      background: url('../../assets/images/feeds/profile-img.svg') no-repeat;
      width: 32px;
      height: 32px;
    }
  }
}

/*********************************
            Tab Component
**********************************/

.mat-mdc-tab-nav-bar,
.mat-mdc-tab-header {
  box-shadow: 0px 4px 6px #0000000f;
  background: #fbfbfb;
  height: 50px;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.mat-mdc-tab-list {
  position: fixed;
  background: #FBFBFB;
  width: 100%;
  box-shadow: 0px 3px 6px #00000003;
}
.mat-mdc-tab-list {
  position: fixed;
  background: #FBFBFB;
  width: 100%;
  box-shadow: 0px 3px 6px #00000003;
}
.mat-mdc-tab-label {
  height: 45px;
  .mat-mdc-tab-label-container {
    max-width: 1400px;
  }
}

.mat-mdc-tab-label,
.mat-mdc-tab-link {
  font-family: $primary-font-medium !important;
  color: #fff;
  font-size: 13px !important;
  height: 45px;

  @media only screen and (max-width: 768px) {
    min-width: auto !important;
    margin-right: 30px;
  }
}
.contribute-btn {
  margin-top: 3px;
  float: right;
  font-size: 16px;
  height: 35px;
  padding: 4px 0 0 0;
  width: 130px;
}
h2 {
  font-size: 30px;
  margin-bottom: 32px;
}
.filter-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #A7389F;
  padding: 0 15px;
  border-radius: 25px;
  line-height: 33px;
  margin-right: 10px;
}
ul {
  padding-inline-start: 0px;
  &.topics-list {
    display: inline-block;
    @media only screen and (max-width: 990px) {
      display: flex;
      overflow-x: scroll;
      white-space: nowrap;
    }
    &.feeds-topics {
      li{
      background-color: none;
      border: 1px solid #A7389F;
      &.active {
        background-color: transparent;
        color: #fff;
        border-color: #A7389F;
        span {
          color: #4F2965;
        }
      }
    }
    }
    li {
      font-family: $primary-font-medium;
      font-size: 13px;
      line-height: 33px;
      list-style: none;
      border-radius: 25px;
      margin-right: 10px;
      margin-bottom: 13px;
      border: 1px solid #f9bbce;
      padding: 0 15px;
      float: left;
      
      cursor: pointer;
      span {
        color: $primary-color;
      }
      &.active {
        background-color: $primary-color;
        color: $white;
        span {
          color: $white;
        }
      }
      // span {
      //   font-size: 13px;
      //   background: #f1f1f1;
      //   border-radius: 35px;
      //   padding: 6px 15px 3px 15px;
      //   color: $secondary-color;
      //   display: none;
      //   &.active {
      //     color: $primary-color;
      //   }
      // }
    }
  }
}
.mat-mdc-tab-header.mat-mdc-tab-nav-bar-stretch-tabs .mat-mdc-tab-link {
  // width: 70px !important;
  padding: 0 !important;
  text-align: start !important;
  justify-content: initial !important;
  margin-right: 65px !important;
  font-family: $primary-font-medium !important;
  color: #fff !important;
  font-size: 13px !important;
  height: 45px !important;
}

.mdc-tab-indicator--active .mdc-tab-indicator__content, .mdc-tab-indicator__content .mdc-tab-indicator__content--underline {
  height: 4px !important;
}
.mdc-tab-indicator, .mdc-tab-indicator .mdc-tab-indicator__content {
  color: #e7245f !important;
}

.tags-section {
  // margin-top: 49px;
  // position: sticky;
  // height: 200px;
  min-height: 140px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.0588235294);
  background: #fbfbfb;
  z-index: 1;
  // border-top: 1px solid #ddd;
  background: url('../../assets/images/feed-banner-bg.png') no-repeat;
  background-size: 100%;
  z-index: 0;
  .selected-topic-list {
    font-family: $primary-font-medium;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    @media only screen and (max-width: 990px) {
      padding: 10px 0 !important;
    }
  }
}




