@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/common.scss';

.course-skeleton {
  .header-image {
    height: 140px;
    width: 331px;
  }
  .content {
    overflow: hidden;
    padding: 20px 24px 0 24px;
    height: 160px;
    .title {
      margin: 0;
      height: 16px !important;
      margin-bottom: 10px;
      min-height: 16px;
      width: 90%;
    }
    .author {
      height: 16px;
      margin-bottom: 26px;
      width: 60%;
    }
    .description {
      height: 16px;
      margin-bottom: 10px;
    }
  }
  .card-footer {
    .action-btn {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }
  .title.loading,
  .author.loading,
  .description.loading {
    border-radius: 3px;
  }
}
