@import './../../../../assets/styles/variables.scss';

.icon-click {
  cursor: pointer !important;
  @media only screen and (max-width: 990px) {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}

.disabled {
  cursor: not-allowed;
}
.cursor-default {
  cursor: default;
}
.c-click {
  cursor: pointer;
}
