@import './../../../../assets/styles/variables.scss';

.icon-click {
  cursor: pointer !important;
  @media only screen and (max-width: 990px) {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 990px) {
  .icons-section {
    flex-direction: column !important;
    justify-content: center;
  }
}

.red-color {
  color: red;
}