@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.research-papers-card {
    cursor: pointer;
    border: 1px solid #AFA1A1;
    border-radius: 4px;
    height: 495px;
    .header-image {
        height: 128px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 6px;
    }
    .content {
        .title {
            font-family: $primary-font-bold;
        }
        .description {
            font-size: 12px;
            overflow-y: auto;
            height: 190px;
        }
    }
    .badge {
        background-color: #FAE4E9;
        color: #86505C;
        font-size: 12px;
        padding: 10px 20px;
        text-transform: capitalize;
        font-family: $primary-font-medium;
        margin: 0 10px 20px 0;
    }
}