<div id="research-paper" class="skill-studio-page p-main pb-0">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/skill-dashboard']">SkillStudio</a>
          <span>Research Papers</span>
        </div>
      </div>
    </div>
  </div>
  <section class="container-fluid aihub-banner research-papers">
    <div class="inner">
      <div class="col-lg-7 mob-mr-0 mt-5  mob-mb-2">
        <div class="banner-highlights text-white mob-banner-txt">
          Explore the best in AI research. <br />Access groundbreaking papers that shape the AI
          landscape.
        </div>
      </div>
    </div>
  </section>

  <section class="col-lg-12">
    <div class="inner">
      <div
        class="container d-flex align-items-center justify-content-between py-4 px-0"
        *ngIf="isFilterVisible"
      >
        <app-filter (onFilterUpdate)="filterUpdate($event)"></app-filter>
        <div class="search-rounded col-lg-3 pl-0 mr-4">
          <input
            type="text"
            name="searchTopics"
            placeholder="Search"
            class="mb-0 input-search-rounded"
            [(ngModel)]="searchText"
            (keyup)="onSearch()"
          />
          <button title="search bar" class="search-btn" (click)="onSearch()"></button>
        </div>
      </div>
      
      <ng-container *ngIf="!spinner.isLoading">
        <ng-container *ngIf="filteredResearchList.length > 0; else noDataFound">
          <app-skill-card
            *ngFor="let interview of filteredResearchList"
            [learningMt]="interview"
          ></app-skill-card>
        </ng-container>
        <ng-template #noDataFound>
          <h2 class="text-center">Sorry, data not found.</h2>
        </ng-template>
        
      </ng-container>
      
      <div *ngIf="spinner.isLoading">
        <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
          <app-skill-skeleton></app-skill-skeleton>
        </ng-container>
      </div>
    </div>
  </section>
</div>
