@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.research-papers-card {
  cursor: pointer;
  border: 1px solid #e8edff;
  border-radius: 4px;
  height: 340px;
  .bookmark-icon-animated {
    top: 18px;
    position: absolute;
    float: right;
    right: 12px;
  }
  .header-image {
    height: 94px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    // padding: 6px;
  }
  .content {
    .pills {
      background: #d9e9f7;
      color: #556779;
    }
    .title {
      font-family: $primary-font-bold;
      p {
        color: #777777;
        font-size: 13px;
        margin-bottom: 10px;
      }
    }
    .description {
      font-size: 14px;
      min-height: 85px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow-y: hidden;
      margin-bottom: 10px;
    }
  }
  .badge {
    background-color: #fae4e9;
    color: #86505c;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-family: $primary-font-medium;
    margin: 0 10px 20px 0;
  }
}

.research-paper-skeleton {
  .header {
    .image {
      height: 100px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }
  .content {
    .title {
      height: 20px;
      min-height: 16px;
      width: 90%;
      margin-bottom: 10px;
    }
    .author {
      height: 16px;
      width: 60%;
      margin-bottom: 20px;
    }
    .badge {
      height: 26px;
      background-color: $skeleton-grey;
      &.badge1 {
        width: 60px;
        margin-right: 10px;
      }
      &.badge2 {
        width: 80px;
      }
    }
    .skeleton-description {
      height: 16px;
      margin-bottom: 10px;
    }
  }
  .title.loading,
  .author.loading,
  .skeleton-description.loading {
    border-radius: 3px;
  }
}
