<div id="research-paper" class="skill-studio-page p-main pb-0">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub/dashboard']">SkillStudio</a>
          <span>Research Papers</span>
        </div>
      </div>
    </div>
  </div>
  <section class="container-fluid aihub-banner research-papers">
    <div class="inner">
      <div class="col-lg-7 mob-mr-0 mt-5  mob-mb-2">
        <div class="banner-highlights text-white">
          Explore the best in AI research. <br />Access groundbreaking papers that shape the AI
          landscape.
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="inner">
      <div
        class="container d-flex align-items-center justify-content-between py-4 px-0"
        *ngIf="isFilterVisible"
      >
        <app-filter (onFilterUpdate)="filterUpdate($event)"></app-filter>
        <div class="search-rounded col-lg-3 pl-0 mr-4">
          <input
            type="text"
            name="searchTopics"
            placeholder="Search"
            class="mb-0 input-search-rounded"
            [(ngModel)]="searchText"
            (keyup)="onSearch()"
          />
          <button title="search bar" class="search-btn" (click)="onSearch()"></button>
        </div>
      </div>
      <div class="card-wrapper card-section mb-4 pb-4" *ngIf="!spinner.isLoading">
        <div
          *ngFor="let research of filteredResearchList; let i = index"
          class="research-papers-card carousel-card mx-0"
          (click)="onOpen(research)"
        >
          <div class="position-relative">
            <div class="bookmark-icon-animated"></div>
            <div class="icons labelRed">
              <span _ngcontent-xwg-c263="">#{{ research.topicCode }}</span>
            </div>
            <img alt="" class="header-image" [src]="research.imageUrl" />
          </div>
          <div class="content">
            <div class="title">
              {{ research.title }}
              <p *ngFor="let author of research.authors; let i = index">
                {{ author }}
                <span *ngIf="research.authors.length > 1" class="more">
                  + {{ research.authors.length - 1 }} more</span
                >
                <span class="px-1"> | </span>
                <span *ngIf="i === research.authors.length - 1">{{ research.publishedOn }}</span>
              </p>
            </div>

            <div class="description">
              <p>
                {{ research.summary }}
              </p>
            </div>
            <div class="d-flex pb-3">
              <span *ngFor="let tag of research.tags; let i = index" class="pills">{{ tag }}</span>
            </div>
            <div class="recommend">
              <span class="okhand-gray-icon" (click)="onRecommendClick($event, research)"></span>Recommend
              <span class="count">({{ research.recommendations }})</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card-wrapper card-section mb-4 pb-4" *ngIf="spinner.isLoading">
        <div
          *ngFor="let i of [1, 2, 3, 4, 5, 6]"
          class="research-papers-card carousel-card mx-0 research-paper-skeleton skeleton-loader"
        >
          <div class="header">
            <div class="image loading"></div>
          </div>
          <div class="content">
            <div class="title loading"></div>
            <div class="author loading"></div>
            <div class="skeleton-description loading"></div>
            <div class="skeleton-description loading"></div>
            <div class="skeleton-description loading"></div>
            <div class="d-flex mt-4 mb-2">
              <div class="badge badge1 loading"></div>
              <div class="badge badge2 loading"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
