@import './../../../assets/styles/variables.scss';

.home-page {
  margin-top: 75px;
}
/*--------------------------------------------------------------
# Install Now Section
--------------------------------------------------------------*/

.install-now {
  background: url('../../assets/images/mobile_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ebebeb;
  .content {
    margin-top: 100px;
    @media only screen and (max-width: 990px) {
      margin: 30px auto;
      text-align: center;
    }
  }
  .gplay-img {
    max-width: 353px;
    height: 108px;
    margin-bottom: 50px;
    display: block;
    width: 100%;
    @media only screen and (max-width: 990px) {
      margin: 20px auto;
      max-width: 230px;
      height: auto;
    }
  }
}


/*--------------------------------------------------------------
# subscribe Section
--------------------------------------------------------------*/

.subscribe {
  &.section-bg {
    padding: 25px;
    @media only screen and (max-width: 990px) {
      padding: 20px;
    }
    .container {
      background: $white;
      padding: 30px;
      border-radius: 10px;
      @media only screen and (max-width: 990px) {
        padding: 15px;
      }
      .subscibeSection-row {
        width: 100%;
        max-width: 535px;
        margin: auto;
        @media only screen and (max-width: 480px) {
          flex-wrap: wrap;
        }
      }
      .error-msg {
        text-align: left;
        color: red !important;
      }
      .input-mail {
        background: #f7f7f7;
        border: 0 none;
        padding: 14px 20px;
        border-radius: 10px;
        width: 100%;
        color: #a1a1a1;
        font-family: $primary-font-regular;
        font-size: 16px;
        height: 50px;
        padding-right: 190px;
        @media only screen and (max-width: 480px) {
          padding-right: 10px;
          font-size: 16px;
          margin-bottom: 10px !important;
        }
      }
      button {
        position: absolute;
        right: 10px;
        @media only screen and (max-width: 480px) {
          position: relative;
          right: auto;
        }
      }
    }
  }
}

.card-section {
  flex-wrap: wrap;
}

.explore-topics-section {
  background: url('../../assets/images/brick_bg.png') no-repeat;
  background-size: cover;
}
