@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/common.scss';
@import '../../tekbyte-page.component.scss';

.tekbyte-skeleton {
  .title {
    height: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
  }
  .description {
    height: 16px;
    border-radius: 3px;
    margin-bottom: 14px;
    padding-bottom: 0;
  }
  .card-footer {
    background: none;
    padding: 6px 24px;
    .action-btn {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }
  }
}
