@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/common.scss';
@import '../../tekbyte-page.component.scss';

.tekbyte-skeleton {
  .title {
    height: 16px;
    width: 90%;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .author {
    height: 16px;
    width: 60%;
    border-radius: 3px;
    margin-bottom: 26px;
  }
  .description {
    height: 16px;
    border-radius: 3px;
    margin-bottom: 14px;
    padding-bottom: 0;
  }
  .card-footer {
    border: none;
    background: none;
    .action-btn {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }
}
