<div class="digest-card tekbyte-skeleton skeleton-loader">
  <div class="card-top">
    <div class="conference-header">
      <div class="title loading"></div>
      <div class="author loading"></div>
      <div class="description loading"></div>
      <div class="description loading"></div>
      <div class="description loading"></div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div class="action-btn loading"></div>
      <div class="action-btn loading"></div>
    </div>
  </div>
</div>
