<div class="service-categories-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <div class="container">
    <div id="breadcrumbs" class="container breadcrumbs">
      <span>
        <span><a href="/">Home</a></span>
        <img src="../../assets/images/breadcrumb_arrow.png" />
        <span><a href="/services">Services</a></span>
        <img src="../../assets/images/breadcrumb_arrow.png" />
        <span class="breadcrumb_last" aria-current="page">{{pageDetails.displayName}}</span>
      </span>
    </div>
  </div>

  <section class="page-banner service-categories-banner-bg">
    <div class="inner row">
      <div
        class="col-xl-6 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content px-0"
      >
        <h1 class="text-white animate__animated animate__fadeInUp delay-1">
          {{pageDetails.displayName}}
        </h1>
        <h4 class="text-white content-sub-text animate__animated animate__fadeInUp delay-2">
          We craft intuitive and engaging user experiences through meticulous design and
          prototyping. Our team ensures each interface is both aesthetically pleasing and
          functionally seamless, tailored to meet your business needs.
        </h4>
      </div>
    </div>
  </section>
  <div class="inner animate__animated animate__fadeInUp delay-2">
    <!-- ======= Our Solution ======= -->
    <section>
      <!-- Sec 1 -->
      <div class="inner row align-items-center services-desc">
        <div class="col-lg-4 px-0">
          <h4>User-Centered Research</h4>
          <p class="content-sub-text pr-5 mr-4">
            Our process begins with a deep dive into understanding your users. We conduct thorough
            research to gather insights on user needs, behaviors, and preferences. Combining this
            with collaborative workshops, we brainstorm innovative solutions that ensure our designs
            are not only aesthetically pleasing but also user-centric and feasible.
          </p>
        </div>
        <div class="col-lg-4 px-0">
          <h4>Rapid Prototyping</h4>
          <p class="content-sub-text pr-5 mr-4">
            We transform ideas into tangible prototypes quickly and efficiently. Using the latest
            tools and technologies, we create interactive prototypes that allow for real-time
            testing and validation. This step helps us identify and resolve potential issues early
            in the development process.
          </p>
        </div>
        <div class="col-lg-4 px-0">
          <h4>Continuous Testing and Improvement</h4>
          <p class="content-sub-text pr-5 mr-4">
            Our iterative design process involves continuous testing and refinement. We gather user
            feedback through usability testing and make necessary adjustments to enhance the user
            experience. This ensures the final product is intuitive, functional, and aligns with
            user expectations.
          </p>
        </div>
      </div>
    </section>

    <section class="mb-5">
      <div class="row align-items-center">
        <div class="col-lg-12 mobile-display">
          <div class="mission-block">
            <div class="mission-role animate__animated animate__fadeInUp delay-2">
              <div class="image-overlay"></div>
              <img src="assets/images/services/ux-design-1.png" class="img-fluid" alt="career" />
              <div class="overlay-text"></div>
            </div>
            <div class="mission-role animate__animated animate__fadeInUp delay-3">
              <div class="image-overlay"></div>
              <img src="assets/images/services/ux-design-2.png" class="img-fluid" alt="career" />
              <div class="overlay-text"></div>
            </div>
            <div class="mission-role animate__animated animate__fadeInUp delay-4">
              <div class="image-overlay"></div>
              <img src="assets/images/services/ux-design-3.png" class="img-fluid" alt="career" />
              <div class="overlay-text"></div>
            </div>
            <div class="mission-role animate__animated animate__fadeInUp delay-5">
              <div class="image-overlay"></div>
              <img src="assets/images/services/ux-design-4.png" class="img-fluid" alt="career" />
              <div class="overlay-text"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="inner row align-items-center">
        <div class="details d-flex mb-5">
          <div class="me-5 img-block">
            <img src="assets/images/home/lms-dev.png" class="img-fluid" alt="career" />
          </div>
          <div>
            <h4>Why Choose Us?</h4>
            <p class="content-sub-text">
              Our unique process sets us apart. We begin with in-depth user research to ensure our
              designs are rooted in real user needs and preferences. Our collaborative design
              workshops foster creativity and innovation, bringing together diverse perspectives. We
              excel in rapid prototyping, allowing for quick iterations and timely delivery.
              Continuous testing and refinement ensure our solutions are not only functional but
              also provide a seamless user experience. Choose us for a tailored, user-focused
              approach that drives results.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="coll-form-bg" class="animate__animated animate__fadeInUp delay-5">
    <section class="form-bg">
      <app-collaborate-form [pageType]="'serviceCategories'"></app-collaborate-form>
    </section>
  </div>
</div>

<app-login-required
  [isDialogVisible]="isLoginRequiredDialogShown"
  (dialogClosed)="hideLoginRequiredDialog()"
></app-login-required>
