@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';
.llm-hub-bg {
    background: url('../../assets/images/marketplace/marketplace-banner-bg.svg') no-repeat;
    width: 100%;
    height: 356px;
    background-size: 100%;
    color: $white;
    background-size: cover;
}
.container {
    max-width: 1220px;
}
.inner {
    max-width: 1024px;
}
.hub-tiles {
    width: 300px;
    height: 216px;
    box-shadow: 0px 10px 20px #5A5A5A2F;
    border: 1px solid #F0F3FF;
    border-radius: 7px;
    padding: 25px;
    text-align: center;
    margin: 50px 0;
}
.heart-icon {
    background: url('../../assets/images/llmhub/heart-icon.svg') no-repeat;
    width: 58px;
    height: 42px;
    display: inline-block;
    background-size: 100%;
}
