<div class="appstore-tile product-skeleton skeleton-loader">
  <div class="app-logo loading"></div>
  <div class="content">
    <div class="title loading"></div>
    <div class="description loading"></div>
    <div class="description loading"></div>
    <div class="description loading"></div>
    <div class="badge category loading"></div>
  </div>
  <div class="mt-3 d-flex align-items-center justify-content-between">
    <div class="badge hand loading"></div>
    <div class="badge free loading"></div>
  </div>
</div>
