@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';
@import '../market-place.component.scss';

.product-skeleton {
  .title {
    height: 26px;
    width: 60%;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .description {
    height: 16px;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .category {
    width: 60px;
    height: 38px;
    border-radius: 20px;
    margin-top: 20px;
  }
  .hand {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: 20px;
  }
  .free {
    width: 80px;
    height: 38px;
    border-radius: 20px;
    margin-right: 20px;
  }
}
