@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';
@import '../market-place.component.scss';

.product-skeleton {
  .title {
    height: 20px;
    width: 60%;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .skeleton-description {
    height: 16px;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .badge-hand {
    width: 32px;
    height: 32px;
    background-color: #dddbdd;
    border-radius: 50%;
    margin-left: 20px;
  }
  .badge-free {
    width: 60px;
    height: 30px;
    background-color: #dddbdd;
    border-radius: 20px;
    margin-right: 20px;
  }
}
