<div class="explore-page p-main">
  <!--------Explore Topics Inner Page----------->

  <section class="container pb-3">
    <div class="back-link mt-3 mb-0">
      <a [routerLink]="['../explore']">
        <img src="/assets/images/back-arrow.png" class="mr-2" />
        Explore Topics
      </a>
    </div>
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <h2>#{{ topic.name }}</h2>
        <div class="col-lg-8 px-0 pb-4">
          <p>
            {{ topic.description }}
          </p>
          <p>
            <span class="mr-2" *ngFor="let item of topic.aliases">#{{ item }}</span>
          </p>
          <button
            class="button secondary-btn-md"
            (click)="followTopic()"
            *ngIf="!isFollowingTopic()"
            style="padding: 6px 33px 0 33px"
          >
            FOLLOW
          </button>
          <button
            class="button secondary-btn-md"
            (click)="unfollowTopic()"
            *ngIf="isFollowingTopic()"
            style="padding: 6px 33px 0 33px"
          >
            UNFOLLOW
          </button>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 cyber-block">
        <div class="inline-points">
          <ul>
            <li *ngFor="let item of topic.keyHighlights">
              <span>{{ item }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <h2 class="mt-5">Three capsules to get you started!</h2>
  </section>
</div>
<div class="capsules-bg">
  <section class="container px-0">
    <ul class="progressbar my-5">
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
    </ul>
    <div class="row card-section col-card d-flex justify-content-around mb-4 pb-4 pt-4">
      <ng-container *ngFor="let capsule of firstThreeCapsules">
        <app-capsule-card [capsule]="capsule"></app-capsule-card>
      </ng-container>
    </div>
    <div class="row justify-content-center mb-4">
      <button class="button secondary-btn-md mb-5" [routerLink]="['../../capsules']">
        EXPLORE MORE
      </button>
    </div>
  </section>
</div>
