<!-- ======= Tek Byte Page Section ======= -->
<div id="tekbytetopicdetails" class="tekbyte-details-page p-main d-flex">
  <div class="pb-3 col-lg-10 px-0">
    <section class="container-fluid topics-bg px-0">
      <div class="container">
        <div class="d-flex">
          <img src="/assets/images/topic-image.png" alt="" class="topics-img" />

          <div class="pb-4">
            <div class="back-link pt-0">
              <a>Tekbyte</a>
              <a>Programming Language</a>
              <span>Topics</span>
          </div>
            <h2>User Experience Design</h2>
            <p>
              User experience (UX) is the overall experience of a person using a product, system or
              service. It encompasses how easy, efficient, and satisfying it is to use, as well as
              how it meets the user’s needs and expectations. UX design is the process of designing
              and creating user-centered products and services. It involves understanding and
              analyzing the user’s needs, testing and evaluating the design, and iterating based on
              feedback.
            </p>
            <ul class="mr-2 list-unstyled">
              <li>#UX</li>
              <li>#User-centered design</li>
              <li>#Interaction design</li>
              <li>#Usability testing</li>
              <li>#User research</li>
            </ul>
          </div>
        </div>
        <!-- Business Modal Section -->
        <section class="container business-modal">
          <div class="row">
            <div class="col-lg-4">
              <h2>Why</h2>
              <p>
                The reason for user experience (UX) is to design products and services that are easy
                to use, efficient, and enjoyable for the user, in order to improve their overall
                satisfaction and engagement.
              </p>
            </div>
            <div class="col-lg-4">
              <h2>How</h2>
              <p>
                The end result is a product or service that is designed to meet the needs and goals
                of the user, providing an efficient, easy-to-use, and enjoyable experience. This
                includes the ability to create products and services that are tailored to the user’s
                needs and preferences, and the ability to continuously improve the user experience
                through user feedback.
              </p>
            </div>
            <div class="col-lg-4">
              <h2>What</h2>
              <p>
                The way this is achieved is through the use of user-centered design methods, such as
                user research, prototyping, and usability testing, as well as design principles and
                guidelines. This includes concepts such as user needs, user goals, and user
                feedback.
              </p>
            </div>
          </div>
        </section>
      </div>
    </section>

    <!-- Key Concepts Section -->
    <section class="key-concepts container">
      <div class="row">
        <div class="col-lg-3 d-flex">
          <h2 class="heading">THREE <span>Key Concepts</span></h2>
          <img src="/assets/images/keypoints-list.png" class="key-points-img" alt="bullet list" />
        </div>
        <div class="col-lg-9">
          <div class="key-points">
            <div class="numbers">01</div>
            <div>
              <h3>USABILITY</h3>
              <p>
                User experience (UX) is the overall perception that a user has of a product or
                service. One of the key concepts of UX is usability, which refers to how easy and
                intuitive it is for the user to accomplish their goals. This can include aspects
                such as ease of navigation, clear instructions, and logical layout.
              </p>
            </div>
          </div>
          <div class="key-points">
            <div class="numbers">02</div>
            <div>
              <h3>EMOTION</h3>
              <p>
                A third concept in UX is the emotional aspect of the user’s experience. This can
                include factors such as how the user feels while interacting with the product, how
                they perceive the overall aesthetic of the product, and how satisfied they are with
                the outcome. The emotional response of the user can be influenced by various factors
                such as the product’s design, branding, and overall user experience.
              </p>
            </div>
          </div>
          <div class="key-points">
            <div class="numbers">03</div>
            <div>
              <h3>ACCESSIBILITY</h3>
              <p>
                Another important concept in UX is accessibility, which refers to the design of
                products and services to be usable by as many people as possible, including those
                with disabilities. This can include features such as alternative text for images,
                keyboard navigation and larger text options, and high contrast mode for people with
                visual impairments
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Application Section -->
    <section class="container-fluid app-bg">
      <div class="container Application-container">
        <div class="heading text-center">
          <span>Application</span>
        </div>
        <div class="container">
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
        </div>
      </div>
    </section>

    <!-- Current Trend Section -->
    <section class="current-trend-sec">
      <div class="container-fluid current-trend-bg">
        <div class="heading text-center">Current Trends</div>
        <div class="container">
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
          <p class="topic-name">
            Mobile-First and responsive Design
            <span
              >User experience (UX) is the overall perception that a user has of a product or
              service. One of the key concepts of UX is usability, which refers to how easy and
              intuitive it is for the user to accomplish their goals. This can include aspects such
              as ease of navigation, clear instructions, and logical layout.</span
            >
          </p>
        </div>
      </div>
    </section>
    <div class="container-fluid bg-gray">
      <!-- Challenges Section -->
      <section class="container">
        <div class="challenges-container">
          <div class="heading">Challenges</div>
          <div class="row">
            <div class="challenges-block">
              <h4>Understanding user needs & behaviors</h4>
              <p class="description">
                Understanding user needs, behaviors, and expectations can be challenging, and it
                requires user research and testing to be conducted.
              </p>
            </div>
            <div class="challenges-block margin-lr">
              <h4>Ensuring accessibility</h4>
              <p class="description">
                Ensuring that products and services are accessible to users with disabilities is a
                legal and ethical requirement and it can be challenging to ensure accessibility in
                all cases.
              </p>
            </div>
            <div class="challenges-block">
              <h4>Balancing user needs with business goals</h4>
              <p class="description">
                Balancing user needs with business goals can be challenging, as business goals may
                not always align with user needs.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="challenges-block">
              <h4>Creating consistent and intuitive design</h4>
              <p class="description">
                Creating a consistent and intuitive design across different platforms and devices
                can be challenging, as each platform and device may have different design guidelines
                and constraints.
              </p>
            </div>
            <div class="challenges-block margin-lr">
              <h4>Keeping up with technology & design trends</h4>
              <p class="description">
                Keeping up with the latest technology and design trends can be challenging, as new
                technologies and design principles are constantly emerging
              </p>
            </div>
            <div class="challenges-block">
              <h4>Managing stakeholders</h4>
              <p class="description">
                Managing the expectations and feedback from stakeholders can be challenging, as
                stakeholders may have different priorities and perspectives.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="challenges-block">
              <h4>Measuring and analyzing user feedback</h4>
              <p class="description">
                Measuring and analyzing user feedback can be challenging, as feedback can be
                subjective, and it can be difficult to quantify and interpret.
              </p>
            </div>
            <div class="challenges-block margin-lr">
              <h4>Collaboration</h4>
              <p class="description">
                Collaborating with different teams, such as development and product teams, can be
                challenging, as each team may have different goals and objectives.
              </p>
            </div>
            <div class="challenges-block">
              <h4>Balancing user needs with business goals</h4>
              <p class="description">
                Balancing user needs with business goals can be challenging, as business goals may
                not always align with user needs.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Capsules Section -->
      <section class="container">
        <h2 class="text-center my-5">Few Capsules to get you started!</h2>
        <div class="card-section d-flex justify-content-center mb-4 pb-4">
          <img src="/assets/images/previous-arrow.svg" alt="" />
          <div class="carousel-card">
            <div class="position-relative">
              <div class="icons bookmark">
                <img src="/assets/images/bookmark-icon.svg" class="rounded-img" />
              </div>
              <div class="icons okHand">
                <img src="/assets/images/okhand-icon.svg" class="rounded-img" />
              </div>
              <div class="icons timer">
                <img src="/assets/images/timer.svg" class="rounded-img" /><span
                  _ngcontent-xwg-c263=""
                  >20 mins</span
                >
              </div>
              <div class="icons labelRed"><span _ngcontent-xwg-c263="">#CLOUD</span></div>
              <img src="/assets/images/card-3.png" alt="" class="header-image" />
            </div>
            <div class="content">
              <div class="title">
                Machine Learning Essentials
                <p _ngcontent-xwg-c263="">
                  Summary by AWS <span _ngcontent-xwg-c263="">(August 16, 2010)</span>
                </p>
              </div>
              <div class="description">
                <p _ngcontent-xwg-c263="">
                  Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                  doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                  ainventore veritatis et quasi architecto beatae vitae quia dicta sunt explicabo.
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                  quia uuntur magni dolores eos qui ratione voluptatem sequi. sed quia uuntur magni
                  dolores eos qui ratione voluptatem sequi.
                </p>
              </div>
              <div class="card-footer d-flex justify-content-between">
                <img src="/assets/images/article-icon.svg" class="float-left" />
                <div class="float-right">
                  <img src="/assets/images/flip-icon.svg" class="mr-4" /><img
                    src="/assets/images/share-icon.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-card">
            <div class="position-relative">
              <div class="icons bookmark">
                <img src="/assets/images/bookmark-icon.svg" class="rounded-img" />
              </div>
              <div class="icons okHand">
                <img src="/assets/images/okhand-icon.svg" class="rounded-img" />
              </div>
              <div class="icons timer">
                <img src="/assets/images/timer.svg" class="rounded-img" /><span
                  _ngcontent-xwg-c263=""
                  >20 mins</span
                >
              </div>
              <div class="icons labelRed"><span _ngcontent-xwg-c263="">#CLOUD</span></div>
              <img src="/assets/images/card-2.png" alt="" class="header-image" />
            </div>
            <div class="content">
              <div class="title">
                An Introduction to Microservices Architecture
                <p _ngcontent-xwg-c263="">
                  Summary by Linjith Kunnan <span _ngcontent-xwg-c263="">(August 16, 2010)</span>
                </p>
              </div>
              <div class="description">
                <p _ngcontent-xwg-c263="">
                  Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                  doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                  ainventore veritatis et quasi architecto beatae vitae quia dicta sunt explicabo.
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                  quia uuntur magni dolores eos qui ratione voluptatem sequi. sed quia uuntur magni
                  dolores eos qui ratione voluptatem sequi.
                </p>
              </div>
              <div class="card-footer d-flex justify-content-between">
                <img src="/assets/images/book-icon.svg" class="float-left" />
                <div class="float-right">
                  <img src="/assets/images/flip-icon.svg" class="mr-4" /><img
                    src="/assets/images/share-icon.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-card">
            <div class="position-relative">
              <div class="icons bookmark">
                <img src="/assets/images/bookmark-icon.svg" class="rounded-img" />
              </div>
              <div class="icons okHand">
                <img src="/assets/images/okhand-icon.svg" class="rounded-img" />
              </div>
              <div class="icons timer">
                <img src="/assets/images/timer.svg" class="rounded-img" /><span
                  _ngcontent-xwg-c263=""
                  >20 mins</span
                >
              </div>
              <div class="icons labelRed"><span _ngcontent-xwg-c263="">#CLOUD</span></div>
              <img src="/assets/images/card-1.png" alt="" class="header-image" />
            </div>
            <div class="content">
              <div class="title">
                Confident Coding: Master the Fundamentals of Code and Supercharge Your Career
                <p _ngcontent-xwg-c263="">
                  Summary by Rob Percival <span _ngcontent-xwg-c263="">(August 16, 2010)</span>
                </p>
              </div>
              <div class="description">
                <p _ngcontent-xwg-c263="">
                  Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                  doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                  ainventore veritatis et quasi architecto beatae vitae quia dicta sunt explicabo.
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                  ratione voluptatem sequi.
                </p>
              </div>
              <div class="card-footer d-flex justify-content-between">
                <img src="/assets/images/video-icon.svg" class="float-left" />
                <div class="float-right">
                  <img src="/assets/images/flip-icon.svg" class="mr-4" /><img
                    src="/assets/images/share-icon.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <img src="/assets/images/next-arrow.svg" alt="" />
        </div>
      </section>
      <!-- Intrested Topics Section -->
      <section class="container">
        <h2 class="text-center my-5">Topics that may interest you!</h2>
        <app-carousel></app-carousel>
        <div class="row justify-content-center mb-4">
          <button class="button primary mb-5">Explore</button>
        </div>
      </section>

      <!-- Know More Section -->
      <section class="container">
        <div class="know-more-sec">
          <div class="close-btn"></div>
          <div class="row">
            <div class="col-lg-6 d-flex">
              <div>
                <img src="/assets/images/knowmore-icon.png" alt="Did you know icon" />
              </div>
              <div>
                <h3>Did you know?</h3>
                <p>A good user interface can raise website conversion rates by up to 200%</p>
              </div>
            </div>
            <div class="col-lg-6 d-flex">
              <div><img src="/assets/images/knowmore-icon-right.png" alt="Way Forward icon" /></div>
              <div>
                <h3>Way Forward</h3>
                <p>
                  Increased focus on emotional design: UX design is expected to place a greater
                  emphasis on understanding and designing for the emotional needs of users, rather
                  than just their functional needs.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- Stay So Far Scection -->
  <div class="col-lg-2 px-0">
    <div class="story-bg">
      <h2 class="year pr-3">
        Story So Far <img class="pl-3" src="/assets/images/story-arrow.svg" />
      </h2>
      <ul class="timeline">
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            1980
          </div>
          <p class="story">
            The field of human-computer interaction (HCI) is established, with a focus on
            understanding how people interact with computers.
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            1980
          </div>
          <p class="story">
            The term “user experience” (UX) is first coined by cognitive scientist Don Norman to
            describe the overall experience of a person using a product or service.
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            1990
          </div>
          <p class="story">
            The field of user experience design (UXD) emerges, with a focus on designing products
            and services that are easy and enjoyable to use.
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2000
          </div>
          <p class="story">
            The development of web and mobile technologies leads to the rise of user experience
            design as a discipline, with a focus on creating intuitive and user-centered interfaces.
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2010
          </div>
          <p class="story">
            The rise of social media and other digital technologies leads to an increased focus on
            creating personalized and engaging user experiences.
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2011
          </div>
          <p class="story">
            The launch of the “Nielsen Norman Group” a company that specializes in user experience
            research
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2013
          </div>
          <p class="story">
            The launch of the “UX Design Awards” an international competition that recognizes the
            best examples of user-centered design
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2014
          </div>
          <p class="story">
            The launch of the “UX Design Education Summit” an annual conference that focuses on the
            education of user experience design
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2016
          </div>
          <p class="story">
            The launch of the “UX Design Master Program” a course that focuses on the education of
            user experience design
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2017
          </div>
          <p class="story">
            The launch of the “UX Design Week” an annual conference that focuses on the user
            experience design
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2018
          </div>
          <p class="story">
            The launch of the “UX Design Certification Program” a certification program that focuses
            on the education of user experience design
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2019
          </div>
          <p class="story">
            The development of artificial intelligence and machine learning leads to an increased
            focus on creating personalized and engaging user experiences
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2020
          </div>
          <p class="story">
            The COVID-19 pandemics increased the demand for remote and digital experiences, leading
            to an increased focus on creating digital-friendly user experiences.
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2021
          </div>
          <p class="story">
            User experience design becomes an important component of the next generation of
            technologies, such as the Internet of Things (IoT) and edge computing, and it’s expected
            to play a bigger role in our daily lives.
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2022
          </div>
          <p class="story">
            User experience design becomes more and more important in industries such as healthcare,
            retail, and education, as well as for applications such as virtual and remote training,
            and remote assistance.
          </p>
        </li>
        <li>
          <div class="year">
            <div class="yr-txt">YEAR</div>
            2023
          </div>
          <p class="story">
            User experience design is seen as an essential component of the development of any
            product or service, and it is increasingly being used to create personalized and
            engaging experiences for users.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
