<app-spinner></app-spinner>
  
<section *ngIf="isDataAvailable" class="container-fluid bg-white detail-page px-0">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>
<div class="container-fluid linear-bg">
  <div class="container pt-1">
    <div class="back-link pt-0">
      <ng-container *ngFor="let crumb of crumbs">
        <ng-container *ngIf="crumb.navUrl; else simplecrumb">
          <a
            class="url-link"
            *ngIf="!isMobileResolution"
            (click)="navigateToCapsulePage(crumb.navUrl)"
            >{{ crumb.displayName }}</a
          >
        </ng-container>
        <ng-template #simplecrumb>
          <span [ngClass]="{ 'crumb-title': isMobileResolution }">{{ crumb.displayName }}</span>
        </ng-template>
      </ng-container>
      <button type="button" class="close close-icon" (click)="onIFrameClose()"></button>
    </div>
  </div>
</div>
  <div class="container">
    <iframe #detailFrame
      [src]="resourceUrl"
      style="width: 100%; height: 700px"
      frameborder="0"
      (error)="onAfterIframeLoaded()"
    >
    </iframe>
  </div>
</section>
