@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.carousel-card
{
    max-height: 490px;
    width: 100%;
    max-width: 400px;
    float: left;
    height: auto;
    padding-bottom: 30px;
    cursor: pointer;
    &:hover {
        transform: none;
    }
    .header-image {
        height: auto;
    }
    @media only screen and (max-width: 768px) {
        margin-bottom: 30px;
    }
}
.course-card {
    cursor: pointer;
}
.search-box {
    margin: 0;
    font-style: italic;
    input {
        font-size: 18px;
        font-family: 'OpenSans-Regular';
    }
}