<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link">Skill Studio</a>
          <span>Courses</span>
        </div>
      </div>
    </div>

    <section class="container-fluid skill-studio-bg  px-0 pt-3">
      <div id="heroBanner" class="carousel slide container" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#heroBanner" data-slide-to="0" class="active"></li>
          <li data-target="#heroBanner" data-slide-to="1"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption">
              <section class="d-flex align-items-center">
                <div>
                  <div class="row justify-content-center">
                    <div
                      class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center onOverlayContent">
                      <h2>#Human Augmentation</h2>
                      <p class="mb-5">
                        Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque
                        laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde
                        omnis
                        iste natus error.
                      </p>
                      <button class="button tertiary b-radius">Know More</button>
                    </div>
                    <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img text-right">
                      <img src="/assets/images/explore-banner-1.png" class="img-fluid animated w-75" alt="" />
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <section class="d-flex align-items-center">
                <div>
                  <div class="row justify-content-center">
                    <div
                      class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center onOverlayContent">
                      <h2>#Human Augmentation</h2>
                      <p class="mb-5">
                        Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque
                        laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde
                        omnis
                        iste natus error.
                      </p>
                      <button class="button tertiary b-radius">Know More</button>
                    </div>
                    <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img text-right">
                      <img src="/assets/images/explore-banner-1.png" class="img-fluid animated w-75" alt="" />
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-12 bg-gray py-5">
    <section class="container-fluid px-5">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="filter-column">
            <div class="filter-heading">FILTER</div>
            <div>
            <div class="filter-topic">Type</div>
              <div *ngFor="let category of paymentCategories" class="field-checkbox pb-3">
                <p-checkbox name="payment" [value]="category" (onChange)="onPaymentTypeChange($event, category.key)" [inputId]="category.key"></p-checkbox>
                <label [for]="category.key">{{ category.name }}</label>
            </div>
            <div class="filter-topic">OS</div>
              <div *ngFor="let category of osCategories" class="field-checkbox pb-3">
              <p-checkbox name="os" [value]="category" [(ngModel)]="selectedOS" [inputId]="category.key"></p-checkbox>
              <label [for]="category.key">{{ category.name }}</label>
          </div>
            <div class="filter-topic">Used</div>
            <div class="field-checkbox pb-3">
              <p-checkbox value="mostused" inputId="mostused" (change)="onUsedChange($event.value, 'mostused')"></p-checkbox>
              <label for="ny">Most Used</label>
            </div>
            </div>
            <div class="filter-topic">Category</div>
            <div class="field-checkbox pb-3">
              <p-checkbox></p-checkbox>
              <label for="ny">Category 01</label>
            </div>

            <div class="filter-topic">Filter Title 01</div>
            <div class="field-checkbox pb-3">
              <p-checkbox></p-checkbox>
              <label for="ny">Type 01</label>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-8  col-sm-6">
          <div class="row">
            <div class="search-box mt-0 pb-4 mb-3 ml-0 col-lg-10">
              <input type="text" name="searchTopics"
                placeholder="All you need in one place: software, tool, hardware, products etc.." class="mb-0" />
              <button title="search bar" class="search-btn mt-2 mr-3"></button>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <select class="form-control" name="sort" formControlName="sort">
                  <option value="">Sort (Newest)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="show-result pb-4">Showing <span>{{filteredCourseList.length}}</span> of <span>{{courseList.length}}</span></div>

          <div class="d-flex flex-wrap justify-content-center">
            <div class="card-section mb-4 pb-4">
              <div *ngFor="let course of filteredCourseList; let i = index;" class="carousel-card ml-0">
                <div class="position-relative">
                  <div class="icons timer">
                    <img src="/assets/images/timer.svg" class="rounded-img" alt="timer icon" /><span
                      _ngcontent-xwg-c263="">{{course.duration}} mins</span>
                  </div>
                  <div class="icons labelRed"><span _ngcontent-xwg-c263="">#{{getTopicName(course.topicCode)}}</span></div>
                  <img [src]="course.imageUrl" alt="card 3" class="header-image" />
                </div>
                <div class="content">
                  <div class="title">
                    {{course.summary}}
                    <p _ngcontent-xwg-c263="">
                      Summary by {{course.author}} <span _ngcontent-xwg-c263="">(August 16, 2010)</span>
                    </p>
                  </div>
                  <div class="description">
                    <p _ngcontent-xwg-c263="">
                      {{course.description}}
                    </p>
                  </div>
                  <div class="mt-4 d-flex align-items-center justify-content-between">
                      <div class="pl-0"><span class="okhand-icon pr-4"></span>100</div>
                      <div class="badge pink mb-0" [ngClass]="course.prizingModel.toLowerCase()">{{course.publisher}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>

</div>