<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub/dashboard']">AI Hub</a>
          <span>Courses</span>
        </div>
      </div>
    </div>
  </div>
  <section class="container-fluid aihub-banner courses pt-5">
    <div class="container">
        <div class="text-right mob-mr-0 mt-5">
          <div class="banner-highlights text-white">Chart your AI learning path with hand-picked,<br> industry-leading courses</div>
        </div>
    </div>
  </section>
  <div class="col-lg-12 bg-white py-5">
    <section class="container space-fill">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="filter-column">
            <div class="filter-heading">Filter</div>
            <div>
            <div class="filter-topic">Topic</div>
              <div *ngFor="let topic of topics" class="field-checkbox pb-2">
              <p-checkbox name="topic" [value]="topic.code" [(ngModel)]="selectedTopic" [inputId]="topic.code" (onChange)="onFilterChange($event, topic.code, 'selectedTopic')"></p-checkbox>
              <label [for]="topic.code">{{ topic.title }}</label>
            </div>
            <div class="filter-topic">Type</div>
              <div *ngFor="let category of paymentCategories" class="field-checkbox pb-2">
                <p-checkbox name="payment" [value]="category.key" [inputId]="category.key"  [(ngModel)]="selectedPayments" (onChange)="onFilterChange($event, category.key, 'selectedPayments')"></p-checkbox>
                <label [for]="category.key">{{ category.name }}</label>
              </div>
            </div>
            <div class="filter-topic">Delivery Mode</div>
            <div *ngFor="let dm of deliveryMode" class="field-checkbox pb-2">
              <p-checkbox name="delivery" [value]="dm.key" [inputId]="dm.key"  [(ngModel)]="selectedDeliveryMode" (onChange)="onFilterChange($event, dm.key, 'selectedDeliveryMode')"></p-checkbox>
              <label [for]="dm.key">{{ dm.name }}</label>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-8  col-sm-6">
          <div class="row">
            <div class="search-box mt-0 pb-4 mb-3 ml-0 col-lg-9">
              <input type="text" name="searchTopics"
                placeholder="All you need in one place: software, tool, hardware, products etc.." class="mb-0" [(ngModel)]="searchText" (keyup.enter)="onSearch()" (blur)="onSearch()"/>
              <button title="search bar" class="search-btn mr-3"></button>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <select class="form-control" name="sort">
                  <option value="">Sort (Newest)</option>
                </select>
              </div>
            </div>
          </div>
          <!-- <div class="show-result pb-4">Showing <span>{{filteredCourseList.length}}</span> of <span>{{courseList.length}}</span></div> -->

          <div>
            <div class="mb-4 pb-4">
              <div *ngFor="let course of filteredCourseList; let i = index;" class="course-card carousel-card mx-0" (click)="onCourseClick(course)">
                <div class="position-relative">
                  <div class="badge new mb-0" [ngClass]="course.prizingModel.toLowerCase()">{{course.prizingModel}}</div>
                  <div class="icons timer">
                    <img src="/assets/images/timer.svg" class="rounded-img" alt="timer icon" /><span
                      _ngcontent-xwg-c263="">{{course.duration}} mins</span>
                  </div>
                  <div class="icons labelRed"><span _ngcontent-xwg-c263="">#{{getTopicName(course.topicCode)}}</span></div>
                  <img [src]="course.imageUrl" alt="card 3" class="header-image" />
                </div>
                <div class="content">
                  <div class="title">
                    {{course.title}}
                    <p _ngcontent-xwg-c263="">
                      Summary by {{course.author}} <span _ngcontent-xwg-c263="">(NA)</span>
                    </p>
                  </div>
                  <div class="description">
                    <p _ngcontent-xwg-c263="">
                      {{course.summary}}
                    </p>
                  </div>
                </div>
                <div class="mt-4 d-flex align-items-center justify-content-between px-4 card-footer">
                  <div class="pl-0 d-flex"><span class="okhand-gray-icon pr-4"></span>100</div>
                  <div class="d-flex pr-2"><span class="publisher-icon"></span>{{course.publisher}}</div>
              </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>

</div>