@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.carousel-card
{
    max-height: 440px;
    width: 31%;
    float: left;
    height: auto;
    padding-bottom: 30px;
    cursor: pointer;
    &:hover {
        transform: none;
    }
    .header-image {
        height: auto;
    }
}
.search-box {
    margin: 0;
    font-style: italic;
    input {
        font-size: 18px;
        font-family: 'GTWalsheimPro-Regular';
    }
}