@import './../../../../assets/styles/variables.scss';

.create-capsule-page {
    .container {
        max-width: 1600px;
    }
    label {
        font-family: $primary-font-medium;
    }
    .carousel-card
    {
        height: 630px;
    }
}