@import './../../../../assets/styles/variables.scss';

.create-capsule-page {
    .container {
        max-width: 1600px;
    }
    label {
        font-family: $primary-font-medium;
    }
    .carousel-card
    {
        height: 630px;
        transition: none;
        width: 493px;
        @media only screen and (max-width: 990px) { 
            height: auto!important;
        }
        &:hover {
            transform: none;
        }
     
        .upload-image{
            background: #f2f2f2 url("../../../../assets/images/upload-image-before.png");
            background-size: cover;
            height: 193px;
            padding-top: 50px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            .secondary-btn-sm {
                width: 180px;
                height: 44px;
                font-size: 18px;
                font-family: $primary-font-bold;
                border: 0;
                border-radius: 22px;
            }
        }
    }
    .capsule-steps {
            li {
                list-style: none;
                display: inline-block;
                width: 32.33%;
                position: relative;
                text-align: center;
                cursor: pointer;
                font-size: 18px;
                font-family: $heading-fonts;
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: url("../../../../assets/images/dotted-line.svg") no-repeat;
                    top: 12px;
                    left: -43%;
                    z-index: 0;
                }
                &:first-child {
                    &:after {
                      content: none;
                    }
                  }
            }
    }
}