@import './../../../../assets/styles/variables.scss';

.create-capsule-page {
    .container {
        max-width: 1600px;
    }
    label {
        font-family: $primary-font-medium;
    }
    .carousel-card
    {
        height: 630px;
        transition: none;
        width: 493px;
        &:hover {
            transform: none;
        }
     
        .upload-image{
            background: #f2f2f2 url("../../../../assets/images/upload-image-before.png");
            background-size: cover;
            height: 230px;
            border-radius: 20px;
            padding-top: 60px;
        }
    }
}