@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';


.digest-card {
  background-image: url("../../assets/images/skill-studio-card-pattern.png");
  background-color: #2e375a;
  cursor: pointer;
  // max-height: 290px;
  height: 290px;
  max-width: 395px;
  width: 100%;
  padding: 30px;
  color: $white;
  border-radius: 15px;
  margin: 0px 40px 40px 0px;
  display: inline-grid;
  text-align: left;
  &.razzmatazz {
    background-color: #E30070;
  }
  &.purple-heart {
    background-color: #4936D6;
  }
  &.indigo-purple {
    background-color: #6200a4;
  }
  &.night-rider {
    background-color: #2E2E2E;
  }
  .conference-header {
    border-left: 7px solid #fff;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 20px;
    font-family: $primary-font-medium;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    .play-btn {
      background: url("../../assets/images/play-button.png") no-repeat;
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }
  .description {
    font-size: 14px;
    font-family: $primary-font-regular;
    // display: inline-flex;
  }
}
.venue-details {
    font-size: 22px;
    font-family: $primary-font-medium;
    margin-bottom: 20px;
}
