@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';


.digest-card {
  background-image: url("../../assets/images/skill-studio-card-pattern.png");
  background-color: #2e375a;
  cursor: pointer;
  max-height: 290px;
  max-width: 395px;
  width: 100%;
  padding: 30px;
  color: $white;
  border-radius: 15px;
  margin: 0px 40px 40px 0px;
  display: inline-grid;
  text-align: left;
  &.razzmatazz {
    background-color: #E30070;
  }
  &.purple-heart {
    background-color: #4936D6;
  }
  &.indigo-purple {
    background-color: #6200a4;
  }
  &.night-rider {
    background-color: #2E2E2E;
  }
  .conference-header {
    border-left: 7px solid #fff;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 24px;
    font-family: 'OpenSans-Bold';
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .description {
    font-size: 16px;
    font-family: 'OpenSans-Regular';
    // display: inline-flex;
  }
}
.venue-details {
    font-size: 22px;
    font-family: 'OpenSans-medium';
    margin-bottom: 20px;
}
.date-icon {
    background: url("../../assets/images/date-icon.svg") no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 25px;
    display: inline-block;
    &.dark {
      background: url("../../assets/images/date-icon-dark.svg") no-repeat;
    }
  }
  .location-icon {
    background: url("../../assets/images/location-icon.svg") no-repeat;
    width: 17px;
    height: 22px;
    margin-right: 25px;
    display: inline-block;
    &.dark {
      background: url("../../assets/images/location-icon-dark.svg") no-repeat;
    }
  }