@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';


.digest-card {
  background-image: url("../../assets/images/skill-studio-card-pattern.png");
  background-color: #2e375a;
  height: 290px;
  width: 520px;
  padding: 30px 60px;
  color: $white;
  border-radius: 15px;
  margin: 0px 40px 40px 0px;
  display: inline-grid;
  text-align: left;
  &.razzmatazz {
    background-color: #E30070;
  }
  &.purple-heart {
    background-color: #4936D6;
  }
  &.indigo-purple {
    background-color: #6200a4;
  }
  &.night-rider {
    background-color: #2E2E2E;
  }
  .conference-header {
    border-left: 7px solid #fff;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 30px;
    font-family: 'PROXIMANOVASEMIBOLD';
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .description {
    font-size: 20px;
    font-family: 'HelveticaNeueLTPro-regular';
    display: inline-flex;
  }
}
.venue-details {
    font-size: 24px;
    font-family: 'HelveticaNeueLTPro-medium';
}
.date-icon {
    background: url("../../assets/images/date-icon.svg") no-repeat;
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .location-icon {
    background: url("../../assets/images/location-icon.svg") no-repeat;
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }