<div class="whatwedo-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <section class="whatwedo-banner">
    <div class="row justify-content-center pt-3">

      <div
        class="col-xl-5 col-lg-5 mr-5 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content">
        <h1 class="text-white">What we do</h1>
        <h3 class="text-white pb-3 content-sub-text">As a growing tech consultancy, we integrate strategy, design,
          and software engineering to deliver impactful solutions. Our expertise spans Learning Management System solutions and diverse software
          consulting services. From enhancing user experiences to providing advanced training,
          we offer comprehensive solutions for businesses seeking strategic innovation and digital transformation.</h3>
      </div>
      <div class="col-xl-3 col-lg-6 order-2 order-lg-2 banner-img">
        <img src="../../assets/images/whatwedo/whatwedo-banner-man.png" alt="" class="img-fluid" />
      </div>
    </div>
  </section>
  <div class="inner mb-5">
    <!-- ======= Our Solution ======= -->
    <section>
      <!-- Sec 1 -->
      <div class="inner row align-items-center mb-5">
        <div class="col-lg-6 col-md-4 order-2 order-lg-2 pl-5">
          <img src="assets/images/whatwedo/our-solution.png" class="img-fluid" alt="Our Solutions" />
        </div>
        <div class="col-lg-6 col-md-6 pt-lg-0 order-1 order-lg-1">
          <h2 class="home-banner-subtitle">
            Our Solutions
          </h2>
          <h3 class="content-sub-text">
            We offer a holistic approach to learning and growth with our innovative LMS solutions,
            designed to meet the diverse needs of corporate, academic, and individual learners.
            At the heart of our offerings is a cutting-edge Corporate LMS, seamlessly integrating AI for
            personalized training and streamlined administration. Transforming education, our Campus LMS, also
            powered by AI, caters specifically to schools and colleges, fostering dynamic and adaptive learning experiences.
            Additionally, our subscription-based learning platform empowers professionals to master emerging technologies,
            ensuring they stay at the forefront of industry advancements.
          </h3>
        </div>
      </div>

    </section>

    <section class="mb-5">
      <div class="soln-block">
        <div class="soln-card">
          <div class="img-block our-soln-1">
            <div class="bg-style bg-red-wrath">
              <div class="company-logo"></div>
              <img src="../../assets/images/whatwedo/career-logo.svg" alt="Career" />
            </div>
          </div>
          <div class="content-block">
            <h3>Master emerging technologies with ease</h3>
            <p>A subscription-based platform tailored for AI, Metaverse, and Web 3.0.
              Stay ahead in the dynamic tech landscape through easy to understand learning resources around the globe.</p>
            <a href="#form-bg">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block our-soln-2">
            <div class="bg-style bg-blueberry">
              <div class="company-logo"></div>
              <img src="../../assets/images/whatwedo/LMS-logo.svg" alt="LMS" />
            </div>
          </div>
          <div class="content-block">
            <h3>Empowering Corporate Learning with AI</h3>
            <p>Enhance employee development with Tekcapzule LMS, your next-gen corporate learning solution.
              Powered by AI, it delivers personalized training, automates administration, and provides data-driven insights.</p>
            <a href="#form-bg">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block our-soln-3">
            <div class="bg-style bg-blue-magenta">
              <div class="company-logo"></div>
              <img src="../../assets/images/whatwedo/campus-logo.svg" alt="Campus" />
            </div>
          </div>
          <div class="content-block">
            <h3>AI-Enhanced Learning for Schools and Colleges</h3>
            <p>Revolutionize education with Tekcapzule Campus, an AI-powered LMS designed for schools and colleges.
              Offering intuitive administration, personalized learning paths, and insightful analytics,
              it transforms traditional education into a dynamic and adaptive experience.</p>
            <a href="#form-bg">Know More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Our Solution ======= -->
    <section>
      <div class="row align-items-center  mb-5">
        <div class="col-lg-6 col-md-6 order-2 order-lg-1 order-md-1 pr-5">
          <img src="assets/images/whatwedo/our-services.png" class="img-fluid" alt="Our Services" />
        </div>
        <div class="col-lg-6 col-md-6 pt-lg-0 order-1 order-lg-2">
          <h2 class="home-banner-subtitle">
            Our Services
          </h2>
          <h3 class="content-sub-text">
            Whether you're seeking user-centric interfaces, tailored learning platforms, or cutting-edge AI integration,
            our expert team delivers transformative solutions. Embrace a holistic approach to software excellence and talent
            acquisition with our comprehensive services, strategically designed to elevate your digital presence and drive
            sustained business success.
          </h3>
        </div>
      </div>
    </section>
    <section class="mb-5">
      <div class="soln-block">
        <div class="soln-card">
          <div class="img-block service-1">
            <div class="service-caption">
              <p class="bg-1">UX Design & <br> Prototyping</p>
            </div>
          </div>
          <div class="content-block">
            <p>Our skilled team transforms concepts into intuitive interfaces, ensuring seamless navigation and optimal user engagement.
              From wireframes to interactive prototypes, we blend creativity with functionality, delivering compelling designs that
              resonate with your audience.</p>
            <ul class="key-points">
              <li>User-Centric Approach</li>
              <li>Intuitive Interface Design</li>
              <li>Seamless User Navigation</li>
              <li>Interactive Prototyping</li>
              <li>Optimized User Engagement</li>
            </ul>
            <a href="#form-bg">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block service-2">
            <div class="service-caption bg-2">
              <p class="bg-2">Product <br> Engineering</p>
            </div>
          </div>
          <div class="content-block">
            <p>Transform your ideas into powerful solutions with our Product Engineering services. We plan strategically,
              use flexible development methods, build strong foundations for growth, ensure product reliability through rigorous testing,
              and continue optimizing after launch for ongoing innovation.</p>
            <ul class="key-points">
              <li>Strategic Ideation & Planning</li>
              <li>Agile Development</li>
              <li>Scalable Architectures</li>
              <li>Quality Assurance Excellence</li>
              <li>Continuous Optimization</li>
            </ul>
            <a href="#form-bg">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block service-3">
            <div class="service-caption bg-3">
              <p class="bg-3">Custom LMS <br>Development</p>
            </div>
          </div>
          <div class="content-block">
            <p>Create your own learning space with our Custom LMS Development service. We design a personalized Learning Management
              System that suits your needs perfectly. Enjoy easy-to-use interfaces, future-proof technology that grows with you,
              custom content creation, and ongoing support for lasting success in education.</p>
            <ul class="key-points">
              <li>Personalized Learning Experience</li>
              <li>Easy-to-Use Design</li>
              <li>Scalable Architecture</li>
              <li>Ongoing Support & Optimization</li>
            </ul>
            <a href="#form-bg">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block service-4">
            <div class="service-caption bg-4">
              <p class="bg-4">AI/ML<br> Consulting</p>
            </div>
          </div>
          <div class="content-block">
            <p>Transform your business with our AI/ML Consulting services. Our team specializes in crafting smart
              solutions using AI and machine learning, enabling your organization to thrive in the ever-evolving
              tech world. Drive efficiency and innovation with our tailored AI solutions.</p>
            <ul class="key-points">
              <li>Tailored Machine Learning Solutions</li>
              <li>Custom ML Model Development</li>
              <li>Seamless Integration</li>
              <li>Ongoing Support and Optimization</li>
            </ul>
            <a href="#form-bg">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block service-5">
            <div class="service-caption bg-5">
              <p class="bg-5">Corporate<br> Trainings</p>
            </div>
          </div>
          <div class="content-block">
            <p>Our comprehensive programs cater to diverse needs, ensuring seamless knowledge transfer and skill
              development. Enhance your team's capabilities through:</p>
            <ul class="key-points">
              <li>Customized Training Programs</li>
              <li>Interactive Learning Modules</li>
              <li>Expert-Led Training Sessions</li>
              <li>Flexible Learning Paths</li>
              <li>Performance Analytics</li>
            </ul>
            <a href="#form-bg">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block service-6">
            <div class="service-caption bg-6">
              <p class="bg-6">Candidate <br> Screening</p>
            </div>
          </div>
          <div class="content-block">
            <p>Optimize your hiring process with our Candidate Screening services. We employ advanced
              tools and methodologies to streamline and enhance your recruitment efforts.</p>
            <ul class="key-points">
              <li>Tailored Screening Processes</li>
              <li>Automated Candidate Evaluation</li>
              <li>Comprehensive Skill Assessments</li>
              <li>Streamlined Recruitment Workflow</li>
            </ul>
            <a href="#form-bg">Know More</a>
          </div>
        </div>
      </div>
    </section>

    <section class="text-center">
      <h2>Our Technology Stack</h2>
      <h3 class="content-sub-text">Dive into our technology stack, highlighting our proficiency in a diverse set of
        technologies and platforms.</h3>
      <div class="d-block">
        <div class="tech-stack">
          <img src="../../assets/images/whatwedo/tech-stack-1.png" />
          <img src="../../assets/images/whatwedo/tech-stack-2.png" />
          <img src="../../assets/images/whatwedo/tech-stack-3.png" />
          <img src="../../assets/images/whatwedo/tech-stack-4.png" />

          <img src="../../assets/images/whatwedo/tech-stack-5.png" />
          <img src="../../assets/images/whatwedo/tech-stack-6.png" />
        </div>
      </div>
      <div class="d-block">
        <div class="tech-stack">
          <img src="../../assets/images/whatwedo/tech-stack-7.png" />
          <img src="../../assets/images/whatwedo/tech-stack-8.png" />

          <img src="../../assets/images/whatwedo/tech-stack-9.png" />
          <img src="../../assets/images/whatwedo/tech-stack-10.png" />
          <img src="../../assets/images/whatwedo/tech-stack-11.png" />
          <img src="../../assets/images/whatwedo/tech-stack-12.png" />
        </div>

      </div>
    </section>
  </div>
  <section class="form-bg" id ="form-bg">
    <app-collaborate-form [pageType]="'whatWeDo'"></app-collaborate-form>
  </section>
</div>
