<div class="whatwedo-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <section class="whatwedo-banner">
    <div class="inner row justify-content-center pt-3">
      
        <div class="col-xl-5 col-lg-5 mr-5 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content">
        <h1 class="text-white">What we do</h1>
        <h3 class="text-white pb-3 content-sub-text">We’re a leading global technology consultancy that integrates strategy, design and software engineering to enable enterprises and technology</h3>
        </div>
        <div class="col-xl-3 col-lg-6 order-2 order-lg-2 banner-img">
          <img src="../../assets/images/whatwedo/whatwedo-banner-man.png" alt="" class="img-fluid" />
        </div>
    </div>
  </section>

  <!-- ======= Our Values Section ======= -->
  <section>
    <div class="inner">
      <!-- Sec 1 -->
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 col-md-4 order-2 order-lg-2 pl-5">
          <img src="assets/images/whatwedo/our-solution.png" class="img-fluid" alt="Our Solutions" />
        </div>
        <div class="col-lg-6 col-md-6 pt-lg-0 order-1 order-lg-1">
          <h2 class="home-banner-subtitle">
            Our Solutions
          </h2>
          <h3 class="content-sub-text">
            We’re a leading global technology consultancy that integrates strategy, design and software engineering to
            enable enterprises and technology disruptors across the globe to thrive as modern digital businesses.
            Ongoing digital disruption is challenging enterprises to keep pace with the accelerating rate of
            technological change. This is where Thoughtworks can help. We’ve been at the forefront of technology
            innovation for 30 years.
          </h3>
        </div>
      </div>

      <!-- Sec 2 -->
      <div class="row align-items-center  mb-5">
        <div class="col-lg-6 col-md-6 order-2 order-lg-1 order-md-1 pr-5">
          <img src="assets/images/whatwedo/our-services.png" class="img-fluid" alt="Our Services" />
        </div>
        <div class="col-lg-6 col-md-6 pt-lg-0 order-1 order-lg-2">
          <h2 class="home-banner-subtitle">
            Our Services
          </h2>
          <h3 class="content-sub-text">
            We’re a leading global technology consultancy that integrates strategy, design and software engineering to
            enable enterprises and technology disruptors across the globe to thrive as modern digital businesses.
            Ongoing digital disruption is challenging enterprises to keep pace with the accelerating rate of
            technological change. This is where Thoughtworks can help. We’ve been at the forefront of technology
            innovation for 30 years.
          </h3>
        </div>
      </div>
    </div>
  </section>
</div>