<div class="whatwedo-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
    <section class="whatwedo-banner">
      <div class="row justify-content-center pt-3">

        <div
          class="col-xl-5 col-lg-5 mr-5 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content">
          <h1 class="text-white">What we do</h1>
          <h3 class="text-white pb-3 content-sub-text">We’re a leading global technology consultancy that integrates
            strategy, design and software engineering to enable enterprises and technology</h3>
        </div>
        <div class="col-xl-3 col-lg-6 order-2 order-lg-2 banner-img">
          <img src="../../assets/images/whatwedo/whatwedo-banner-man.png" alt="" class="img-fluid" />
        </div>
      </div>
    </section>
    <div class="inner">
    <!-- ======= Our Solution ======= -->
    <section>
      <!-- Sec 1 -->
      <div class="inner row align-items-center mb-5">
        <div class="col-lg-6 col-md-4 order-2 order-lg-2 pl-5">
          <img src="assets/images/whatwedo/our-solution.png" class="img-fluid" alt="Our Solutions" />
        </div>
        <div class="col-lg-6 col-md-6 pt-lg-0 order-1 order-lg-1">
          <h2 class="home-banner-subtitle">
            Our Solutions
          </h2>
          <h3 class="content-sub-text">
            We’re a leading global technology consultancy that integrates strategy, design and software engineering to
            enable enterprises and technology disruptors across the globe to thrive as modern digital businesses.
            Ongoing digital disruption is challenging enterprises to keep pace with the accelerating rate of
            technological change. This is where Thoughtworks can help. We’ve been at the forefront of technology
            innovation for 30 years.
          </h3>
        </div>
      </div>

    </section>

    <section class="mb-5">
      <div class="soln-block">
        <div class="soln-card">
          <div class="img-block our-soln-1">
              <div class="bg-style bg-red-wrath">
                <p>Career</p>
              </div>
          </div>
          <div class="content-block">
            <h3>We’re a leading global technology</h3>
            <p>We’re a leading global technology consultancy that integrates strategy, design and software engineering to
              enable enterprises and technology .</p>
            <a href="#">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block our-soln-2">
              <div class="bg-style bg-blueberry">
                <p>Career</p>
              </div>
          </div>
          <div class="content-block">
            <h3>We’re a leading global technology</h3>
            <p>We’re a leading global technology consultancy that integrates strategy, design and software engineering to
              enable enterprises and technology .</p>
            <a href="#">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block our-soln-3">
              <div class="bg-style bg-blue-magenta">
                <p>Career</p>
              </div>
          </div>
          <div class="content-block">
            <h3>We’re a leading global technology</h3>
            <p>We’re a leading global technology consultancy that integrates strategy, design and software engineering to
              enable enterprises and technology .</p>
            <a href="#">Know More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Our Solution ======= -->
    <section>
      <div class="row align-items-center  mb-5">
        <div class="col-lg-6 col-md-6 order-2 order-lg-1 order-md-1 pr-5">
          <img src="assets/images/whatwedo/our-services.png" class="img-fluid" alt="Our Services" />
        </div>
        <div class="col-lg-6 col-md-6 pt-lg-0 order-1 order-lg-2">
          <h2 class="home-banner-subtitle">
            Our Services
          </h2>
          <h3 class="content-sub-text">
            We’re a leading global technology consultancy that integrates strategy, design and software engineering to
            enable enterprises and technology disruptors across the globe to thrive as modern digital businesses.
            Ongoing digital disruption is challenging enterprises to keep pace with the accelerating rate of
            technological change. This is where Thoughtworks can help. We’ve been at the forefront of technology
            innovation for 30 years.
          </h3>
        </div>
      </div>
    </section>
    <section class="mb-5">
      <div class="soln-block">
        <div class="soln-card">
          <div class="img-block service-1">
              <div class="service-caption">
                <p class="bg-1">UX Design & <br> Prototyping</p>
              </div>
          </div>
          <div class="content-block">
            <p>We’re a leading global technology consultancy that integrates strategy, design and software engineering to
              enable enterprises and technology .</p>
              <ul class="key-points">
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
              </ul>
            <a href="#">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block service-2">
              <div class="service-caption bg-2">
                <p class="bg-2">Product <br> Engineering</p>
              </div>
          </div>
          <div class="content-block">
            <p>We’re a leading global technology consultancy that integrates strategy, design and software engineering to
              enable enterprises and technology .</p>
              <ul class="key-points">
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
              </ul>
            <a href="#">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block service-3">
              <div class="service-caption bg-3">
                <p class="bg-3">Custom LMS <br>Development</p>
              </div>
          </div>
          <div class="content-block">
            <p>We’re a leading global technology consultancy that integrates strategy, design and software engineering to
              enable enterprises and technology .</p>
              <ul class="key-points">
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
              </ul>
            <a href="#">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block service-4">
              <div class="service-caption bg-4">
                <p class="bg-4">AI/ML<br> Consulting</p>
              </div>
          </div>
          <div class="content-block">
            <p>We’re a leading global technology consultancy that integrates strategy, design and software engineering to
              enable enterprises and technology .</p>
              <ul class="key-points">
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
              </ul>
            <a href="#">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block service-5">
              <div class="service-caption bg-5">
                <p class="bg-5">Corporate<br> Trainings</p>
              </div>
          </div>
          <div class="content-block">
            <p>We’re a leading global technology consultancy that integrates strategy, design and software engineering to
              enable enterprises and technology .</p>
              <ul class="key-points">
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
              </ul>
            <a href="#">Know More</a>
          </div>
        </div>
        <div class="soln-card">
          <div class="img-block service-6">
              <div class="service-caption bg-6">
                <p class="bg-6">Candidate <br> Screening</p>
              </div>
          </div>
          <div class="content-block">
            <p>We’re a leading global technology consultancy that integrates strategy, design and software engineering to
              enable enterprises and technology .</p>
              <ul class="key-points">
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
                <li>We’re a leading global technology consultancy that</li>
              </ul>
            <a href="#">Know More</a>
          </div>
        </div>
      </div>
    </section>

    <section class="text-center">
      <h2>Our Technology Stack</h2>
      <h3 class="content-sub-text">We’re a leading global technology consultancy that integrates strategy, <br>design and software engineering to</h3>
      <div class="tech-stack">
        <img src="../../assets/images/whatwedo/tech-stack-1.png" />
        <img src="../../assets/images/whatwedo/tech-stack-2.png" />
        <img src="../../assets/images/whatwedo/tech-stack-3.png" />
        <img src="../../assets/images/whatwedo/tech-stack-4.png" />

        <img src="../../assets/images/whatwedo/tech-stack-5.png" />
        <img src="../../assets/images/whatwedo/tech-stack-6.png" />
        <img src="../../assets/images/whatwedo/tech-stack-7.png" />
        <img src="../../assets/images/whatwedo/tech-stack-8.png" />

        <img src="../../assets/images/whatwedo/tech-stack-9.png" />
        <img src="../../assets/images/whatwedo/tech-stack-10.png" />
        <img src="../../assets/images/whatwedo/tech-stack-11.png" />
        <img src="../../assets/images/whatwedo/tech-stack-12.png" />
        

      </div>
    </section>
  </div>
  <section class="form-bg">
    <app-collaborate-form></app-collaborate-form>
  </section>
</div>