<!-- ======= Tek Byte Page Section ======= -->
<app-spinner></app-spinner>

<div *ngIf="tekbyteData" id="tekbytetopicdetails" class="tekbyte-details-page p-main pb-0">
  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub/dashboard']">AI Hub</a>
          <a class="url-link" [routerLink]="titleUrl">TekByte</a>
          <span>{{tekbyteData.title}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 px-0 pb-0">
      <section class="container-fluid skill-studio-page px-0 pt-5 ">
        <div class="container">
          <div class="d-flex">
            <img src="/assets/images/topic-image.png" alt="topic image" class="topics-img" />
            <div class="pb-4">
              <div class="d-flex">
                <h2>{{tekbyteData.title}}</h2>
                <span class="follow">FOLLOW</span>
              </div>
              <p>{{tekbyteData.description}}</p>
              <ul class="mr-2 list-unstyled">
                <li>#UX</li>
                <li>#User-centered design</li>
                <li>#Interaction design</li>
                <li>#Usability testing</li>
                <li>#User research</li>
              </ul>
            </div>
          </div>
          <!-- Business Modal Section -->
          <section *ngIf="tekbyteData.goldenCircle" class="container business-modal">
            <div class="row">
              <div class="col-lg-4">
                <h2>Why</h2>
                <p>
                  {{tekbyteData.goldenCircle.why}}
                </p>
              </div>
              <div class="col-lg-4">
                <h2>How</h2>
                <p>
                  {{tekbyteData.goldenCircle.how}}
                </p>
              </div>
              <div class="col-lg-4">
                <h2>What</h2>
                <p>
                  {{tekbyteData.goldenCircle.what}}
                </p>
              </div>
            </div>
          </section>
        </div>
      </section>

      <!-----Flow Diagram Section----->
      <!--section class="pt-5 pb-3">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="sub-heading">Flow Diagram</h3>
            <img src="/assets/images/flow-diagram.png" class="img-fluid" alt="flow diagram" />
          </div>
        </div>
      </section-->
      <!-- Key Concepts Section -->
      <section *ngIf="tekbyteData.keyConcepts" class="key-concepts container">
        <div class="row">
          <div class="col-lg-1 d-flex">
            <img src="/assets/images/keypoints-list.png" class="key-points-img" alt="bullet list" />
          </div>
          <div class="col-lg-11">
            <h3 class="sub-heading pb-3"><span class="heading-highlight"></span> Key Concepts</h3>
            <div *ngFor="let kc of tekbyteData.keyConcepts" class="key-points">
              <div>
                <h3>{{kc.title}}</h3>
                <p>{{kc.description}}</p>
              </div>
            </div>
            <h3 class="sub-heading pb-3"><span class="heading-highlight"></span> Applications</h3>
            <div *ngFor="let app of tekbyteData.applications" class="key-points">
              <h3>{{app.title}}</h3>
              <p class="description">{{app.description}}</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Challenges Section -->
      <!-- <section *ngIf="tekbyteData.applications" class="container">
        <div class="challenges-container">
          <div class="sub-heading">Applications</div>
          <div *ngFor="let app of tekbyteData.applications">
            <h4>{{app.title}}</h4>
            <p class="description">{{app.description}}</p>
          </div>

        </div>
      </section> -->
      <div class="container-fluid bg-gray pt-3">
        <!-- Capsules Section -->
        <!--section class="container">
          <h2 class="text-center my-5 sub-heading">Few Capsules to get you started!</h2>
          <div class="card-section d-flex justify-content-center mb-4 pb-4">
            <img src="/assets/images/previous-arrow.svg" alt="previous arrow" />
            <div class="carousel-card">
              <div class="position-relative">
                <div class="icons bookmark">
                  <img src="/assets/images/bookmark-icon.svg" class="rounded-img" alt="bookmark icon" />
                </div>
                <div class="icons okHand">
                  <img src="/assets/images/okhand-icon.svg" class="rounded-img" alt="okhand icon" />
                </div>
                <div class="icons timer">
                  <img src="/assets/images/timer.svg" class="rounded-img" alt="timer icon" /><span
                    _ngcontent-xwg-c263="">20
                    mins</span>
                </div>
                <div class="icons labelRed"><span _ngcontent-xwg-c263="">#CLOUD</span></div>
                <img src="/assets/images/card-3.png" alt="card 3" class="header-image" />
              </div>
              <div class="content">
                <div class="title">
                  Machine Learning Essentials
                  <p _ngcontent-xwg-c263="">
                    Summary by AWS <span _ngcontent-xwg-c263="">(August 16, 2010)</span>
                  </p>
                </div>
                <div class="description">
                  <p _ngcontent-xwg-c263="">
                    Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                    doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                    ainventore veritatis et quasi architecto beatae vitae quia dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                    quia uuntur magni dolores eos qui ratione voluptatem sequi. sed quia uuntur magni
                    dolores eos qui ratione voluptatem sequi.
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <img src="/assets/images/article-icon.svg" class="float-left" alt="article icon" />
                  <div class="float-right">
                    <img src="/assets/images/flip-icon.svg" class="mr-4" alt="flip icon" /><img
                      src="/assets/images/share-icon.png" />
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-card">
              <div class="position-relative">
                <div class="icons bookmark">
                  <img src="/assets/images/bookmark-icon.svg" class="rounded-img" alt="bookmark icon" />
                </div>
                <div class="icons okHand">
                  <img src="/assets/images/okhand-icon.svg" class="rounded-img" alt="okhand icon" />
                </div>
                <div class="icons timer">
                  <img src="/assets/images/timer.svg" class="rounded-img" alt="timer icon" /><span
                    _ngcontent-xwg-c263="">20
                    mins</span>
                </div>
                <div class="icons labelRed"><span _ngcontent-xwg-c263="">#CLOUD</span></div>
                <img src="/assets/images/card-2.png" alt="card 2" class="header-image" />
              </div>
              <div class="content">
                <div class="title">
                  An Introduction to Microservices Architecture
                  <p _ngcontent-xwg-c263="">
                    Summary by Linjith Kunnan <span _ngcontent-xwg-c263="">(August 16, 2010)</span>
                  </p>
                </div>
                <div class="description">
                  <p _ngcontent-xwg-c263="">
                    Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                    doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                    ainventore veritatis et quasi architecto beatae vitae quia dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                    quia uuntur magni dolores eos qui ratione voluptatem sequi. sed quia uuntur magni
                    dolores eos qui ratione voluptatem sequi.
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <img src="/assets/images/book-icon.svg" class="float-left book-icon" alt="book icon" />
                  <div class="float-right">
                    <img src="/assets/images/flip-icon.svg" class="mr-4" alt="flip icon" /><img
                      src="/assets/images/share-icon.png" />
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-card">
              <div class="position-relative">
                <div class="icons bookmark">
                  <img src="/assets/images/bookmark-icon.svg" class="rounded-img" alt="bookmark icon" />
                </div>
                <div class="icons okHand">
                  <img src="/assets/images/okhand-icon.svg" class="rounded-img" alt="okhand icon" />
                </div>
                <div class="icons timer">
                  <img src="/assets/images/timer.svg" class="rounded-img" alt="timer icon" /><span
                    _ngcontent-xwg-c263="">20
                    mins</span>
                </div>
                <div class="icons labelRed"><span _ngcontent-xwg-c263="">#CLOUD</span></div>
                <img src="/assets/images/card-1.png" alt="card 1" class="header-image" />
              </div>
              <div class="content">
                <div class="title">
                  Confident Coding: Master the Fundamentals of Code and Supercharge Your Career
                  <p _ngcontent-xwg-c263="">
                    Summary by Rob Percival <span _ngcontent-xwg-c263="">(August 16, 2010)</span>
                  </p>
                </div>
                <div class="description">
                  <p _ngcontent-xwg-c263="">
                    Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                    doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                    ainventore veritatis et quasi architecto beatae vitae quia dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    ratione voluptatem sequi.
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <img src="/assets/images/video-icon.svg" class="float-left" alt="video icon" />
                  <div class="float-right">
                    <img src="/assets/images/flip-icon.svg" class="mr-4" alt="flip icon" /><img
                      src="/assets/images/share-icon.png" />
                  </div>
                </div>
              </div>
            </div>
            <img src="/assets/images/next-arrow.svg" alt="next arrow" />
          </div>
        </section-->

        <!-- Know More Section -->
        <section class="container">
          <div class="know-more-sec">
            <div class="close-btn"></div>
            <div class="row">
              <div class="col-lg-6 d-flex">
                <div>
                  <img src="/assets/images/knowmore-icon.png" alt="Did you know icon" />
                </div>
                <div>
                  <h3>Did you know?</h3>
                  <p>{{tekbyteData.didYouKnow}}</p>
                </div>
              </div>
              <div class="col-lg-6 d-flex">
                <div><img src="/assets/images/knowmore-icon-right.png" alt="Way Forward icon" /></div>
                <div>
                  <h3>Way Forward</h3>
                  <p>{{tekbyteData.wayForward}}</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- Stay So Far Scection -->
    <div *ngIf="tekbyteData.timeline" class="col-lg-2 px-0">
      <div class="story-bg">
        <h2 class="year pr-3">
          Story So Far <img class="pl-3" src="/assets/images/story-arrow.svg" />
        </h2>
        <ul class="timeline">
          <li  *ngFor="let app of tekbyteData.timeline">
            <div class="year">
              <div class="yr-txt">YEAR</div>
              {{app.title.includes('/') ? app.title.split('/')[2] : app.title}}
            </div>
            <p class="story">
              {{app.description}}
            </p>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</div>