<!-- ======= Tek Byte Page Section ======= -->
<app-spinner></app-spinner>

<div *ngIf="learningMt" id="tekbytetopicdetails" class="tekbyte-details-page p-main pb-0">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/skill-dashboard']">SkillStudio</a>
          <a *ngIf="pageId !=='Skill_Studio'" class="url-link" [routerLink]="titleUrl">Tekbyte</a>
          <span>{{ learningMt.title }}</span>
        </div>
      </div>
    </div>
  </div>
  <section class="container-fluid details-banner linear-newbg-banner px-0 pt-5 ">
    <div class="inner">
      <div class="row justify-content-between">
        <div class="col-lg-7 mr-5 mob-mr-0">
          <div class="d-flex align-items-center">
            <h2>{{learningMt.title}}</h2>
            <span class="pills ml-3 bg-navy-blue">{{learningMt.topicCode}}</span>
          </div>
          <p>{{learningMt.summary}}</p>
          <div class="d-flex align-items-center py-3">
            <div class="recommend font-16 d-flex mr-4"><span class="okhand-white-icon pr-3"></span>Recommend
              <span class="count text-white pl-2">({{learningMt.recommendations}})</span>
            </div>
            <div class="d-flex mr-4 align-items-center">
              <span class="bookmark-icon-white mr-2"></span>Bookmark
            </div>
            <div class="d-flex align-items-center">
              <span class="free-icon mr-2"></span>Free
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="know-more-sec text-center mr-5">
            <h3>Did you know?</h3>
          </div>
          <div class="banner-highlight d-flex">
            <img src="/assets/images/knowmore-icon.png" alt="Did you know icon" class="img-fluid w-75 h-75" />
            <p class="text-black">{{learningMt.overview.didYouKnow}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="row justify-content-end row-mobile">
    <div class="col-lg-10 px-0 pb-0 tekbyte-details">
      <!-- Business Modal Section -->
      <section *ngIf="learningMt.overview?.goldenCircle" class="inner business-modal">
        <div class="row">
          <div class="col-lg-4 card">
            <h2>Why</h2>
            <p>
              {{ learningMt.overview.goldenCircle.why }}
            </p>
          </div>
          <div class="col-lg-4 card">
            <h2>How</h2>
            <p>
              {{ learningMt.overview.goldenCircle.how }}
            </p>
          </div>
          <div class="col-lg-4 card">
            <h2>What</h2>
            <p>
              {{ learningMt.overview.goldenCircle.what }}
            </p>
          </div>
        </div>
      </section>
      <!-- Key Concepts Section -->
      <section *ngIf="learningMt.overview?.keyConcepts" class="key-concepts inner">
        <div class="row">
          <div class="col-lg-11">
            <h2 class="pb-3"><span class="title-img key-concept-icon"></span> Key Concepts</h2>
            <div *ngFor="let kc of learningMt.overview.keyConcepts" class="pb-2">
              <div>
                <h3>{{ kc.title }}</h3>
                <p>{{ kc.description }}</p>
              </div>
            </div>
            <h2 class="pb-3 pt-4"><span class="title-img application-icon"></span> Applications</h2>
            <div *ngFor="let app of learningMt.overview.applications" class="pb-2">
              <h3>{{ app.title }}</h3>
              <p class="description">{{ app.description }}</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Challenges Section -->
      <!-- <section *ngIf="learningMt.applications" class="container">
        <div class="challenges-container">
          <div class="sub-heading">Applications</div>
          <div *ngFor="let app of learningMt.applications">
            <h4>{{app.title}}</h4>
            <p class="description">{{app.description}}</p>
          </div>

        </div>
      </section> -->
      <!-- Popular Events Section -->

      <div *ngIf="relatedLearningMt.length" class="container-fluid bg-gray pt-3">
        <section class="py-3 container">
          <div class="section-title text-center">
            <h2>Other Tekbytes you may be interested in!</h2>
          </div>
          <div>
            <p-carousel [value]="relatedLearningMt" [numVisible]="3" [numScroll]="3" [circular]="false"
              [responsiveOptions]="responsiveOptions" [showNavigators]="false">
              <ng-template let-learningMt pTemplate="item">
                <app-skill-card [learningMt]="learningMt"></app-skill-card>
              </ng-template>
            </p-carousel>
          </div>
        </section>
      </div>
    </div>
    <!-- Stay So Far Scection -->
    <div *ngIf="learningMt.overview.timeline" class="col-lg-2 px-0">
      <div class="story-bg">
        <h2 class="year pr-3">
          Story So Far <img class="pl-3 mob-hide" src="/assets/images/story-arrow.svg" />
        </h2>
        <ul class="timeline">
          <li *ngFor="let app of learningMt.timeline">
            <div class="year">
              <div class="yr-txt">YEAR</div>
              {{ app.title.includes('/') ? app.title.split('/')[2] : app.title }}
            </div>
            <p class="story">
              {{ app.description }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>