<!-- ======= Tek Byte Page Section ======= -->
<app-spinner></app-spinner>

<div *ngIf="tekbyteData" id="tekbytetopicdetails" class="tekbyte-details-page p-main pb-0">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub/dashboard']">SkillStudio</a>
          <a class="url-link" [routerLink]="titleUrl">Tekbyte</a>
          <span>{{ tekbyteData.title }}</span>
        </div>
      </div>
    </div>
  </div>

  <section class="container-fluid details-banner px-0 pt-5">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 mr-5 mob-mr-0">
          <h2 class="pb-3">{{ tekbyteData.title }}</h2>
          <p>{{ tekbyteData.description }}</p>
        </div>
        <div class="col-lg-4 subscribe-block">
          <h3>Tekcapsule AI Digest</h3>
          <p>Connecting you to the latest AI advancements and insights!</p>
          <div *ngIf="subscriberFormGroup" [formGroup]="subscriberFormGroup">
            <input
              type="email"
              name="email id"
              formControlName="emailId"
              class="input-mail mb-0"
              placeholder="Enter Your Email ID"
            />
            <button mat-raised-button class="button tertiary mt-3" (click)="onSubscribe()">
              Subscribe Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row justify-content-end">
    <div class="col-lg-10 px-0 pb-0 tekbyte-details">
      <!-- Business Modal Section -->
      <section *ngIf="tekbyteData.goldenCircle" class="inner business-modal pb-5">
        <div class="row">
          <div class="col-lg-4 card">
            <h2>Why</h2>
            <p>
              {{ tekbyteData.goldenCircle.why }}
            </p>
          </div>
          <div class="col-lg-4 card">
            <h2>How</h2>
            <p>
              {{ tekbyteData.goldenCircle.how }}
            </p>
          </div>
          <div class="col-lg-4 card">
            <h2>What</h2>
            <p>
              {{ tekbyteData.goldenCircle.what }}
            </p>
          </div>
        </div>
      </section>
      <!-----Flow Diagram Section----->
      <section class="pb-5">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Flow Diagram</h2>
            <img src="/assets/images/flow-diagram.png" class="img-fluid" alt="flow diagram" />
          </div>
        </div>
      </section>
      <!-- Key Concepts Section -->
      <section *ngIf="tekbyteData.keyConcepts" class="key-concepts inner">
        <div class="row">
          <div class="col-lg-11">
            <h2 class="pb-3"><span class="title-img key-concept-icon"></span> Key Concepts</h2>
            <div *ngFor="let kc of tekbyteData.keyConcepts" class="pb-5">
              <div>
                <h3>{{ kc.title }}</h3>
                <p>{{ kc.description }}</p>
              </div>
            </div>
            <h2 class="pb-3"><span class="title-img application-icon"></span> Applications</h2>
            <div *ngFor="let app of tekbyteData.applications" class="pb-5">
              <h3>{{ app.title }}</h3>
              <p class="description">{{ app.description }}</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Challenges Section -->
      <!-- <section *ngIf="tekbyteData.applications" class="container">
        <div class="challenges-container">
          <div class="sub-heading">Applications</div>
          <div *ngFor="let app of tekbyteData.applications">
            <h4>{{app.title}}</h4>
            <p class="description">{{app.description}}</p>
          </div>

        </div>
      </section> -->
      <!-- Popular Events Section -->
      <div class="container-fluid pt-3">
        <!-- Know More Section -->
        <section class="inner">
          <div class="know-more-sec">
            <div class="close-btn"></div>
            <div class="row">
              <div class="col-lg-6 col-sm-12 d-flex high-lights">
                <div>
                  <img src="/assets/images/knowmore-icon.png" alt="Did you know icon" />
                </div>
                <div>
                  <h3>Did you know?</h3>
                  <p>{{ tekbyteData.didYouKnow }}</p>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 d-flex high-lights">
                <div>
                  <img src="/assets/images/knowmore-icon-right.png" alt="Way Forward icon" />
                </div>
                <div>
                  <h3>Way Forward</h3>
                  <p>{{ tekbyteData.wayForward }}</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div *ngIf="popularTekbyteList.length" class="container-fluid bg-gray pt-3">
        <section class="py-3 inner">
          <div class="section-title text-center">
            <h2>Other Popular Topics Based on Your Interest</h2>
          </div>
          <div>
            <p-carousel
              [value]="popularTekbyteList"
              [numVisible]="3"
              [numScroll]="3"
              [circular]="false"
              [responsiveOptions]="responsiveOptions"
            >
              <ng-template let-tekbyte pTemplate="item">
                <app-tekbyte-card [tekbyte]="tekbyte"></app-tekbyte-card>
              </ng-template>
            </p-carousel>
          </div>
        </section>
      </div>
    </div>
    <!-- Stay So Far Scection -->
    <div *ngIf="tekbyteData.timeline" class="col-lg-2 px-0">
      <div class="story-bg">
        <h2 class="year pr-3">
          Story So Far <img class="pl-3" src="/assets/images/story-arrow.svg" />
        </h2>
        <ul class="timeline">
          <li *ngFor="let app of tekbyteData.timeline">
            <div class="year">
              <div class="yr-txt">YEAR</div>
              {{ app.title.includes('/') ? app.title.split('/')[2] : app.title }}
            </div>
            <p class="story">
              {{ app.description }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
