<div class="service-categories-page">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <!-- ======= Hero Banner Section ======= -->
  <div class="container">
    <div id="breadcrumbs" class="container breadcrumbs">
      <span>
        <span><a href="/">Home</a></span>
        <img src="../../assets/images/breadcrumb_arrow.png" />
        <span><a href="/products">Products</a></span>
        <img src="../../assets/images/breadcrumb_arrow.png" />
        <span class="breadcrumb_last" aria-current="page">{{pageDetails.displayName}}</span>
      </span>
    </div>
  </div>

  <section *ngIf="productPageDetails" class="page-banner product-details-banner-bg"
    [ngClass]="pageDetails.uniqueId.toLowerCase()+ '-bg'">
    <div class="inner row">
      <div
        class="col-xl-6 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content px-0">
        <h1 class="text-white animate__animated animate__fadeInUp delay-1">
          {{productPageDetails?.topicName}}
        </h1>
        <h4 class="text-white content-sub-text animate__animated animate__fadeInUp delay-2">
          {{productPageDetails?.bannerText}}
        </h4>
        <div class="d-flex details-btn">
          <button mat-raised-button (click)="onKnowMore()" class="button download_btn talk-expert me-3  animate__animated animate__fadeInUp delay-2">
            Explore
          </button>
          <button mat-raised-button (click)="onKnowMore()" class="button secondary  animate__animated animate__fadeInUp delay-2">
            Request Demo
          </button>
        </div>
        
      </div>
      <div  class="banner-rh-section order-2 order-lg-2"><img  src="assets/images/products/product-details-banner.png" alt="services" class="img-fluid animate__animated animate__fadeIn delay-2"></div>
    </div>
  </section>
  <div class="animate__animated animate__fadeInUp delay-2">
    <!-- ======= Our Solution ======= -->
    <section>
      <!-- Sec 1 -->
      <div class="inner row product-desc">
        <div *ngFor="let topic of productPageDetails?.topics;" class="col-lg-4 px-0">
          <img src={{topic.tile}} alt="" class="tile" />
          <h4>{{topic.name}}</h4>
          <p class="content-sub-text">
            {{topic.summaryText}}
          </p>
        </div>
      </div>
    </section>
  </div>
    <section class="my-5 pb-5 animate__animated animate__fadeInUp delay-3">
      <div class="row text-center video-col">
        <div class="col-lg-12">
          <h2>Our LMS App So Simple, Learn, Excel</h2>
        </div>
        <div class="tekcapzule-top-video">
          <div class="tekcapzule-top-video2">
              <iframe width="748" height="470" src="https://www.youtube.com/embed/l30NAX66eSU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
         </div>
      </div>
      </div>
      <div class="text-center details-btn">
        <button mat-raised-button (click)="onKnowMore()" class="button secondary  animate__animated animate__fadeInUp delay-2">
          Request Demo
        </button>
      </div>
    </section>

    <section class="my-5 animate__animated animate__fadeInUp delay-3">
      <div class="row text-center">
        <div class="col-lg-12">
          <h2>We have some good features in our LMS</h2>
        </div>
      </div>
      <div class="container products-list">
        <!-- Row 1 -->
        <div class="row mb-4">
            <div class="col-md-6 animate__animated animate__fadeInUp delay-4">
                <h3 class="heading-custom">On Demand Learning</h3>
                <p>Facilitates collaboration and knowledge sharing among learners, using social networks within the system to build a learning community and enhance outcomes.</p>
                <ul>
                  <li>Facilitates collaboration and knowledge sharing.</li>
                  <li>Facilitates collaboration and knowledge sharing.</li>
                </ul>
            </div>
            <div class="col-md-5">
                <img src="assets/images/products/product-1.png" alt="Image 1" class="img-fluid animate__animated animate__fadeIn delay-4">
            </div>
        </div>

        <!-- Row 2 -->
        <div class="row mb-4">
            <div class="col-md-5">
                <img src="assets/images/products/product-2.png" alt="Image 2" class="img-fluid animate__animated animate__fadeIn delay-5">
            </div>
            <div class="col-md-6 animate__animated animate__fadeInUp delay-5">
                <h3 class="heading-custom">Dashboard</h3>
                <p>Facilitates collaboration and knowledge sharing among learners, using social networks within the system to build a learning community and enhance outcomes.</p>
                <p>Facilitates collaboration and knowledge sharing among learners, using social networks within the system to build a learning community and enhance outcomes.</p>
            </div>
        </div>

        <!-- Row 3 -->
        <div class="row mb-4">
            <div class="col-md-6 animate__animated animate__fadeInUp delay-6">
                <h3 class="heading-custom">Course Catalogue</h3>
                <p>Facilitates collaboration and knowledge sharing among learners, using social networks within the system to build a learning community and enhance outcomes.</p>
                <p>Facilitates collaboration and knowledge sharing among learners, using social networks within the system to build a learning community and enhance outcomes.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/images/products/product-3.png" alt="Image 3" class="img-fluid animate__animated animate__fadeIn delay-6">
            </div>
        </div>

        <!-- Row 4 -->
        <div class="row mb-4">
            <div class="col-md-5">
                <img src="assets/images/products/product-4.png" alt="Image 4" class="img-fluid animate__animated animate__fadeIn delay-7">
            </div>
            <div class="col-md-6 animate__animated animate__fadeInUp delay-7">
                <h3 class="heading-custom">Tests</h3>
                <p>Facilitates collaboration and knowledge sharing among learners, using social networks within the system to build a learning community and enhance outcomes.</p>
                <p>Facilitates collaboration and knowledge sharing among learners, using social networks within the system to build a learning community and enhance outcomes.</p>
            </div>
        </div>

        <!-- Row 5 -->
        <div class="row mb-4">
            <div class="col-md-6 animate__animated animate__fadeInUp delay-8">
                <h3 class="heading-custom">Live Classes</h3>
                <p>Facilitates collaboration and knowledge sharing among learners, using social networks within the system to build a learning community and enhance outcomes.</p>
                <p>Facilitates collaboration and knowledge sharing among learners, using social networks within the system to build a learning community and enhance outcomes.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/images/products/product-5.png" alt="Image 5" class="img-fluid animate__animated animate__fadeIn delay-8">
            </div>
        </div>

         <!-- Row 6 -->
         <div class="row mb-4">
          <div class="col-md-5">
              <img src="assets/images/products/product-6.png" alt="Image 4" class="img-fluid animate__animated animate__fadeIn delay-9">
          </div>
          <div class="col-md-6 animate__animated animate__fadeInUp delay-9">
              <h3 class="heading-custom">Mobile app</h3>
              <p>Facilitates collaboration and knowledge sharing among learners, using social networks within the system to build a learning community and enhance outcomes.</p>
              <p>Facilitates collaboration and knowledge sharing among learners, using social networks within the system to build a learning community and enhance outcomes.</p>
          </div>
      </div>
    </div>
    </section>

    <section class="my-5 animate__animated animate__fadeInUp delay-3">
      <div class="row text-center">
        <div class="col-lg-12">
          <h2>We have some good features in our LMS</h2>
        </div>
        
      </div>
      <div class="inner row product-desc">
        <div *ngFor="let features of productPageDetails?.features | slice:0 : featureCount;" class="col-lg-4 service-card px-0">
          <img src={{features.tile}} alt="" class="tile" />
          <h4>{{features.name}}</h4>
          <p class="content-sub-text">
            {{features.summaryText}}
          </p>
        </div>
      </div>
      <div class="text-center details-btn">
        <button mat-raised-button (click)="onKnowMore()" class="button tertiary-btn animate__animated animate__fadeInUp delay-2">
          {{featureCount === 3 ? 'View More' : 'Show Less'}}
        </button>
      </div>
    </section>
    <div class="animate__animated animate__fadeInUp delay-5">
      <app-faq-page [qaList]="productPageDetails?.faq"></app-faq-page>
    </div>
   
  
  <div id="coll-form-bg" class="animate__animated animate__fadeInUp delay-6">
    <section class="form-bg">
      <app-collaborate-form [pageType]="'whatWeDo'"></app-collaborate-form>
    </section>
  </div>
</div>
