@import '../../../../assets/styles/variables.scss';

.contact-form {
  .alert {
    top: 10px;
  }
  input:invalid {
    border: 1px solid red;
  }
  button:disabled,
  button[disabled] {
    border: 0px solid #999999;
    background-color: #cccccc !important;
    color: #666666 !important;
  }

  &.section-bg {
      background: url('../../../../assets/images/pattern.png') 440px 0px no-repeat, linear-gradient(104.04deg, #FF1675 0%, #FF7B01 100%);
      padding: 30px 90px;
      border-radius: 27px;
      @media only screen and (max-width: 990px) {
        padding: 50px 20px;
      }
  }
  .contactus-boy {
    img {
     position: absolute;
     top: -47px;
    }
  }
}
.inner {
  max-width: 1150px;
}

input, textarea, select {
  margin-bottom: 0px;
}
.error-text {
  input, textarea, select {
    border-color: $white;
  }
  .error-msg {
    color: $white !important;
  }
}
.form-field {
  margin-bottom: 20px;
}

