<div class="service-categories-page">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <!-- ======= Hero Banner Section ======= -->
  <div class="container">
    <div id="breadcrumbs" class="container breadcrumbs">
      <span>
        <span><a href="/">Home</a></span>
        <img src="../../assets/images/breadcrumb_arrow.png" />
        <span><a href="/services">Services</a></span>
        <img src="../../assets/images/breadcrumb_arrow.png" />
        <span class="breadcrumb_last" aria-current="page">{{pageDetails.displayName}}</span>
      </span>
    </div>
  </div>

  <section *ngIf="servicePageDetails" class="page-banner service-categories-banner-bg"
    [ngClass]="pageDetails.uniqueId.toLowerCase()+ '-bg'">
    <div class="inner row">
      <div
        class="col-xl-6 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content px-0">
        <h1 class="text-white animate__animated animate__fadeInUp delay-1">
          {{pageDetails.displayName}}
        </h1>
        <h4 class="text-white content-sub-text animate__animated animate__fadeInUp delay-2">
          {{servicePageDetails?.bannerText}}
        </h4>
        <button mat-raised-button (click)="onKnowMore()" class="button download_btn talk-expert  animate__animated animate__fadeInUp delay-2">
          Talk to our Expert
        </button>
      </div>
    </div>
  </section>
  <div class="animate__animated animate__fadeInUp delay-2">
    <!-- ======= Our Solution ======= -->
    <section>
      <!-- Sec 1 -->
      <div class="inner row services-desc">
        <div *ngFor="let topic of servicePageDetails?.topics;" class="px-0">
          <img src={{topic.tile}} alt="" class="tile" />
          <h4 [innerHTML]="topic.name"></h4>
          <p class="content-sub-text">
            {{topic.summaryText}}
          </p>
        </div>
      </div>
    </section>
  </div>
  <div class="details-sections">

    <section class="my-5 animate__animated animate__fadeInUp delay-3">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12 mobile-display">
          <div class="mission-block position-relative">
            <div class="d-flex justify-content-center flex-wrap mobile-img">
              <div *ngFor="let image of servicePageDetails?.animateImages; let i = index;"
                class="mission-role animate__animated animate__fadeInUp" [ngClass]="'delay-' + i + 2">
                <div class="image-wrapper">
                  <img [src]="image" class="img-fluid" alt="career" />
                </div>
              </div>
            </div>
            <div class="image-overlay">
              <div>
                <div class="overlay-text pb-4">All you need to know is just one click away</div>
                <button mat-raised-button class="button download_btn  animate__animated animate__fadeInUp delay-2">
                  Download Brochure
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>





    <section class="animate__animated animate__fadeInUp delay-4">
      <div class="inner row">
        <div class="details d-flex mb-5 align-items-center">
          <div class="me-5 img-block col-lg-4">
            <h1>Why <br>Choose Us?</h1>
            <!-- <img src="assets/images/services/why-choose-us.png" class="img-fluid" alt="career" /> -->
          </div>
          <div class="col-lg-7">
            <p class="content-sub-text">
              {{servicePageDetails?.why}}
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="animate__animated animate__fadeInUp delay-5">
      <app-faq-page [qaList]="servicePageDetails?.faq"></app-faq-page>
    </div>
   
  </div>
  <div id="coll-form-bg" class="animate__animated animate__fadeInUp delay-6">
    <section class="form-bg">
      <app-collaborate-form [pageType]="'serviceCategories'"></app-collaborate-form>
    </section>
  </div>
</div>

<app-login-required [isDialogVisible]="isLoginRequiredDialogShown"
  (dialogClosed)="hideLoginRequiredDialog()"></app-login-required>