@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';
.marketplace-bg {
    background: url('../../assets/images/marketplace/marketplace-banner-bg.svg') no-repeat;
    width: 100%;
    height: 291px;
    background-size: 100%;
    color: $white;
    .carousel .carousel-inner .carousel-item {
        height: 260px;
    }
}
.container {
    max-width: 1220px;
}
.appstore-tile {
    background: $white;
    border-radius: 7px;
    width: 297px;
    min-height: 315px;
    box-shadow: 0px 10px 20px #5A5A5A2F;
    border: 1px solid #F0F3FF;
    border-radius: 7px;
    margin-bottom: 30px;
    // display: table-cell;
    cursor: pointer;
    .app-logo {
        margin-bottom: 20px;
        height: 90px;
        align-items: center;
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        // box-shadow: 0px 15px 10px -18px #7a7a7a;
        border-bottom: 1px solid #F0F3FF;
        img{
            max-height: 90px;
            max-width: 100%;
        }
    }
    .content {
        padding: 20px 20px 0px;
        .title {
            font-size: 18px;
            font-family: $primary-font-bold;
            color: #262626;
        }
        
        .description {
            font-size: 15px;
            font-family: $primary-font-regular;
            color: #444444;
            min-height: 90px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow-y: hidden;
        }
        .pills {
            background: #D9E9F7;
            color: #556779;
        }
    }
}
.search-box {
    margin: 0;
    input {
        font-size: 16px;
        font-family: $primary-font-regular;
    }
}