@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.digest-card {
  cursor: pointer;
  background-image: url('../../assets/images/skill-studio-card-pattern.png');
  // background-color: #2e375a;
  max-height: 290px;
  max-width: 395px;
  width: 100%;
  padding: 20px 25px;
  color: $white;
  border-radius: 15px;
  margin: 0px 40px 25px 0px;
  display: inline-grid;
  text-align: left;
  color: #1c1c1c;
  border: 1px solid #e8edff;
  background-repeat: no-repeat;
  background-size: contain;
  &.indigo-purple {
    background-color: #3d234e;
  }
  .title {
    font-size: 18px;
    font-family: $primary-font-black;
    display: flex;
    align-items: center;
    line-height: 26px;
  }
  .content-top {
    height: 113px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8edff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow-y: hidden;
  }
  .description {
    font-size: 16px;
    font-family: $primary-font-regular;
    padding-bottom: 10px;
  }
  .calendar-text {
    text-transform: capitalize;
  }
}
h1 {
  line-height: 35px !important;
}
h2 {
  font-family: $primary-font-medium;
}
.error-msg {
  text-align: left;
  color: red !important;
}
.banner-description {
  font-size: 18px;
  font-family: $primary-font-regular;
  line-height: 22px;
}

.digest-skeleton.digest-card {
  background: #fff;
  border: 1px solid #e8edff;
  .title {
    height: 20px;
    margin-bottom: 10px;
    width: 90%;
  }
  .author {
    height: 16px;
    margin-bottom: 30px;
    width: 60%;
  }
  .description {
    height: 16px;
    padding: 0;
    margin-bottom: 10px;
  }
  .badge-item {
    height: 26px;
    width: 60px;
    border-radius: 30px;
  }
  .footer-items {
    border-top: 1px solid #e8edff;
    padding: 10px 0 0 0;
  }
  .title.loading,
  .author.loading,
  .description.loading {
    border-radius: 3px;
  }
}
.weekly-digest-banner {
  background: url('../../assets/images/weekly-banner-bg.svg') 112px 65px no-repeat,
    transparent linear-gradient(260deg, #421f90 0%, #4c3176 53%, #c61b9f 100%) 0% 0% no-repeat
      padding-box;
  height: 360px;
  padding-top: 60px;
}
.subscribe-btn {
  background-color: #e7245f !important;
  border: 1px solid #e7245f;
}
