@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.digest-card {
  cursor: pointer;
  background-image: url('../../assets/images/skill-studio-card-pattern.png');
  background-color: #2e375a;
  max-height: 290px;
  max-width: 395px;
  width: 100%;
  padding: 20px 35px;
  color: $white;
  border-radius: 15px;
  margin: 0px 40px 40px 0px;
  display: inline-grid;
  text-align: left;
  &.indigo-purple {
    background-color: #6200a4;
  }
  .title {
    font-size: 22px;
    font-family: $primary-font-medium;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    .play-btn {
      background: url('../../assets/images/play-button.png') no-repeat;
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }
  .content-top {
    height: 160px;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  .description {
    font-size: 16px;
    font-family: $primary-font-regular;
    padding-bottom: 20px;
  }
  .calendar-text {
    text-transform: capitalize;
  }
}

.error-msg {
  text-align: left;
  color: red !important;
}
.weekly-digest-title {
  font-size: 24px !important;
  font-family: $primary-font-bold !important;
}

.digest-skeleton.digest-card {
  background: #fff;
  border: 1px solid #a4acce;
  .title {
    height: 20px;
    margin-bottom: 10px;
    width: 90%;
  }
  .author {
    height: 16px;
    margin-bottom: 30px;
    width: 60%;
  }
  .description {
    height: 16px;
    padding: 0;
    margin-bottom: 10px;
  }
  .action-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .title.loading,
  .author.loading,
  .description.loading {
    border-radius: 3px;
  }
  .loading {
    background-color: $skeleton-grey;
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 60%
      )
      $skeleton-grey;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s shimmer ease-in-out infinite;
  }
  @keyframes shimmer {
    to {
      background-position-x: -20%;
    }
  }
}
