<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub/dashboard']">SkillStudio</a>
          <span>Weekly Digest</span>
        </div>
      </div>
    </div>
    <section class="container-fluid px-0 weekly-digest-banner">
      <div class="container row justify-content-center">
        <div
          class="col-xl-4 col-lg-4 col-sm-12 order-1 order-lg-1 ml-lg-5 d-flex flex-column justify-content-center banner-content"
        >
          <h1>The Edge</h1>
          <h2 class="text-white">Tekcapsule's Emerging Technology Newsletter</h2>
          <p class="text-white banner-description">
            Unlock the power of artificial intelligence with our weekly newsletter. Discover the
            latest AI News, trends, and innovations, handpicked for you. Subscribe now and level up
            your AI knowledge.
          </p>
          <div *ngIf="subscriberFormGroup" [formGroup]="subscriberFormGroup">
            <div
              class="mx-auto d-flex align-items-center justify-content-center subscibeSection-row position-relative"
              [ngClass]="{
                'error-text':
                  subscriberFormGroup.get('emailId').touched &&
                  subscriberFormGroup.get('emailId').invalid
              }"
            >
              <input
                type="email"
                name="email id"
                formControlName="emailId"
                class="input-mail mb-0"
                placeholder="Enter Your Email ID"
              />
              <button
                mat-raised-button
                class="button tertiary subscribe-btn bg-red"
                (click)="onSubscribe()"
              >
                Subscribe Now
              </button>
            </div>
            <span
              class="error-msg"
              *ngIf="
                subscriberFormGroup.get('emailId').touched &&
                subscriberFormGroup.get('emailId').invalid
              "
            >
              Please enter valid email
            </span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 order-2 order-lg-2 banner-img ml-lg-5">
          <img src="../../assets/images/news-letter.svg" alt="News Letter" class="img-fluid pb-3" />
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Other Popular AI Newsletters you may be interested in!</h2>
        </div>

        <div *ngFor="let category of categoryDetail; let i = index" class="container">
          <div class="pb-3 text-left">
            <h3 class="weekly-digest-title">{{ category.displayName | titlecase }}</h3>
          </div>

          <div *ngIf="!spinner.isLoading">
            <div
              *ngFor="let dig of digest[category.id]; let i = index"
              class="digest-card position-relative"
              [ngClass]="category.bgColor"
              (click)="openDigest(dig)"
            >
              <div class="d-flex justify-content-between align-items-top">
                <div class="title">
                  <span *ngIf="dig.category === 'PODCAST'"></span>{{ dig.title }}
                </div>
                <span class="pills mr-0 mt-2">{{dig.topicCode}}</span>
              </div>
              <div class="content-top">
                <div class="description">Author: {{ dig.author }}</div>
                <div class="description">{{ dig.summary }}</div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div class="recommend">
                    <span class="okhand-gray-icon"></span>Recommend
                    <span class="count">({{ dig.recommendations }})</span>
                  </div>
                </div>
                <div class="recommend">
                  <span class="date-icon"></span><span class="count">{{ dig.schedule }}</span>
                </div>
              </div>
              <div *ngIf="dig.category === 'PODCAST'" class="play-button play-icon"></div>
            </div>
          </div>

          <div *ngIf="spinner.isLoading">
            <div
              *ngFor="let i of [1, 2, 3, 4, 5, 6]"
              class="digest-card digest-skeleton skeleton-loader"
            >
              <div class="title loading"></div>
              <div class="author loading"></div>
              <div class="description loading"></div>
              <div class="description loading"></div>
              <div class="footer-items d-flex justify-content-between align-items-center mt-4">
                <div class="badge-item loading"></div>
                <div class="badge-item loading"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
