@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.digest-card {
  background-image: url("../../assets/images/skill-studio-card-pattern.png");
  background-color: #2e375a;
  max-height: 290px;
  max-width: 395px;
  width: 100%;
  padding: 30px;
  color: $white;
  border-radius: 15px;
  margin: 0px 40px 40px 0px;
  display: inline-grid;
  text-align: left;
  &.indigo-purple {
    background-color: #6200a4;
  }
  .title {
    font-size: 26px;
    font-family: 'PROXIMANOVASEMIBOLD';
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    .play-btn {
      background: url("../../assets/images/play-button.png") no-repeat;
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }
  }
  .description {
    font-size: 20px;
    font-family: 'HelveticaNeueLTPro-regular';
    padding-bottom: 20px;
  }
  .calendar-text {
    text-transform: capitalize;
  }
}


.error-msg {
  text-align: left;
  color: red !important;
}