<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="col-lg-12 px-0">
    <section class="container-fluid skill-studio-bg  px-0">
      <div class="container text-center">
        <div class="section-title">
          <h2>Tekcapsule AI Digest</h2>
          <p class="content-sub-text">Connecting you to the latest AI advancements and insights!</p>
          <img src="../../assets/images/news-letter.svg" alt="News Letter" class="pb-3" />
          <p class="content-sub-text">Unlock the power of artificial intelligence with our weekly newsletter. Discover
            the latest AI News, trends, and innovations, handpicked for you. Subscribe now and level up your AI
            knowledge.</p>
          <div class="">
            <div
              class="mx-auto w-50 d-flex align-items-center justify-content-center subscibeSection-row position-relative">
              <input type="email" name="email id" formControlName="emailId" class="input-mail mb-0"
                placeholder="Enter Your Email ID" />
              <button mat-raised-button class="button tertiary subscribe-btn">
                Subscribe Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Other Popular AI Newsletters you may be interested in!</h2>
        </div>
        <div class="section-title text-left pl-5 ml-5">
          <h2>Pod Cast</h2>
        </div>
        <div class="mx-1 text-center">
          <div class="digest-card">
            <div class="title"><span class="play-btn"></span>Channel Name 01</div>
            <div class="description">Author: Linjith Kunnon</div>
            <div class="description">Unlock the power of artificial intelligence with our weekly newsletter. Discover
              the latest AI News, trends.</div>
            <div class="d-flex justify-content-between">
            </div>
          </div>
          <div class="digest-card">
            <div class="title"><span class="play-btn"></span>Channel Name 01</div>
            <div class="description">Author: Linjith Kunnon</div>
            <div class="description">Unlock the power of artificial intelligence with our weekly newsletter. Discover
              the latest AI News, trends.</div>
            <div class="d-flex justify-content-between">
            </div>
          </div>
          <div class="digest-card">
            <div class="title"><span class="play-btn"></span>Channel Name 01</div>
            <div class="description">Author: Linjith Kunnon</div>
            <div class="description">Unlock the power of artificial intelligence with our weekly newsletter. Discover
              the latest AI News, trends.</div>
            <div class="d-flex justify-content-between">
            </div>
          </div>
        </div>
        <div class="section-title text-left pl-5 ml-5 pt-5">
          <h2>Newsletter</h2>
        </div>
        <div class="mx-1 text-center">
          <div class="digest-card indigo-purple">
            <div class="title">Alpha Signal</div>
            <div class="description">Author: Linjith Kunnon</div>
            <div class="description">Unlock the power of artificial intelligence with our weekly newsletter. Discover
              the latest AI News, trends.</div>
          </div>
          <div class="digest-card indigo-purple">
            <div class="title">Alpha Signal</div>
            <div class="description">Author: Linjith Kunnon</div>
            <div class="description">Unlock the power of artificial intelligence with our weekly newsletter. Discover
              the latest AI News, trends.</div>
          </div>
          <div class="digest-card indigo-purple">
            <div class="title">Alpha Signal</div>
            <div class="description">Author: Linjith Kunnon</div>
            <div class="description">Unlock the power of artificial intelligence with our weekly newsletter. Discover
              the latest AI News, trends.</div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>