<section class="d-flex align-items-center">
  <div class="container px-0">
    <div class="row card-section col-card d-flex justify-content-around mb-4 pb-4 pt-5">
      <app-capsule-card class="mb-5"></app-capsule-card>
      <app-capsule-card class="mb-5"></app-capsule-card>
      <app-capsule-card class="mb-5"></app-capsule-card>
      <app-capsule-card class="mb-5"></app-capsule-card>
      <app-capsule-card class="mb-5"></app-capsule-card>
      <app-capsule-card class="mb-5"></app-capsule-card>
    </div>
  </div>
</section>
