<div id="product-page" class="skill-studio-page p-main pb-0">
  <app-spinner></app-spinner>
  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="titleUrl">Marketplace</a>
          <span *ngIf="product">{{ product.title }}</span>
        </div>
      </div>
    </div>
    <section *ngIf="product" class="container-fluid details-page product-detail px-0">
      <section class="align-items-center">
        <div>
          <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6 order-1 order-lg-1 hero-img text-right mr-5">
              <img [src]="product.imageUrl" class="img-fluid b-radius" alt="" />
            </div>
            <div
              class="col-xl-5 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center banner-content"
            >
              <div class="d-flex align-items-top">
                <h2 class="text-white">{{ product.title }}</h2>
                <span class="pills ml-3 bg-navy-blue mt-2">Metaverse</span>
              </div>

              <p class="mb-3">
                {{ product.description }}
              </p>
              <div class="d-flex align-items-center">
                <div class="recommend font-16 d-flex mr-4"><span class="okhand-white-icon pr-3"></span>Recommend
                  <span class="count text-white pl-2">(120)</span>
                </div>
                <div class="d-flex mr-4 align-items-center">
                  <span class="bookmark-icon-white mr-2"></span>Bookmark
                </div>
                <div class="d-flex align-items-center">
                  <span class="free-icon mr-2"></span>Free
                </div>
              </div>
              <button class="button primary-btn-sm mt-4" (click)="onExplore()">
                Check Now
              </button>
            </div>
          </div>
        </div>
      </section>
      <!-- <div id="heroBanner" class="carousel slide inner" data-ride="carousel">
        <div class="carousel-inner pb-4">
          <div class="carousel-item active">
            <div class="w-100 carousel-caption">
             
            </div>
          </div>
        </div>
      </div> -->
    </section>
  </div>
  <div class="bg-light-gray">
    <section class="pt-5 inner">
      <div class="section-title text-center pb-2">
        <h2>Demo & Related Video</h2>
      </div>

      <!-- <div class="card-wrapper">
        <p-carousel
          [value]="productList"
          [numVisible]="3"
          [numScroll]="3"
          [circular]="false"
          [showNavigators]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-product pTemplate="item">
            <app-product-card [product]="product"></app-product-card>
          </ng-template>
        </p-carousel>
      </div> -->
      <div class="row justify-content-between">
        <div class="col-lg-4">
          <div class="video_thumb">
            <img src="../../../assets/images/video-thumbnail-1.png" alt="play icon" class="img-fluid" />
            <div class="play-button"></div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="video_thumb">
            <img src="../../../assets/images/video-thumbnail-2.png" alt="play icon" class="img-fluid" />
            <div class="play-button"></div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="video_thumb">
            <img src="../../../assets/images/video-thumbnail-3.png" alt="play icon" class="img-fluid" />
            <div class="play-button"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div *ngIf="productList.length" class="col-lg-12 bg-gray pb-5 pt-4">
    <section class="pt-3 inner">
      <div class="section-title text-center pb-2">
        <h2>Similar Product from this Category</h2>
      </div>
      <div class="card-wrapper">
        <p-carousel
          [value]="productList"
          [numVisible]="3"
          [numScroll]="3"
          [circular]="false"
          [showNavigators]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-product pTemplate="item">
            <app-product-card [product]="product"></app-product-card>
          </ng-template>
        </p-carousel>
      </div>
    </section>
  </div>
</div>
