@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';
@import '../market-place.component.scss';

.details-page {
    background: url("../../../assets/images/marketplace/marketplace-detail-bg-pattern.svg") no-repeat, linear-gradient(258deg, #421F90 0%, #4C3176 53%, #C61B9F 100%) 0% 0% no-repeat;
    width: 100%;
    height: 383px;
    color: $white;
    padding-top: 80px;
}
.play-button {
    top: calc(50% - 25px);
}
.video-icon {
    background: url("../../../assets/images/video-icon.png") no-repeat;
    width: 41px;
    height: 22px;
}
h2 {
    font-size: 26px;
    font-family: $primary-font-black;
}
.card-wrapper {
    display: block;
}
