@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';


button {
  background: yellow;
  border: 2px solid blue;
  font-weight: 700;
  padding: 5px 5px 5px 5px;
}

label {
  font-size: 1.1em;
  font-weight: 600;
}

.chart-container {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  width: 95%;
}

.chart-options{
    margin-left: 5px;
    margin-right: 10px;
}

.chart-card {
  margin-top: 5px;
  margin-bottom: 5px;
}
svg {
    width: 95%;
}

@media (min-height: 500px) {
  svg {
    height: 400px;
  }
}
@media (min-height: 750px) {
  svg {
    height: 500px;
  }
}
@media (min-height: 1000px) {
  svg {
    height: 800px;
  }
}
