<div class="services-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <div class="container">
    <nav id="breadcrumbs" class="container breadcrumbs">
      <span>
        <span><a href="/">Home</a></span>
        <img src="../../assets/images/breadcrumb_arrow.png" />
        <span class="breadcrumb_last" aria-current="page">Services</span>
      </span>
    </nav>
  </div>
  <section class="page-banner services-banner-bg">
    <div class="inner row">
      <div
        class="col-xl-5 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content px-0"
      >
        <h1 class="text-white animate__animated animate__fadeInUp delay-1">
          Your Partner in Growth
        </h1>
        <h4 class="text-white content-sub-text animate__animated animate__fadeInUp delay-2">
          Take your business to the next level with our comprehensive services, tailored to meet
          your specific needs. Our experts deliver high-quality solutions that drive success.
        </h4>
        <!--
        <button
          mat-raised-button
          class="button primary mt-2 animate__animated animate__fadeInUp delay-3"
        >
          Explore
        </button>-->
      </div>
      <div class="banner-rh-section order-2 order-lg-2">
        <img
          src="assets/images/banner/services.png"
          class="img-fluid animate__animated animate__fadeIn delay-2"
          alt="services"
        />
      </div>
    </div>
  </section>
  <div class="inner mb-5">
    <!-- ======= Our Services ======= -->
    <section class="animate__animated animate__fadeInUp delay-2">
      <div class="row align-items-center mb-5">
        <div class="col-lg-12 text-center">
          <h3>Our Offerings</h3>
          <p class="content-sub-text">
            Whether you're seeking user-centric interfaces, tailored learning platforms, or
            <br />cutting-edge AI integration, our expert team delivers transformative solutions.
          </p>
        </div>
      </div>
    </section>
    <section class="mb-5">
      <div class="soln-block">
        <div class="soln-card animate__animated animate__fadeInUp delay-3">
          <div class="img-block service-1"  routerLink="/services/Branding_Solutions">
            <div class="service-caption">
              <p class="bg-5">
                Branding <br />
                Solutions
              </p>
            </div>
          </div>
          <div class="content-block">
            <p>
              Transform your startup or business with our comprehensive branding solutions, including custom websites,
              brand kits, and social media templates—all delivered in just 5 days. We handle your
              brand's online presence so you can focus on what you do best.
            </p>

            <a routerLink="/services/Branding_Solutions" class="know-more">Know More</a>
          </div>
        </div>
        <div class="soln-card animate__animated animate__fadeInUp delay-3">
          <div class="img-block service-2" routerLink="/services/Product_Engineering">
            <div class="service-caption">
              <p class="bg-5">
                Product <br />
                Engineering
              </p>
            </div>
          </div>
          <div class="content-block">
            <p>
              Transform your ideas into powerful solutions with our Product Engineering services. We
              plan strategically, use flexible development methods, build strong foundations for
              growth, ensure product reliability through rigorous testing, and continue optimizing
              after launch for ongoing innovation.
            </p>

            <a routerLink="/services/Product_Engineering" class="know-more">Know More</a>
          </div>
        </div>
        <div class="soln-card animate__animated animate__fadeInUp delay-3">
          <div class="img-block service-3" routerLink="/Course_Development">
            <div class="service-caption">
              <p class="bg-5">Course <br />Development</p>
            </div>
          </div>
          <div class="content-block">
            <p>
              Develop engaging and effective courses with our expert course development
              services for LMS. We create tailored learning experiences that drive results
              and enhance your training programs.

              <a routerLink="/Course_Development" class="know-more">Know More</a>
            </p>
          </div>
        </div>
        <div class="soln-card animate__animated animate__fadeInUp delay-4">
          <div class="img-block service-4" routerLink="/services/Talent_Solutions">
            <div class="service-caption">
              <p class="bg-5">
                Talent<br />
                Solutions
              </p>
            </div>
          </div>
          <div class="content-block">
            <p>
              We deliver tailored Talent solutions that meet your unique business needs. Our team of
              experts sources and screens candidates to ensure the best fit for your organization.
              Whether you need temporary, contract, or permanent staff, we provide reliable
              solutins.
            </p>

            <a  routerLink="/services/Talent_Solutions" class="know-more">Know More</a>
          </div>
        </div>
        <div class="soln-card animate__animated animate__fadeInUp delay-4">
          <div class="img-block service-5" routerLink="/services/Corporate_Trainings">
            <div class="service-caption">
              <p class="bg-5">
                Corporate<br />
                Trainings
              </p>
            </div>
          </div>
          <div class="content-block">
            <p>
              Our comprehensive programs cater to diverse needs, ensuring seamless knowledge
              transfer and skill development. Enhance your team's capabilities by leveraging our
              corporate training services.
            </p>

            <a routerLink="/services/Corporate_Trainings" class="know-more">Know More</a>
          </div>
        </div>
        <div class="soln-card animate__animated animate__fadeInUp delay-4">
          <div class="img-block service-6" routerLink="/services/Odoo_Business_Solutions">
            <div class="service-caption">
              <p class="bg-5">
                Odoo Business <br />
                Solutions
              </p>
            </div>
          </div>
          <div class="content-block">
            <p>
              Odoo Business Solutions provides expert consulting and seamless implementation services to enhance your business operations.
              Our tailored Odoo solutions are designed to streamline your processes, improve efficiency, and support your growth ambitions.
            </p>

            <a routerLink="/services/Candidate_Screening" class="know-more">Know More</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container-fluid tech-stack-col">
    <section class="text-center animate__animated animate__fadeInUp delay-4">
      <h3>Our Technology Stack</h3>
      <p class="content-sub-text">
        Dive into our technology stack, highlighting our proficiency in a diverse set of
        technologies and platforms.
      </p>
      <div class="d-block mt-5">
        <div class="tech-stack">
          <img src="../../assets/images/products/tech-stack-1.png" />
          <img src="../../assets/images/products/tech-stack-2.png" />
          <img src="../../assets/images/products/tech-stack-3.png" />
          <img src="../../assets/images/products/tech-stack-4.png" />
          <img src="../../assets/images/products/tech-stack-5.png" />
          <img src="../../assets/images/products/tech-stack-6.png" />
        </div>
      </div>
      <div class="d-block">
        <div class="tech-stack">
          <img src="../../assets/images/products/tech-stack-7.png" />
          <img src="../../assets/images/products/tech-stack-8.png" />
          <img src="../../assets/images/products/tech-stack-9.png" />
          <img src="../../assets/images/products/tech-stack-10.png" />
          <img src="../../assets/images/products/tech-stack-11.png" />
          <img src="../../assets/images/products/tech-stack-12.png" />
        </div>
      </div>
    </section>
  </div>
  <div id="coll-form-bg" class="inquiry-form">
    <section class="form-bg animate__animated animate__fadeInUp delay-5">
      <app-collaborate-form [pageType]="'whatWeDo'"></app-collaborate-form>
    </section>
  </div>
</div>

<app-login-required
  [isDialogVisible]="isLoginRequiredDialogShown"
  (dialogClosed)="hideLoginRequiredDialog()"
></app-login-required>
