@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';
@import '../courses.component.scss';

.container {
  max-width: 1336px !important;
}
.course-img {
    height: 292px;
    margin-right: 90px;
    border-radius: 20px;
    width: inherit;
}
.course-tile {
    max-width: 1375px;
}
.date-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    display: inline-block;
    &.dark {
      background: url("../../../assets/images/date-icon-black.png") no-repeat;
    }
  }
  .link-icon {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    display: inline-block;
    background: url("../../../assets/images/link-icon.png") no-repeat;
  }

  .course-card {
    cursor: pointer;
  }
  .box-content {
    padding: 20px;
    border: 1px solid #E8EDFF;
    margin-bottom: 15px;
  }
  .course-highlight {
    color: $white;
    li {
      list-style-image: url('../../../assets/images/course-list-icon.svg');
      font-family: $primary-font-regular;
      font-size: 16px;
      line-height: 40px;
      padding: 0px 10px;
      &.duration {
        list-style-image: url('../../../assets/images/duration.svg');
      }
      &.delivery {
        list-style-image: url('../../../assets/images/delivery.svg');
      }
      &.learning {
        list-style-image: url('../../../assets/images/learning.svg');
      }
    }
  }

