.p-dialog {
  width: 50vw !important;
}
.share-container {
  border: 0 none;
  padding: 0;
  .user-post {
    height: 100px;
    border: 0 none;
    padding: 0;
  }
}
.p-dialog .p-dialog-content {
  padding: 0 !important;
}

.feeds-blog-container {
  margin-top: 0 !important;
}
.share-icons {
  justify-content: flex-start !important;
}
.share-btn {
  padding: 3px 20px;
  border: 1px solid #cbcbcb;
  border-radius: 18px;
  margin-right: 20px;
  &:is(.news, .article, .course, .events, .video) {
    background-position-x: 15px;
    background-position-y: 10px;
  }
}
