<div class="aboutus-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <div class="container">
    <nav id="breadcrumbs" class="container breadcrumbs">
      <span
        ><span><a href="/">Home</a></span> <img src="../../assets/images/breadcrumb_arrow.png" />
        <span class="breadcrumb_last" aria-current="page">About Us</span></span
      >
    </nav>
  </div>
  <section class="page-banner aboutus-banner-bg">
    <div class="inner row">
      <div
        class="col-xl-7 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content px-0"
      >
        <h1 class="text-white animate__animated animate__fadeInUp delay-1">
          Our Purpose, Our Passion
        </h1>
        <h4 class="text-white content-sub-text animate__animated animate__fadeInUp delay-2">
          Discover how our values and mission unite us in empowering our customers and team to rech
          their full potential.
        </h4>
        <button
          mat-raised-button
          class="button primary mt-2 animate__animated animate__fadeInUp delay-3"
        >
          Explore
        </button>
      </div>
      <div class="banner-rh-section order-2 order-lg-2">
        <img
          src="assets/images/banner/aboutus.png"
          class="img-fluid animate__animated animate__fadeIn delay-2"
          alt="services"
        />
      </div>
    </div>
  </section>

  <!-- ======= Our Values Section ======= -->
  <section>
    <div class="inner">
      <div>
        <div class="contentn text-center">
          <h3>Our Mission &amp; Vision</h3>
          <div class="describe">
            The foundation of our purpose is built on a strong mission and vision, <br> that inspire us to
            innovate and excel in everything we do.
          </div>

          <div class="mv-block">
            <div class="mv-card mission-bg">
              <h4 class="card-header">Mission</h4>
              <p class="card-content">
                To drive customer success through innovative solutions. We deliver on this promise
                with passion, expertise, and a commitment to our team's well-being and customer
                satisfaction.
              </p>
            </div>
            <div class="mv-card vision-bg">
              <h4 class="card-header">Vision</h4>
              <p class="card-content">
                To lead the way in every market we serve, delivering exceptional value and service,
                driving prosperity and growth for our team, clients, and partners. <br>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= Our Values Section ======= -->
  <section class="container-fluid core-value">
    <div class="inner skillstudio pb-3">
      <div class="text-center pb-5">
        <h3>Our Core Values</h3>
        <div class="describe">
          We aspire to be the world’s most exceptional technology company,
          <br />united by our shared values of learning, excellence, adaptability and divergence.
        </div>
      </div>
      <div class="our-values">
        <div class="value-panel learning">
          <div class="content">
            <h4>Learn</h4>
            <p>
              We believe that learning is a lifelong journey. We embrace curiosity and seek
              knowledge to drive growth and innovation.
            </p>
          </div>
        </div>
        <div class="value-panel excellence">
          <div class="content">
            <h4>Excel</h4>
            <p>
              We belive in setting the bar high. We aim to excel in our work, our relationships, and
              our impacts.
            </p>
          </div>
        </div>
        <div class="value-panel adaptability">
          <div class="content">
            <h4>Adapt</h4>
            <p>
              We belive in being agile and responsive. We adapt to new challenges, technologies, and
              opportunities.
            </p>
          </div>
        </div>
        <div class="value-panel diversity">
          <div class="content">
            <h4>Diverge</h4>
            <p>We encourage our team to challenge assumptions, explore new ideas, and innovate.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
