<div class="aboutus-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <section class="about-banner">
    <div class="container-fluid text-center pt-5">
      <h2 class="text-white">Pioneering Innovation for a Digital Tomorrow</h2>
      <h5 class="text-white pb-3 content-sub-text">Founded in 2023, we are a dynamic technology company based in Bengaluru, committed to <br>
        pioneering innovative solutions and transforming the digital landscape for our customers.</h5>
      <img src="../../assets/images/about/about-us-banner.png" alt="" class="img-fluid" />
    </div>
  </section>

  <!-- ======= Our Values Section ======= -->
  <section>
    <div class="inner">

      <div class="mission-section">
        <div class="content">
          <h3>Our Mission &amp; Vision</h3>
          <p class="mb-5">To propel customer success through impactful solutions. This commitment is realized through unwavering passion,
            profound expertise, and an absolute dedication to the well-being of our team and the satisfaction of our customers.</p>
          <p>To emerge as a preeminent leader in every market we engage, delivering unrivaled value and exceptional service,
            fostering mutual prosperity and growth for our team, clients, and stakeholders.</p>
        </div>

      </div>
    </div>
  </section>
  <!-- ======= Our Values Section ======= -->
  <section class="container-fluid core-value">
    <div class="inner skillstudio pb-3">
      <div class="text-center pb-5">
        <h3>Our Core Values</h3>
        <p>We aspire to be the world’s most exceptional technology training and consulting company, <br>united by our
          shared values of learning, excellence, adaptability and diversity.
        </p>
      </div>
      <div class="our-values">
        <div *ngIf="isMobileResolution">
          <img src="../../assets/images/about/lead.png" alt="" class="img-fluid" />
        </div>
        <div class="value-panel cols-4">
          <h4>Learning</h4>
          <p>We foster an environment that encourages continuous learning and nurture curiosity.</p>
        </div>
        <div class="value-panel cols-2">
          <h4>Excellence</h4>
          <p>We aim to provide top-notch, technology training resources for every user.</p>
        </div>
        <div class="value-panel cols-4">
          <h4>Adaptability</h4>
          <p>We are agile, continuously evolving to meet the changing needs of our customers and community.</p>
        </div>
        <div class="value-panel cols-2">
          <h4>Diversity</h4>
          <p>We value and promote inclusivity, ensuring our platform is welcoming to all.</p>
        </div>
        <div class="lead-img mob-hide">
          <img src="../../assets/images/about/lead.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
</div>
