<div class="aboutus-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <div class="container">
    <nav id="breadcrumbs" class="container breadcrumbs"><span><span><a href="/">Home</a></span> <img
      src="../../assets/images/breadcrumb_arrow.png">
    <span class="breadcrumb_last" aria-current="page">About Us</span></span></nav>
  </div>
  <section class="page-banner aboutus-banner-bg">
    <div class="inner row">
      <div
        class="col-xl-7 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content px-0">
        <h1 class="text-white animate__animated animate__fadeInUp delay-1">Our mission is to democratize access to technology education</h1>
        <h4 class="text-white content-sub-text animate__animated animate__fadeInUp delay-2">We are committed to nurturing curiosity, facilitating continuous learning,</h4>
        <button mat-raised-button class="button primary mt-2 animate__animated animate__fadeInUp delay-3" >
          Explore
        </button>
      </div>
      <div class="banner-rh-section order-2 order-lg-2">
        <img src="assets/images/banner/aboutus.png" class="img-fluid animate__animated animate__zoomIn delay-2"
          alt="services" />
      </div>
    </div>
  </section>

  <!-- ======= Our Values Section ======= -->
  <section>
    <div class="inner">
      <div>
        <div class="contentn text-center">
          <h3>Our Mission &amp; Vision</h3>
          <div class="describe">We aspire to be the world’s most exceptional technology training and consulting company, united by our shared values of learning, excellence, adaptability and diversity.</div>

        <div class="mv-block">
          <div class="mv-card mission-bg">
            <h4 class="card-header">Mission</h4>
            <p class="card-content">To propel customer success through impactful solutions. This commitment is realized through unwavering passion, profound expertise, and an absolute dedication to the well-being of our team and the satisfaction of our customers.</p>
          </div>
          <div class="mv-card vision-bg">
            <h4 class="card-header">Vision</h4>
            <p class="card-content">To emerge as a preeminent leader in every market we engage, delivering unrivaled value and exceptional service, fostering mutual prosperity and growth for our team, clients, and stakeholders.</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= Our Values Section ======= -->
  <section class="container-fluid core-value">
    <div class="inner skillstudio pb-3">
      <div class="text-center pb-5">
        <h3>Our Core Values</h3>
        <div class="describe">We aspire to be the world’s most exceptional technology training and consulting company, <br>united by our
          shared values of learning, excellence, adaptability and diversity.
        </div>
      </div>
      <div class="our-values">
        <div class="value-panel learning">
          <div class="content">
            <h4>Learning</h4>
            <p>We foster an environment that encourages continuous learning and nurture curiosity.</p>
        </div>
        </div>
        <div class="value-panel excellence">
          <div class="content">
          <h4>Excellence</h4>
          <p>We aim to provide top-notch, technology training resources for every user.</p>
          </div>
        </div>
        <div class="value-panel adaptability">
          <div class="content">
          <h4>Adaptability</h4>
          <p>We are agile, continuously evolving to meet the changing needs of our customers and community.</p>
          </div>
        </div>
        <div class="value-panel diversity">
          <div class="content">
          <h4>Diversity</h4>
          <p>We value and promote inclusivity, ensuring our platform is welcoming to all.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
