<div class="appstore-tile" (click)="openProductDetails()">
  <div class="app-logo">
    <img [src]="product.imageUrl" alt="" />
  </div>
  <div class="position-relative">
    <div class="bookmark-icon-animated"></div>
  </div>
  <div class="content">
    <div class="title">{{ product.title }}</div>
    <p class="description">{{ product.summary }}</p>
    <div class="pills">{{ product.category }}</div>
    <div class="d-flex justify-content-between market-card-footer">
      <div class="recommend"><span class="okhand-gray-icon"></span>Recommend <span
        class="count">({{ product?.recommendations }})</span>
    </div>
      <div class="d-flex align-items-center">
        <span class="premium-gray-icon"></span>{{ product?.prizingModel }}
      </div>
    </div>
  </div>
</div>
