<div class="appstore-tile" (click)="openProductDetails()">
  <div class="app-logo">
    <img [src]="product.imageUrl" alt="" />
  </div>
  <div class="content">
    <div class="title">{{ product.title }}</div>
    <p class="description">{{ product.summary }}</p>
    <div class="badge category">{{ product.category }}</div>
    <div class="mt-3 d-flex align-items-center justify-content-between">
      <div class="pl-0"><span class="okhand-icon pr-4"></span>{{ product.recommendations }}</div>
      <div class="badge free">{{ product.prizingModel }}</div>
    </div>
  </div>
</div>
