<div>
  <div class="filter-column">
    <div class="filter-heading" data-toggle="collapse" href="#filterAccordion" aria-expanded="true">
      Filter
    </div>
    <div id="filterAccordion" class="collapse show filter-accordion-content">
      <div class="filter-topic">Topic</div>
      <div *ngFor="let topic of topics" class="field-checkbox pb-2">
        <p-checkbox
          name="topic"
          [value]="topic.code"
          [(ngModel)]="selectedTopic"
          [inputId]="topic.code"
          (onChange)="onFilterChange($event, topic.code)"
        ></p-checkbox>
        <label [for]="topic.code">{{ topic.title }}</label>
      </div>
      <div class="filter-topic mt-4">Price Type</div>
      <div *ngFor="let category of paymentCategories" class="field-checkbox pb-2">
        <p-checkbox
          name="payment"
          [value]="category.key"
          [inputId]="category.key"
          [(ngModel)]="selectedPayments"
          (onChange)="onFilterChange($event, category.key)"
        ></p-checkbox>
        <label [for]="category.key">{{ category.name }}</label>
      </div>
      <div class="filter-topic mt-4">Delivery Mode</div>
      <ng-container *ngIf="pageId === 'Course' || pageId === 'Events' || pageId === 'Interview_Prep'">
        <div *ngFor="let dm of deliveryMode" class="field-checkbox pb-2">
          <p-checkbox
          name="delivery"
          [value]="dm.key"
          [inputId]="dm.key"
          [(ngModel)]="selectedDeliveryMode"
          (onChange)="onFilterChange($event, dm.key)"
          ></p-checkbox>
          <label [for]="dm.key">{{ dm.name }}</label>
        </div>
      </ng-container>
      </div>
  </div>
</div>