<p-dialog
  [(visible)]="isDialogVisible"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onDialogClosed()"
>
<div>
    <div class="text-center pb-0 section-title">
      <h1 class="text-white">Contact Sales</h1>
      <p class="text-white pb-3">We are excited to hear from you, please drop a note!</p>
    </div>
    <div class="row">
      <div class="col-lg-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="First Name" />
    </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name" />
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email Address" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Company" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Job Title" />

        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Phone Number" />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Country" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <textarea class="form-control" placeholder="Comments" rows="3" name="description" formControlName="description"></textarea>
    </div>
    <div>      
      <button class="button primary btn-bg mr-3">Submit</button>
      <button class="button secondary bg-white primary-color">Cancel</button>
    </div>
  </div>
</p-dialog>
