<div class="main-container feeds-card-skeleton skeleton-loader">
  <div class="d-flex top-content">
    <div class="profile-pic-skeleton loading"></div>
    <div class="w-100">
      <div class="author-skeleton loading"></div>
      <div class="title-skeleton loading"></div>
    </div>
  </div>
  <div>
    <div class="description-skeleton loading"></div>
    <div class="description-skeleton loading"></div>
    <div class="description-skeleton loading"></div>
    <div class="description-skeleton loading"></div>
    <div class="description-skeleton loading"></div>
  </div>
  <div class="position-relative image-area">
    <div class="image-skeleton loading"></div>
  </div>
  <div class="status-skeleton first-item loading"></div>
  <div class="status-skeleton loading"></div>
</div>
