@import './../../../../assets/styles/variables.scss';

.feeds-card-skeleton {
  .top-content {
    margin-bottom: 20px;
  }
  .profile-pic-skeleton {
    height: 50px;
    width: 50px;
    min-width: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .author-skeleton {
    height: 20px;
    width: 40%;
    margin-bottom: 10px;
  }
  .title-skeleton {
    height: 16px;
    width: 80%;
  }
  .description-skeleton {
    height: 16px;
    width: 100%;
    margin-bottom: 10px;
  }
  .image-area {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .image-skeleton {
    height: 200px;
  }
  .status-skeleton {
    height: 20px;
    border-radius: 2px;
    &.first-item {
      margin-bottom: 14px;
    }
  }
  .author-skeleton,
  .title-skeleton,
  .description-skeleton {
    border-radius: 2px;
  }
}
