@import './../../assets/styles/variables.scss';
// @import './../home/components/home-carousel/home-carousel.component.scss';

/**************Carousel Style******************/

    /*******Card Tile******/
    .skill-card {
        display: inline-flex;
        margin: 0px 40px 40px 0px;
        border: 0 none;
        @media only screen and (max-width: 990px) {
            margin: 0;
        }
    .topics-card {
        height: 192px;
        width: 395px;
        box-shadow: 0px 3px 39px #0000000f;
        transition: 0.3s;
        color: #fff;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        @media only screen and (max-width: 990px) { 
            height: 170px;
            width: 340px;
            padding: 10px;
        }

        cursor: pointer;
        .topic-title {
            font-size: 24px;
            font-family: $heading-fonts;
        }
        .topic-icon {
            margin: 10px auto 0;
            &.icon-1, &.icon-2, &.icon-3, &.icon-4, &.icon-5, &.icon-6 {
                background-size: 70%;
                background-repeat: no-repeat;
                @media only screen and (max-width: 990px)
                {
                    background-size: 90%;
                    background-repeat: no-repeat;
                    max-height: 60px!important;
                    width: 50px!important;
                }
            }

            &.icon-1 {
                background-image: url("../../assets/images/skill-course-icon.svg");
                height: 62px;
                width: 62px;
            }
            &.icon-2 {
                background-image: url("../../assets/images/skill-course-icon.svg");
                height: 62px;
                width: 62px;
            }
            &.icon-3 {
                background-image: url("../../assets/images/skill-mentoring-icon.svg");
                height: 68px;
                width: 87px;
            }
            &.icon-4 {
                background-image: url("../../assets/images/skill-digest-icon.svg");
                width: 66px;
                height: 64px;
            }
            &.icon-5 {
                background-image: url("../../assets/images/skill-interview-icon.svg");
                width: 97px;
                height: 71px;
            }
            &.icon-6 {
                background-image: url("../../assets/images/skill-events-icon.svg");
                width: 60px;
                height: 67px;
            }
        }
        &.tile-bg-1 {
            background: url("../../assets/images/tile-bg-1.png") no-repeat 0 0/100%;
        }
        &.tile-bg-2 {
            background: url("../../assets/images/tile-bg-2.png") no-repeat 0 0/100%;
        }
        &.tile-bg-3 {
            background: url("../../assets/images/tile-bg-3.png") no-repeat 0 0/100%;
        }
        &.tile-bg-4 {
            background: url("../../assets/images/tile-bg-4.png") no-repeat 0 0/100%;
        }
        &.tile-bg-5 {
            background: url("../../assets/images/tile-bg-5.png") no-repeat 0 0/100%;
        }
        &.tile-bg-6 {
            background: url("../../assets/images/tile-bg-6.png") no-repeat 0 0/100%;
        }
        &:hover {
          transform: scale(1.03);
          box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
        }
        .header-image {
            height: 180px;
            width: 100%;
            margin-bottom: 20px;
          }
    }
}