@import './../../../../assets/styles/variables.scss';

/* Capsule Card Styles - Start */
.capsule-card-container {
  width: 332px;
  height: 508px;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
  margin-right: 20px;
}

.capsule-card {
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 20px #0000000f;
  border-radius: 20px;
  margin: 0 20px;
  transition: 1s;
  background: #fff;
  margin-bottom: 40px;
  // cursor: pointer;
  // backface-visibility: hidden;
  border: 1px solid #cbcbcb;
  // transition: transform .15s ease-out;
  transform: translateZ(0);
  will-change: transform;
  .card-head {
    position: relative;
    height: 150px;
    .icons {
      text-align: center;
      cursor: pointer;
      position: absolute;
      background: #fcfafa;
      border-radius: 20px;
      margin: 10px;
      padding: 5px 7px 7px;
      height: 35px;
      width: 35px;
      &::before {
        transition-duration: 0.5s;
        box-shadow: inset 0 0 0 1px $primary-color;
      }
      &:hover::before {
        box-shadow: inset 0 0 0 $primary-color;
      }
      &.bookmark {
        right: 0;
      }
      &.labelRed,
      &.timer {
        bottom: 20px;
        width: auto;
        background: $primary-color;
        border-radius: 0px;
        color: $white;
        margin: 10px 10px;
        font-size: 14px;
        height: auto;
        padding: 2px 7px;
      }
      &.timer {
        right: 0;
        background: #00000090;
        border: 1px solid $white;
        border-radius: 2px;
        span {
          margin-left: 5px;
          vertical-align: middle;
        }
      }
    }
    .header-image {
      height: 140px;
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom: 1px solid #f3f3f3;
    }
    .play-button {
      position: absolute;
      top: calc(50% - 35px);
      left: calc(50% - 29px);
      width: 40px;
      height: 40px;
      transition: background-color 0.5s ease;
      background-repeat: no-repeat;
      background-image: url('../../../../assets/images/play-button.svg');
      transition: all 0.35s ease-in-out;
      &:hover {
        -webkit-transition: background-position 200ms ease-in-out;
        -moz-transition: background-position 200ms ease-in-out;
        transition: background-position 200ms ease-in-out;
        background-image: url('../../../../assets/images/play-button-hover.svg');
        // animation: pulse-border 1500ms ease-out infinite;
        animation-name: pulse-border;
        animation-duration: 1500ms;
        animation-delay: ease-out;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
        transition: all 0.35s ease-out;
      }
    }
  }
  .card-content {
    padding: 0 30px;
    .title {
      font-size: 16px;
      padding-bottom: 5px;
      font-family: $primary-font-medium;
      line-height: 23px;
      height: 70px;
      margin-top: 20px;
      margin-bottom: 12px;
      p {
        font-family: $primary-font-medium;
        font-size: 14px;
        span {
          font-family: $primary-font-regular;
          color: #9b9b9b;
        }
      }
    }
    .description {
      font-family: $primary-font-regular;
      font-size: 14px;
      min-height: 190px !important;
      height: -webkit-fit-content;
      @media only screen and (min-device-width: 375px) and (max-device-width: 414px) {
        min-height: 222px !important;
      }
      /* Added to fix description overflow */
      max-height: 190px;
      overflow: hidden;
      // overflow-y: auto; // uncomment to show scroll for description
    }
    .card-footer {
      background: none;
      border: 0 none;
      padding-left: 0;
      padding-right: 0;
      align-items: center;
      img {
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    margin: 0 0px;
  }
  &:hover {
    // transform: scale(1.05);
    box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
    // backface-visibility: hidden;
    @media only screen and (max-width: 768px) {
      transform: none;
    }
  }
  .button.secondary-btn-sm {
    width: auto !important;
    display: flex;
    height: 25px;
    padding: 2px 10px;
    transition: all 150ms ease-in-out;
    &:hover {
      background: $primary-color;
      color: $white;
      // box-shadow: 0 0 0px 0 #EC0085 inset, 0 0 10px 1px #EC0085!important;
      .flip-icon {
        background: url('../../../../assets/images/flip-icon-hover.svg') no-repeat;
      }
      .share-icon {
        background: url('../../../../assets/images/share-icon-hover.svg') no-repeat;
      }
    }
    .flip-icon {
      background: url('../../../../assets/images/flip-icon.svg') no-repeat;
      width: 15px;
      height: 13px;
      margin: 4px 0px 4px 6px;
    }
  }
}

@keyframes pulse-border {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.flip-card {
  cursor: default;
  .title {
    min-height: 46px !important;
    // padding-bottom: 10px;
  }
  .description {
    min-height: 380px;
  }
  @media not all and (min-resolution: 0.001dpcm) {
    .description {
      min-height: 350px;
    }
  }
  label {
    margin-bottom: 10px;
    img {
      padding-right: 10px;
    }
    span {
      font-family: $primary-font-regular;
      font-size: 15px;
      color: #7a7a7a;
      padding-right: 30px;
    }
  }
  .tags-input {
    label {
      font-family: $primary-font-regular;
      font-size: 15px;
      color: #5a6885;
      background: #fff;
      position: absolute;
      margin-left: 10px;
      margin-top: -22px;
      padding: 10px 15px;
      &.tags {
        display: inline-block;
        position: relative;
        color: #5a6885;
        background: #e4ebf9;
        border-radius: 25px;
        padding: 5px 20px;
        margin-bottom: 15px;
      }
    }
    .tags-label {
      border: 1px solid #e4ebf9;
      border-radius: 10px;
      min-height: 160px;
      padding: 30px 10px;
      margin-bottom: 20px;
    }
  }
  .key-points {
    border: 1px solid #dbdbdb;
    padding: 20px;
    background: #f9f9f9;
    height: 250px;
    overflow-y: scroll;
    .flip-title {
      font-family: $primary-font-bold;
      font-size: 16px;
      color: black;
    }
    .key-points-list {
      font-family: $primary-font-medium;
      font-size: 14px;
      color: #5e5e5e;
      padding-inline-start: 18px;
      li {
        padding-bottom: 10px;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
  .shield {
    img {
      padding-left: 5px;
    }
  }
}

.card-flipper {
  width: 100%;
  height: 100%;
  position: relative;
  // transition: transform 1s;

  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
.card-flipper.web-flipper {
  transform-style: preserve-3d;
  perspective: 600px;
  .card-front,
  .card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
.card-flipper.web-flipper.front-flipped .card-front {
  transform: rotateY(180deg);
}

.card-flipper.web-flipper.back-flipped .card-back {
  transform: rotateY(180deg);
}

/* Capsule Card Styles - End */
