<div class="capsule-card-container card" *ngIf="capsule">
  <div
    class="card-flipper back-flipped"
    [class.front-flipped]="isCardFlipped"
    [class.back-flipped]="!isCardFlipped"
    [ngClass]="{'web-flipper': !isMobileResolution}"
  >
    <div *ngIf="!isMobileResolution || (isMobileResolution || !isCardFlipped)" class="capsule-card card-front">
      <div class="card-head">
        <div class="icons bookmark" *ngIf="canShowBookmark()">
          <img
            src="/assets/images/bookmark-filled.svg"
            class="rounded-img"
            *ngIf="isBookmarked()"
            (click)="onCapsuleBookmarkRemove()"
            alt="bookmark filled"
          />
          <img
            src="/assets/images/bookmark-icon.svg"
            class="rounded-img"
            *ngIf="!isBookmarked()"
            (click)="onCapsuleBookmark()"
            alt="bookmark"
          />
        </div>
        <div class="icons okHand" (click)="onCapsuleRecommend()">
          <img
            *ngIf="!isCapsuleRecommended"
            class="rounded-img"
            src="/assets/images/okhand-icon.svg"
            alt="okhand icon"
          />
          <img
            *ngIf="isCapsuleRecommended"
            class="rounded-img"
            src="/assets/images/okhand-icon-active.svg"
            alt="okhand icon filled"
          />
        </div>
        <div class="icons timer">
          <img src="/assets/images/timer.svg" class="rounded-img" alt="timer" /><span
            >{{ capsule.duration }} mins</span
          >
        </div>
        <div class="icons labelRed">
          <span>#{{ topicDetail?.title }}</span>
        </div>
        <div class="video_thumb" (click)="onCardClick()">
          <img [src]="capsule.imageUrl" class="header-image" alt=" play icon" />
          <div *ngIf="capsule.type === 'VIDEO'" class="play-button"></div>
        </div>
      </div>
      <div class="card-content">
        <div class="title" (click)="onCardClick()">
          {{ capsule.title }}
          <p class="pb">
            by {{ capsule.author }} <span>({{ dateAgoStr }})</span>
          </p>
        </div>
        <div class="description" (click)="onCardClick()">
          <p>
            {{ capsule.description }}
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <div class="icon-type float-left">
            <span [ngClass]="capsule.type.toLowerCase() + '-icon'"></span>
          </div>
          <!--img src="/assets/images/article-icon.svg" class="float-left" /-->
          <div class="float-right d-flex">
            <button
              *ngIf="capsule.type !== 'AD'"
              mat-stroked-button
              class="button secondary-btn-sm"
              (click)="doFlipCard()"
            >
              Read Highlights<span class="flip-icon" aria-label="read highlights"></span>
            </button>
            <button
              mat-stroked-button
              class="button secondary-btn-sm ml-2"
              (click)="onShareClick()"
            >
              Share <span class="share-icon" aria-label="share"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isMobileResolution || (isMobileResolution || isCardFlipped)" class="capsule-card card-back">
      <div class="card-content flip-card mt-4">
        <div class="title">{{ capsule.title }}</div>
        <div class="description">
          <label>
            <img src="/assets/images/eye-icon.svg" alt="eye icon" />
            <span>{{ capsule.views }}</span>
          </label>
          <label>
            <img
              src="/assets/images/bookmark-filled.svg"
              *ngIf="isBookmarked()"
              (click)="onCapsuleBookmarkRemove()"
              alt="bookmark filled"
            />
            <img
              src="/assets/images/bookmark-icon.svg"
              *ngIf="!isBookmarked()"
              (click)="onCapsuleBookmark()"
              alt="bookmark"
            />
            <span>{{ capsule.bookmarks }}</span>
          </label>
          <label>
            <img src="/assets/images/okhand-icon.svg" alt="ok hand" />
            <span>{{ capsule.recommendations }}</span>
          </label>
          <!-- <div class="tags-input">
            <label>Tags</label>
            <div class="tags-label">
              <ng-container *ngFor="let tag of capsule.tags">
                <label class="tags">#{{ tag }}</label>
              </ng-container>
            </div>
          </div> -->
          <div class="key-points">
            <p class="flip-title">Key Points</p>
            <ul *ngIf="capsule.keyPoints" class="key-points-list">
              <li *ngFor="let keyPoint of capsule.keyPoints">{{ keyPoint }}</li>
            </ul>
          </div>
          <div class="shield mb-4 pt-2">
            <ng-container *ngFor="let url of getCapsuleBadgeUrls()">
              <img [src]="url" alt="shield icons" />
            </ng-container>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button class="button primary-btn-sm d-flex w-auto px-3" (click)="onCardClick()">
            <span [ngClass]="capsule.type.toLowerCase() + '-icon'"></span>
            {{ buttonLabel[capsule.type.toLowerCase()] }}
          </button>
          <div class="float-right d-flex">
            <button mat-stroked-button class="button secondary-btn-sm" (click)="doFlipCard()">
              Flip<span class="flip-icon" aria-label="flip"></span>
            </button>
            <button
              mat-stroked-button
              class="button secondary-btn-sm ml-2"
              (click)="onShareClick()"
            >
              Share <span class="share-icon" aria-label="share"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
