<div class="capsule-card-container card" *ngIf="capsule">
  <div
    class="card-flipper back-flipped"
    [class.front-flipped]="isCardFlipped"
    [class.back-flipped]="!isCardFlipped"
  >
    <div class="capsule-card card-front">
      <div class="card-head">
        <div class="icons bookmark">
          <img
            src="/assets/images/bookmark-filled.svg"
            class="rounded-img"
            *ngIf="isBookmarked()"
            (click)="onCapsuleBookmarkRemove()"
          />
          <img
            src="/assets/images/bookmark-icon.svg"
            class="rounded-img"
            *ngIf="!isBookmarked()"
            (click)="onCapsuleBookmark()"
          />
        </div>
        <div class="icons okHand">
          <img
            src="/assets/images/okhand-icon.svg"
            class="rounded-img"
            (click)="onCapsuleRecommend()"
          />
        </div>
        <div class="icons timer">
          <img src="/assets/images/timer.svg" class="rounded-img" /><span
            >{{ capsule.duration }} mins</span
          >
        </div>
        <div class="icons labelRed">
          <span>#{{ capsule.topicCode }}</span>
        </div>
        <img [src]="capsule.imageUrl" class="header-image" alt="" (click)="onCardClick()" />
      </div>
      <div class="card-content">
        <div class="title" (click)="onCardClick()">
          {{ capsule.title }}
          <p>
            by {{ capsule.author }} <span>({{ capsule.publishedDate }})</span>
          </p>
        </div>
        <div class="description" (click)="onCardClick()">
          <p>
            {{ capsule.description }}
          </p>
        </div>
        <div class="card-footer">
          <img src="/assets/images/article-icon.svg" class="float-left" />
          <div class="float-right">
            <img src="/assets/images/flip-icon.svg" class="mr-4" (click)="doFlipCard()" />
            <img src="/assets/images/upload-icon.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="capsule-card card-back">
      <div class="card-content flip-card mt-4">
        <div class="title">{{ capsule.title }}</div>
        <div class="description">
          <label>
            <img src="/assets/images/eye-icon.svg" />
            <span>{{ capsule.views }}</span>
          </label>
          <label>
            <img
              src="/assets/images/bookmark-filled.svg"
              *ngIf="isBookmarked()"
              (click)="onCapsuleBookmarkRemove()"
            />
            <img
              src="/assets/images/bookmark-icon.svg"
              *ngIf="!isBookmarked()"
              (click)="onCapsuleBookmark()"
            />
            <span>{{ capsule.bookmarks }}</span>
          </label>
          <label>
            <img src="/assets/images/okhand-icon.svg" (click)="onCapsuleRecommend()" />
            <span>{{ capsule.recommendations }}</span>
          </label>
          <div class="tags-input">
            <label>Tags</label>
            <div class="tags-label">
              <ng-container *ngFor="let tag of capsule.tags">
                <label class="tags">#{{ tag }}</label>
              </ng-container>
            </div>
          </div>
          <div class="shield mb-5">
            <ng-container *ngFor="let url of getCapsuleBadgeUrls()">
              <img [src]="url" alt="" />
            </ng-container>
          </div>
          <button class="button primary-btn-sm mb-3 d-block" (click)="onCardClick()">
            Start Reading
          </button>
        </div>
        <div class="card-footer">
          <img src="/assets/images/book-icon.svg" class="float-left" />
          <div class="float-right">
            <img src="/assets/images/flip-rev-con.svg" class="mr-4" (click)="doFlipCard()" />
            <img src="/assets/images/upload-icon.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
