<div class="topics-card" *ngIf="topic">
  <div>
    <img [src]="topic.imageUrl" class="header-image" alt="" />
  </div>
  <div class="content">
    <div class="title">#{{ topic.title }}</div>
    <div class="description pb-3">
      <p>{{ topic.summary }}</p>
    </div>
    <button class="button follow-btn" tabindex="0" [routerLink]="['/topics/details']">
      EXPLORE
    </button>
  </div>
</div>

<!-- <div class="topics-card">
  <div><img src="/assets/images/topics-1.png" alt="" class="header-image" /></div>
  <div class="content">
    <div class="title">#Cyber Security</div>
    <div class="description pb-3">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque
        laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae ainventore veritatis et
        quasi architecto beatae vitae quia dicta sunt.
      </p>
    </div>
    <button class="button follow-btn" tabindex="0" [routerLink]="['/topics/details']">
      EXPLORE
    </button>
  </div>
</div> -->

<!-- <div class="topic-card">
  <div>
    <img [src]="this.topic.imageUrl" class="header-image" alt="" />
  </div>
  <div class="content">
    <div class="title">{{ this.topic.name }}</div>
    <div class="description pb-3">
      <p>
        {{ this.topic.description }}
      </p>
    </div>
    <button class="button follow-btn" (click)="followTopic()" *ngIf="!isFollowingTopic()">
      FOLLOW
    </button>
    <button class="button follow-btn" (click)="unfollowTopic()" *ngIf="isFollowingTopic()">
      UNFOLLOW
    </button>
    <button class="button follow-btn float-right" (click)="gotoTopicDetails()">MORE</button>
  </div>
</div> -->
