<div class="topic-card">
  <div>
    <img src="/assets/images/topics-1.png" class="header-image" alt="" />
  </div>
  <div class="content">
    <div class="title">#Cyber Security</div>
    <div class="description pb-3">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque
        laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae ainventore veritatis et
        quasi architecto beatae vitae quia dicta sunt.
      </p>
    </div>
    <button class="button follow-btn" [routerLink]="['../topicdetails']">FOLLOW</button>
  </div>
</div>
