<div class="capsule-card-container card capsule-skeleton">
  <div class="capsule-card">
    <div class="card-image loading"></div>
    <div class="card-content">
      <div class="title loading"></div>
      <div class="author loading"></div>
      <div class="description loading"></div>
      <div class="description loading"></div>
      <div class="description loading"></div>
      <div class="description loading"></div>
      <div class="description loading"></div>
      <div class="card-footer">
        <div class="action-btn loading"></div>
        <div class="d-flex">
          <div class="action-btn loading"></div>
          <div class="action-btn loading ml-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
