@import './../../../../assets/styles/variables.scss';

.capsule-card-container {
  width: 332px;
  height: 508px;
  background-color: transparent !important;
  border: none !important;
  margin-right: 20px;
}

.capsule-skeleton {
  .capsule-card {
    width: 100%;
    height: 100%;
    background: $white;
    box-shadow: 0px 3px 20px #0000000f;
    border-radius: 20px;
    margin: 0 20px;
    margin-bottom: 25px;
    border: 1px solid #cbcbcb;
  }
  .card-image {
    height: 140px;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
  }
  .card-content {
    padding: 0 20px 20px 20px;
    .title {
      height: 20px;
      width: 90%;
      margin-bottom: 8px;
    }
    .author {
      height: 16px;
      width: 60%;
      margin-bottom: 30px;
    }
    .description {
      height: 16px;
      margin-bottom: 10px;
    }
    .card-footer {
      border: none;
      background: none;
      height: 40px;
      margin-top: 50px;
      display: flex;
      padding: 5px 0;
      justify-content: space-between;
      .action-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .title.loading,
    .author.loading,
    .description.loading {
      border-radius: 3px;
    }
  }
}
