<section class="align-items-center inner" *ngIf="!spinner.isLoading">
  <div class="feeds-blog-container">
    <div class="d-flex justify-content-between">
      <div class="bookmarks-container">
        <h6>Recent Bookmarks</h6>
        <ul class="bookmarks">
          <li>The Rise of Artificial Intelligence</li>
          <li>An Introduction to Microservices</li>
          <li>Machine Learning Essentials</li>
          <li>Machine Learning Essentials</li>
          <li>Confident Coding: Master the lesson</li>
        </ul>
        <p class="text-bold"><a href="#" class="underline">See all</a></p>
      </div>
      <div>
        <div class="share-container">
          <div class="share-block">
            <div class="profile-pic"></div>
            <div class="share-textbox w-100 pb-3">
              <input type="button" value="Start Sharing..." />
            </div>
          </div>
          <div class="share-icons">
            <button class="share-btn news"><span>News</span></button>
            <button class="share-btn article"><span>Article</span></button>
            <button class="share-btn course"><span>Course</span></button>
            <button class="share-btn events"><span>Events</span></button>
            <button class="share-btn video"><span>Video</span></button>
          </div>
          <p class="grey-color">* You know you can earn credit by sharing post. <a href="#" class="underline">Start earning edits!</a></p>
        </div>
        <div *ngFor="let capsule of filteredCapsule;">
          <app-feeds-card [capsule]="capsule"></app-feeds-card>
        </div>
        
      </div>
      <div class="subscribe-container">
        <h6>Subscribe to our Newsletter</h6>
        <p>Connecting you to the latest AI advancements and insights!</p>
        <div *ngIf="subscriberFormGroup" [formGroup]="subscriberFormGroup">
          <input type="email" name="email id" formControlName="emailId" class="input-mail mb-0"
            placeholder="Enter Your Email ID" />
          <button mat-raised-button class="button tertiary-outline mt-3" (click)="onSubscribe()">
            Subscribe Now
          </button>
        </div>
      </div>
    </div>
  </div>

</section>
