<div id="topics" class="topics-page p-main">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="pb-4 mb-4">
                    <img src="../../assets/images/slider-bg.png" alt="" >
                </div>
                <div class="col-6 px-0">
                    <input type="text" name="searchTopics" placeholder="Search Topics">
                </div>
                <section>
                    <div class="card-section d-flex mb-4 pb-4 pt-4">
                        <div class="topics-card ml-0">
                            <div>
                                <img src="../../assets/images/topics-1.png" class="header-image" alt="">
                            </div>
                            <div class="content">
                                <div class="title">
                                    #Cyber Security
                                </div>
                                <div class="description pb-3">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                                        doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                                        ainventore veritatis et quasi architecto beatae vitae quia dicta sunt.
                                    </p>
                                </div>
                                <button class="button follow-btn">FOLLOW</button>
                            </div>
                        </div>
                        <div class="topics-card">
                            <div>
                                <img src="../../assets/images/topics-2.png" class="header-image" alt="">
                            </div>
                            <div class="content">
                                <div class="title">
                                    #AI/ML
                                </div>
                                <div class="description pb-3">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                                        doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                                        ainventore veritatis et quasi architecto beatae vitae quia dicta sunt.
                                    </p>
                                </div>
                                <button class="button follow-btn">FOLLOW</button>
                            </div>
                        </div>
                        <div class="topics-card">
                            <div>
                                <img src="../../assets/images/topics-3.png" class="header-image" alt="">
                            </div>
                            <div class="content">
                                <div class="title">
                                    #Blockchain
                                </div>
                                <div class="description pb-3">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                                        doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                                        ainventore veritatis et quasi architecto beatae vitae quia dicta sunt.
                                    </p>
                                </div>
                                <button class="button follow-btn">FOLLOW</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-section d-flex mb-4 pb-4">
                        <div class="topics-card ml-0">
                            <div>
                                <img src="../../assets/images/topics-1.png" class="header-image" alt="">
                            </div>
                            <div class="content">
                                <div class="title">
                                    #Cloud Computing
                                </div>
                                <div class="description pb-3">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                                        doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                                        ainventore veritatis et quasi architecto beatae vitae quia dicta sunt.
                                    </p>
                                </div>
                                <button class="button follow-btn">FOLLOW</button>
                            </div>
                        </div>
                        <div class="topics-card">
                            <div>
                                <img src="../../assets/images/topics-2.png" class="header-image" alt="">
                            </div>
                            <div class="content">
                                <div class="title">
                                    #IoT
                                </div>
                                <div class="description pb-3">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                                        doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                                        ainventore veritatis et quasi architecto beatae vitae quia dicta sunt.
                                    </p>
                                </div>
                                <button class="button follow-btn">FOLLOW</button>
                            </div>
                        </div>
                        <div class="topics-card">
                            <div>
                                <img src="../../assets/images/topics-3.png" class="header-image" alt="">
                            </div>
                            <div class="content">
                                <div class="title">
                                    #Open Source
                                </div>
                                <div class="description pb-3">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
                                        doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                                        ainventore veritatis et quasi architecto beatae vitae quia dicta sunt.
                                    </p>
                                </div>
                                <button class="button follow-btn">FOLLOW</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-3">
                <div class="twitter-section">
                    <div class="d-flex">
                        <img src="../../assets/images/twitter.svg" class="pr-2">
                        <h6 class="pt-2">Tweets</h6>
                    </div>
                    <div class="blogs">

                    </div>
                </div>
            </div>
        </div>

        <!--------Explore Topics Inner Page----------->
        <div class="row">
            <section>
                <img src="../../assets/images/back-arrow.png" class="mr-3"><button class="button follow-btn">Explore Topics</button>
                <div class="col-8">
<h2>#Cyber Security</h2>
<p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae ainventore veritatis et quasi architecto beatae vitae quia dicta .</p>
<p>#NetworkSecurity #CloudSecurity #EthicalHacking #Malware #Privacy #DataSecurity</p>
<button class="button follow-btn">FOLLOW</button>
                </div>
                <div class="col-4">
                    <div class="inline-points">
                        <ul>
                            <li><span>Help us identify tech resources from variety of sources</span></li>
                            <li><span>Help us create a capsule with quality summary on resource
                                    collected</span></li>
                            <li><span>We help deliver the capsule to those who in need</span></li>
                        </ul>
                    </div>
                </div>
                <h2>Three capsules to get you started!</h2>
            </section>
            <section>
                <div class="card-section d-flex justify-content-center mb-4 pb-4">
                    <div class="carousel-card">
                        <div class="position-relative">
                            <div class="icons bookmark">
                                <img src="../../assets/images/bookmark-icon.svg" class="rounded-img">
                            </div>
                            <div class="icons okHand">
                                <img src="../../assets/images/okhand-icon.svg" class="rounded-img">
                            </div>
                            <div class="icons timer">
                                <img src="../../assets/images/timer.svg" class="rounded-img"><span>20 mins</span>
                            </div>
                            <div class="icons labelRed">
                                <span>#CLOUD</span>
                            </div>
                            <img src="../../assets/images/card-1.png"  class="header-image" alt="">
                        
                        </div>
                        <div class="content">
                            <div class="title">
                                Machine Learning Essentials
                                <p>by AWS <span>(August 16, 2010)</span></p>
                            </div>
                            <div class="description">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque
                                    laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae ainventore veritatis et
                                    quasi architecto beatae vitae quia dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur aut odit aut fugit, sed quia uuntur magni dolores eos qui ratione
                                    voluptatem sequi. sed quia uuntur magni dolores eos qui ratione voluptatem sequi.</p>
                            </div>
                            <div class="card-footer">
                                <img src="../../assets/images/article-icon.svg" class="float-left">
                                <div class="float-right">
                                     <img src="../../assets/images/flip-icon.svg" class="mr-4">
                                     <img src="../../assets/images/upload-icon.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-card">
                        <div class="position-relative">
                            <div class="icons bookmark">
                                <img src="../../assets/images/bookmark-icon.svg" class="rounded-img">
                            </div>
                            <div class="icons okHand">
                                <img src="../../assets/images/okhand-icon.svg" class="rounded-img">
                            </div>
                            <div class="icons timer">
                                <img src="../../assets/images/timer.svg" class="rounded-img"><span>20 mins</span>
                            </div>
                            <div class="icons labelRed">
                                <span>#CLOUD</span>
                            </div>
                            <img src="../../assets/images/card-3.png"  class="header-image" alt="">
                        
                        </div>
                        <div class="content">
                            <div class="title">
                                An Introduction to Microservices Architecture
                                <p>by Linjith Kunnan <span>(August 16, 2010)</span></p>
                            </div>
                            <div class="description">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque
                                    laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae ainventore veritatis et
                                    quasi architecto beatae vitae quia dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur aut odit aut fugit, sed quia uuntur magni dolores eos qui ratione
                                    voluptatem sequi. sed quia uuntur magni dolores eos qui ratione voluptatem sequi.</p>
                            </div>
                            <div class="card-footer">
                                <img src="../../assets/images/book-icon.svg" class="float-left">
                                <div class="float-right">
                                     <img src="../../assets/images/flip-icon.svg" class="mr-4">
                                     <img src="../../assets/images/upload-icon.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-card">
                        <div class="position-relative">
                            <div class="icons bookmark">
                                <img src="../../assets/images/bookmark-icon.svg" class="rounded-img">
                            </div>
                            <div class="icons okHand">
                                <img src="../../assets/images/okhand-icon.svg" class="rounded-img">
                            </div>
                            <div class="icons timer">
                                <img src="../../assets/images/timer.svg" class="rounded-img"><span>20 mins</span>
                            </div>
                            <div class="icons labelRed">
                                <span>#CLOUD</span>
                            </div>
                            <img src="../../assets/images/card-3.png"  class="header-image" alt="">
                        
                        </div>
                        <div class="content">
                            <div class="title">
                                Confident Coding: Master the Fundamentals of Code and Supercharge Your Career
                                <p>by Rob Percival <span>(August 16, 2010)</span></p>
                            </div>
                            <div class="description">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae ainventore veritatis et quasi architecto beatae vitae quia dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, ratione voluptatem sequi.</p>
                            </div>
                            <div class="card-footer">
                                <img src="../../assets/images/video-icon.svg" class="float-left">
                                <div class="float-right">
                                     <img src="../../assets/images/flip-icon.svg" class="mr-4">
                                     <img src="../../assets/images/upload-icon.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>