<carousel>
  <div class="carousel-cell">
    <img src="http://localhost:4200/assets/images/logo.svg" />
  </div>
  <div class="carousel-cell">
    <img src="http://localhost:4200/assets/images/logo.svg" />
  </div>
  <div class="carousel-cell">
    <img src="http://localhost:4200/assets/images/logo.svg" />
  </div>
  <div class="carousel-cell">
    <img src="http://localhost:4200/assets/images/logo.svg" />
  </div>
  <div class="carousel-cell">
    <img src="http://localhost:4200/assets/images/logo.svg" />
  </div>
  <div class="carousel-cell">
    <img src="http://localhost:4200/assets/images/logo.svg" />
  </div>
  <div class="carousel-cell">
    <img src="http://localhost:4200/assets/images/logo.svg" />
  </div>
</carousel>
