@import '../../../../assets/styles/variables.scss';

.success-page {
  background: $section-bg;
  min-height: 605px;
  .content-section {
    margin: 0 auto;
    width: 361px;
    text-align: center;
    .font-medium {
      font-size: 22px;
      font-family: $primary-font-regular;
    }
  }
}
