<section *ngIf="isDataAvailable || capsuleDetail" class="container-fluid bg-white capsule-details">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <div class="container pt-1">
    <div class="back-link pt-0">
      <ng-container *ngFor="let crumb of getNavBreadcrumbs()">
        <ng-container *ngIf="crumb.navUrl; else simplecrumb">
          <a
            class="url-link"
            *ngIf="!isMobileResolution"
            (click)="navigateToCapsulePage(crumb.navUrl)"
            >{{ crumb.displayName }}</a
          >
        </ng-container>
        <ng-template #simplecrumb>
          <span [ngClass]="{ 'crumb-title': isMobileResolution }">{{ crumb.displayName }}</span>
        </ng-template>
      </ng-container>
      <!--span class="icon-type bookmark-icon d-inline-block"></span-->
      <span class="okhand-icon d-inline-block" (click)="onRecommendClick()"></span>
      <span class="share-icon d-inline-block" (click)="onShareClick()"></span>
      <button type="button" class="close close-icon" (click)="onIFrameClose()"></button>
    </div>
  </div>
  <div class="container">
    <iframe #capsuleFrame
      [src]="resourceUrl"
      style="width: 100%; height: 700px"
      frameborder="0"
      (error)="onAfterIframeLoaded()"
    >
    </iframe>
  </div>
</section>
<app-spinner></app-spinner>
