<section class="container-fluid bg-white capsule-details">
  <div class="container pt-1">
    <div class="back-link pt-0">
      <ng-container *ngFor="let crumb of getNavBreadcrumbs()">
        <ng-container *ngIf="crumb.url; else simplecrumb">
          <a class="url-link" (click)="navigateToCapsulePage(crumb.url)">{{ crumb.label }}</a>
        </ng-container>
        <ng-template #simplecrumb>
          <span>{{ crumb.label }}</span>
        </ng-template>
      </ng-container>
      <span class="bookmark-icon"></span>
        <span class="okhand-icon"></span>
      <button type="button" class="close" (click)="onIFrameClose()">
        <img src="/assets/images/close-icon.svg" />
      </button>
    </div>
  </div>
  <div>
    <iframe
      id="theFrame"
      [src]="resourceUrl"
      style="width: 100%; height: 700px"
      frameborder="0"
      (load)="onAfterIframeLoaded()"
      (error)="onAfterIframeLoaded()"
    ></iframe>
  </div>
</section>
