.capsule-details {
  .back-link {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    margin: 10px 0;
    .url-link {
      cursor: pointer !important;
    }
    .close {
      margin-left: auto;
    }
  }
}
