.capsule-details {
  .back-link {
    margin: 10px 0;
    .url-link {
      cursor: pointer !important;
    }
    .close {
      margin-left: auto;
    }
    .crumb-title {
      margin-left: 0px;
    }
  }
}
