<!-- ======= Mission Section ======= -->
<div id="mission" class="mission-page p-main">
  <section class="d-flex align-items-center tech-learning  p-bottom-150">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h1 class="pb-4">
            We are here to make the <br />
            tech learning easy and fun!
          </h1>
          <p>
            It is hard to keep up with tech, but it doesn't have to be! With our crowd sourced
            unique tech capsules, we make sure you stay ahead in tech at any time. We get you the
            articles, videos, books, courses, jobs, news, products, events and anything in tech that
            you care about at your fingertip.
          </p>
        </div>
        <div
          class="col-xl-4 col-lg-6 order-1 order-lg-2 d-flex justify-content-center"
        >
          <img src="../../assets/images/mission-hero-image.svg" class="animated pt-4" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->

  <section class="d-flex align-items-center p-bottom-150">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-2 order-lg-2 d-flex flex-column justify-content-center"
        >
          <h2 class="pb-4">
            Are you fresh out of college?
          </h2>
          <p>
            Yes, It’s a universal truth! College education alone doesn’t make you successful in tech
            industry. We are here to enable you, so you take your first step at work with clarity
            and confidence.
          </p>
        </div>
        <div
          class="col-xl-4 col-lg-6 order-1 order-lg-1 d-flex justify-content-center"
        >
          <img src="../../assets/images/college.svg" class="animated pt-4" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->

  <section class="d-flex align-items-center p-bottom-150">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h2 class="pb-4">
            Are you that geek always <br />looking to explore new tech?
          </h2>
          <p >
            Tech landscape so vast and dynamic. If you have the passion to explore, we give youa
            platform to excel in anything tech that you do!
          </p>
        </div>
        <div
          class="col-xl-4 col-lg-6 order-1 order-lg-2 d-flex justify-content-center"
        >
          <img src="../../assets/images/new-tech.svg" class="animated pt-4" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->

  <section class="d-flex align-items-center p-bottom-150">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-2 order-lg-2 d-flex flex-column justify-content-center"
        >
          <h2 class="pb-4">
            Are you looking to <br />transform your career?
          </h2>
          <p>
            Let’s find something more exciting together! Having a fresh start makes you more
            engaged. The new learning gives you the edge to stay relevant at work when matters!
          </p>
        </div>
        <div
          class="col-xl-4 col-lg-6 order-1 order-lg-1 d-flex justify-content-center"
        >
          <img src="../../assets/images/career.svg" class="animated pt-4" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->

  <section class="d-flex align-items-center p-bottom-150">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h2 class="pb-4">
            Are you going through<br />
            mid-career crisis?
          </h2>
          <p>
            Tech landscape has drastically changed over the last few years. What got you started at
            work may not be relevant now! We can be the right partner if you choose to explore new
            possibilities!
          </p>
        </div>
        <div
          class="col-xl-4 col-lg-6 order-1 order-lg-2 d-flex justify-content-center"
        >
          <img src="../../assets/images/mid-career.svg" class="animated pt-4" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->

  <section class="d-flex align-items-center p-bottom-150">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-2 order-lg-2 d-flex flex-column justify-content-center"
        >
          <h2 class="pb-4">
            Are you a busy executive <br />fighting to catchup with tech?
          </h2>
          <p>
            Your every minute counts and your decisions can have greater impact! We can help you
            take informed decision on anything tech coming on your way!
          </p>
        </div>
        <div
          class="col-xl-4 col-lg-6 order-1 order-lg-1 d-flex justify-content-center"
        >
          <img src="../../assets/images/catchup-tech.svg" class="animated pt-4" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->
  <section class="success-section">
    <div class="container">
      <div class="section-title">
        <h2>Congratulations!</h2>
        <h3 class="pb-5">You landed at the right place! We have capsules for all!</h3>
        <img src="../../assets/images/success-all-capsule.png" alt="" />
      </div>
    </div>
  </section>
  <!-- End -->

  <!-- ======= Form Section ======= -->
  <app-collaborate-form></app-collaborate-form>
  <!-- End Form Section-->
</div>
