@import './../../assets/styles/variables.scss';

.mission-page {
  
  &.p-main {
    padding: 92px 12px 20px;
  }
  .about-banner {
    background: url('../../assets/images/about/aboutus-banner-bg.svg');
    height: 635px;
    width: 100%;
    margin-bottom: 50px;
    background-size: cover;
    margin-top: 108px;
  }
  .lead-img {
    position: absolute;
    display: flex;
    text-align: center;
    left: 32%;
    margin-top: 129px;
  }

  .our-values {
    display: flex;
    .value-panel {
      margin-right: 20px;
      padding: 35px;
      border-radius: 10px;
      height: 463px;
      h4, p {
        color: $white;
      }
      p {
        line-height: 22px;
      }
    }
    .col-1 {
      background: #ff00c0;
    }
    .col-2 {
      background: #54aa00;
    }
    .col-3 {
      background: #7400bb;
    }
    .col-4 {
      background: #0089fb;
    }
  }
  
  .tech-learning {
    background-image: url('../../assets/images/grid.png');
    padding: 40px 0px;
  }
  & > section {
    padding-bottom: 50px;
  }
  p {
    font-size: 18px;
    font-family: $primary-font-regular;
    line-height: 30px;
    color: #5a5a5a;
  }
  .success-section {
    background: url('../../assets/images/success-bg.svg') no-repeat;
    padding-top: 70px;
    padding-bottom: 0!important;
  }
}
.form-bg {
  background: url('../../assets/images/about/form-bg.png') no-repeat;
  background-size: cover;
}
