<!-- ======= Mission Section ======= -->
<div id="mission" class="mission-page p-main">
  <div class="flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <section class="d-flex align-items-center tech-learning">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h2 class="pb-4">
            We are here to make the <br />
            AI learning hassle-free!
          </h2>
          <p>
            Staying up-to-date with the latest developments in Artificial Intelligence can be a daunting task,
            but it doesn't have to be. With our unique, crowd-sourced AI capsules,
            we keep you at the forefront of the industry. From articles and videos to courses,
            jobs, news, products, and events, we bring you everything you need to know about AI - all at your fingertips.
          </p>
        </div>
        <div class="col-xl-4 col-lg-6 order-2 order-lg-2 d-flex justify-content-center">
          <img src="/assets/images/mission-hero-image.svg" class="pt-4 img-fluid w-75" alt="Learning" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->

  <section class="d-flex align-items-center">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-1 order-lg-2 d-flex flex-column justify-content-center"
        >
          <h2 class="pb-4">Are you fresh out of college?</h2>
          <p>
            Yes, It’s a universal truth! College education alone doesn’t make you successful in tech
            industry. We are here to enable you, so you take your first step at work with clarity
            and confidence.
          </p>
        </div>
        <div class="col-xl-4 col-lg-6 order-2 order-lg-1 d-flex justify-content-start">
          <img src="/assets/images/college.svg" class="pt-4 img-fluid" alt="out of college" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->

  <section class="d-flex align-items-center">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h2 class="pb-4">Are you that geek always <br />looking to explore new tech?</h2>
          <p>
            Tech landscape so vast and dynamic. If you have the passion to explore, we give you a
            platform to excel in anything AI that you do!
          </p>
        </div>
        <div class="col-xl-4 col-lg-6 order-2 order-lg-2 d-flex justify-content-center">
          <img src="/assets/images/new-tech.svg" class="pt-4 img-fluid w-75" alt="New Technology" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->

  <section class="d-flex align-items-center">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-1 order-lg-2 d-flex flex-column justify-content-center"
        >
          <h2 class="pb-4">Are you looking to <br />transform your career?</h2>
          <p>
            Let’s find something more exciting together! Having a fresh start makes you more
            engaged. The new learning gives you the edge to stay relevant at work when matters!
          </p>
        </div>
        <div class="col-xl-4 col-lg-6 order-2 order-lg-1 d-flex justify-content-center">
          <img src="/assets/images/career.svg" class="pt-4 img-fluid" alt="Career Image" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->

  <section class="d-flex align-items-center">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center"
        >
          <h2 class="pb-4">
            Are you going through<br />
            mid-career crisis?
          </h2>
          <p>
            Tech landscape has drastically changed over the last few years. What got you started at
            work may not be relevant now! We can be the right partner if you choose to explore new
            possibilities in Artificial Intelligence!
          </p>
        </div>
        <div class="col-xl-4 col-lg-6 order-2 order-lg-2 d-flex justify-content-center">
          <img src="/assets/images/mid-career.svg" class="pt-4 img-fluid w-75" alt="mid-career" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->

  <section class="d-flex align-items-center">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div
          class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-1 order-lg-2 d-flex flex-column justify-content-center"
        >
          <h2 class="pb-4">Are you a busy executive <br />fighting to catchup with tech?</h2>
          <p>
            Your every minute counts and your decisions can have greater impact! We can help you
            take informed decision on anything AI coming on your way!
          </p>
        </div>
        <div class="col-xl-4 col-lg-6 order-2 order-lg-1 d-flex justify-content-center">
          <img src="/assets/images/catchup-tech.svg" class="pt-4 img-fluid" alt="catchup tech" />
        </div>
      </div>
    </div>
  </section>
  <!-- End -->
  <section class="success-section">
    <div class="container">
      <div class="section-title">
        <h2>Congratulations!</h2>
        <h3 class="pb-5">We got you covered! We have capsules for all!</h3>
        <img src="/assets/images/success-all-capsule.png" alt="Success" class="img-fluid" />
      </div>
    </div>
  </section>
  <!-- End -->

  <app-collaborate-form></app-collaborate-form>
</div>
