@import '../../../../assets/styles/variables.scss';

.contribute-page {
  .contribute-bg {
    background: url(../../../../assets/images/contribute-bg.svg) no-repeat;
    width: 100%;
    height: 50rem;
    background-size: cover;
    .container {
      max-width: 1250px;
      padding-top: 4rem;
      p {
        font-size: 16px;
      }
    }
  }
  .contribute-form-bg {
    // background: url(../../../../assets/images/contribute-form-bg.svg) no-repeat;
    background: linear-gradient(270deg, #352584 0%,#8a1f83 100%) no-repeat 0px 0px;
    border-radius: 20px;
    // border: 2px solid #ecb3c3;
    padding: 35px 30px 60px 75px;
    display: flex;
    // height: 52rem;
    // background-size: 920px 870px;
    background-size: 100%;
    @media only screen and (max-width: 990px) { 
      // background: linear-gradient(180deg, white 0%, #efd6dd 100%) no-repeat 0px 0px;
      padding: 50px 0px;
      display: block !important;
      // border-radius: 20px;
    }
  }
  .formuser-icon {
    background: url(../../../../assets/images/form-woman.png) no-repeat;
    width: 435px;
    height: 488px;
    position: absolute;
    right: 0 !important;
    top: 10.3rem;
    background-size: 100%;
    @media only screen and (max-width: 990px) { 
      display: none;
    }
  }
  .error-text {
    input,
    textarea,
    select {
      border-color: red;
    }
    .error-msg {
      color: red !important;
      font-size: 14px;
    }
  }
  input,
  select,
  textarea {
    margin-bottom: 5px;
  }
  @media only screen and (max-width: 767px) { 
  .button {
    width: 135px;
    margin-right: 10px!important;
    font-size: 15px !important;
    height: 35px !important;
  }
}
label {
  color: $white;
  font-size: 16px;
}
}
