<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub']">AI Hub</a>
          <span>Mentoring</span>
        </div>
      </div>
    </div>
    <section
      class="container-fluid skill-studio-bg d-flex px-0 pt-3 text-center align-items-center justify-content-center">
      <label>Placeholder for Mentoring Banner</label>
    </section>
  </div>

</div>
