<div id="interview-prep" class="skill-studio-page p-main pb-0">
  <app-spinner></app-spinner>

  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub/dashboard']">SkillStudio</a>
          <span>Interview Prep</span>
        </div>
      </div>
    </div>
    <section
      class="container-fluid skill-studio-bg d-flex px-0 pt-3 text-center align-items-center justify-content-center">
      <label class="text-white">Ace AI interviews! <br>Your one-stop shop for top-tier interview preparation materials.</label>
    </section>
  </div>
  <section class="py-5">
    <div class="inner">
      <div class="hub-search pb-4">
        <div class="col-lg-6 d-inline-flex align-items-center pl-0">
        <div class="search-box mt-0 pl-0 ml-0 mr-1 col-lg-6">
          <input type="text" name="searchTopics" placeholder="Search Topics" class="mb-0"  [(ngModel)]="searchText" (keyup.enter)="onSearch()" (blur)="onSearch()"/>
          <button title="search bar" class="search-btn" (click)="onSearch()"></button>
        </div>
        <div [ngClass]="{'item-selected': selectedTopics.length > 0}" class="page-filter">
          <p-multiSelect
            [options]="topics"
            [filter]="false"
            (onChange)="onChange($event)"
            optionLabel="title"
          ></p-multiSelect>
        </div>
      </div>
      <div class="col-lg-6 hub-register pr-0">
        <button class="button primary tertiary w-auto px-3 mx-0">Register</button>
      </div>
      </div>

      <div *ngFor="let interview of filteredInterviewList; let i = index;" class="box-content mb-4">
        <img [src]="interview.imageUrl" alt="ML Coding Questions" class="box-content-img" />
        <h3 class="pt-3">{{interview.title}}</h3>
        <p>{{interview.summary}}</p>
        <a [href]="interview.courseUrl" target="_blank" class="link">{{interview.courseUrl}}</a>
      </div>
    </div>
  </section>

</div>