@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';
.box-content {
  // padding: 15px 20px;
  transition: all 0.3s ease 0s;
  .box-content-img {
    float: left;
    margin-right: 50px;
    border-radius: 10px;
    width: 260px;
    height: 150px;
    &:hover {
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.3s ease 0s;
    }
  }
  
}
.interview-skeleton {
  .title {
    height: 24px;
    width: 60%;
    margin-left: 270px;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .summary {
    height: 20px;
    margin-left: 270px;
    margin-bottom: 10px;
    border-radius: 3px;
  }
}
