@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';
.box-content {
    padding: 15px 20px;
    .box-content-img {
        float: left;
        margin-right: 50px;
        border-radius: 10px;
        width: 260px;
        height: 150px;
    }
}
