@import './../../assets/styles/variables.scss';

.admin-page {
  background: #f3f3f3;
  &.p-main {
    padding-top: 125px;;
  }
  .container {
    max-width: 1600px;
}
  h1 {
    font-family: $cardtitle-font;
    font-size: 32px;
    color: #484848;
    line-height: 34px;
  }
  .action-btn {
    padding: 3px 0 0 0;
    float: right;
    height: 38px;
  }

  .mat-tab-nav-bar {
    width: 100%;
    border-bottom: 0;
  }

  .mat-tab-label {
    height: 60px;
    .mat-tab-label-container {
      max-width: 1400px;
    }
  }

  .mat-tab-label,
  .mat-tab-link {
    font-family: $cardtitle-font !important;
    color: #575757;
    font-size: 18px;
    height: 60px;
    color: #000;
  }
}


