<div class="admin-page p-main">
  <div class="container px-0">
    <div class="row" *ngIf="isNavTabsVisible()">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1>300 Active Users</h1>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 resp-btn">
        <button
          mat-stroked-button
          class="button secondary-btn-sm action-btn"
          [routerLink]="['createtekbyte']"
        >
          Create TekByte
        </button>
        <button
          mat-stroked-button
          class="button secondary-btn-sm action-btn mr-2"
          [routerLink]="['createcapsule']"
        >
          Create Capsule
        </button>
      </div>
    </div>
    <div class="row">
      <nav mat-tab-nav-bar *ngIf="isNavTabsVisible()">
        <div class="container px-0 resp-tab">
          <a
            mat-tab-link
            *ngFor="let navTab of navTabs"
            (click)="setActiveTab(navTab)"
            [active]="isActiveTab(navTab)"
            [routerLink]="[navTab.navUrl]"
          >
            {{ navTab.displayName }}
          </a>
        </div>
      </nav>
      <div class="container px-0">
        <div class="col-lg-3 float-right" *ngIf="isNavTabsVisible()">
          <div class="search-box">
            <input type="search" name="search" placeholder="What are you looking for?" />
            <button title="search bar" class="search-btn"></button>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
