<div class="admin-page p-main">
  <div class="container px-0">
    <div class="row">
      <div class="col-6">
        <h1>300 Active Users</h1>
      </div>
      <div class="col-6">
        <button
          mat-stroked-button
          class="button secondary-btn-sm action-btn"
          (click)="deActivateTabs()"
          [routerLink]="['createtopic']"
        >
          Create Topic
        </button>
        <button
          mat-stroked-button
          class="button secondary-btn-sm action-btn mr-2"
          (click)="deActivateTabs()"
          [routerLink]="['createcapsule']"
        >
          Create Capsule
        </button>
      </div>
    </div>
    <div class="row">
      <nav mat-tab-nav-bar *ngIf="!canHideNavTabs()">
        <div class="container px-0">
          <a
            mat-tab-link
            *ngFor="let navTab of navTabs"
            (click)="setActiveTab(navTab)"
            [active]="isActiveTab(navTab)"
            [routerLink]="[navTab.navUrl]"
          >
            {{ navTab.displayName }}
          </a>
        </div>
      </nav>
      <div class="container px-0">
        <div class="col-lg-3 float-right" *ngIf="!isNavTabDeActivated()">
          <div class="search-box mr-4">
            <input
              type="search"
              name="search"
              placeholder="What are you looking for?"
              class="mb-1"
            />
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
