<section>
  <div class="pb-4 mb-4">
    <div id="heroBanner" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#heroBanner" data-slide-to="0" class="active"></li>
        <li data-target="#heroBanner" data-slide-to="1"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-caption">
            <section class="d-flex align-items-center">
              <div>
                <div class="row justify-content-center">
                  <div
                    class="col-xl-4 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center onOverlayContent">
                    <h2>#Human Augmentation</h2>
                    <p class="mb-5">
                      Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque
                      laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde omnis
                      iste natus error.
                    </p>
                    <div class="d-flex ">
                    <button class="button primary-btn-sm">FOLLOW</button>
                    <button class="button primary-btn-sm ml-4"
                    [routerLink]="['createtopic']">CREATE TOPIC</button>
                  </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img text-right">
                    <img src="/assets/images/explore-banner-1.png" class="img-fluid" alt="" />
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption">
            <section class="d-flex align-items-center">
              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div
                    class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center onOverlayContent">
                    <h2>#Human Augmentation</h2>
                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                      accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae
                      ab illo quae Sed ut perspiciatis unde omnis iste natus error.
                    </p>
                    <button class="button primary-btn-sm">FOLLOW</button>
                  </div>
                  <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="/assets/images/explore-banner-1.png" class="img-fluid" alt="" />
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>