<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <img src="/assets/images/logo.svg" class="footer-logo" />
          <ul>
            <li><a routerLink="/legaldocs/privacypolicy">Privacy Policy</a></li>
            <li><a routerLink="/legaldocs/termsofservice">Terms of Service</a></li>
            <li><a routerLink="/legaldocs/cookiepolicy">Cookie Policy</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-links">
          <h6>Contact Us</h6>
          Email: <a href="mailto:contact@tekcapsule.com">contact@tekcapsule.com</a>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h6>Launching Soon</h6>
          <img src="/assets/images/g-play.png" class="g-play-img" />
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h6>Follow Us</h6>
          <div class="social-links">
            <a target="_blank" href="https://twitter.com/tekcapsule"><img src="/assets/images/twitter.svg" /></a>
            <a target="_blank" href="https://www.linkedin.com/company/tekcapsule/"><img src="/assets/images/linkedin.svg" /></a>
            <a target="_blank" href="https://www.meetup.com/tekcapsule/"><img src="/assets/images/meet.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright pt-3">Copyright &copy; 2022 Tekcapsule.com</div>
  </div>
</footer>
<!-- End Footer -->
