@import '../../.././../assets/styles/variables.scss';
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background-size: cover;
  font-family: $primary-font-regular;
  box-shadow: 0 -5px 10px rgb(0 0 0 / 5%);
  background: #222D5D;
  @media only screen and (max-width: 990px) {
    padding: 30px;
  }
  @media only screen and (max-width: 767) {
    padding: 15px;
  }
  .footer-top {
    padding: 35px 0 0;
    position: relative;
    .footer-logo {
      width: 109px;
      height: 21px;
    }
    .footer-links {
      @media only screen and (max-width: 767) {
        margin-bottom: 10px;
      }
      ul {
        list-style: none;
        padding: 7px 0 0;
        margin: 0;
        li a {
          color: $white;
        }
      }
    }
    .g-play-img {
      width: 138px;
      height: 42px;
    }
  }
  .copyright {
    font-size: 14px;
    padding-bottom: 42px;
  }
  .social-links {
    a {
      padding-right: 20px;
    }
  }
}
.g-play-img {
  width: 138px;
  height: 42px;
}

.copyright {
  font-size: 14px;
  padding-bottom: 55px;
}
.social-links {
  a {
    padding-right: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .footer-links {
    margin-bottom: 20px;
    width: 50%;
    padding-left: 0;
    a {
      padding-right: 14px !important;
    }
  }
  .copyright {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
  }
  .footer-top {
    padding-top: 0 !important;
  }
}
