<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <img src="/assets/images/logo.svg" class="footer-logo" alt="footer logo" />
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-3 footer-links">
          <ul>
            <li><a routerLink="#">Feeds</a></li>
            <li><a routerLink="#">SkillStudio</a></li>
            <li><a routerLink="#">Market Place</a></li>
            <li><a routerLink="#">LLM-Hub</a></li>
            <li><a routerLink="#">Insights</a></li>
            <li><a routerLink="#">Jobs</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 footer-links">
          <h6>Community</h6>
          <ul class="text-lightpurple">
            <li><a routerLink="#">About Us</a></li>
            <li><a routerLink="#">Careers</a></li>
            <li><a routerLink="#">Newsroom</a></li>
            <li><a routerLink="#">Resources</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 footer-links">
          <h6>About Us</h6>
          <ul class="text-lightpurple">
            <li><a routerLink="#">About Us</a></li>
            <li><a routerLink="#">Careers</a></li>
            <li><a routerLink="#">Newsroom</a></li>
            <li><a routerLink="#">Resources</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 footer-links">
          <h6>Follow Us</h6>
          <div class="social-links">
            <a target="_blank" href="https://twitter.com/tekcapsule" aria-label="Twitter"
              ><img src="/assets/images/twitter.svg" alt="twitter icon" 
            /></a>
            <a target="_blank" href="https://www.linkedin.com/company/tekcapsule/" aria-label="LinkedIn"
              ><img src="/assets/images/linkedin.svg" alt="linkedin icon"
            /></a>
            <a target="_blank" href="https://www.meetup.com/tekcapsule/" aria-label="Meet"
              ><img src="/assets/images/meet.svg" alt="meet icon"
            /></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-3 pt-3">
          <div class="social-links">
            <a target="_blank" href="https://twitter.com/tekcapsule" aria-label="Play Store"
              ><img src="/assets/images/play-store.png" alt="Play Store icon" 
            /></a>
            <a target="_blank" href="https://www.linkedin.com/company/tekcapsule/" aria-label="App Store"
              ><img src="/assets/images/app-store.png" alt="App Store icon"
            /></a>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-between copyright">
        <div>Copyright &copy; 2023 InByte. All rights reserved.</div>
        <div>
          <a routerLink="/legaldocs/privacypolicy">Privacy Policy</a>
          <a routerLink="/legaldocs/termsofservice">Terms of Service</a>
          <a routerLink="/legaldocs/cookiepolicy">Cookie Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
