<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 footer-links">
          <ul>
            <li *ngFor="let menuItem of menuItems;"><a [routerLink]="menuItem.navUrl">{{menuItem.displayName}}</a></li>
            <li>
              <a href="https://tekcapzule.blog/" target="_blank" class="nav-item pe-none">Blog</a>
            </li>
          </ul>

        </div>
        <div class="col-lg-2 col-md-3 footer-links">
          <h6>Community</h6>
          <ul class="text-lightpurple">
            <li><a routerLink="/community">Our Community</a></li>
            <li><a href="https://github.com/tekcapzule" target="_blank">Open Source</a></li>
            <li><a routerLink="/ai-hub/events">Events</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 footer-links">
          <h6>Company</h6>
          <ul class="text-lightpurple">
            <li><a routerLink="/mission">About Us</a></li>
            <li><a routerLink="/mission">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-3 pt-3">
          <div class="social-links">
            <a target="_blank" href="https://twitter.com/tekcapzule" aria-label="Play Store"
              ><img src="/assets/images/play-store.svg" alt="Play Store icon" class="img-fluid"
            /></a>
            <a target="_blank" href="https://www.linkedin.com/company/tekcapzule/" aria-label="App Store"
              ><img src="/assets/images/app-store.svg" alt="App Store icon" class="img-fluid"
            /></a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 footer-links">
          <h6>Follow Us</h6>
          <div class="social-links">
            <a target="_blank" href="https://twitter.com/tekcapzule" aria-label="Twitter"
              ><img src="/assets/images/twitter.svg" alt="twitter icon"
            /></a>
            <a target="_blank" href="https://www.linkedin.com/company/tekcapzule/" aria-label="LinkedIn"
              ><img src="/assets/images/linkedin.svg" alt="linkedin icon"
            /></a>
            <a target="_blank" href="https://www.meetup.com/tekcapzule/" aria-label="Meet"
              ><img src="/assets/images/meet.svg" alt="meet icon"
            /></a>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-between copyright">
        <div> <img src="/assets/images/logo.svg" class="footer-logo pr-3" alt="footer logo" /> Copyright &copy; 2023 TekCapzule Technologies Private Limited. All rights reserved.</div>
        <div>
          <a routerLink="/legaldocs/privacypolicy">Privacy Policy</a>
          <a routerLink="/legaldocs/termsofservice">Terms of Service</a>
          <a routerLink="/legaldocs/cookiepolicy">Cookie Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
