<section>
  <div class="pb-4 mb-4">
    <div id="heroBanner" class="carousel slide" data-ride="carousel" data-interval="5000">
      <ul class="carousel-indicators">
        <li *ngFor="let event of events;let i=index; first as isFirst"  data-target="#heroBanner" data-slide-to="(i)=> i" class="{{isFirst?'active':''}}"></li>
      </ul>
      <div class="carousel-inner">
        <div *ngFor="let event of events;let i=index; first as isFirst"  class="{{isFirst? 'carousel-item active hero-slider' : 'carousel-item hero-slider'}}" >
          <div class="carousel-caption">
            <section class="d-flex align-items-center">
              <div class="d-flex flex-column justify-content-center carouselContentSec">
                <h2>{{event.name}}</h2>
                <p>{{event.eventDate}}</p>
                <p>
                  {{event.description}}
                </p>
                <button class="button primary-btn-sm" (click)="openLinkinNewTab(event.registrationUrl)">REGISTER NOW</button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
