<div id="heroBanner" class="carousel slide" data-ride="carousel" data-interval="5000">
  <ul class="carousel-indicators">
    <li data-target="#heroBanner" data-slide-to="0" class="active"></li>
    <li data-target="#heroBanner" data-slide-to="1"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <section class="d-flex align-items-center">
          <div class="container-fluid">
            <div class="row justify-content-center p-relative">
              <div
                class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center justify-content-center sliderContent"
              >
                <h1>
                  Everything tech in
                  <span>one place!</span>
                </h1>
                <p class="hero-text">
                  Fall in love with tech with our unique tech capsules. <br />Get your daily dose
                  now!
                </p>
                <div>
                  <button mat-raised-button class="button primary">Explore</button>
                  <button mat-stroked-button class="button secondary">Subscribe</button>
                </div>
                <div class="follow-us">
                  <a href="#"><img src="/assets/images/twitter.svg" />#TekCapsule</a>
                  <span class="divider"> &nbsp;|&nbsp;</span>
                  <a href="#"><img src="/assets/images/meet.png" />TekCapsule</a>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img">
                <img src="/assets/images/hero-slide-1.png" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
        <section class="d-flex align-items-center">
          <div class="container-fluid">
            <div class="row justify-content-center p-relative">
              <div
                class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center justify-content-center sliderContent"
              >
                <h1>
                  Everything tech in
                  <span>one place!</span>
                </h1>
                <p class="hero-text">
                  Fall in love with tech with our unique tech capsules. <br />Get your daily dose
                  now!
                </p>
                <div>
                  <button mat-raised-button class="button primary">Explore</button>
                  <button mat-stroked-button class="button secondary">Subscribe</button>
                </div>
                <div class="follow-us">
                  <a href="#"><img src="/assets/images/twitter.svg" />#TekCapsule</a>
                  <span class="divider"> &nbsp;|&nbsp;</span>
                  <a href="#"><img src="/assets/images/meet.png" />TekCapsule</a>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img">
                <img src="/assets/images/hero-slide-1.png" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
