<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <app-spinner></app-spinner>
  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub/dashboard']">AI Hub</a>
          <span>Tekbyte</span>
        </div>
      </div>
    </div>
  </div>
  <section class="container-fluid aihub-banner tekbyte pt-5">
    <div class="container">
        <div class="col-lg-5 mob-mr-0 mt-5">
          <div class="banner-highlights">Boost your AI lexicon effortlessly!<br> <span>Simplified explanations</span> for complex AI terms to improve your understanding</div>
        </div>
    </div>
  </section>
  <div class="col-lg-12 bg-light-gray pb-5">

    <section class="container d-flex justify-content-between align-items-center">
      <div class="search-box mt-0 py-4 mb-3 ml-0 col-lg-3 pl-0">
        <input type="text" name="searchTopics" placeholder="Search Topics" class="mb-0"  [(ngModel)]="searchText" (keyup.enter)="onSearch()" (blur)="onSearch()"/>
        <button title="search bar" class="search-btn" (click)="onSearch()"></button>
      </div>
      <div [ngClass]="{'item-selected': selectedTopics.length > 0}" class="page-filter">
        <p-multiSelect
          [options]="topics"
          [filter]="false"
          (onChange)="onChange($event)"
          optionLabel="title"
        ></p-multiSelect>
      </div>
    </section>
    <section class="py-3 container">
      <div class="section-title text-left">
        <h2>Featured Topics</h2>
      </div>
      <div>
        <div *ngFor="let tl of filteredTekbyteList" class="digest-card" (click)="openTekbyte(tl)">
          <div class="card-top bg-1">
            <div class="conference-header">
              <div class="title">{{tl.title}}</div>
              <div class="description">{{tl.summary}}</div>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center"><span class="okhand-gray-icon pr-4"></span>225</div>
              <div class="d-flex align-items-center"><span class="premium-gray-icon"></span>Premium</div>
            </div>
          </div>
         
        </div>
      </div>
    </section>
    <!-- Popular Events Section -->

    <section class="py-3 container">
      <div class="section-title text-left">
        <h2 style="color: black;">Other Popular Topics Based on Your Interest</h2>
      </div>
      <!--div>
        <div class="digest-card">
          <div class="card-top bg-1">
          <div class="conference-header">
            <div class="title">So, You Want to Be a Coder</div>
            <div class="description">Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
              doloremque laudantium, sdda.</div>
            </div>
            </div>
            <div class="card-footer">
            <div class="d-flex justify-content-between">
              <div class="align-items-center"><span class="okhand-gray-icon pr-4"></span>225</div>
              <div class="d-flex align-items-center"><span class="premium-gray-icon"></span>Premium</div>
            </div>
            </div>
        </div>
        <div class="digest-card">
          <div class="card-top bg-2">
          <div class="conference-header">
            <div class="title">So, You Want to Be a Coder</div>
            <div class="description">Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
              doloremque laudantium, sdda.</div>
            </div>
            </div>
            <div class="card-footer">
            <div class="d-flex justify-content-between">
              <div class="align-items-center"><span class="okhand-gray-icon pr-4"></span>225</div>
              <div class="d-flex align-items-center"><span class="premium-gray-icon"></span>Premium</div>
            </div>
            </div>
        </div>
        <div class="digest-card">
          <div class="card-top bg-3">
          <div class="conference-header">
            <div class="title">So, You Want to Be a Coder</div>
            <div class="description">Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
              doloremque laudantium, sdda.</div>
            </div>
            </div>
            <div class="card-footer">
            <div class="d-flex justify-content-between">
              <div class="align-items-center"><span class="okhand-gray-icon pr-4"></span>225</div>
              <div class="d-flex align-items-center"><span class="premium-gray-icon"></span>Premium</div>
            </div>
            </div>
        </div>
      </div-->

      <div>
        <div *ngFor="let tl of popularTekbyteList" class="digest-card" (click)="openTekbyte(tl)">
          <div class="card-top bg-1">
            <div class="conference-header">
              <div class="title">{{tl?.title}}</div>
              <div class="description">{{tl?.summary}}</div>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between">
              <div class="align-items-center"><span class="okhand-gray-icon pr-4"></span>225</div>
              <div class="d-flex align-items-center"><span class="premium-gray-icon"></span>Premium</div>
            </div>
          </div>
         
        </div>
      </div>
    </section>

  </div>
</div>