<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub/dashboard']">SkillStudio</a>
          <span>Tekbyte</span>
        </div>
      </div>
    </div>
  </div>
  <section class="container-fluid aihub-banner tekbyte pt-3">
    <div class="container">
      <div class="row justify-content-center">
      <div class="col-lg-5 order-2 order-lg-1">
        <img src="../../../../assets/images/skillstudio/tekbyte-explain.png" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-3 mob-mr-0 mt-lg-5 mt-sm-0 text-right order-1 order-sm-1">
        <div class="banner-highlights text-white">
          Topics defined in<br />
          <span>SIMPLEST STRUCTURE</span> for easy understanding
        </div>
      </div>
      </div>
    </div>
  </section>
  <div class="col-lg-12 pb-5">
    <section class="container d-flex align-items-center justify-content-between pt-4" *ngIf="!isMobileResolution">
      <app-filter (onFilterUpdate)="filterUpdate($event)"></app-filter>
        
      <div class="search-rounded col-lg-3 pl-0 mr-4">
        <input type="text" name="searchTopics" placeholder="Search" class="mb-0 input-search-rounded"
          [(ngModel)]="searchText" (keyup.enter)="onSearch()" (blur)="onSearch()" />
        <button title="search bar" class="search-btn" (click)="onSearch()"></button>
      </div>
    </section>

    <section class="pt-3 container">
      <div *ngIf="!spinner.isLoading">
        <ng-container *ngIf="filteredTekbyteList.length > 0; else noDataFound">
          <app-tekbyte-card *ngFor="let tl of filteredTekbyteList" [tekbyte]="tl"></app-tekbyte-card>
        </ng-container>
        <ng-template #noDataFound>
          <h2 class="text-center">Sorry, data not found.</h2>
        </ng-template>
      </div>
      <div *ngIf="spinner.isLoading">
        <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
          <app-tekbyte-skeleton></app-tekbyte-skeleton>
        </ng-container>
      </div>
    </section>

    <section *ngIf="popularTekbyteList.length" class="pb-3 container">
      <div class="popular-tekbytes-wrapper">
        <ng-container *ngFor="let tl of popularTekbyteList">
          <app-tekbyte-card [tekbyte]="tl"></app-tekbyte-card>
        </ng-container>
      </div>
    </section>
  </div>
</div>