<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/skill-dashboard']">SkillStudio</a>
          <span>Tekbyte</span>
        </div>
      </div>
    </div>
  </div>
  <section class="container-fluid aihub-banner tekbyte pt-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 order-2 order-lg-1">
          <img
            src="../../../../assets/images/skillstudio/tekbyte-explain.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-lg-3 mob-mr-0 mt-lg-5 mt-sm-0 text-right order-1 order-sm-1  mob-mb-2">
          <div class="banner-highlights text-white">
            Topics defined in<br />
            <span>SIMPLEST STRUCTURE</span> for easy understanding
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="pb-3 inner">
    <section
      class="d-flex align-items-center justify-content-between pt-4"
      *ngIf="isFilterVisible"
    >
      <app-topic-filter (onFilterUpdate)="filterUpdate($event)"></app-topic-filter>

      <div class="search-rounded col-lg-3 pr-0">
        <input
          type="text"
          name="searchTopics"
          placeholder="Search"
          class="mb-0 input-search-rounded"
          [(ngModel)]="searchText"
          (keyup)="onSearch()"
        />
        <button title="search bar" class="search-btn" (click)="onSearch()"></button>
      </div>
    </section>

    <section class="pt-4">
      <div *ngIf="!spinner.isLoading" class="colby3">
        <ng-container *ngIf="filteredTekbyteList.length > 0; else noDataFound">
          <app-skill-card
            *ngFor="let tl of filteredTekbyteList"
            [learningMt]="tl"
          ></app-skill-card>
        </ng-container>
        <ng-template #noDataFound>
          <h2 class="text-center">Sorry, data not found.</h2>
        </ng-template>
      </div>
      <div *ngIf="spinner.isLoading">
        <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
          <app-skill-skeleton></app-skill-skeleton>
        </ng-container>
      </div>
    </section>

    <!--div class="container pt-3 pb-2">
      <h3>Popular Tekbytes</h3>
    </div>    

    <section-- *ngIf="popularTekbyteList.length" class="pb-3 container">
      <div class="popular-tekbytes-wrapper">
        <ng-container *ngFor="let tl of popularTekbyteList">
          <app-tekbyte-card [tekbyte]="tl"></app-tekbyte-card>
        </ng-container>
      </div>
    </section-->
  </div>
</div>
