@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/common.scss';

.digest-card {
  max-height: 221px;
  width: 405px;
  padding: 30px;
  color: #444444;
  border-radius: 12px;
  margin: 0px 40px 40px 0px;
  display: inline-grid;
  text-align: left;
  border: 1px solid #B1B1B1;
  background-color: $white;

  .title {
    font-size: 24px;
    font-family: 'HelveticaNeueLTPro-medium';
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .description {
    font-size: 14px;
    font-family: 'GTWalsheimPro-Regular';
    padding-bottom: 20px;
  }
}
