<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub/dashboard']">AI Hub</a>
          <span>Prompts</span>
        </div>
      </div>
    </div>
    <section
      class="container-fluid skill-studio-bg d-flex px-0 pt-3 text-center align-items-center justify-content-center">
      <label>Placeholder for Prompts Banner</label>
    </section>
  </div>
  <section class="py-5">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center pb-4">
        <h3 class="sub-heading">Prompts</h3>
        <button class="button primary tertiary w-auto px-3">Contribute</button>
      </div>
        <p>Learners will be introduced to designing lesson plans based on principles and knowledge of learning
          objectives, assessment plans, methods, materials, and learning activities. Learners will find and prepare
          appropriate teaching materials through careful analysis, adaptation and creation of professional resources.
          Learners will also reflect on the cohesion between lesson design and teaching philosophies.</p>
    <div class="box-content mb-4">
        <h4>Act as a Linux Terminal <span class="link-icon"></span></h4>
        <p>Learners will be introduced to designing lesson plans based on principles and knowledge of learning objectives, assessment plans, methods, materials, and learning activities. Learners will find and prepare appropriate teaching materials</p>
        <button class="button secondary tertiary bg-white primary-color w-auto px-3">Try Now</button>
    </div>
    <div class="box-content mb-4">
      <h4>Act as a Linux Terminal <span class="link-icon"></span></h4>
      <p>Learners will be introduced to designing lesson plans based on principles and knowledge of learning objectives, assessment plans, methods, materials, and learning activities. Learners will find and prepare appropriate teaching materials</p>
      <button class="button secondary tertiary bg-white primary-color w-auto px-3">Try Now</button>
  </div>
  <div class="box-content mb-4">
    <h4>Act as a Linux Terminal <span class="link-icon"></span></h4>
    <p>Learners will be introduced to designing lesson plans based on principles and knowledge of learning objectives, assessment plans, methods, materials, and learning activities. Learners will find and prepare appropriate teaching materials</p>
    <button class="button secondary tertiary bg-white primary-color w-auto px-3">Try Now</button>
</div>
    </div>
  </section>
</div>
