@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';
@import '../courses.component.scss';

.course-skeleton {
  .header-image.loading {
    height: 140px;
  }
  .content {
    overflow: hidden;
    padding: 0 24px;
  }
  .title.loading {
    height: 40px;
  }
  .description.loading {
    height: 120px;
  }
  .footer-icons.loading {
    height: 40px;
    width: 100%;
  }
  .loading {
    background-color: $skeleton-grey;
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 60%
      )
      $skeleton-grey;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s shimmer ease-in-out infinite;
  }
  @keyframes shimmer {
    to {
      background-position-x: -20%;
    }
  }
}
