<div class="course-card carousel-card mx-0 pb-0 course-skeleton skeleton-loader">
  <div class="position-relative header-image loading"></div>
  <div class="content">
    <div class="title loading"></div>
    <div class="author loading"></div>
    <div class="description loading"></div>
    <div class="description loading"></div>
    <div class="description loading"></div>
    <div class="description loading"></div>
  </div>
  <div class="mt-4 d-flex align-items-center justify-content-between px-4 card-footer">
    <div class="action-btn loading"></div>
    <div class="action-btn loading"></div>
  </div>
</div>
