<div class="products-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <div class="container">
    <div id="breadcrumbs" class="container breadcrumbs">
      <span>
        <span><a href="/">Home</a></span>
        <img src="../../assets/images/breadcrumb_arrow.png" />
        <span class="breadcrumb_last" aria-current="page">Products</span>
      </span>
    </div>
  </div>

  <section class="page-banner products-banner-bg">
    <div class="inner row">
      <div
        class="col-xl-5 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content px-0"
      >
        <h1 class="text-white animate__animated animate__fadeInUp delay-1">
          Learn. Anytime. Anywhere.
        </h1>
        <h4 class="text-white content-sub-text animate__animated animate__fadeInUp delay-2">
          Transform the way you learn and teach with our modern LMS platform.
        </h4>
        <button
          mat-raised-button
          class="button primary mt-2 animate__animated animate__fadeInUp delay-3"
        >
          Explore
        </button>
      </div>
      <div class="banner-rh-section order-2 order-lg-2">
        <img
          src="assets/images/banner/products.png"
          class="img-fluid animate__animated animate__fadeIn delay-1"
          alt="products"
        />
      </div>
    </div>
  </section>
  <div class="inner animate__animated animate__fadeInUp delay-2">
    <!-- ======= Our Solution ======= -->


    <!-- ======= What we offer Section ======= -->
    <section class="inner">
      <div class="text-center pt-5">
        <h1>What we offer</h1>
        <div class="content-sub-text">
          The foundation of our purpose is built on a strong mission and vision, <br />
          that inspire us to innovate and excel in everything we do.
        </div>
        <div class="pt-5">
          <img src="assets/images/home/what-we-do.png" class="img-fluid" />
        </div>
        <div class="offers">
          <label>Hire</label>
          <label>Onboard</label>
          <label>Train</label>
        </div>
      </div>
    </section>

    <!-- ======= TEKHIRE Section ======= -->
    <section>
      <div class="skillstudio-inner">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-6 pt-lg-0 order-1 order-lg-1 pr-5 animate__animated animate__fadeInUp delay-3">
            <div class="tek-heading">
              <p>PRODUCT</p>
              <div class="brand-title">Hire <span>Easy</span></div>
            </div>
            <div class="content-sub-text">
              Get a custom LMS that fits your organization's unique needs. Our developement services deliver a tailored
              solution that meets your goals and objectives. From design to deployment, we've got you covered.
            </div>

          </div>
          <div class="col-lg-7 col-md-6 order-2 order-lg-2 animate__animated animate__fadeInUp delay-2">
            <img src="assets/images/home/tekhire.png" class="img-fluid" alt="lms" />
          </div>

        </div>
        <div class="text-center">
          <button class="button primary-btn mt-3 animate__animated animate__fadeInUp delay-4" routerLink="/products/product-details/Candidate_Screening_Product">
            Explore
          </button>
        </div>
      </div>
    </section>
    <br><br>
    <!-- ======= TEKLEARN Section ======= -->
    <section>
      <div class="animate__animated animate__fadeInUp delay-2">
        <section>
          <div class="inner row product-section">
            <div class="row align-items-center mb-5 pb-5">
              <div class="col-lg-7 col-md-6 order-1 order-lg-1 animate__animated animate__fadeInUp delay-2">
                <img src="assets/images/home/teklearn.png" class="img-fluid" alt="lms" />
              </div>
              <div class="col-lg-5 col-md-6 pt-lg-0 order-2 order-lg-2 pr-5 animate__animated animate__fadeInUp delay-3">
                <div class="tek-heading">
                  <p>PRODUCT</p>
                  <div class="brand-title">Onboard & <span> Upskill</span></div>
                </div>
                <div class="content-sub-text pb-5">
                  Our LMS platform harnesses the power of AI to deliver tailored learning experiences. Unlock your
                  potential with our intelligent learning solutions.
                </div>
                <div class="content-sub-text">
                  Our LMS platform harnesses the power of AI to deliver tailored learning experiences. Unlock your
                  potential with our intelligent learning solutions.
                </div>
              </div>
            </div>
            <div class="product-desc">
              <div class="col-lg-4 ng-star-inserted">
                <img alt="" class="tile" src="assets/images/products/lms/icon-1.svg" />
                <h4>Engaging Learning Experience</h4>
                <p class="content-sub-text">TekCapzule LMS is the ultimate eLearning and up-skilling suite, designed for
                  more engagement.</p>
              </div>
              <div class="col-lg-4 ng-star-inserted">
                <img alt="" class="tile" src="assets/images/products/lms/icon-2.svg" />
                <h4>AI Powered Course Maker</h4>
                <p class="content-sub-text">TekCapzule LMS is the ultimate eLearning and up-skilling suite, designed for
                  more engagement.</p>
              </div>
              <div class="col-lg-4 ng-star-inserted">
                <img alt="" class="tile" src="assets/images/products/lms/icon-3.svg" />
                <h4>Custom Branding</h4>
                <p class="content-sub-text">TekCapzule LMS is the ultimate eLearning and up-skilling suite, designed for
                  more engagement.</p>
              </div>
            </div>

            <div class="text-center details-btn mb-4">
              <button class="button primary-btn  animate__animated animate__fadeInUp delay-2" routerLink="/products/product-details/LMS">Explore</button>
            </div>
          </div>
        </section>
      </div>
    </section>
    <br><br>
  </div>
  <div id="coll-form-bg" class="animate__animated animate__fadeInUp delay-5">
    <section class="form-bg">
      <app-collaborate-form [pageType]="'whatWeDo'"></app-collaborate-form>
    </section>
  </div>
</div>

<app-login-required
  [isDialogVisible]="isLoginRequiredDialogShown"
  (dialogClosed)="hideLoginRequiredDialog()"
></app-login-required>
