.signin {
  width: 100%;
  height: 800px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../assets/images/pattern-1.svg'),
    url('../../../../assets/images/pattern-2.svg');
  background-size: contain;
  background-repeat: no-repeat;

  .error-msg {
    width: 460px;
    position: absolute;
    bottom: 130px;
    z-index: 100;
    font-size: 14px;
    text-align: center;
  }
}
