 @import './../../assets/styles/variables.scss';
 .service-categories-page {
 .breadcrumbs span, .breadcrumbs span a, .page-banner h1 {
  color: $black !important;
 }
 

}
.form-heading {
  font-size: 42px !important;
    font-weight: 500 !important;
    line-height: 38px !important;
}
.form-bg {
  background: transparent linear-gradient(263deg, $black-currant 0%, $black-currant 100%) 31% 75% no-repeat;
  background-position-y: 325px;
}
.tekcapzule-top-video {
  width: 100%;
  height: 100%;
  max-width: 1034px;
  max-height: 690px;
  margin: 0 auto;
}
.tekcapzule-top-video .tekcapzule-top-video2 {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}
.tekcapzule-top-video iframe {
  box-sizing: border-box;
  background: url('../../assets/images/products/laptop.png') center center no-repeat;
  background-size: contain;
  padding: 8.9% 11.3% 12.5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.details-btn {
  button {
    height: 50px;
    border-radius: 4px;
    min-width: 140px;
    font-weight: 500;
    padding: 0;
  }
  
}
.banner-rh-section img {
  position: absolute;
  right: 10%;
  top: 60px;
}
h3 {
  font-weight: 600;
  letter-spacing: -1.12px;
}
h2 {
  padding-bottom: 50px;
}
.banner-content {
  h4 {
    color: #535353 !important;
  }
}

.products-list {
  .row {
    align-items: center;
    gap: 100px;
  }
}
.video-col {
  h2 {
    padding-bottom: 0px !important;
    line-height: 0 !important;
  }

}

@media only screen and (max-width: 990px) {
  .banner-rh-section {
    position: inherit;

    img {
      position: static;
      padding-top: 20px;
    }
  }
  .product-desc { 
    padding: 0 30px !important;
    gap: 20px;
    h4 {
      height: auto !important;
    }
    .content-sub-text {
      padding-right: 0 !important;
      margin-right: 0 !important;
    }
    .col-lg-4 {
      width: calc(33.333% - 25px);
      margin-bottom: 55px;
    }
  }
}
