<div class="service-categories-page">
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>

  <!-- ======= Hero Banner Section ======= -->
  <div class="container">
    <div id="breadcrumbs" class="container breadcrumbs">
      <span>
        <span><a href="/">Home</a></span>
        <img src="../../assets/images/breadcrumb_arrow.png" />
        <span><a href="/products">Products</a></span>
        <img src="../../assets/images/breadcrumb_arrow.png" />
        <span class="breadcrumb_last" aria-current="page">{{pageDetails.displayName}}</span>
      </span>
    </div>
  </div>

  <section *ngIf="productPageDetails" class="page-banner product-details-banner-bg"
    [ngClass]="pageDetails.uniqueId.toLowerCase()+ '-bg'">
    <div class="inner row">

      <div
        class="col-xl-6 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content px-0">
        <div class="beta">BETA</div>

        <h1 class="text-white animate__animated animate__fadeInUp delay-1">
          {{productPageDetails?.topicName}}
        </h1>
        <h4 class="text-white content-sub-text animate__animated animate__fadeInUp delay-2">
          {{productPageDetails?.bannerText}}
        </h4>
        <div class="d-flex details-btn">
          <button mat-raised-button (click)="onExplore()"
            class="button download_btn talk-expert me-3  animate__animated animate__fadeInUp delay-2">
            Explore
          </button>
          <button mat-raised-button (click)="onKnowMore()"
            class="button secondary  animate__animated animate__fadeInUp delay-2">
            Request Demo
          </button>
        </div>

      </div>
      <div class="banner-rh-section order-2 order-lg-2"><img src={{productPageDetails?.bannerImage}} alt="services"
          class="img-fluid animate__animated animate__fadeIn delay-2" /></div>
    </div>
  </section>

  <div class="animate__animated animate__fadeInUp delay-2">
    <!-- ======= Our Solution ======= -->
    <section>
      <!-- Sec 1 -->
      <div class="inner row product-desc">
        <div *ngFor="let topic of productPageDetails?.highlights;" class="col-lg-4 px-0 service-card">
          <img src={{topic.image}} alt="" class="tile" />
          <h4 [innerHTML]="topic.title"></h4>
          <p class="content-sub-text">
            {{topic.description}}
          </p>
        </div>
      </div>
    </section>
  </div>
  <section class="my-5 pb-5 animate__animated animate__fadeInUp delay-3">
    <div class="row text-center video-col">
      <div class="col-lg-12">
        <h2>See our Product in Action</h2>
      </div>
      <div class="tekcapzule-top-video">
        <div class="tekcapzule-top-video2">
          <iframe width="748" height="470" src="../../assets/videos/LMS - Made with Clipchamp.mp4"
            frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="text-center details-btn">
      <button mat-raised-button (click)="onKnowMore()"
        class="button secondary  animate__animated animate__fadeInUp delay-2">
        Request Demo
      </button>
    </div>
  </section>

  <section class="my-5 animate__animated animate__fadeInUp delay-3" >
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>Features You’ll Love!</h2>
      </div>
    </div>
    <div class="container products-list" id="features-you-love">
      <div class="row mb-4" *ngFor="let product of productPageDetails?.keyFeatures; let i = index">
        <!-- Image on the left, content on the right for even-indexed items (on large screens) -->
        <div
          class="col-md-6 col-12 animate__animated animate__fadeInUp"
          [ngClass]="'delay-' + (4 + i)"
          [ngClass]="{'order-md-2': i % 2 !== 0}">
          <h3 class="heading-custom">{{ product.title }}</h3>
          <p>{{ product.description }}</p>
          <ul *ngIf="product.features">
            <li *ngFor="let feature of product.features">{{ feature }}</li>
          </ul>
        </div>
        <div
          class="col-md-5 col-12"
          [ngClass]="{'order-md-1': i % 2 !== 0}">
          <img
            [src]="product.imagePath"
            [alt]="'Image ' + (i + 1)"
            class="img-fluid animate__animated animate__fadeIn"
            [ngClass]="'delay-' + (4 + i)">
        </div>
      </div>
    </div>
  </section>


  <section class="my-5 animate__animated animate__fadeInUp delay-3 mt-5 pt-5">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>Comprehensive Features at a Glance</h2>
      </div>

    </div>
    <div class="inner row product-desc">
      <div *ngFor="let features of productPageDetails?.features | slice:0 : featureCount;"
        class="col-lg-4 service-card px-0">
        <img src={{features.image}} alt="" class="tile" />
        <h4>{{features.title}}</h4>
        <p class="content-sub-text">
          {{features.description}}
        </p>
      </div>
    </div>
    <div class="text-center details-btn">
      <button mat-raised-button (click)="onShowMore()"
        class="button secondary animate__animated animate__fadeInUp delay-2">
        {{featureCount === 3 ? 'Show More' : 'Show Less'}}
      </button>
    </div>
  </section>
  <div class="animate__animated animate__fadeInUp delay-5">
    <app-faq-page [qaList]="productPageDetails?.faq"></app-faq-page>
  </div>


  <div id="coll-form-bg" class="animate__animated animate__fadeInUp delay-6">
    <section class="form-bg">
      <app-collaborate-form [pageType]="'whatWeDo'"></app-collaborate-form>
    </section>
  </div>
</div>
