<!-- ======= Community Section ======= -->

<div id="community" class="community-page">
  <app-spinner></app-spinner>
   <!-- ======= Hero Banner Section ======= -->
   <section class="community-banner">
    <div class="container-fluid text-center pt-5">
      <h1>Together we go far....</h1>
      <h3 class="text-white pb-3 content-sub-text">We believe in the power of community. While we focus on building the right tools and<br> process to crowd source. You help us help fellow technologists by creating capsules. Let’s shape our future together!</h3>
      <img src="../../assets/images/community/community-banner.png" alt="" class="img-fluid" />
    </div>
   
  </section>

  <!-- ======= SkillStudio Section ======= -->
  <section>
    <div class="inner skillstudio pb-5">
      <div class="text-center pb-5">
        <h2>What it takes to build a crowd sourced tech repository?</h2>
        <h3>Information is everywhere and in different shapes and forms. We are looking to aggregate tech information at internet scale with the help of passionate technologist like you.</h3>
        <img src="../../assets/images/community/community-img.png" alt="" class="pt-5" />
      </div>
    </div>
  </section>

  <!-- ======= Feeds Section ======= -->
  <section class="feeds-container pt-5">
    <div class="inner">
      <div class="row">
        <div class="col-lg-4 pt-lg-0 order-1 order-lg-1">
          <h2 class="text-white">Yes, we are open-source</h2>
          <h3 class="text-white">Help us build a platform you love to use
            We welcome your code contributions!</h3>
            <button class="button primary-btn  mt-5">GitHub Link</button>
        </div>
        <div class="col-lg-6 order-2 order-lg-2 text-right pl-5">
          <img src="assets/images/home/feeds-mobile.svg" class="img-fluid" alt="Feeds Image" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="inner skillstudio pb-5 pt-5">
      <div class="text-center pb-5">
        <h2>Participate in our community events</h2>
        <h3>Community events are the best avenue to connect with fellow technologists. Our events are tailored to inspire, so you bring the best in you! Register for our next community event!</h3>
      <div>
        <img src="../../assets/images/community/community-people.png" alt="" class="pt-5" />
      </div>
      </div>
    </div>
  </section>
</div>
