<!-- ======= Community Section ======= -->

<div id="community" class="community-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <section class="community-banner">
        <div class="inner row justify-content-center pt-5">
          <div class="col-xl-3 col-lg-6 order-1 order-lg-1 banner-img">
            <img src="../../assets/images/community/community-banner.png" alt="" class="img-fluid" />
          </div>
            <div class="col-xl-6 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-2 order-lg-2 d-flex flex-column justify-content-center banner-content">
            <h1>Together we go far....</h1>
            <h3 class="text-white pb-3 content-sub-text">We believe in the power of community. While we focus on building
              the right tools and process to crowd source, you help us help fellow technologists by sharing quality tech learning resources.
              <br>
              Let’s shape our future together!</h3>
            </div>
        </div>
  </section>
  <section class="top-community">
    <div class="text-center py-5">
      <h2 class="text-white px-4">Our top community contributors</h2>
      <p class="text-white content-sub-text px-4">Honoring our open-source heroes who made significant contributions for building TekCapzule platform!</p>
      <div class="contributors inner">
        <!-- <div class="card">
          <p-carousel [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
              <ng-template let-product pTemplate="item">
                        <div class="contributors-bg reward-1"></div>
                        <p>John Smith</p>
                        <div class="points"><span>3</span> cdt</div>
              </ng-template>
          </p-carousel>
      </div> -->
        <div class="column">
          <div class="contributors-bg reward-1"></div>
          <p>Sasikumar P</p>
          <div class="points"><span class="git-icon"></span> sasikumarp36</div>
        </div>
        <div class="column">
          <div class="contributors-bg reward-2"></div>
          <p>Sathish Kumar</p>
          <div class="points"><span class="git-icon"></span> sathish257216</div>
        </div>
        <div class="column">
          <div class="contributors-bg reward-3"></div>
          <p>Haritha Peryala</p>
          <div class="points"><span class="git-icon"></span> HarithaPeryala</div>
        </div>
        <div class="column">
          <div class="contributors-bg reward-4"></div>
          <p>Akhil P. B.</p>
          <div class="points"><span class="git-icon"></span> akhilpb001</div>
        </div>
        <div class="column">
          <div class="contributors-bg reward-1"></div>
          <p>Karthikeyan</p>
          <div class="points"><span class="git-icon"></span> karthikeya</div>
        </div>
      </div>
    </div>

  </section>

  <!-- ======= SkillStudio Section ======= -->
  <section>
    <div class="inner skillstudio pb-5 mb-4">
      <div class="text-center">
        <h2>What it takes to build a social learning platform?</h2>
        <p class="content-sub-text">We are looking to aggregate tech learning resources at
          internet scale with the help of passionate technologist like you. Your every post count!</p>
        <img src="../../assets/images/community/community-img.png" alt="" class="py-5 img-fluid" />
        <div >
      </div>
      </div>
    </div>
  </section>

  <!-- ======= GitHub Section ======= -->
  <section class="feeds-container pt-3">
    <div class="inner">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-4 pt-lg-0 order-1 order-lg-1">
          <h2 class="text-white">Yes, we are Open Source</h2>
          <p class="text-white content-sub-text">Help us build a platform that you love to use!
            We welcome your code contributions!</p>
            <a href="https://github.com/tekcapzule/tekcapzule-web" target="_blank">
          <button class="button secondary mt-5 d-flex justify-content-center align-items-center"><span class="git-icon"></span>GitHub Repos</button></a>
        </div>
        <div class="col-lg-6 order-2 order-lg-2 text-right pl-5">
          <img src="assets/images/community/github-box.png" class="img-fluid" alt="git hub box" />
        </div>
      </div>
    </div>
  </section>

  <section class="dot-pattern">
    <div class="skillstudio inner pt-5">
      <div class="text-center">
        <h2>Participate in our community events</h2>
        <p class="content-sub-text">Community events are the best avenue to connect with fellow technologists. <br>Our events are tailored to
          inspire, so you bring the best in you! Register for our next community event!</p>
          <div class="d-flex justify-content-center">
            <a href="https://www.meetup.com/tekcapzule/" target="_blank"><button class="button primary d-flex justify-content-center align-items-center"><span class="meetup-icon"></span> Meetup</button></a>
          </div>
      </div>
    </div>
    <div class="bottom-section">
      <div class="inner">
      <img src="../../assets/images/community/community-people.png" alt="" class="img-fluid pt-5" />
    </div>
  </div>
  </section>

</div>
