@import './../../assets/styles/variables.scss';

.community-page {

  .community-banner {
    background: url('../../assets/images/community/community-banner-bg.png');
    height: 386px;
    width: 100%;
    // margin-bottom: 50px;
    background-size: cover;
    margin-top: 118px;
  }
  .top-community {
    background: url('../../assets/images/community/community-banner-bg-1.svg');
    height: 454px;
    width: 100%;
    margin-bottom: 50px;
    background-size: cover;
  }
  .feeds-container {
    height: 324px;
    background: url('../../assets/images/community/github-section-bg.png');
    width: 100%;
    background-size: cover;
  }
  .contributors {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    .column {
      width: 175px;
      // margin: 0 50px;
      color: $white;
      .contributors-bg {
        width: 174px;
        height: 175px;
        display: flex;
        &.reward-1 {
          background: url('../../assets/images/community/reward-1.png') no-repeat;
        }
        &.reward-2 {
          background: url('../../assets/images/community/reward-2.png') no-repeat;
        }
        &.reward-3 {
          background: url('../../assets/images/community/reward-3.png') no-repeat;
        }
        &.reward-4 {
          background: url('../../assets/images/community/reward-4.png') no-repeat;
        }
      }
      .points {
        background: $white;
        border-radius: 13px;
        padding: 2px 15px;
        color: #000;
        display: initial;
        span {
          color: #EC0085;
        }
      }
    }
  }
  .bottom-section {
    background: url('../../assets/images/community/community-bottom-bg.png') no-repeat 0px 180px;
    // height: 168px;
    width: 100%;
    background-size: cover;
  }
}
@media only screen and (max-width: 990px) {
  .community-banner, .feeds-container, .top-community {
    height: auto !important;
  }
  .community-page .contributors {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
}