@import './../../assets/styles/variables.scss';

.community-page {

  .community-banner {
    background: url('../../assets/images/community/community-banner-bg.png');
    height: 310px;
    width: 100%;
    background-size: cover;
    margin-top: 108px;
    .banner-img {
      text-align: center;
    }
  }
  .top-community {
    background: url('../../assets/images/community/community-banner-bg-1.svg');
    height: 454px;
    width: 100%;
    margin-bottom: 50px;
    background-size: cover;
  }
  .feeds-container {
    height: 324px;
    background: url('../../assets/images/community/github-section-bg.png');
    width: 100%;
    background-size: cover;
  }
  .contributors {
    padding-top: 20px;
    
    &.inner {
      max-width: 1120px;
    }
    .column {
      width: 175px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: $white;
      .contributors-bg {
        width: 174px;
        height: 175px;
        display: flex;
        &.reward-1 {
          background: url('../../assets/images/community/sasi.png') no-repeat;
        }
        &.reward-2 {
          background: url('../../assets/images/community/sathish.png') no-repeat;
        }
        &.reward-3 {
          background: url('../../assets/images/community/haritha.png') no-repeat;
        }
        &.reward-4 {
          background: url('../../assets/images/community/akhil.png') no-repeat;
        }
        &.reward-5 {
          background: url('../../assets/images/community/karthick.png') no-repeat;
        }
      }
      .points {
        background: $white;
        border-radius: 13px;
        padding: 2px 15px;
        color: #000;
        display: flex;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: #EC0085;
        }
      }
    }
  }
  .bottom-section {
    background: url('../../assets/images/community/community-bottom-bg.png') no-repeat 0px 180px;
    // height: 168px;
    width: 100%;
    background-size: cover;
  }
}

@media only screen and (max-width: 990px) {
  .community-banner, .feeds-container {
    height: auto !important;
    margin-top: 76px !important;
  }
  .top-community {
    height: auto !important;
    margin-bottom: 20px !important;
  }
  .community-page {
  .contributors {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .bottom-section {
    background-position-y: 103px !important ;
  }
 }
 .git-hub {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  button {
    margin-top: 1rem !important;
    margin-bottom: 1rem;
  }
 }
}