<!-- ======= Community Section ======= -->

<div id="community" class="community-page p-main">
    <!-- <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="hero-slider">
                <div>New Block Chain Event</div>
                <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque
                    laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde omnis
                    iste natus error. sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde
                    omnis iste natus error.</p>
                    <button mat-raised-button class="button tertiary">REGISTER NOW</button>
            </div>
        </div>
    </div> -->

    <section class="d-flex align-items-center">
        <div class="container-fluid">
            <div class="row community-desc justify-content-center">
                <div class="part-1">
                    <div class="row justify-content-center">
                        <div
                            class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                            <h2 class="animate__animated animate__fadeInUp animate__delay-3s pb-4">Together we go
                                far....</h2>
                            <p class="animate__animated animate__fadeInUp animate__delay-3s">We believe in the power of
                                community. While we focus on building the right tools and process to crowd source. You
                                help us help fellow technologists by creating capsules. Let’s shape our future together!
                            </p>
                        </div>
                        <div
                            class="col-xl-4 col-lg-6 order-1 order-lg-2 d-flex justify-content-center animate__animated animate__zoomIn animate__delay-3s">
                            <img src="../../assets/images/community-power.png" class="animated pt-4" alt="">
                        </div>
                    </div>
                </div>
                <div class="part-2">
                    <div class="row justify-content-center">
                        <div
                            class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-2 order-lg-2 d-flex flex-column justify-content-center">
                            <h2 class="animate__animated animate__fadeInUp animate__delay-2s pb-4">What its takes to
                                build a crowed <br /> sourced tech repository</h2>
                            <p class="animate__animated animate__fadeInRight animate__delay-2s">Information is
                                everywhere and in different shapes and forms. We are looking to aggregate tech
                                information at internet scale with the help of passionate technologist like you.</p>
                        </div>
                        <div
                            class="tech-repo col-xl-4 col-lg-6 order-1 order-lg-1 d-flex justify-content-center animate__animated animate__fadeInLeft animate__delay-2s">
                            <ul>
                                <li>sasi</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="part-3">
                    <div class="row justify-content-center">
                        <div
                            class="col-xl-4 col-lg-6 pt-3 mr-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                            <h2 class="animate__animated animate__fadeInUp animate__delay-3s pb-4">Participate in our
                                <br />community events</h2>
                            <p class="animate__animated animate__fadeInUp animate__delay-3s">Community events are the
                                best avenue to connect with fellow technologists. Our events are tailored to inspire, so
                                you bring the best in you! Register for our next community event!</p>
                        </div>
                        <div
                            class="col-xl-4 col-lg-6 order-1 order-lg-2 d-flex justify-content-center animate__animated animate__zoomIn animate__delay-3s">
                            <img src="../../assets/images/community-events.png" class="animated pt-4" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End -->