<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="col-lg-12 px-0">
    <section class="container-fluid skill-studio-bg  px-0 pt-3">
      <div id="heroBanner" class="carousel slide container" data-ride="carousel">
        <div class="inner section-title">
          <h2 class="text-white pb-2">Skill Studio</h2>
          <p class="text-white">
            With Skillstudio, AI is at your command, delivering a consolidated array of AI-related events, newsletters,
            advanced educational offerings, and algorithm-driven mentorship. Enhance your AI path with influential
            academic papers, enlightening video content, and focused interview tools. <br>By decoding complex AI vocabulary,
            we transform complicated AI principles into engaging and easy-to-understand concepts.
          </p>
        </div>
        </div>
    </section>
  </div>
  <div class="col-lg-12 bg-gray pb-5 pt-4">

    <section class="mt-3 text-center container">
      <div class="skill-card" *ngFor="let tile of tileList; let i=index">
        <div [ngClass]="tile.uniqueId + ' tile-bg-' + (i+1)" [class]="tile.isPageReady === false ? 'topics-card coming-soon': 'topics-card'" (click)="navigatePage(tile.navUrl)">
          <div class="topic-title">{{tile.displayName}}</div>
          <div class="topic-icon" [ngClass]="tile.uniqueId + ' icon-' + (i+1)"></div>
          <p>{{tile.desc}}</p>
        </div>
      </div>
    </section>
  </div>
</div>