<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="container-fluid pattern-1 pattern-2">
    <div class="inner col-lg-12 px-0 pt-4">
      <div class="title">SkillStudio</div>
      <p class="col-lg-5">With Skillstudio, AI is at your command, delivering a consolidated array of AI-related events,
        newsletters, advanced educational offerings, and algorithm-driven mentorship.</p>
      <section>
        <div class="center-image"></div>
        <div class="row pb-5">
          <div class="col-lg-6">
            <ul class="sub-menu pr-5 skill-card-new">
              <li class="nav-item">
                <div class="icon"><span class="tekbyte-menu-icon" ng-reflect-ng-class="tekbyte-menu-icon"></span></div>
                <h3>Tekbyte</h3><span>Boost your AI lexicon effortlessly! Simplified explanations for complex AI terms
                  to
                  improve your understanding.</span>
              </li>
              <li class="nav-item">
                <div class="icon"><span class="courses-menu-icon" ng-reflect-ng-class="courses-menu-icon"></span></div>
                <h3>Courses</h3><span>Chart your AI learning path with hand-picked, industry-leading courses.</span>
              </li>
              <li class="nav-item">
                <div class="icon"><span class="interview_prep-menu-icon"
                    ng-reflect-ng-class="interview_prep-menu-icon"></span>
                </div>
                <h3>Interview Prep</h3><span>Ace AI interviews! Your one-stop shop for top-tier interview preparation
                  materials.</span>
              </li>
              <!-- <li class="nav-item">
              <div class="icon"><span class="mentoring-menu-icon" ng-reflect-ng-class="mentoring-menu-icon"></span></div>
              <h3>Mentoring</h3><span>Master AI effortlessly. Unleash the power of AI powered mentorship, customized to
                your learning needs.</span>
            </li> -->
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="sub-menu pr-5 skill-card-new">
              <li class="nav-item research">
                <div class="icon"><span ng-reflect-ng-class="research_papers-menu-icon"
                    class="research_papers-menu-icon"></span></div>
                <h3>Research papers</h3><span>Explore the best in AI research. Access groundbreaking papers that shape
                  the AI
                  landscape.</span>
              </li>
              <li class="nav-item video">
                <div class="icon"><span ng-reflect-ng-class="video_library-menu-icon"
                    class="video_library-menu-icon"></span></div>
                <h3>Video Library</h3><span>Gain practical AI insights through our selection of informative
                  videos.</span>
              </li>
              <li class="nav-item digest">
                <div class="icon"><span ng-reflect-ng-class="weekly_digest-menu-icon"
                    class="weekly_digest-menu-icon"></span></div>
                <h3>Weekly Digest</h3><span>Get the best of AI with our curated list of leading weekly newsletters and
                  podcasts.</span>
              </li>
              <!-- <li class="nav-item">
              <div class="icon"><span
                  ng-reflect-ng-class="events-menu-icon" class="events-menu-icon"></span></div>
              <h3>Events</h3><span
               >AI without borders. We curate a list of global AI events, enabling you to learn
                from the world’s leading experts.</span>
            </li> -->
            </ul>
          </div>
        </div>

      </section>
    </div>
  </div>

  <!-- <div class="col-lg-12 px-0">
    <section class="container-fluid skill-studio-bg px-0 pt-3">
      <div id="heroBanner" class="carousel slide container" data-ride="carousel">
        <div class="inner section-title">
          <h2 class="text-white pb-2">SkillStudio</h2>
          <p class="text-white">
            With Skillstudio, AI is at your command, delivering a consolidated array of AI-related
            events, newsletters, advanced educational offerings, and algorithm-driven mentorship.
            Enhance your AI path with influential academic papers, enlightening video content, and
            focused interview tools. <br />By decoding complex AI vocabulary, we transform
            complicated AI principles into engaging and easy-to-understand concepts.
          </p>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-12 bg-gray pb-5 pt-4">
    <section class="mt-3 text-center container">
      <div class="skill-card" *ngFor="let tile of tileList; let i = index">
        <div
          class="topics-card"
          [ngClass]="tile.uniqueId + ' tile-bg-' + (i + 1)"
          (click)="navigatePage(tile.navUrl)"
        >
          <span *ngIf="tile.isPageReady === false" class="coming-soon"></span>
          <div class="topic-title">{{ tile.displayName }}</div>
          <div class="topic-icon" [ngClass]="tile.uniqueId + ' icon-' + (i + 1)"></div>
          <p>{{ tile.desc }}</p>
        </div>
      </div>
    </section>
  </div> -->
</div>