@import './../../../assets/styles/variables.scss';

/**************Carousel Style******************/

    /*******Card Tile******/
    .skill-card {
        display: inline-flex;
        margin: 0px 40px 40px 0px;
        border: 0 none;
        @media only screen and (max-width: 990px) {
            margin: 0;
        }
    .topics-card {
        height: 175px;
        width: 395px;
        box-shadow: 0px 3px 39px #0000000f;
        transition: 0.3s;
        color: #fff;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        @media only screen and (max-width: 990px) { 
            height: 170px;
            width: 340px;
            padding: 10px;
        }
        p {
            font-size: 12px;
        }

        cursor: pointer;
        .topic-title {
            font-size: 18px;
            font-family: $primary-font-medium;
        }
        .topic-icon {
            margin: 10px auto 0;
            &.icon-1, &.icon-2, &.icon-3, &.icon-4, &.icon-5, &.icon-6,
            &.icon-7, &.icon-8, &.icon-9, &.icon-10, &.icon-11, &.icon-12 {
                background-size: 70%;
                background-repeat: no-repeat;
                @media only screen and (max-width: 990px)
                {
                    background-size: 90%;
                    background-repeat: no-repeat;
                    max-height: 60px!important;
                    width: 50px!important;
                }
            }

            &.icon-1 {
                background-image: url("../../../assets/images/tekbyte-icon.svg");
                height: 62px;
                width: 79px;
            }
            &.icon-4 {
                background-image: url("../../../assets/images/skill-course-icon.svg");
                height: 62px;
                width: 62px;
            }
            &.icon-6 {
                background-image: url("../../../assets/images/skill-mentoring-icon.svg");
                height: 68px;
                width: 87px;
            }
            &.icon-2 {
                background-image: url("../../../assets/images/skill-digest-icon.svg");
                width: 66px;
                height: 64px;
            }
            &.icon-5 {
                background-image: url("../../../assets/images/skill-interview-icon.svg");
                width: 97px;
                height: 71px;
            }
            &.icon-3 {
                background-image: url("../../../assets/images/skill-events-icon.svg");
                width: 60px;
                height: 67px;
            }
            // Newly added pages
            &.icon-9 {
                background-image: url("../../../assets/images/prompts-icon.svg");
                width: 78px;
                height: 62px;
            }
            &.icon-7 {
                background-image: url("../../../assets/images/video-library-icon.svg");
                width: 92px;
                height: 52px;
            }
            &.icon-8 {
                background-image: url("../../../assets/images/research-papers-icon.svg");
                width: 75px;
                height: 72px;
            }
            &.icon-10 {
                background-image: url("../../../assets/images/llm-icon.svg");
                width: 66px;
                height: 78px;
            }
            &.icon-11 {
                background-image: url("../../../assets/images/skill-events-icon.svg");
                width: 60px;
                height: 67px;
            }
            &.icon-12 {
                background-image: url("../../../assets/images/skill-events-icon.svg");
                width: 60px;
                height: 67px;
            }
        }
        &.tile-bg-1, &.tile-bg-8, &.tile-bg-12 {
            background: url("../../../assets/images/tile-bg-1.png") no-repeat 0 0/100%;
        }
        &.tile-bg-4, &.tile-bg-9 {
            background: url("../../../assets/images/tile-bg-2.png") no-repeat 0 0/100%;
        }
        &.tile-bg-6 {
            background: url("../../../assets/images/tile-bg-3.png") no-repeat 0 0/100%;
        }
        &.tile-bg-2, &.tile-bg-11 {
            background: url("../../../assets/images/tile-bg-4.png") no-repeat 0 0/100%;
        }
        &.tile-bg-5, &.tile-bg-10 {
            background: url("../../../assets/images/tile-bg-5.png") no-repeat 0 0/100%;
        }
        &.tile-bg-3 {
            background: url("../../../assets/images/tile-bg-6.png") no-repeat 0 0/100%;
        }
        &.tile-bg-7 {
            background: url("../../../assets/images/tile-bg-7.png") no-repeat 0 0/100%;
        }
        &:hover {
          transform: scale(1.03);
          box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
        }
        .header-image {
            height: 150px;
            width: 100%;
            margin-bottom: 20px;
          }
    }
}
