<div id="tekbyte" class="skill-studio-page p-main pb-0">
  <div class="col-lg-12 px-0">
    <section class="container-fluid skill-studio-bg  px-0 pt-3">
      <div id="heroBanner" class="carousel slide container" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#heroBanner" data-slide-to="0" class="active"></li>
          <li data-target="#heroBanner" data-slide-to="1"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption">
              <section class="d-flex align-items-center">
                <div>
                  <div class="row justify-content-center">
                    <div
                      class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center banner-content">
                      <h2>#Human Augmentation</h2>
                      <p class="mb-5">
                        Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque
                        laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde
                        omnis
                        iste natus error.
                      </p>
                      <button class="button tertiary b-radius">Know More</button>
                    </div>
                    <div class="col-xl-5 col-lg-6 order-1 order-lg-2 banner-img">
                      <img src="/assets/images/explore-banner-1.png" class="img-fluid animated" alt="" />
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <section class="d-flex align-items-center">
                <div>
                  <div class="row justify-content-center">
                    <div
                      class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center banner-content">
                      <h2>#Human Augmentation</h2>
                      <p class="mb-5">
                        Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque
                        laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde
                        omnis
                        iste natus error.
                      </p>
                      <button class="button tertiary b-radius">Know More</button>
                    </div>
                    <div class="col-xl-5 col-lg-6 order-1 order-lg-2 banner-img">
                      <img src="/assets/images/explore-banner-1.png" class="img-fluid animated" alt="" />
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-12 bg-gray pb-5">
    <section class="container-fluid px-0">
      <div class="container pt-5">
        <div class="section-title">
          <h2>AI Hub Title</h2>
          <p class="tekbyte-page">
            As machines become increasingly capable, tasks considered to require “intelligence” are often removed from
            the definition of AI, a phenomenon known as the AI effect. For instance, optical character recognition is
            frequently excluded from things considered to be AI, having become a routine technology.[2]
          </p>
        </div>
      </div>
    </section>
    <section class="mt-3 text-center container">
      <div class="skill-card" *ngFor="let tile of tileList; let i=index">
        <div class="topics-card" [ngClass]="tile.uniqueId + ' tile-bg-' + (i+1)" (click)="navigatePage(tile.navUrl)">
          <div class="topic-title">{{tile.displayName}}</div>
          <div class="topic-icon"  [ngClass]="tile.uniqueId + ' icon-' + (i+1)"></div>
          <p>{{tile.desc}}</p>
        </div>
      </div>
    </section>
  </div>
</div>