<div class="main-container">
  <div class="d-flex">
    <div class="profile-pic"></div>
    <div class="w-100">
      <div class="d-flex justify-content-between c-click" (click)="doStartReading()">
        <h5>{{ feed.title | titlecase }}</h5>
      </div>
      <p class="grey-color">
        {{ feed.author | titlecase }}<span> ({{ dateAgoStr }})</span> |
        <span>Posted: {{ feed.publisher | titlecase }}</span>
      </p>
    </div>
  </div>
  <p>{{ feed.description }} <span class="grey-color c-click" (click)="doStartReading()"> see more…</span></p>
  <div class="position-relative c-click" (click)="doStartReading()">
    <img [src]="feed.imageUrl" alt="" class="img-fluid feeds-img w-100" />
    <div class="icons timer">
      <img src="/assets/images/timer.svg" alt="timer icon" class="rounded-img" /><span>{{
        feed.duration
      }}</span>
    </div>
    <div class="icons labelRed">
      <span>{{ feed.topicCode }}</span>
    </div>
    <div class="short-desc">
      <p>The IT Ops Sessions: The Effect of ChatGPT and AI on the World of IT</p>
    </div>
    <div class="web-url">
      <a href="{{ feed.resourceUrl }}" target="_blank">{{ feed.resourceUrl }}</a>
    </div>
    <div *ngIf="feed.type === 'VIDEO'" class="play-button play-icon"></div>
  </div>
  <div class="d-flex justify-content-between">
    <p class="grey-color c-default">{{ feed.recommendations }} recommended</p>
    <div class="d-flex align-items-center grey-color c-default">
      {{ feed.type | titlecase }} <span class="article-gray-icon ml-2"></span>
    </div>
  </div>
  <div>
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center icon-click icons-section" (click)="onFeedRecommend()">
        <span class="recommend-gray-icon pr-4"></span>Recommend
      </div>
      <div class="d-flex align-items-center icon-click icons-section" (click)="onShareClick()">
        <span class="share-gray-icon pr-4"></span>Share
      </div>
      <div class="d-flex align-items-center disabled icons-section">
        <span class="comment-gray-icon pr-4"></span>Comment
      </div>
      <div
        class="d-flex align-items-center icons-section"
        [ngClass]="{ disabled: disableBookmark(), 'icon-click': !disableBookmark() }"
        (click)="onFeedBookmark()"
      >
        <span class="bookmark-gray-icon pr-4"></span>Bookmark
      </div>
    </div>
  </div>
</div>
