@import '../../../../assets/styles/variables.scss';

.contact-form {
  .alert {
    top: 10px;
  }
  input:invalid {
    border: 1px solid red;
  }
  button:disabled,
  button[disabled] {
    border: 0px solid #999999;
    background-color: #cccccc !important;
    color: #666666 !important;
  }
  &.section-bg {
    .container {
      background: $section-bg;
      padding: 50px 150px;
      border-radius: 27px;
      @media only screen and (max-width: 990px) {
        padding: 50px 20px;
      }
    }
  }
}

input, textarea, select {
  margin-bottom: 0px;
}
.error-text {
  input, textarea, select {
    border-color: red;
  }
  .error-msg {
    color: red !important;
  }
}
.form-field {
  margin-bottom: 25px !important;
}

