<section class="contact-form section-bg pb-0">
  <div class="container">
    <div class="section-title pb-0">
      <h2>We love to collaborate!</h2>
      <span class="content-sub-text pb-4"
        >We are excited to hear from you, please drop a note!</span
      >
    </div>

    <div class="row mt-5">
      <div class="col-6">
        <input type="text" name="firstname" placeholder="First Name *"  [(ngModel)]="collaborateForm.firstName"/>
      </div>
      <div class="col-6">
        <input type="text" name="lastname" placeholder="Last Name *"  [(ngModel)]="collaborateForm.lastName"/>
      </div>
    </div>
    <input type="email" name="email" placeholder="Email Address *"  [(ngModel)]="collaborateForm.emailId"/>
    <input type="text" name="subject" placeholder="Subject *"  [(ngModel)]="collaborateForm.subject"/>
    <textarea name="description" rows="4" [(ngModel)]="collaborateForm.description" placeholder="Description *"> 
    </textarea>
    <div class="d-flex justify-content-center">
      <button mat-raised-button class="button tertiary" [disabled]="!isFormValid()" (click)="onCollabFormSubmit()">Submit</button>
    </div>
    <div></div>
  </div>
</section>
