<div class="contribute-page">
    <section class="container-fluid contribute-bg">
        <div class="container pt-5">
            <div class="contribute-form-bg">
                <div class="text-center pb-4">
                    <h2>Contribute</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem.</p>
                </div>
                <div class="form-group">
                    <label for="capsuleTitle">Capsule Title</label>
                    <input type="text" class="form-control" id="capsuleTitle" />
                </div>
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" class="form-control" id="link" />
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <select name="type" name="Select" class="form-control">
                        <option>Select Type</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <div class="text-center">
                <button class="button primary mb-5">Submit</button>
            </div>
            </div>
            <div class="formuser-icon"></div>
        </div>
    </section>
</div>