.contribute-page {
  .contribute-bg {
    background: url(../../../../assets/images/contribute-bg.svg) no-repeat;
    width: 100%;
    height: 63rem;
    background-size: cover;
    .container {
      max-width: 950px;
      padding-top: 2rem;
    }
  }
  .contribute-form-bg {
    // background: url(../../../../assets/images/contribute-form-bg.svg) no-repeat;
    background: linear-gradient(180deg,white 0%,#efd6dd 100%) no-repeat 0px 0px;
    border-radius: 47px;
    border: 2px solid #ecb3c3;
    padding: 60px 125px;
    // height: 52rem;
    // background-size: 920px 870px;
    background-size: 100%;
    @media only screen and (max-width: 990px) { 
      background: linear-gradient(180deg, white 0%, #efd6dd 100%) no-repeat 0px 0px;
      padding: 30px 15px;
      border-radius: 20px;
    }
  }
  .formuser-icon {
    background: url(../../../../assets/images/form-man.png) no-repeat;
    width: 293px;
    height: 579px;
    position: absolute;
    left: 12%;
    top: 29rem;
    @media only screen and (max-width: 990px) { 
      display: none;
    }
  }
  .error-text {
    input,
    textarea,
    select {
      border-color: red;
    }
    .error-msg {
      color: red !important;
    }
  }
  input,
  select,
  textarea {
    margin-bottom: 5px;
  }
  @media only screen and (max-width: 767px) { 
  .button {
    width: 135px;
    margin-right: 10px!important;
    font-size: 15px !important;
    height: 35px !important;
  }
}
}
