@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.subscription-page {
  .subscription-banner {
    height: 984px;
    width: 100%;
    text-align: center;
  }
  margin-top: 108px;
  .search-box input {
    border: 1px solid #A6A8D1;
    border-radius: 30px !important;
    font-size: 14px;
    color: #A6A8D1;
  }
  .qa-col{
    font-size: 16px;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 20px;
    margin-left: 41px;
    color: #101010;
    .question {
      font-family: $primary-font-black;
    }
    .ans {
      font-family: $primary-font-regular;
      color: #191919;
    }
  }
}


/************Going to remove thses styles******************/


.wrapper {
  width: 100%;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;

  .box {
    width: 320px;
    padding: 1rem 40px;
    background: $white url('../../assets/images/start.png') no-repeat bottom left;
    border-radius: 12px;
    &.sheild {
        background: $white url('../../assets/images/sheild.png') no-repeat bottom left;
    }
    &.bag {
        background: $white url('../../assets/images/bag.png') no-repeat bottom left;
    }
    &.active {
        transform: translateY(-2em);
    }
    .box.sheild.active {
        padding-bottom: 40px;
    }
    h1 {
      font-weight: 300;
      color: #212121;
      font-size: 28px;
      font-family:$primary-font-bold;
    }
    .button.tertiary, .secondary-btn {
        align-items: center;
        display: inline-grid;
        cursor: pointer;
    }
    p {
      strong {
        font-size: 58px;
        font-family: $primary-font-bold;
        color: #212121;
      }
    }
    .features {
        margin-block-start: 0;
        text-align: left;
        padding-inline-start: 0;
        li {
            list-style: none;
            font-size: 18px;
            line-height: 22px;
            padding-bottom: 15px;
            background: url('../../assets/images/tick-mark.png') no-repeat 0px 8px;
            padding-left: 30px;
        }
    }
  }
}


/* SWITCH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.switch-wrapper {
    position: relative;
    display: inline-flex;
    padding: 4px;
    margin-bottom: 40px;
    border-radius: 23px;
    background: transparent;
  }
  
  .switch-wrapper [type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  .switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
  .switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
    color: #FF00CE;
  }
  

  
  .switch-wrapper
    [type="radio"]:checked#monthly
    + label[for="yearly"]
    ~ .highlighter {
    transform: none;
  }
  
  .switch-wrapper
    [type="radio"]:checked#yearly
    + label[for="monthly"]
    ~ .highlighter {
    transform: translateX(100%);
  }
  
  .switch-wrapper label {
    font-size: 16px;
    z-index: 1;
    min-width: 100px;
    line-height: 32px;
    cursor: pointer;
    border-radius: 30px;
    transition: color 0.25s ease-in-out;
    color: $white;
    margin-bottom: 0 !important;
    padding-bottom: 8px;
  }
    
  .switch-wrapper .highlighter {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 16px);
    border-radius: 30px;
    background: #FFEDF5;
    transition: transform 0.25s ease-in-out;
  }