<div class="subscription-page">
  <div class="linear-bg-banner subscription-banner">
    <section class="inner pt-5">
      <h1>Take the learning to the next level.</h1>
      <h3 class="text-white pb-3 content-sub-text">Choose the one that works best for you!</h3>
      <div class="switch-wrapper">
        <input id="monthly" type="radio" name="switch" checked />
        <input id="yearly" type="radio" name="switch" />
        <label for="monthly">Monthly</label>
        <label for="yearly">Yearly</label>
        <span class="highlighter"></span>
      </div>
      <div class="wrapper">
        <div class="box">
          <h1>Free</h1>
          <div class="fontawesome-truck"></div>
          <p class="px-2 mb-0">
            Stay informed about the latest technology trends.
            <br />
            <strong> 0.00<sup>$</sup> </strong>
          </p>
          <div class="button secondary-btn">Launching Soon</div>
          <p class="text-left pt-4"><b>What you get?</b></p>
          <ul class="features">
            <li>The Edge - TekCapzule weekly newsletter subscription.</li>
            <li>10 new feeds per day.</li>
          </ul>
        </div>
        <div class="box sheild active">
          <h1 class="pt-4">Professional</h1>
          <div class="fontawesome-plane"></div>
          <p class="px-2 mb-0">
            Access SkillStudio, Technology insights and more...
            <br />
            <strong> 9.99<sup>$</sup> </strong>
          </p>
          <div class="button tertiary b-radius">Launching Soon</div>
          <p class="text-left pt-4"><b>Everything in Free plan plus:</b></p>
          <ul class="features">
            <li>SkillStudio - Curated learning materials, research paper summaries, events, podcasts and more...</li>
            <li>Emerging technology marketplace.</li>
            <li>Technology insights.</li>
            <li>Email support.</li>
          </ul>
        </div>
        <div class="box bag">
          <h1>Enterprise</h1>
          <div class="fontawesome-fighter-jet"></div>
          <p class="px-2 mb-0">
            Access basic reporting and user analytics for teams.
            <br />
            <strong> 24.99<sup>$</sup> </strong>
          </p>
          <div class="button tertiary b-radius" (click)="showContactSalesDialog()">
            Contact Sales
          </div>
          <p class="text-left pt-4"><b>Everything in Professional plan plus:</b></p>
          <ul class="features">
            <li>User and team analytics.</li>
            <li>Career management.</li>
            <li>Continuous learning scorecards and leaderboard.</li>
            <li>Priority support.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <section class="inner pt-5">
    <div class="row">
      <div class="col-lg-5">
        <h1 style="color: #1e274f">Frequently <br />Asked Questions</h1>
        <img src="../../assets/images/faq.png" alt="" class="img-fluid" />
      </div>
      <app-qa-comp [qaList]="qaList"></app-qa-comp>
      <!--div class="col-lg-7">
        <div class="search-box mx-0">
          <input
            type="search"
            name="search"
            placeholder="What are you looking for?"
            autocomplete="off"
          />
          <button title="search bar" class="search-btn"></button>
        </div>

        <div class="card flex justify-content-center">
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Subscription and Billing">
              <div class="qa-col">
                <p class="question">How can I subscribe to the TekCapzule training platform?</p>
                <p class="ans">You can subscribe by creating an account on our website or app. Once you're logged in, click on "Try for free" to select your preferred subscription plan and follow the prompts to complete the payment.</p>
              </div>
              <div class="qa-col">
                <p class="question">What payment methods do you accept?</p>
                <p class="ans">We accept all major credit cards, PayPal, and select digital wallets. The availability of certain payment methods may vary by country.</p>
              </div>
              <div class="qa-col">
                <p class="question">Is my payment information secure?</p>
                <p class="ans">Absolutely. Our payment gateway partner use state-of-the-art encryption technology to ensure your personal information and payment details are always safe.</p>
              </div>
              <div class="qa-col">
                <p class="question">How do I cancel my subscription?</p>
                <p class="ans">To cancel your subscription, log in to your account, navigate to the "My Account" section, select "Manage Subscription" and then choose "Cancel Subscription". Please note that cancellations must be made at least 48 hours before your next billing cycle to avoid being charged.</p>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Technical Support">
              <div class="qa-col">
                <p class="question">What should I do if I'm having trouble accessing the platform?</p>
                <p class="ans">First, try refreshing your page or restarting your device. If the problem persists, please contact our technical support team at <a href="mailto:contact@tekcapzule.com">contact@tekcapzule.com</a>, providing as much detail about the issue as possible.</p>
              </div>
              <div class="qa-col">
                <p class="question">Is there any system requirement to use the platform?</p>
                <p class="ans">Our platform can be accessed via web browsers like Chrome, Firefox, Safari, and Edge on both desktop and mobile devices. For optimal performance, we recommend using the latest browser versions.</p>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Account Management">
              <div class="qa-col">
                <p class="question">How can I change my account details?</p>
                <p class="ans">To change your account details, simply log in and navigate to "My Account". Here you can update your name, email address, password, and other account information.</p>
              </div>
              <div class="qa-col">
                <p class="question">I forgot my password. What should I do?</p>
                <p class="ans">If you've forgotten your password, go to the login page and click on "Forgot Password". You will be prompted to enter your email address. Once submitted, you will receive an email with instructions on how to reset your password.</p>
              </div>
              <div class="qa-col">
                <p class="question">How can I delete my account?</p>
                <p class="ans">To delete your account, please contact our support team at <a href="maito:contact@tekcapzule.com">contact@tekcapzule.com</a>. Note that deleting your account will permanently erase your account details, course progress, and any certificates earned.</p>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div-->
    </div>
  </section>
</div>

<app-contact-sales
  [isDialogVisible]="isContactSalesDialogShown"
  (dialogClosed)="hideContactSalesDialog()"
></app-contact-sales>
