<div id="topics" class="topics-page p-main">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-5 col-sm-12 px-0">
          <input type="text" name="searchTopics" placeholder="Search Topics" class="mb-0" />
        </div>
        <section>
          <div class="card-section d-flex flex-wrap justify-content-center mb-4 pt-4">
            <app-topic-card></app-topic-card>
            <app-topic-card></app-topic-card>
            <app-topic-card></app-topic-card>
            <app-topic-card></app-topic-card>
            <app-topic-card></app-topic-card>
            <app-topic-card></app-topic-card>
          </div>
        </section>
      </div>
      <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
        <div class="twitter-section">
          <div class="d-flex">
            <img src="/assets/images/twitter.svg" class="pr-2" />
            <h6 class="pt-2">Tweets</h6>
          </div>
          <div class="blogs">
            <a
              class="twitter-timeline"
              data-chrome="noheader"
              data-height="990px"
              href="https://twitter.com/TekCapsule?ref_src=twsrc%5Etfw"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
