@import './../../../../assets/styles/variables.scss';

/*--------------------------------------------------------------
# Carousel Section
--------------------------------------------------------------*/
.topics-page {
  background: #f3f3f3;
  .container {
    max-width: 1600px;
  }

  .twitter-section {
    background: $white;
    padding: 10px;
    margin-bottom: 40px;
    .blogs {
      background: #f5f5f5;
      min-height: 100vh;
    }
  }
}
