<div id="tekbyte" class="tekbyte-page p-main">
  <div class="pb-3 col-lg-12 px-0">
    <section class="container-fluid topics-bg px-0">
      <div class="container">
        <h3 class="text-center pb-2 banner-heading">Here are the topics we have for you!</h3>

        <div class="col-sm-12 px-0 d-flex pb-5">
          <input type="text" name="searchTopics" placeholder="Search Topics" class="mb-0" />
          <button class="reset-btn">
            <img src="/assets/images/reset.svg" alt="" class="pl-4" />
          </button>
        </div>
        <div>
          <ul class="topics-btn">
            <li class="active">Software Development</li>
            <li>Internet of Things (IoT)</li>
            <li>Cloud Computing</li>
            <li>Artificial Intelligence</li>
            <li>Big Data</li>
            <li>Data Science</li>
            <li>Blockchain</li>
            <li>Cyber Security</li>
            <li>Quantum Computing</li>
            <li>Metaverse</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="container-fluid topics-desc">
    <div class="container">
      <div class="d-flex">
        <img src="/assets/images/topic-image.png" alt="" class="pr-5 pb-3" />

        <div class="pb-4">
          <h2>Software Development</h2>
          <p>
            Software development is the process of conceiving, specifying, designing, programming,
            documenting, testing, and bug fixing involved in creating and maintaining applications,
            frameworks, or other software components. Software development involves writing and
            maintaining the source code, but in a broader sense, it includes all processes from the
            conception of the desired software through to the final manifestation of the software,
            typically in a planned and structured process.
          </p>
          <p>
            Software development is the process of conceiving, specifying, designing, programming,
            documenting, testing, and bug fixing involved in creating and maintaining applications,
            frameworks, or other software components. Software development involves writing and
            maintaining the source code, but in a broader sense, it includes all processes from the
            conception of the desired software through to the final manifestation of the software,
            typically in a planned and structured process.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex category-section mt-4">
      <div class="category-heading">Category</div>
      <div class="category-title">Topics</div>
      <div class="ml-auto">
        <button mat-raised-button class="button primary sort">
          Sort By <img src="/assets/images/sort-arrows-icon.svg" />
        </button>
      </div>
    </div>
    <div class="tab-container">
      <mat-tab-group>
        <mat-tab label="All">
          <section>
            <div class="card-section d-flex flex-wrap justify-content-center mb-4 pt-4">
              <div class="topics-card">
                <div><img src="/assets/images/topics-1.png" alt="" class="header-image" /></div>
                <div class="content">
                  <div class="title">#Cyber Security</div>
                  <div class="description pb-3">
                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                      accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae
                      ab illo quae ainventore veritatis et quasi architecto beatae vitae quia dicta
                      sunt.
                    </p>
                  </div>
                  <button class="button follow-btn" tabindex="0" [routerLink]="['/topics/details']">
                    EXPLORE
                  </button>
                </div>
              </div>
              <div class="topics-card">
                <div><img src="/assets/images/topics-2.png" alt="" class="header-image" /></div>
                <div class="content">
                  <div class="title">#AI/ML</div>
                  <div class="description pb-3">
                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                      accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae
                      ab illo quae ainventore veritatis et quasi architecto beatae vitae quia dicta
                      sunt.
                    </p>
                  </div>
                  <button class="button follow-btn" tabindex="0" [routerLink]="['/topics/details']">
                    EXPLORE
                  </button>
                </div>
              </div>
              <div class="topics-card">
                <div><img src="/assets/images/topics-3.png" alt="" class="header-image" /></div>
                <div class="content">
                  <div class="title">#Blockchain</div>
                  <div class="description pb-3">
                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                      accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae
                      ab illo quae ainventore veritatis et quasi architecto beatae vitae quia dicta
                      sunt.
                    </p>
                  </div>
                  <button class="button follow-btn" tabindex="0" [routerLink]="['/topics/details']">
                    EXPLORE
                  </button>
                </div>
              </div>
              <div class="topics-card">
                <div><img src="/assets/images/topics-1.png" alt="" class="header-image" /></div>
                <div class="content">
                  <div class="title">#Cloud Computing</div>
                  <div class="description pb-3">
                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                      accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae
                      ab illo quae ainventore veritatis et quasi architecto beatae vitae quia dicta
                      sunt.
                    </p>
                  </div>
                  <button class="button follow-btn" tabindex="0" [routerLink]="['/topics/details']">
                    EXPLORE
                  </button>
                </div>
              </div>
              <div class="topics-card">
                <div><img src="/assets/images/topics-2.png" alt="" class="header-image" /></div>
                <div class="content">
                  <div class="title">#IoT</div>
                  <div class="description pb-3">
                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                      accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae
                      ab illo quae ainventore veritatis et quasi architecto beatae vitae quia dicta
                      sunt.
                    </p>
                  </div>
                  <button class="button follow-btn" tabindex="0" [routerLink]="['/topics/details']">
                    EXPLORE
                  </button>
                </div>
              </div>
              <div class="topics-card">
                <div><img src="/assets/images/topics-3.png" alt="" class="header-image" /></div>
                <div class="content">
                  <div class="title">#Open Source</div>
                  <div class="description pb-3">
                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                      accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae
                      ab illo quae ainventore veritatis et quasi architecto beatae vitae quia dicta
                      sunt.
                    </p>
                  </div>
                  <button class="button follow-btn" tabindex="0" [routerLink]="['/topics/details']">
                    EXPLORE
                  </button>
                </div>
              </div>
            </div>
          </section>
        </mat-tab>
        <mat-tab label="Programming Languages"> Tab Two Content </mat-tab>
        <mat-tab label="Data Structure & Algorithms"> Tab One Content </mat-tab>
        <mat-tab label="Design Patterns"> Tab One Content </mat-tab>
        <mat-tab label="Software Architecture"> Tab Two Content </mat-tab>
        <mat-tab label="System Design"> Tab One Content </mat-tab>
        <mat-tab label="App Development"> Tab One Content </mat-tab>
        <mat-tab label="Web Development"> Tab One Content </mat-tab>
        <mat-tab label="DevOps"> Tab One Content </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
