@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/common.scss';

.course-img {
    height: 292px;
    margin-right: 90px;
    border-radius: 20px;
}
.course-tile {
    max-width: 1375px;
}
.date-icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    display: inline-block;
    &.dark {
      background: url("../../../assets/images/date-icon-black.png") no-repeat;
    }
  }
  .link-icon {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    display: inline-block;
    background: url("../../../assets/images/link-icon.png") no-repeat;
  }

  .course-card {
    cursor: pointer;
  }