<div id="course-detail-page" class="tekbyte-details-page skill-studio-page p-main pb-0">
  <app-spinner></app-spinner>
  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub/dashboard']">SkillStudio</a>
          <a class="url-link" [routerLink]="['/ai-hub/courses']">Courses</a>
          <span>{{courseDetail.title}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 px-0 pb-0">
      <section class="container-fluid details-banner linear-bg px-0 pt-5 ">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-8 mr-5 mob-mr-0">
              <div class="mt-4 d-flex align-items-center">
              <h2 class="pb-3">{{courseDetail.title}}</h2>
              <div class="pb-3 ml-3 d-flex"><span class="okhand-white-icon pr-4"></span>0</div>
              </div>
              
              <h6 class="text-white author">{{courseDetail.author}} (August 16, 2010)</h6>
             <p>{{courseDetail.summary}}</p> 
             <button class="button tertiary b-radius">Explore</button>
            </div>
            <div class="col-lg-3 subscribe-block">
              <h3>Highlight of this course:</h3>
              <ul class="course-highlight">
                <li>Channel: udemy</li>
                <li>Duration: 12 hours</li>
                <li>Delivery More: Online</li>
                <li>Learning: Self-Paced</li>
                <li>Instruction Lead: Online</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- <section class="d-flex skill-studio-bg px-0 py-5">
        <div>
          <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 order-1 order-lg-1 hero-img text-right mr-5">
              <img [src]="courseDetail.imageUrl" alt="topic image" class="course-img" />
            </div>
            <div
              class="col-xl-4 col-lg-6 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center">
              <h2>{{courseDetail.title}}</h2>
              <h6>{{courseDetail.author}} (August 16, 2010)</h6>
              <p class="mb-3">
                {{courseDetail.summary}}
              </p>
              <div class="mt-4 d-flex align-items-center">
                <div class="pl-0 mr-3"><span class="okhand-icon pr-4"></span>0</div>
                <div class="badge premium mb-0">{{courseDetail.publisher}}</div>
            </div>
            </div>
          </div>
        </div>
      </section> -->
    </div>
  </div>
  <!-----Curriculum Section----->
  <div class="container d-flex details-body px-0">
    <div class="col-lg-8 col-sm-12 mr-5">
      <section class="py-5">
          <div class="section-title text-left">
            <h2>Curriculum</h2>
          </div>
            <p class="pb-3">{{courseDetail.description}}</p>
        <div *ngFor="let module of courseDetail.modules" class="box-content">
            <h4>{{module.title}} <span class="link-icon"></span></h4>
            <p>{{module.description}}</p>
              <div class="description d-flex align-items-center"><span class="date-icon dark"></span>2 - 3 weeks</div>
        </div>
      </section>
    </div>
    <div class="pt-5">
      <div class="col-lg-4 col-sm-12 subscribe-block american-blue-bg">
        <h3 class="text-white">Tekcapsule AI Digest</h3>
        <p  class="text-white">Connecting you to the latest AI advancements and insights!</p>
        <div>
          <input type="email" name="email id" formControlName="emailId" class="input-mail mb-0"
            placeholder="Enter Your Email ID" />
          <button mat-raised-button class="button tertiary mt-3">
            Subscribe Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-----Related Topics Section----->
  <section class="py-5  bg-gray">
    <div class="container course-tile">
      <div class="section-title">
        <h2>Courses you may be interested in!</h2>
      </div>
        <div class="d-flex flex-wrap">
          <div class="card-section cards-spacing d-flex justify-content-center mb-4 pb-4">
            <div *ngFor="let course of relatedCourseList" class="course-card carousel-card"  (click)="onCourseClick(course)">
              <div class="position-relative">
                <div class="badge new mb-0" [ngClass]="course.prizingModel.toLowerCase()">{{course.prizingModel}}</div>
                <div class="icons timer">
                  <img src="/assets/images/timer.svg" class="rounded-img" alt="timer icon" /><span
                   >{{course.duration}} mins</span>
                </div>
                <div class="icons labelRed"><span>#{{course.topicCode}}</span></div>
                <img [src]="course.imageUrl" alt="card 3" class="header-image" />
              </div>
              <div class="content">
                <div class="title">
                  {{course.title}}
                  <p>
                    Summary by {{course.author}} <span>(August 16, 2010)</span>
                  </p>
                </div>
                <div class="description">
                  <p>
                    {{course.summary}}
                  </p>
                </div>
              </div>
              <div class="mt-4 d-flex align-items-center justify-content-between px-4 card-footer">
                <div class="d-flex pl-0"><span class="okhand-gray-icon pr-4"></span>100</div>
                <div class="d-flex pr-2"><span class="publisher-icon"></span>{{course.publisher}}</div>
            </div>
            </div>
            
          </div>
        </div>
      </div>
  </section>
</div>