<div id="course-detail-page" class="tekbyte-details-page skill-studio-page p-main pb-0">
  <app-spinner></app-spinner>
  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/skillstudio']">AI Hub</a>
          <a class="url-link" [routerLink]="['/courses']">Courses</a>
          <span>{{courseDetail.title}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 px-0 pb-0">
      <section class="d-flex skill-studio-bg px-0 py-5">
        <div>
          <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 order-1 order-lg-1 hero-img text-right mr-5">
              <img [src]="courseDetail.imageUrl" alt="topic image" class="course-img" />
            </div>
            <div
              class="col-xl-4 col-lg-6 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center">
              <h2>{{courseDetail.title}}</h2>
              <h6>{{courseDetail.author}} (August 16, 2010)</h6>
              <p class="mb-3">
                {{courseDetail.summary}}
              </p>
              <div class="mt-4 d-flex align-items-center">
                <div class="pl-0 mr-3"><span class="okhand-icon pr-4"></span>0</div>
                <div class="badge premium mb-0">{{courseDetail.publisher}}</div>
            </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-----Curriculum Section----->
  <section class="py-5">
    <div class="container">
        <h3 class="sub-heading">Curriculum</h3>
        <p>{{courseDetail.description}}</p>
    <div *ngFor="let module of courseDetail.modules" class="box-content">
        <h4>{{module.title}} <span class="link-icon"></span></h4>
        <p>{{module.description}}</p>
          <div class="description"><span class="date-icon dark"></span>2 - 3 weeks</div>
    </div>
    </div>
  </section>
  <!-----Related Topics Section----->
  <section class="py-5  bg-gray">
    <div class="container course-tile">
        <h3 class="sub-heading text-center pb-5">Related Topics</h3>
        <div class="d-flex flex-wrap">
          <div class="card-section cards-spacing d-flex justify-content-center mb-4 pb-4">
            <div *ngFor="let course of relatedCourseList" class="course-card carousel-card"  (click)="onCourseClick(course)">
              <div class="position-relative">
                <div class="icons timer">
                  <img src="/assets/images/timer.svg" class="rounded-img" alt="timer icon" /><span
                   >{{course.duration}} mins</span>
                </div>
                <div class="icons labelRed"><span>#{{course.topicCode}}</span></div>
                <img [src]="course.imageUrl" alt="card 3" class="header-image" />
              </div>
              <div class="content">
                <div class="title">
                  {{course.title}}
                  <p>
                    Summary by {{course.author}} <span>(August 16, 2010)</span>
                  </p>
                </div>
                <div class="description">
                  <p>
                    {{course.summary}}
                  </p>
                </div>
                <div class="mt-4 d-flex align-items-center justify-content-between">
                    <div class="pl-0"><span class="okhand-icon pr-4"></span>100</div>
                    <div class="badge pink mb-0">{{course.publisher}}</div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
  </section>
</div>