<div class="contactus-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <section class="contactus-banner">
    <div class="inner row justify-content-center pt-3">
      <div
        class="col-xl-6 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content">
        <h1 class="text-white">We love to collaborate! </h1>
        <h3 class="text-white pb-3 content-sub-text">We are excited to hear from you…</h3>
      </div>
      <div class="col-xl-6 col-lg-6 order-2 order-lg-2">
        <img src="../../assets/images/contactus/contactus-banner-people.png" alt="" />
      </div>
    </div>
  </section>


  <section>
    <div class="inner">
      <!-- Sec 1 -->
      <div class="row align-items-center  mb-5">
        <div class="col-lg-4 col-md-4 order-2 order-lg-1 order-md-1 pr-5">
          <img src="assets/images/contactus/location-1.png" class="img-fluid" alt="Our Services" />
        </div>
        <div class="col-lg-5 col-md-5 pt-lg-0 order-1 order-lg-2">
          <h2 class="home-banner-subtitle">
            Prestige Atlanta
          </h2>
          <h3 class="content-sub-text">
            80 Feet Road, Main Road Koramangala 1A Block, Bengaluru, Karnataka 560034
          </h3>
        </div>
      </div>
      <!-- Sec 2 -->
      <div class="row align-items-center  mb-5">
        <div class="col-lg-4 col-md-4 order-2 order-lg-1 order-md-1 pr-5">
          <img src="assets/images/contactus/location-2.png" class="img-fluid" alt="Our Services" />
        </div>
        <div class="col-lg-5 col-md-5 pt-lg-0 order-1 order-lg-2">
          <h2 class="home-banner-subtitle">
            AKR Tech Park
          </h2>
          <h3 class="content-sub-text">
            No.112, “A” Block, Krishna Reddy Industrial Area, 7th Mile Hosur Road, Bangalore – 560 068
          </h3>
        </div>
      </div>
    </div>
  </section>
  
  
  <div class="inner">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15554.678104937957!2d77.6328922!3d12.9289492!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1460d1af3721%3A0x7547770171fb3d5!2sWeWork!5e0!3m2!1sen!2sin!4v1691000983376!5m2!1sen!2sin" width="100%" height="370" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <section class="form-bg">
    <app-collaborate-form></app-collaborate-form>
  </section>
</div>