@import './../../assets/styles/variables.scss';

.contactus-page {
  .container {
    max-width: 1080px;
    padding-left: 0;
  }
    &.p-main {
      padding: 92px 12px 20px;
    }
    .contactus-banner {
      background: $corporate-color url('../../assets/images/banner-pattern.svg') 125px 0 no-repeat;

      height: 300px;
      width: 100%;
      margin-bottom: 50px;
      background-size: cover;
      margin-top: 65px;
    }
    .page-banner {
      height: 470px;
    }
    .banner-rh-section {
      top: 86px;
    }
    .contactus-container {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
    h3 {
      font-size: 20px !important;
      font-family: $primary-font-bold;
    }
    .map-bg {
      background: url('../../assets/images/contactus/map-bg.png') no-repeat;
      background-size: cover;
    }
    .office-image {
      background: #30354D;
      padding: 20px 30px 30px;
      width: 325px;
      height: 305px;
      margin-right: 50px;
      label {
        font-family: $primary-font-bold;
        font-size: 21px;
        padding-bottom: 10px;
        color: #fff;
      }
    }
    .contact-details {
      background: #fff;
      padding: 30px;
      font-size: 18px;
      font-family:  $primary-font-medium;
       a {
        font-weight: 400;
       }
    }
    .map {
      font-size: 18px;
      font-family:  $primary-font-bold;
      display: flex;
      align-items: center;
      margin: 30px 0 0 30px;
      font-weight: 500;
    }
  }
// .form-bg {
//   background: url('../../assets/images/about/form-bg.png') no-repeat;
//   background-size: cover;
//   height: fit-content;
//   padding-bottom: 40px;
// }
.form-bg {
  background: transparent linear-gradient(263deg, #07182F 0%, #07182F 100%) 31% 75% no-repeat;
  background-size: cover;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 40px;
  background-position-y: 325px;
}
.contactus-content {
  display: flex;
}

@media only screen and (max-width: 990px) {
  .contactus-page {
  .banner-rh-section {
    top: 274px;
  }
  .inner {
    padding: 0px 20px !important;
    width: 100% !important;
  }


  .contactus-banner {
    height: auto !important;
    margin-top: 76px !important;
  }
  .banner-img {
    width: 100%;
  }
  .contactus-content {
    display: block;
    .w-75 {
      width: 100% !important;
    }
    .map {
      margin: 0;
    }
    .contact-details {
      padding: 30px 0;
      span {
      display: block !important;
    }
  }
    .office-image {
      display: block;
      text-align: center;
      width: 100% !important;
    }
  }
 }
}
