<div class="contactus-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <section class="contactus-banner">
    <div class="inner row justify-content-center pt-3">
      <div
        class="col-xl-6 col-lg-6 col-sm-12 pt-3 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center banner-content">
        <h1 class="text-white">We love to collaborate! </h1>
        <h3 class="text-white pb-3 content-sub-text">We are excited to hear from you…</h3>
      </div>
      <div class="col-xl-6 col-lg-6 order-2 order-lg-2">
        <img src="../../assets/images/contactus/contactus-banner-people.png" alt="" />
      </div>
    </div>
  </section>


  <section class="map-bg">
    <div class="inner">
      <!-- Sec 1 -->
      <div class="contactus-container">
        <div class="d-flex">
          <div class="office-image">
            <label>Registered Office</label>
            <img src="assets/images/contactus/location-1.png" alt="Our Services" />
        </div>
        <div class="d-block w-75">
          <div class="contact-details">
          <h2 class="home-banner-subtitle">
            Prestige Atlanta
          </h2>
          <p>
            80 Feet Road, Main Road Koramangala 1A Block, Bengaluru, Karnataka 560034
          </p>
          <span class="mr-5"><a href="mailto:contact@tekcapzule.com">contact@tekcapzule.com</a></span>
          <span><a href="telto:contact@tekcapzule.com">+91 80-37012583</a></span>
        </div>
          <div class="map">Open in maps
            <img src="assets/images/contactus/arrow-icon.png" alt="location" class="ml-5"/>
            <a href="https://www.google.com/maps/place/WeWork/@12.9288847,77.6313388,17.75z/data=!4m6!3m5!1s0x3bae1460d1af3721:0x7547770171fb3d5!8m2!3d12.9289492!4d77.6328922!16s%2Fg%2F1ptvqbgj4?entry=ttu" target="_blank">
            <img src="assets/images/contactus/location-icon.png" alt="location" class="ml-5"/>
            </a>
          </div>
        </div>
        </div>
      </div>
      <!-- Sec 2 -->
      <div class="contactus-container">
        <div class="d-flex">
          <div class="office-image">
            <label>Other Office Location</label>
            <img src="assets/images/contactus/location-2.png" alt="Our Services" />
        </div>
        <div class="d-block w-75">
          <div class="contact-details">
          <h2 class="home-banner-subtitle">
            AKR Tech Park
          </h2>
          <p>
            No.112, “A” Block, Krishna Reddy Industrial Area, 7th Mile Hosur Road, Bangalore – 560 068
          </p>
          <span class="mr-5"><a href="mailto:contact@tekcapzule.com">contact@tekcapzule.com</a></span>
          <span><a href="telto:contact@tekcapzule.com">+91 80-37012583</a></span>
        </div>
          <div class="map">Open in maps
            <img src="assets/images/contactus/arrow-icon.png" alt="location" class="ml-5"/>
 
            <a href="https://www.google.com/maps/place/BHIVE+Workspace,+HSR+Campus/@12.8931031,77.6392431,16.75z/data=!4m6!3m5!1s0x3bae1526dc247ba9:0xebdd6b6714bfaabc!8m2!3d12.8926389!4d77.6417601!16s%2Fg%2F11sfrrvfdm?entry=ttu" target="_blank">
              <img src="assets/images/contactus/location-icon.png" alt="location" class="ml-5"/>
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="form-bg">
    <app-collaborate-form [pageType]="'contactUs'"></app-collaborate-form>
  </section>
</div>