@import './../../assets/styles/variables.scss';

.contactus-page {
    &.p-main {
      padding: 92px 12px 20px;
    }
    .contactus-banner {
      background: url('../../assets/images/whatwedo/whatwedo-banner.svg');
      height: 300px;
      width: 100%;
      margin-bottom: 50px;
      background-size: cover;
      margin-top: 108px;
    }
    h2 {
      font-size: 24px;
      font-family: $primary-font-medium;
    }
  }
.form-bg {
  background: url('../../assets/images/about/form-bg.png') no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 990px) {
  .inner {
    padding: 20px 0 0!important;
  }
 
  
  .contactus-banner {
    height: auto !important;
  }
 }