<div id="tekbyte" class="tekbyte-page p-main">
  <div class="pb-3 col-lg-12 px-0">
    <section class="container-fluid topics-bg px-0">
      <app-tekbyte-carousel></app-tekbyte-carousel>
    </section>
  </div>

<div class="container">
<div class="col-sm-12 px-0"><input type="text" name="searchTopics" placeholder="Search Topics"></div>
<div class="d-flex category-section">
  <div class="category-heading">Select Category</div>
  <div class="category-title">User Centered Design
    <span>Topics 40</span>
  </div>
  <div class="ml-auto">
  <button mat-raised-button class="button primary sort">Sort By <img src="../../assets/images/sort-arrows-icon.svg" /></button>
</div>
</div>
<div class="tab-container">
  <mat-tab-group>
    <mat-tab label="User Centered Design">
      <section>
        <div class="card-section d-flex flex-wrap justify-content-center mb-4 pt-4">
          <div class="topics-card">
            <div><img src="/assets/images/topics-1.png" alt="" class="header-image"></div>
            <div class="content">
              <div class="title">#Cyber Security</div>
              <div class="description pb-3">
                <p> Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                  accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                  ainventore veritatis et quasi architecto beatae vitae quia dicta sunt. </p>
              </div><button class="button follow-btn" tabindex="0"
                ng-reflect-router-link="../topicdetails">FOLLOW</button>
            </div>
          </div>
          <div class="topics-card">
            <div><img src="/assets/images/topics-2.png" alt="" class="header-image"></div>
            <div class="content">
              <div class="title">#AI/ML</div>
              <div class="description pb-3">
                <p> Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                  accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                  ainventore veritatis et quasi architecto beatae vitae quia dicta sunt. </p>
              </div><button class="button follow-btn">FOLLOW</button>
            </div>
          </div>
          <div class="topics-card">
            <div><img src="/assets/images/topics-3.png" alt="" class="header-image"></div>
            <div class="content">
              <div class="title">#Blockchain</div>
              <div class="description pb-3">
                <p> Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                  accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                  ainventore veritatis et quasi architecto beatae vitae quia dicta sunt. </p>
              </div><button class="button follow-btn">FOLLOW</button>
            </div>
          </div>
          <div class="topics-card">
            <div><img src="/assets/images/topics-1.png" alt="" class="header-image"></div>
            <div class="content">
              <div class="title">#Cloud Computing</div>
              <div class="description pb-3">
                <p> Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                  accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                  ainventore veritatis et quasi architecto beatae vitae quia dicta sunt. </p>
              </div><button class="button follow-btn">FOLLOW</button>
            </div>
          </div>
          <div class="topics-card">
            <div><img src="/assets/images/topics-2.png" alt="" class="header-image"></div>
            <div class="content">
              <div class="title">#IoT</div>
              <div class="description pb-3">
                <p> Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                  accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                  ainventore veritatis et quasi architecto beatae vitae quia dicta sunt. </p>
              </div><button class="button follow-btn">FOLLOW</button>
            </div>
          </div>
          <div class="topics-card">
            <div><img src="/assets/images/topics-3.png" alt="" class="header-image"></div>
            <div class="content">
              <div class="title">#Open Source</div>
              <div class="description pb-3">
                <p> Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem
                  accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
                  ainventore veritatis et quasi architecto beatae vitae quia dicta sunt. </p>
              </div><button class="button follow-btn">FOLLOW</button>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>
    <mat-tab label="High-Performance Computing (HPC)">
      Tab Two Content
    </mat-tab>
    <mat-tab label="Artificial Intellegency Machine Learning">
      Tab One Content
    </mat-tab>
    <mat-tab label="User Centered Design">
      Tab One Content
    </mat-tab>
    <mat-tab label="High-Performance Computing (HPC)">
      Tab Two Content
    </mat-tab>
    <mat-tab label="Artificial Intellegency Machine Learning">
      Tab One Content
    </mat-tab>
  </mat-tab-group>
</div>
</div>
</div>