@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.digest-card {
    min-height: 210px;
    max-width: 395px;
    width: 100%;
    color: #1A1A1A;
    border-radius: 12px;
    margin: 0px 40px 25px 0px;
    display: inline-block;
    text-align: left;
    border: 1px solid #E8EDFF;
    background-color: $white;
    cursor: pointer;
    .card-top {
      padding: 20px 25px;
      height: 190px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      // background: url('../../assets/images/tile_curve.svg') no-repeat;

      &.bg-1 {
        background-color: #161e45;
      }
      &.bg-2 {
        background-color: #341251;
      }
      &.bg-3 {
        background-color: #521255;
      }
    }

    .title {
      font-size: 18px;
      font-family: $primary-font-bold;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      line-height: 26px;
    }

    .description {
      font-size: 16px;
      font-family: $primary-font-regular;
      padding-bottom: 20px;
      max-height: 100px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow-y: hidden;
    }
  }

  @media only screen and (max-width: 767px) {
    .digest-card {
      .card-top {
        height: auto;
        .description {
          max-height: fit-content;
          display: block;
        }
      }
    }
  }
