<div class="insights-page">
  <div class="linear-bg-banner insights-banner">
    <section class="inner">
      <div class="d-flex align-items-center justify-content-between py-4 px-0" *ngIf="!isMobileResolution">
        <div>
          <button class="filters-btn active">Artificial Intelligence</button>
          <button class="filters-btn">Web 3.0</button>
          <button class="filters-btn">Metaverse</button>
        </div>
        <div class="float-right">
          <button class="filter-btn">
            <img src="../../assets/images/reset.svg" alt="reset icon" class="pr-1" />
            Refresh
          </button>
        </div>
      </div>
      <div class="graph">
        <app-line-chart></app-line-chart>
        <!-- <img src="../../assets/images/insights/insight-chart.png" alt="" width="1109" height="415" /> -->
      </div>
    </section>
  </div>

  

  <section class="inner insights-content">
    <div class="d-flex justify-content-between">
      <h2>News & Feeds</h2>
      <div class="search-rounded col-lg-3 pl-0" *ngIf="!isMobileResolution">
        <input type="text" name="searchTopics" placeholder="Search" class="mb-0 input-search-rounded"
            [(ngModel)]="searchText" (keyup)="onSearch()" />
          <button title="search bar" class="search-btn" (click)="onSearch()"></button>
      </div>
    </div>
    <div *ngFor="let insights of insightsList; let i = index" class="border-line">
      <div class="d-flex justify-content-between">
      <div class="d-flex">
        <h3>{{insights.title}}</h3>
        <span class="pills ml-3" [ngClass]="{'pink':insights.topic === 'AI', 'blue':insights.topic === 'AI', 'yellow':insights.topic === 'MTV'}">{{insights.topicName}}</span>
      </div>
      <div class="date">{{insights.publishedOn}}<span class="pl-3 date-icon light"></span></div>
      </div>
      <p>{{insights.description}}</p>
        <div class="d-flex">
          <div class="pills">Industry News</div>
          <div class="pills">Regulatroy News</div>
          <div class="pills">LLM Update</div>
        </div>
    </div>
    
  </section>
</div>