@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.insights-page {
  .insights-banner {
    background: url('../../assets/images/insights/insights-banner-bg.png') no-repeat;
    height: 590px;
    width: 100%;
    background-size: 100%;
    .inner {
      max-width: 1110px;
    }
  }
  .graph {
    top: 139px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    // opacity: 0.42;
    // background-color: #20132E;
    position: relative;
  }
  .insights-content {
    max-width: 1110px;
    background: $white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px 90px;
    margin-top: -60px;
    .heading {
          border-bottom: 1px solid #707070;
          margin-bottom: 30px;
    }
  }
}