// Custom Theming for Angular Material
@use '@angular/material' as mat;
@import '~@aws-amplify/ui-angular/theme.css';
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-mdc-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tekcapsule-web-primary: mat.define-palette(mat.$indigo-palette);
$tekcapsule-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tekcapsule-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tekcapsule-web-theme: mat.define-light-theme(
  (
    color: (
      primary: $tekcapsule-web-primary,
      accent: $tekcapsule-web-accent,
      warn: $tekcapsule-web-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($tekcapsule-web-theme);

/* You can add global styles to this file, and also import other style files */
@import './assets/styles/common.scss';
@import './assets/styles/variables.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $primary-font-regular;
  color: #414141;
}

.mat-mdc-tab-group.mat-mdc-primary .mat-mdc-ink-bar,
.mat-mdc-tab-nav-bar.mat-mdc-primary .mat-mdc-ink-bar {
  background-color: #e7245f !important;
  height: 4px;
  // width: auto!important;
  // min-width: 80px;
}

.mat-mdc-tab-link {
  min-width: 70px !important;
  padding: 0 !important;
  text-align: start !important;
  justify-content: initial !important;
  margin-right: 64px;
  @media only screen and (max-width: 990px) {
    margin-right: 50px;
  }
}

/*******************************
            Data Table
********************************/
.data-table {
  background: #fff;
  margin-bottom: 40px;
  table.mat-mdc-table {
    width: 100%;
    border: 0 !important;
    @media only screen and (max-width: 990px) {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
    tr.mat-mdc-header-row {
      border-top: 0;
      th.mat-mdc-header-cell {
        font-size: 14px !important;
        font-weight: bold;
        color: #2e2e2e;
      }
    }
    tr.mat-mdc-row {
      td.mat-mdc-cell {
        font-size: 14px !important;
        color: #454964 !important;
        &.title-column {
          color: #4b579a !important;
          font-weight: 700;
        }
        &.custom-title-col {
          max-width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &.custom-description-col {
          max-width: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .badge.badge-light {
          color: #454964;
          background-color: #eef0fb;
          border: 1px solid #d3d6e8 !important;
          font-size: 13px;
          min-width: 40px;
        }
      }
    }
    .data-table__no-record {
      width: 100%;
      text-align: center;
    }
  }
  .mat-mdc-paginator,
  .mat-mdc-paginator-page-size .mat-mdc-select-trigger {
    font-size: 14px !important;
  }
}

/*******Login Page*********/

.anchor:active {
  color: #e7245f !important;
}
:root {
  --amplify-primary-color: #e30045;
  --amplify-primary-tint: #3f6060;
  //--amplify-primary-shade: #2dba89;
  //--amplify-background-color: #e0faf4;
}

body.modal-open {
  overflow: hidden;
}
