@import "./variables.scss";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #414141;
  }
  
  a {
    color: #414141;
  }
  
  a:hover {
    color: $primary-color;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-fonts;
    color: $heading-color;
  }
  h1 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
    color: #000;
    span {
        color: $primary-color;
        text-transform: uppercase;
    }
  }

  h2 {
    margin-bottom: 15px;
    font-size: 38px;
  }
  h3 {
      font-size: 28px;
      font-family: $primary-font-medium;
  }

  /*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding-bottom: 30px;
    h2 {
        font-size: 38px;
    }
  }


/*--------------------------------------------------------------
# Carousel Section
--------------------------------------------------------------*/
.carousel-card {
    width: 405px;
    height: 575px;
    box-shadow: 0px 3px 39px #0000000F;
    border-radius: 20px;
    margin: 0 20px;
    transition: 0.3s;
    background: #fff;
    &:hover{
      transform: scale(1.08);
    box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
    }
    .header-image {
        height: 180px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #f3f3f3;
    }
    .icons {
      position: absolute;
      background: #fff;
      border-radius: 20px;
      margin: 20px 25px;
      padding: 7px;
      height: 35px;
      width: 35px;
    }
    .card-footer{
      background: none;
      border: 0 none;
      img{
        cursor: pointer;
      }
    }
  .content{
      padding: 0 30px;
    .title{
        font-size: 20px;
        font-family: $cardtitle-font;
        line-height: 23px;
        min-height: 70px;
        p {
            font-family: $primary-font-medium;
            font-size: 14px;
            span {
                font-family: $primary-font-regular;
                color: #9B9B9B;
            }
        }
    }
    .description{
        font-family: $primary-font-light;
        font-size: 14px;
    }
  }
}

/*--------------------------------------------------------------
# Font Family
---------------------------------------------------------------*/


@font-face {
    font-family: $heading-fonts;
    src: url($heading-fonts-url);
}

@font-face {
    font-family: $primary-font-regular;
    src: url($primary-font-regular-url);
}

@font-face {
    font-family: $primary-font-light;
    src: url($primary-font-light-url);
}

@font-face {
    font-family: $primary-font-bold;
    src: url($primary-font-bold-url);
}
@font-face {
    font-family: $primary-font-medium;
    src: url($primary-font-medium-url);
}
@font-face {
    font-family: $cardtitle-font;
    src: url($cardtitle-font-url);
}




/*--------------------------------------------------------------
# Button Styles
--------------------------------------------------------------*/
.button {
    border-radius: 42px;
    height: 60px;
    width: 222px;
    font-family: $primary-font-bold;
    font-size: 19px;
    border: 2px solid $primary-color;

    &.primary{
        background-color: $primary-color;
        color: $white;
        margin-right: 15px;
    }
    &.secondary {
        background-color: $white;
        color: $primary-color;
    }
    &.tertiary {
        border-radius: 8px!important;
        background-color: $primary-color;
        color: $white;
        width: 170px;
        height: 50px;
        font-size: 16px;
    }
}
.content-sub-text {
    font-size: 23px;
    font-family: $primary-font-regular;
    line-height: 37px;
    color: $secondary-color;
}
.follow-us {
    margin-top: 38px;
    a {
        color: $primary-color;
        font-size: 24px;
        font-family: $primary-font-medium;
        padding: 0 20px;
        text-decoration: underline;
        img{
            padding-right: 10px;
        }
    }
}

/*****************************************
<!--Form Styles -->
******************************************/
input, textarea {
    background: #fff;
    border: 0 none;
    padding: 15px 20px;
    border-radius: 10px;
    color: #A1A1A1;
    font-family: $primary-font-medium;
    font-size: 20px;
    margin-bottom: 25px;
    width: 100%;
}
.p-main {
    padding-top: 114px;
}