@media only screen and (max-width: 990px) {
  .capsule-card-container {
    width: 390px !important;
    height: 590px !important;
  }
  .section-title h2,
  h2 {
    font-size: 20px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  .signin {
    height: 560px !important;
    margin-top: 90px;
  }
  .capsules-page,
  .topics-page,
  .create-capsule-page {
    .card-section {
      margin: 0 10px;
      padding-top: 5rem !important;
      margin-bottom: 0px !important;
      .carousel-card {
        margin-bottom: 20px;
        padding-bottom: 20px;
        height: auto;
        &:hover {
          transform: none !important;
        }
      }
    }
  }
  .mat-tab-links {
    .w-50 {
      width: auto !important;
    }
  }
  .topics-card {
    margin: 0 0 20px !important;
    &:hover {
      transform: none !important;
    }
  }
  .onOverlayContent {
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    height: 277px;
  }
  .community-page,
  .mission-page {
    p {
      font-size: 18px !important;
      line-height: 28px !important;
    }
    .tech-repo {
      background-position: center !important;
      .inline-points {
        left: 0 !important;
        top: 25% !important;
        ul > li {
          margin-left: 0 !important;
        }
      }
    }
  }
  .community-page {
    .part-2 {
      padding-top: 30px !important;
    }
    .part-3,
    .part-4 {
      padding: 30px 0 !important;
    }
  }
  input,
  textarea {
    font-size: 16px !important;
  }
  .admin-page {
    &.p-main {
      padding: 90px 30px 30px !important;
    }
    .mat-tab-links {
      max-width: 1600px !important;
    }
    h1 {
      font-size: 22px !important;
    }

    .resp-btn {
      justify-content: center;
      display: flex;
      padding-top: 20px;
      .action-btn {
        margin-right: 20px;
      }
    }
  }
  .create-topic-form {
    display: contents !important;
    .column {
      width: 100% !important;
    }
  }
  .badge-danger {
    top: 17px !important;
    left: 105px !important;
    border: 1px solid #fff;
  }
  .nav-menu .active > a {
    color: $white!important;
  }
  .dropdown {
    padding-bottom: 10px !important;
  }
  .back-link {
    font-size: 14px !important;
    display: block !important;
    span {
      &:first-child{
        margin-left: 0 !important;
        display: block;
      }
      &:nth-child(2) {
        // margin-left: 0 !important;
      }
    }
    a {
      &::after{
        margin-top: 6px;
      }
    }
  }
  .mission-page, .community-page {
  .tech-learning {
      padding: 40px 0 !important;
    }
   h2 {
    margin-bottom: 0 !important;
   }
  }
  #header .header-align {
    height: 75px !important;
    padding: 0;
    display: inline-block !important;
  }
  .navbar-toggler-icon {
    width: 25px;
    height: 30px;
  }
  .contribute-page {
    .contribute-bg {
      padding-bottom: 40px !important;
    }

    .contribute-bg, .contribute-form-bg {
      height: auto !important;
    }
  }
  .capsule-top {
    padding-top: 0 !important;
  }
  .follow-us {
    margin-top: 20px !important;
  }
  h1{
    padding-bottom: 0 !important;
  }
  .tags {
    max-height: 480px !important;
  }
  .topic-apply {
    text-align: center !important;
  }
  .flip-card .key-points {
    height: 317px !important;
  }
  .modal.show .modal-dialog {
    margin-top: 77px!important;
  }
  .button.primary, button.tertiary {
    padding: 5px 20px;
    font-size: 15px;
    height: auto !important;
    width: auto !important;
  }
  .capsule-filter {
    z-index: 999 !important;
    right: 5% !important;
    top: 30px !important;
  }
 
  .p-multiselect-panel {
    border-radius: 0 !important;
  }
  .p-multiselect-items-wrapper {
    max-height: 500px !important;
  }
  .tags-section {
    top: 75px !important;
    height: 55px!important;
    position: absolute !important;
    width: 100%;
    padding: 0;
    margin-left: -12px;
    .selected-topic-list {
        display: block !important;
    }
    ul.topics-list li {
      // margin-bottom: 13px !important;
    }
  }
  .pi-times-circle:before {
    font-size: 25px;
  }
  .banner-content {
    align-items: center;
    text-align: center;
  }
  .space-fill {
    padding: 0 1rem !important;
  }
  .tekbyte-details-page {

  .tekbyte-banner {
    height: auto !important;
    padding-bottom: 20px !important;
  }
  .tekbyte-details .business-modal .card {
    max-width: 100%;
    margin: 0px 20px 50px !important
  }
}
}
@media only screen and (width: 1024px) {
  .col-card {
    justify-content: center!important;
  }
  .nav-menu > ul > li {
    padding: 10px 3rem !important;
  }
  .capsule-card-container {
    width: 410px !important;
    margin-right: 20px;
  }
}
@media only screen and (width: 768px) {

  h1{
    line-height: 44px !important;
    font-size: 30px !important;
  }
  .banner-text {
    margin-top: 0 !important;
    text-align: center;
  }
  .carousel-caption,
  .sliderContent {
    position: initial !important;
    .hero-img {
      width: 450px;
      justify-content: center;
      padding-bottom: 20px;
      display: flex;
    }
  }
  .topics-card {
    margin: 8px !important;
  }
  .capsule-card-container {
    width: 350px !important;
    height: 590px !important;
  }
  .carousel .carousel-inner .carousel-item {
    height: 535px !important;
    }
  .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
    margin: 0 !important;
    display: none;
    }
    .flip-card .key-points {
      height: 337px !important;
    }
}
@media only screen and (max-width: 767px) { 
  .banner-text {
    text-align: center !important;
  }
  .carousel-card 
  .content .title {
    min-height: inherit !important;
    margin-bottom: 20px;
  }
  .mission-page {
    .tech-learning {
      padding-top: 0px !important;
    }
    .p-bottom-150 {
      padding-bottom: 30px !important;
    }
  }

  
  .hero-img {
    text-align: center;
    display: initial !important;
    height: inherit !important;
  }
  .community-page
  {
    .tech-repo {
      height: 390px !important;
    }
  }
  // /AI Hub Search container/ 
  .hub-search {
    display: block !important;
  }

  .hub-register {
    text-align: center !important;
    margin-top: 20px;
  }
  .video-library-card, .research-papers-card {
    margin-bottom: 20px !important;
    height: auto !important;
    width: auto !important;
    margin: 10px 20px !important;
    .content {
      .description {
        height: auto !important;
      }
     }

  }

  /*********** Details Page **************/
    .details-banner {
      height: auto !important;
      padding: 15px 0 0 15px !important
    }
    .subscribe-block {
      width: 100%;
      margin: 15px;
    }
    .details-body {
      display: block !important;
    }
    .know-more-sec {
      border-radius: 20px;
      padding: 20px !important;
      text-align: center;
      img {
        margin: 0 0 20px 0 !important;
      }
      .high-lights {
        display: block !important;
      }
    }
    .tekbyte-details-page 
    .tekbyte-details 
    .business-modal 
    .card {
      height: auto !important;
      max-width: fit-content !important
    }
    .mob-mr-0 {
      margin-right: 0 !important;
    }
    .back-link {
      margin: 0!important;
      padding: 10px 0!important;
    }
    .digest-card {
      max-height: fit-content !important;
      .content-top {
        height: auto !important;
      }
    }
    .top-navigation {
      height: auto !important;
    }
    .footer-links {
      margin: 0 0 24px;
      max-width: 50%;
      width: 100%;
      padding: 0;
  
    }
    .social-links {
      display: flex;
      padding: 0;
    }
    .copyright {
      justify-content: center !important;
      line-height: 30px;
      a {
        padding: 0 15px !important;
      }
    }
}


/*******iPhone 10 mobile responsive******/
@media only screen and (min-device-width: 375px)and (max-device-width: 414px) {

.capsule-card-container {
  width: 333px !important;
  height: 585px !important;
}
.home-page {
  .capsule-card-container {
    width: 99% !important;
    align-items: center;
  }
}
.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
  margin: 0 !important;
  display: none;
}
.capsule-card .card-content {
  padding: 0 15px !important;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 1rem!important;
}
.contribute-page .button {
  width: 115px !important;
  height: 45px;
}
.carousel .carousel-inner .carousel-item {
  height: 525px !important;
}
}

@media only screen and (width: 375px) {
  .capsule-card-container {
    width: 330px !important;
  }
}


@media only screen and (width: 1440px) {
  .contribute-page .formuser-icon {
    left: 0 !important;
  }
  // .capsule-filter {
  //   right: 28%;
  // }
}
@media only screen and (width: 1536px) {
  .contribute-page .formuser-icon {
    left: 4% !important;
  }
  .capsule-filter {
    right: 30% !important;
  }
  .carousel-card {
    height: 440px;
  }
}
@media not all and (min-resolution:.001dpcm) {
  .capsule-filter {
    right: 21% !important;
  }
}


/**************Skil Studio Responsive start****************/
.skill-studio-page {
  .skill-studio-bg {
    padding-bottom: 0 !important;
  }
  &.p-main {
    padding-left: 0;
    padding-right: 0;
  }
  .banner-img {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
}

/**************Skil Studio Responsive End****************/