@media only screen and (max-width: 990px) { 
    .section-title h2, h2
    {
        font-size: 24px !important;
    }
    h3 {
        font-size: 20px!important;
    }
    .signin {
        height: 560px !important;
        margin-top: 90px;
    }
    .capsules-page, .topics-page, .create-capsule-page {
        .card-section {
            margin: 0 10px;
            .carousel-card{
                margin-bottom: 20px;
                padding-bottom: 20px;
                height: auto;
            }
        }
    }
    .mat-tab-links {
        .w-50 {
            width: auto!important;
        }
    }
    .topics-card {
        margin: 20px 0!important;
    }
    .onOverlayContent{
        position: absolute;
        z-index: 1;
        background: rgba(255,255,255, .8);
        height: 277px;
      }
      .community-page, .mission-page {
          p {
            font-size: 18px !important;
            line-height: 28px !important;
          }
          .tech-repo {
            background-position: center!important;
            .inline-points {
                li {
                    margin-left:0!important;
                }
            }
          }
      }
      input, textarea {
          font-size: 16px !important;
      }
      .admin-page {
        &.p-main {
            padding: 90px 30px 30px!important;
        }
        .mat-tab-links {
            max-width: 1600px!important;
         }
        h1{  
        font-size: 22px !important;
         }
        
         .resp-btn {
            justify-content: center;
            display: flex;
            padding-top: 20px;
            .action-btn {
                margin-right: 20px;
            }
          }
      }
      .create-topic-form {
        display: contents !important;
        .column {
            width: 100%!important;
        }
    }
}

@media only screen and (width: 768px) { 
    .carousel-caption, .sliderContent {
        position: initial !important;
        .hero-img {
        width: 400px;
        justify-content: center;
        padding-bottom: 20px;
        }
  }
  .topics-card {
    margin: 8px!important;
}
}