<section class="align-items-center inner">
  <div class="feeds-blog-container">
    <div class="d-flex justify-content-between row-mobile">
      <div class="bookmarks-container mob-hide">
        <h6>Recent Bookmarks</h6>
        <div *ngIf="isBookmarkLoading" class="bookmark-skeleton-loader skeleton-loader">
          <div class="bookmark-item loading"></div>
          <div class="bookmark-item loading"></div>
          <div class="bookmark-item loading"></div>
          <div class="bookmark-item loading"></div>
          <div class="bookmark-item loading"></div>
        </div>
        <ul *ngIf="!isBookmarkLoading" class="bookmarks">
          <li
            *ngFor="
              let bm of bookmarks
                | slice
                  : 0
                  : (!this.isShowAllBookmarks && bookmarks.length > 10 ? 10 : bookmarks.length)
            "
          >
            {{ bm.title }}
          </li>
        </ul>
        <p
          *ngIf="!this.isShowAllBookmarks && bookmarks.length > 10"
          class="text-bold"
          (click)="showAllbookmarks()"
        >
          <a href="#" class="underline">See all</a>
        </p>
      </div>
      <div>
        <div class="share-container mob-hide">
          <div class="share-block">
            <div class="profile-pic"></div>
            <div class="share-textbox w-100 pb-3">
              <input type="button" value="Start Sharing..." (click)="showSharePostDialog()" />
            </div>
          </div>
          <div class="share-icons">
            <button class="share-btn news"><span>News</span></button>
            <button class="share-btn article"><span>Article</span></button>
            <button class="share-btn course"><span>Course</span></button>
            <button class="share-btn events"><span>Events</span></button>
            <button class="share-btn video"><span>Video</span></button>
          </div>
          <p class="grey-color">
            * You know you can earn credit by sharing post.
            <a href="#" class="underline">Start earning credits!</a>
          </p>
        </div>
        <ng-container *ngIf="!spinner.isLoading">
          <div *ngFor="let capsule of filteredCapsule">
            <app-feeds-card [capsule]="capsule"></app-feeds-card>
          </div>
        </ng-container>
        <ng-container *ngIf="spinner.isLoading">
          <div *ngFor="let i of [1, 2]">
            <app-feeds-skeleton></app-feeds-skeleton>
          </div>
        </ng-container>
      </div>
      <div class="subscribe-container mob-hide">
        <h6>Subscribe to our Newsletter</h6>
        <p>Connecting you to the latest AI advancements and insights!</p>
        <div *ngIf="subscriberFormGroup" [formGroup]="subscriberFormGroup">
          <input
            type="email"
            name="email id"
            formControlName="emailId"
            class="input-mail mb-0"
            placeholder="Enter Your Email ID"
          />
          <button mat-raised-button class="button tertiary-outline mt-3" (click)="onSubscribe()">
            Subscribe Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-share-post
  [isDialogVisible]="isSharePostDialogShown"
  (dialogClosed)="hideSharePostDialog()"
></app-share-post>
