@import './../../../../assets/styles/variables.scss';
.inner {
  max-width: 1110px;
}

.bookmark-skeleton-loader {
  .bookmark-item {
    height: 16px;
    margin-bottom: 10px;
    border-radius: 2px;
  }
}
