@import './../../assets/styles/variables.scss';

/*--------------------------------------------------------------
# Install Now Section
--------------------------------------------------------------*/

.install-now {
  background-image: url('../../assets/images/pattern-1.svg'),
    url('../../assets/images/pattern-2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ebebeb;
  .content {
    margin-top: 100px;
    @media only screen and (max-width: 990px) {
      margin: 30px auto;
      text-align: center;
    }
  }
  .gplay-img {
    max-width: 353px;
    height: 108px;
    margin-bottom: 50px;
    display: block;
    width: 100%;
    @media only screen and (max-width: 990px) {
      margin: 20px auto;
      max-width: 230px;
      height: auto;
    }
  }
}

/*--------------------------------------------------------------
# subscribe Section
--------------------------------------------------------------*/

.subscribe {
  &.section-bg {
    background: $section-bg;
    padding: 25px;
    @media only screen and (max-width: 990px) {
      padding: 20px;
    }
    .container {
      background: $white;
      padding: 75px;
      border-radius: 10px;
      @media only screen and (max-width: 990px) {
        padding: 15px;
      }
      .subscibeSection-row {
        width: 100%;
        max-width: 535px;
        margin: auto;
        @media only screen and (max-width: 480px) {
          flex-wrap: wrap;
        }
      }
      .input-mail {
        background: #f6f6f6;
        border: 0 none;
        padding: 14px;
        border-radius: 10px;
        width: 100%;
        color: #a1a1a1;
        font-family: $primary-font-medium;
        font-size: 20px;
        height: 65px;
        padding-right: 190px;
        @media only screen and (max-width: 480px) {
          padding-right: 10px;
          font-size: 16px;
          margin-bottom: 10px !important;
        }
      }
      button {
        position: absolute;
        right: 10px;
        @media only screen and (max-width: 480px) {
          position: relative;
          right: auto;
        }
      }
    }
  }
}

.card-section {
  flex-wrap: wrap;
}

.explore-topics-section {
  background: url('../../assets/images/grid_bg.png') no-repeat;
  background-size: cover;
}
