<!-- ======= Hero Banner Section ======= -->
<div class="home-page">
  <app-home-carousel
    (subscribeClicked)="subscribeSection.nativeElement.focus()"
  ></app-home-carousel>
  <!-- ======= Intro Section ======= -->
  <section id="intro" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Stay ahead of the curve with our insightful and engaging tech capsules!</h2>
        <p class="content-sub-text">
          Current tech landscape is so dynamic and fast evolving. Don’t find yourself lost in an
          ocean of tech jargons! Our engaging tech capsules will help you excel at every phase of
          your career.
        </p>
      </div>
    </div>
  </section>
  <section class="carousel">
       <div class="container">
        <p-carousel [value]="capsules" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
          <ng-template let-capsule pTemplate="item">
            <app-capsule-card [selectedCasuleId]="selectedCasuleId" [capsule]="capsule" class="item mr-4" (cardOpened)="onCardOpened($event)"></app-capsule-card>
          </ng-template>
        </p-carousel>
      </div>
  </section>
  <!-- End Intro Section-->
  <!-- ======= Explore Topics Section ======= -->
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>  
  <section id="exploretopics" class="explore-topics-section">
    <div class="container">
      <h2 class="text-center pt-5">Empower your tech journey with AI-powered mentoring!</h2>
      <div class="section-title">
        <p class="content-sub-text">
          Take your tech journey to new heights with our AI-powered mentoring, covering the latest and greatest in tech, including Artificial Intelligence, IoT, Big Data, Blockchain, Data Science, Metaverse and more.
        </p>
      </div>
    </div>
    <div class="container pb-5">
      <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="/assets/images/explore-topic-banner.png" class="img-fluid" alt="explore topic" />
      </div>
      <div class="banner-text col-lg-6 col-md-6 col-sm-12">
        <h1>
          <span>Skill Studio</span>
          <br />
          Your AI-powered Tech Mentor!
        </h1>
        <button
          mat-raised-button
          class="col-xl-4 col-lg-6 order-1 order-lg-2 button primary"
        >
          Launching Soon!
        </button>
      </div>
    </div>
    </div>
<!--
    <p-carousel [value]="topics" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
      <ng-template let-topic pTemplate="item">
        <app-topic-card [topic]="topic" class="item mr-4"></app-topic-card>
      </ng-template>
    </p-carousel>
-->    
  </section>
  <!-- End xplore Topics Section-->
  

  <!-- ======= App Install Section ======= -->
  <section id="app-install" class="install-now">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <img src="../../assets/images/mobile-app.png" class="img-fluid" alt="mobile app" />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content order-1 order-lg-2">
          <h2>Take Capsules on the go...</h2>
          <p class="content-sub-text">
            Stay informed with our android mobile app.<br />
            Never miss a tech update again!
          </p>
          <img src="/assets/images/get-g-play.png" class="img-fluid gplay-img" alt="google play" />
          <button mat-raised-button class="button primary">Launching Soon</button>
        </div>
      </div>
    </div>
  </section>
  <!-- End App Install Section -->

  <!-- ======= subscribe Section ======= -->
  <section tabindex="1" #subscribe id="subscribe" class="subscribe section-bg">
    <div class="container">
      <div class="section-title pb-0">
        <h2>Get inspired by our vibrant tech community!</h2>
        <p class="content-sub-text">We will never spam you. That is our promise!</p>
        <div *ngIf="subscriberFormGroup" [formGroup]="subscriberFormGroup">
        <div
          class="d-flex align-items-center justify-content-center subscibeSection-row position-relative"
          [ngClass]="{
            'error-text':
            subscriberFormGroup.get('emailId').touched && subscriberFormGroup.get('emailId').invalid
          }"
        >
          <input
            type="email"
            name="email id"
            formControlName="emailId"
            class="input-mail mb-0"
            placeholder="Enter Your Email ID"
          />
          <button mat-raised-button class="button tertiary" (click)="onSubscribe()">
            Subscribe Now
          </button>
        </div>
        <span
            class="error-msg"
            *ngIf="
            subscriberFormGroup.get('emailId').touched && subscriberFormGroup.get('emailId').invalid
            "
            >Please enter valid email</span
          >
        </div>
          
        <div class="follow-us">
          <span class="content-sub-text">Join us on</span>
          <a href="https://twitter.com/tekcapsule" target="__blank" aria-label="Twitter"
            ><img src="/assets/images/twitter.svg" alt="twitter icon" />#TekCapsule</a
          >
          <!-- <span class="divider"> &nbsp;|&nbsp;</span>
          <a href="https://www.meetup.com/tekcapsule/" target="__blank"
            ><img src="/assets/images/meet.png"  alt="meet icon"/>TekCapsule</a
          > -->
        </div>
      </div>
    </div>
  </section>
  <!-- End subscribe Section-->

  <app-spinner></app-spinner>
</div>
