<div class="home-page">
  <app-spinner></app-spinner>
  <!-- ======= Hero Banner Section ======= -->
  <section class="home-banner">
    <div class="container-fluid text-center pt-5">
      <h1 class="home-banner-title">We GUIDE you to MASTER <br> EMERGING TECHNOLOGIES with EASE</h1>
      <h3 class="text-white pb-3 content-sub-text">
        Enhance your skills with easy-to-follow content from around the globe. <br>
       </h3>
      <div class="d-block text-center">
        <button class="button primary-btn disabled-btn" disabled="true">Watch Demo</button>
      </div>
      <img src="../../assets/images/home/home-banner.png" alt="" class="img-fluid" />
    </div>
  </section>

  <!-- ======= SkillStudio Section ======= -->
  <section class="key-feature-bg">
    <div class="inner skillstudio pb-4">
      <div class="text-center">
        <h2></h2>
        <h3>We are currently dedicated to providing a top-notch learning experience in these specific areas.</h3>
      </div>
    </div>
    <!-- ======= Key Feature Section ======= -->
    <section class="inner key-feature-block">
      <div class="key-feature ai-bg">
        <h2>Artificial Intelligence</h2>
        <img src="../../assets/images/home/AI-icon.svg" class="py-3" alt="AI Icon" />
        <p>
          AI is like teaching computers to be super smart.
          Learning AI is like having a secret power to make awesome things happen!
        </p>
      </div>
      <div class="key-feature web3-bg">
        <h2>Web 3.0</h2>
        <img src="../../assets/images/home/web3-icon.svg" class="py-3" alt="Web 3 Icon" />
        <p>
          A superhero version of the internet that is smart and interactive. Diving into Web 3.0
          means being part of the team that makes the internet even better and futuristic!
        </p>
      </div>
      <div class="key-feature meta-bg">
        <h2>Metaverse</h2>
        <img src="../../assets/images/home/meta-icon.svg" class="py-3" alt="meta Icon" />

        <p>
          A giant online playground where you can live, work, and play in a virtual world. Learning
          about the metaverse is like stepping into a digital wonderland!
        </p>
      </div>
    </section>
  </section>

  <!-- ======= Discussion Section ======= -->
  <section class="discussion-bg pt-5 mb-5">
    <div class="learning-pattern">
      <div class="inner">
        <div class="container-fluid text-center">
          <h1>Learning never stops, Continuous Learning starts here!</h1>
          <h3 class="text-white pb-3 content-sub-text">
            Learn from technologists around the world with our Social Feeds. <br />
            Join, share and get smarter together!
          </h3>
          <div class="d-block text-center">
            <button class="button primary-btn">Explore</button>
          </div>
          <img
            src="../../assets/images/home/tekcapzule-discussion.png"
            alt=""
            class="img-fluid pt-4"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- ======= SkillStudio New Section ======= -->
  <section class="dot-line-pattern">
    <div class="skillstudio-inner">
      <!-- Sec 1 -->
      <div class="row align-items-center mb-4">
        <div class="col-lg-6 order-2 order-lg-2">
          <img src="assets/images/home/skillstudio-all.png" class="img-fluid skill-girl" alt="Marketplace" />
        </div>
        <div class="col-lg-6 pt-lg-0 order-1 order-lg-1">
          <h2 class="bg-fandango text-white">SkillStudio</h2>
          <h1 class="home-banner-title text-body">
            COMPREHENSIVE collection <br />
            of TECH LEARNING <br />resources at your <br />
            FINGER TIP!
          </h1>
          <h3>
            News, courses, articles, training videos, research papers and you name it, we have them
            covered for you!
          </h3>
          <button class="button primary-btn mt-3">Explore</button>
        </div>
      </div>
      <!-- Sec 2 -->
      <div class="row align-items-center">
        <div class="col-lg-6 order-2 order-lg-1">
          <img
            src="assets/images/home/skillstudio-tekbyte.png"
            class="img-fluid"
            alt="Marketplace"
          />
        </div>
        <div class="col-lg-6 pt-lg-0 order-1 order-lg-2">
          <h2 class="home-banner-subtitle">
            <img src="../../assets/images/home/home-skill-icon-1.svg" /> Effortlessly improve your
            tech vocab
          </h2>
          <p class="content-sub-text">
            Your gateway to demystifying tech jargon! Unlock the world of
            complex tech terms with ease. Our TekBytes breaks down intricate concepts into
            digestible, bite-sized explanations, enhancing your tech vocabulary effortlessly.
          </p>
        </div>
      </div>

      <!-- Sec 3 -->
      <div class="row align-items-center">
        <div class="col-lg-4 order-2 order-lg-2">
          <img
            src="assets/images/home/skillstudio-course.png"
            class="img-fluid"
            alt="Marketplace"
          />
        </div>
        <div class="col-lg-6 pt-lg-0 order-1 order-lg-1">
          <h2 class="home-banner-subtitle">
            <img src="../../assets/images/home/home-skill-icon-2.svg" />Best technology courses
            around the web
          </h2>
          <p class="content-sub-text">
            Master emerging technologies with our curated collection of top-tier courses, sourced
            from leading technology training platforms worldwide.
          </p>
        </div>
      </div>
      <!-- Sec 4 -->
      <div class="row align-items-center">
        <div class="col-lg-6 order-2 order-lg-1">
          <img
            src="assets/images/home/skillstudio-interview.png"
            class="img-fluid"
            alt="Marketplace"
          />
        </div>
        <div class="col-lg-6 pt-lg-0 order-1 order-lg-2">
          <h2 class="home-banner-subtitle">
            <img src="../../assets/images/home/home-skill-icon-3.svg" />Face your next tech
            interview with confidence
          </h2>

          <p class="content-sub-text">
            Gear up for success with our interview preparation library, offering a comprehensive
            collection of materials focused on emerging technologies like AI, Metaverse, and Web
            3.0. From commonly asked questions to insider tips, access a curated selection that
            prepare you for the tech-driven job market.
          </p>
        </div>
      </div>

      <!-- Sec 5 -->
      <div class="row align-items-center">
        <div class="col-lg-4 order-2 order-lg-2">
          <img
            src="assets/images/home/skillstudio-researchpapers.png"
            class="img-fluid"
            alt="Marketplace"
          />
        </div>
        <div class="col-lg-6 pt-lg-0 order-1 order-lg-1">
          <h2 class="home-banner-subtitle">
            <img src="../../assets/images/home/home-skill-icon-4.svg" />Easy to digest research
            paper summaries
          </h2>
          <p class="content-sub-text">
            Navigate the world of tech research effortlessly with our research paper summaries.
            Explore concise yet comprehensive summaries of research papers in AI, Web 3.0, and the
            Metaverse.
          </p>
        </div>
      </div>
      <!-- Sec 6 -->
      <div class="row align-items-center bg-white">
        <div class="col-lg-6 order-2 order-lg-1">
          <img src="assets/images/home/skillstudio-video.png" class="img-fluid py-4 px-5 skill-mob-padding" alt="Marketplace" />
        </div>
        <div class="col-lg-6 pt-lg-0 order-1 order-lg-2">
          <h2 class="home-banner-subtitle">
            <img src="../../assets/images/home/home-skill-icon-5.svg" />Learn tech by watching
            short videos
          </h2>

          <p class="content-sub-text">
            Access a curated collection of concise, informative videos covering diverse topics in
            AI, Metaverse, and Web 3.0. Perfect for quick learning sessions, these bite-sized videos
            empower you with essential knowledge, making tech education convenient and effective.
          </p>
        </div>
      </div>

      <!-- Sec 7 -->
      <div class="row align-items-center bg-white mt-5">
        <div class="col-lg-4 order-2 order-lg-2">
          <img
            src="assets/images/home/skillstudio-weeklydigest.png"
            class="img-fluid"
            alt="Marketplace"
          />
        </div>
        <div class="col-lg-6 pt-lg-0 order-1 order-lg-1 py-4 px-5 skill-mob-padding">
          <h2 class="home-banner-subtitle">
            <img src="../../assets/images/home/home-skill-icon-6.svg" />Stay updated with our
            weekly digest
          </h2>
          <p class="content-sub-text">
            Stay up-to-date with our Weekly Digests feature, offering a roundup of key developments
            in emerging technologies. Explore curated insights from across the web,
            complemented by our exclusive weekly digests.
          </p>
        </div>
      </div>
      <!-- Sec 8 -->
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1">
          <img
            src="assets/images/home/skillstudio-events.png"
            class="img-fluid"
            alt="Marketplace"
          />
        </div>
        <div class="col-lg-6 pt-lg-0 order-1 order-lg-2">
          <h2 class="home-banner-subtitle">
            <img src="../../assets/images/home/home-skill-icon-7.svg" />Tech events that you don't
            want to miss!
          </h2>

          <p class="content-sub-text">
            Discover a global array of technology events, from conferences to meetups, all in one
            place. Whether it's AI, Metaverse, or Web 3.0, explore opportunities to network, learn,
            and stay informed about the latest advancements shaping the future!
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= Mentoring Section ======= -->
  <!-- <section>
    <div class="inner">
      <div class="row mt-5 align-items-center">
        <div class="col-lg-6 order-2 order-lg-1">
          <img
            src="assets/images/home/mentoring-img.png"
            class="img-fluid mb-5"
            alt="mentoring"
          />
        </div>
        <div class="col-lg-4 pt-lg-0 order-1 order-lg-2">
          <h2>Mentoring</h2>
          <h3>Stay update to date with AI</h3>
          <p class="content-sub-text">
            Fall in love with tech with our unique tech capsules. Get your daily dose now! Fall in
            love with tech with our unique tech capsules. Get your daily dose now!
          </p>
          <button class="button primary-btn">Check it out</button>
        </div>
      </div>
    </div>
  </section> -->

  <!-- ======= LLM-Hub Section ======= -->
  <section class="social-share-container pt-5">
    <div class="inner">
      <div class="row align-items-center">
        <div class="col-lg-6 order-2 order-lg-1">
          <img src="assets/images/home/market-place-img.png" class="img-fluid" alt="Marketplace" />
        </div>
        <div class="col-lg-4 pt-lg-0 order-1 order-lg-2">
          <h2 class="bg-inchworm">AI Marketplace</h2>
          <h1 class="home-banner-title">
            10X your team PRODUCTIVITY and reduce the TIME to MARKET by integrating right AI TOOLS!
          </h1>
          <p class="content-sub-text text-white">
            Our AI Marketplace features a comprehensive list of AI tools and frameworks that could
            help improve your productivity, reduce the time to market and better innovate your
            product.
          </p>
          <div class="d-block pt-3">
            <button class="button primary-btn">Explore</button>
          </div>
        </div>
      </div>
      <!-- <div class="container-fluid text-center">
       <h1>Be part of our vibrant community and earn rewards!</h1>
       <h3 class="text-white pb-3 content-sub-text">Keep yourself up-to-date with the latest technologies! Join, share
         and get smarter together! </h3>
       <div class="d-block text-center">
         <button class="button primary-btn">Explore</button>
      </div>
      <img src="../../assets/images/home/social-share.png" alt="" class="img-fluid pt-4 pb-5" />
    </div> -->
    </div>
  </section>

  <!-- ======= Community Section ======= -->
  <section class="container-fluid insight-container dark-grey-pattern pt-5 py-0">
    <div class="inner">
      <div class="container-fluid text-center col-lg-8">
        <h1>
          Don’t be blindfolded <br />
          when you make important technology decisions!
        </h1>
        <h3 class="text-white pb-3 content-sub-text">
          With TekCapzule Insights, understanding tech trends have become easier!
        </h3>
        <div class="d-block text-center">
          <h1>COMING <span class="high-note">SOON</span></h1>
          <!-- <button class="button primary-btn">Coming Soon</button> -->
        </div>
        <img src="../../assets/images/home/insight-graph.png" alt="" class="img-fluid pt-4" />
      </div>
    </div>
  </section>

  <!-- ======= Mobile App Section ======= -->
  <section class="container-fluid mobile-app">
    <div class="inner">
      <div class="app-content">
        <div class="col-lg-3 py-4">
          <!-- <p class="text-white mb-0">Download our mobile app</p> -->
          <h3 class="text-white">TekCapzule <br />on the go…</h3>
        </div>
        <div class="col-lg-6">
          <a href="javascript:void(0)" aria-label="Play Store" class="disabled"
            ><img src="/assets/images/play-store.svg" alt="Play Store icon" class="pr-4"
          /></a>
          <a href="javascript:void(0)" aria-label="App Store" class="disabled"
            ><img src="/assets/images/app-store.svg" alt="App Store icon" class="pr-4"
          /></a>
          <img src="/assets/images/home/comingsoon.png" alt="" class="coming-soon-img" />
        </div>
        <img src="../../assets/images/home/mobile-app.png" alt="" class="img-fluid app-img" />
      </div>
    </div>
  </section>

  <!-- ======= Subscribe Section ======= -->
  <section tabindex="1" #subscribe id="subscribe" class="subscribe section-bg">
    <div class="container inner">
      <div class="row">
        <div class="col-lg-7">
          <div class="section-title pb-0 pt-5">
            <h1 class="text-white">Signup for our weekly <br />AI Newsletter</h1>
            <p class="content-sub-text text-white">We will never spam you. That is our promise!</p>
            <div *ngIf="subscriberFormGroup" [formGroup]="subscriberFormGroup">
              <div
                class="d-flex align-items-center justify-content-center subscibeSection-row position-relative"
                [ngClass]="{
                  'error-text':
                    subscriberFormGroup.get('emailId').touched &&
                    subscriberFormGroup.get('emailId').invalid
                }"
              >
                <input
                  type="email"
                  name="email id"
                  formControlName="emailId"
                  class="input-mail mb-0"
                  placeholder="Enter Your Email ID"
                />
                <button mat-raised-button class="button tertiary" (click)="onSubscribe()">
                  Subscribe Now
                </button>
              </div>
              <span
                class="error-msg"
                *ngIf="
                  subscriberFormGroup.get('emailId').touched &&
                  subscriberFormGroup.get('emailId').invalid
                "
                >Please enter valid email</span
              >
            </div>

            <div class="follow-us">
              <span class="content-sub-text text-white">Join us on</span>
              <a href="https://twitter.com/tekcapzule" target="__blank" aria-label="Twitter"
                ><img
                  src="/assets/images/twitter.svg"
                  alt="twitter icon"
                  class="text-white"
                />#TekCapzule</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="newsletter-girl">
            <img src="../../assets/images/home/suscribe-girl.png" alt="News Letter" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
