<!-- ======= Hero Banner Section ======= -->
<!-- ======= Hero Section ======= -->
<!-- <div class="owl-carousel owl-theme">
  <div>Your Content</div>
  <div>Your Content</div>
  <div>Your Content</div>
  <div>Your Content</div>
  <div>Your Content</div>
  <div>Your Content</div>
  <div>Your Content</div>
</div> -->
<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div
        class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1 class="animate__animated animate__fadeInUp">
          Everything tech in
          <span class="animate__animated animate__fadeInDown animate__delay-1s">one place!</span>
        </h1>
        <p class="hero-text animate__animated animate__fadeInUp animate__delay-1s">
          Fall in love with tech with our unique tech capsules. <br />Get your daily dose now!
        </p>
        <div class="animate__animated animate__fadeInUp animate__delay-1s">
          <button mat-raised-button class="button primary">Explore</button>
          <button mat-stroked-button class="button secondary">Subscribe</button>
        </div>
        <div class="follow-us animate__animated animate__fadeInUp animate__delay-1s">
          <a href="#"><img src="../../assets/images/twitter.svg" />#TekCapsule</a> |
          <a href="#"><img src="../../assets/images/meet.png" />TekCapsule</a>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img animate__animated animate__zoomIn animate__delay-1s"
      >
        <img src="../../assets/images/hero-slide-1.png" class="img-fluid animated pt-4" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- ======= Intro Section ======= -->
<section id="intro" class="services">
  <div class="container">
    <div class="section-title animate__animated animate__fadeInUp animate__delay-2s">
      <h2>It's all about Capsules!</h2>
      <p class="content-sub-text">
        Current tech landscape is so dynamic and fast evolving. Don’t find yourself lost in an ocean
        of tech jargons! Our engaging tech capsules will help you excel at every phase of your
        career.
      </p>
    </div>
  </div>
  <div class="card-section d-flex justify-content-center mb-4 pb-4">
    <img src="../../assets/images/previous-arrow.svg" alt="" />
    <div class="carousel-card">
      <div>
        <div class="icons">
          <img src="../../assets/images/bookmark-icon.svg" class="rounded-img" />
        </div>
        <div class="icons">
          <img src="../../assets/images/okhand-icon.svg" class="rounded-img" />
        </div>
        <img src="../../assets/images/card-1.png" class="header-image" alt="" />
      </div>
      <div class="content">
        <div class="title">
          Machine Learning Essentials
          <p>by AWS <span>(August 16, 2010)</span></p>
        </div>
        <div class="description">
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
            doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
            ainventore veritatis et quasi architecto beatae vitae quia dicta sunt explicabo. Nemo
            enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia uuntur
            magni dolores eos qui ratione voluptatem sequi. sed quia uuntur magni dolores eos qui
            ratione voluptatem sequi.
          </p>
        </div>
        <div class="card-footer">
          <img src="../../assets/images/article-icon.svg" class="float-left" />
          <div class="float-right">
            <img src="../../assets/images/flip-icon.svg" class="mr-4" />
            <img src="../../assets/images/upload-icon.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-card">
      <div>
        <div class="icons">
          <img src="../../assets/images/bookmark-icon.svg" class="rounded-img" />
        </div>
        <div class="icons">
          <img src="../../assets/images/okhand-icon.svg" class="rounded-img" />
        </div>
        <img src="../../assets/images/card-2.png" class="header-image" alt="" />
      </div>
      <div class="content">
        <div class="title">
          An Introduction to Microservices Architecture
          <p>by Linjith Kunnan <span>(August 16, 2010)</span></p>
        </div>
        <div class="description">
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
            doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
            ainventore veritatis et quasi architecto beatae vitae quia dicta sunt explicabo. Nemo
            enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia uuntur
            magni dolores eos qui ratione voluptatem sequi. sed quia uuntur magni dolores eos qui
            ratione voluptatem sequi.
          </p>
        </div>
        <div class="card-footer">
          <img src="../../assets/images/book-icon.svg" class="float-left" />
          <div class="float-right">
            <img src="../../assets/images/flip-icon.svg" class="mr-4" />
            <img src="../../assets/images/upload-icon.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-card">
      <div>
        <div class="icons">
          <img src="../../assets/images/bookmark-icon.svg" class="rounded-img" />
        </div>
        <div class="icons">
          <img src="../../assets/images/okhand-icon.svg" class="rounded-img" />
        </div>
        <img src="../../assets/images/card-3.png" class="header-image" alt="" />
      </div>
      <div class="content">
        <div class="title">
          Confident Coding: Master the Fundamentals of Code and Supercharge Your Career
          <p>by Rob Percival <span>(August 16, 2010)</span></p>
        </div>
        <div class="description">
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium
            doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae
            ainventore veritatis et quasi architecto beatae vitae quia dicta sunt explicabo. Nemo
            enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, ratione
            voluptatem sequi.
          </p>
        </div>
        <div class="card-footer">
          <img src="../../assets/images/video-icon.svg" class="float-left" />
          <div class="float-right">
            <img src="../../assets/images/flip-icon.svg" class="mr-4" />
            <img src="../../assets/images/upload-icon.svg" />
          </div>
        </div>
      </div>
    </div>
    <img src="../../assets/images/next-arrow.svg" alt="" />
  </div>
</section>
<!-- End Intro Section-->

<!-- ======= App Install Section ======= -->
<section id="app-install" class="install-now">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 animate__animated animate__fadeInLeft animate__delay-3s">
        <img src="../../assets/images/mobile-app.png" class="img-fluid" alt="" />
      </div>
      <div
        class="col-lg-6 pt-4 pt-lg-0 content animate__animated animate__fadeInRight animate__delay-3s"
      >
        <h2>Take Capsules on the go...</h2>
        <p class="content-sub-text">
          Stay informed with our android mobile app.<br />
          Never miss a tech update again!
        </p>
        <img src="../../assets/images/get-g-play.png" class="img-fluid gplay-img" alt="" />
        <button mat-raised-button class="button primary">Intall Now</button>
      </div>
    </div>
  </div>
</section>
<!-- End App Install Section -->

<!-- ======= subscribe Section ======= -->
<section id="subscribe" class="subscribe section-bg">
  <div class="container animate__animated animate__zoomIn animate__delay-4s">
    <div class="section-title pb-0">
      <h2>Get inspired by our vibrant tech community!</h2>
      <p class="content-sub-text pb-4">We will never spam you. That is our promise!</p>
      <input
        type="email"
        name="email"
        class="input-mail"
        placeholder="Enter Your Email ID"
      /><button mat-raised-button class="button tertiary">Subscribe</button>
      <div class="follow-us">
        <span class="content-sub-text">Join us on</span>
        <a href="#"><img src="../../assets/images/twitter.svg" />#TekCapsule</a> |
        <a href="#"><img src="../../assets/images/meet.png" />TekCapsule</a>
      </div>
    </div>
    <div></div>
  </div>
</section>
<!-- End subscribe Section-->
