@import './../../assets/styles/variables.scss';

.home-page {
  margin-top: 75px;

  h2 {
    font-size: 30px !important;
    font-family: $primary-font-bold;
  }
  h3 {
    font-size: 24px;
    font-family: $primary-font-medium;
  }
  h4 {
    font-size: 20px;
    font-family: $primary-font-black;
    padding-bottom: 10px;
  }
  .content-sub-text {
    font-size: 18px;
    font-family: $primary-font-regular;
  }
  .home-banner {
    background: transparent linear-gradient(258deg, #002884 0%, #C31B82 100%) 0% 0% no-repeat;

    // background: url('../../assets/images/ball-wed.svg'), url('../../assets/images/home/home-banner-bg.svg') no-repeat;
    height: 550px;
    width: 100%;
    margin-bottom: 65px;
    background-size: cover;
    margin-top: 108px;
  }
  .discussion-bg {
    background: transparent linear-gradient(213deg, #2C2B33 0%, #352B5C 100%) 0% 0% no-repeat;
  }

  .social-share-container {
    height: auto;
    background: url('/assets/images/home/social-community-bg.png');
    width: 100%;
    background-size: cover;
  }

  button {
    &.primary-btn {
      background-color: $primary-color;
      color: $white;
      margin-right: 15px;

      &:hover {
        background: $white;
        border: 2px solid $primary-color;
        color: $primary-color;
      }
    }
  }

  /**********Key Feature*********/
  .key-feature-block {
    display: flex;
    justify-content: space-evenly;
  }
  .key-feature {
    min-height: 226px;
    padding: 40px;
    margin-top: 0;
    z-index: 0;
    position: relative;
    width: 335px;
    color: #fff;
    h2 {
      color: #fff;
    }

    &.ai-bg{
      background: url('../../assets/images/home/ai-bg.svg') no-repeat; 
    }
    &.web3-bg{
      background: url('../../assets/images/home/web3-bg.svg') no-repeat; 
    }
    &.meta-bg{
      background: url('../../assets/images/home/meta-bg.svg') no-repeat; 
    }

    .key-feature-tile {
      margin-right: 70px;
      margin-bottom: 20px;
      &:hover {
        label {
          color: #EC0085;
          transform: translateY(-10px);
        }
      }
      label {
        transition: transform 250ms;
        color: $white;
      }
      .key-points {
        cursor: pointer;
        box-shadow: 5px 5px 2px #00000036;
        border: 2px solid #6876BF;
        border-radius: 20px;
        width: 113px;
        height: 98px;
        background: linear-gradient(180deg, #2A3780 0%, #202A5F 100%);
        padding: 28px;
        cursor: pointer;
        transition: transform 250ms;
        &:hover {
          -webkit-box-shadow: -2px 1px 19px -4px rgb(75 0 42);
          -moz-box-shadow: -2px 1px 19px -4px rgb(75 0 42);
          box-shadow: -2px 1px 19px -4px rgb(75 0 42);
          box-shadow: -2px 1px 19px -4px rgb(75 0 42);
          border: 2px solid #ec0085;
          transform: translateY(-10px);
        }
        
        .key-icon-1 {
          background: url('../../assets/images/home/key-feature-icon-1.svg') no-repeat;
          width: 49px;
          height: 49px;
          display: inline-block;
        }
        .key-icon-2 {
          background: url('../../assets/images/home/key-feature-icon-2.svg') no-repeat;
          width: 60px;
          height: 40px;
          display: inline-block;
        }
        .key-icon-3 {
          background: url('../../assets/images/home/key-feature-icon-3.svg') no-repeat;
          width: 55px;
          height: 44px;
          display: inline-block;
        }
        .key-icon-4 {
          background: url('../../assets/images/home/key-feature-icon-4.svg') no-repeat;
          width: 54px;
          height: 42px;
          display: inline-block;
        }
        .key-icon-5 {
          background: url('../../assets/images/home/key-feature-icon-5.svg') no-repeat;
          width: 40px;
          height: 40px;
          display: inline-block;
        }
      }
    }
  }

    /**********SkillStudio*********/
    .skillstudio {
      .skillstudio-icon {
        padding-bottom: 10px;
        max-height: 60px;
        max-width: 90px;
      }
      .topics {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        div {
          margin-bottom: 25px;
        }
        p {
          font-size: 15px;
        }
      }

    }
    title {
      font-size: 22px;
      font-family: $primary-font-black;
    }

  /***********Insights**********/
  .insight-container {
    background: #252a40 !important;
    padding: 50px 0 50px;
  }

  /*************Mobile App*********************/

  .mobile-app {
    background: url('../../assets/images/home/mobile-app-bg.svg') no-repeat;
    height: 116px;
    width: auto;
    background-size: cover;
    .app-content {
      display: flex;
      align-items: center;
      justify-content:flex-end;
    }
    .app-img {
      position: inherit;
    margin-top: -80px;
    // margin-right: 50px;
    }
  }
/*--------------------------------------------------------------
# subscribe Section
--------------------------------------------------------------*/

.subscribe {
  &.section-bg {
    padding: 25px;
    background-color: #1F284E;
    padding-top: 95px;
    @media only screen and (max-width: 990px) {
      padding: 0px;
    }
    .container {
      // background: url('../../assets/images/home/subscribe-bg.svg') no-repeat;
      background: url('../../assets/images/pattern.png') 440px 0px no-repeat, linear-gradient(104.04deg, #FF1675 0%, #FF7B01 100%);

      padding: 30px;
      border-radius: 40px;
      height: 423px;
      // background-size: contain;
      @media only screen and (max-width: 990px) {
        padding: 15px;
      }
      .subscibeSection-row {
        width: 100%;
        max-width: 535px;
        margin: auto;
        @media only screen and (max-width: 480px) {
          flex-wrap: wrap;
        }
      }
      .error-msg {
        text-align: left;
        color: $white !important;
      }
      .input-mail {
        background: #f7f7f7;
        border: 0 none;
        padding: 14px 20px;
        border-radius: 10px;
        width: 100%;
        color: #a1a1a1;
        font-family: $primary-font-regular;
        font-size: 16px;
        height: 50px;
        padding-right: 190px;
        @media only screen and (max-width: 480px) {
          padding-right: 10px;
          font-size: 16px;
          margin-bottom: 10px !important;
        }
      }
      button {
        position: absolute;
        right: 5px;
        background-color: #212C5E;
        border: 1px solid #212C5E;
        @media only screen and (max-width: 480px) {
          position: relative;
          right: auto;
        }
      }
      .newsletter-girl {
        img {
           // background: url('../../assets/images/home/suscribe-girl.png') no-repeat;
        height: 521px;
        width: 378px;
        position: absolute;
        top: -125px
        }
       
      }
    }
  }
}
.inner {
  max-width: 1220px;
}
}
.home-banner-title {
  font-family: $primary-font-xbold;
}

/*************Responsive**********/
@media only screen and (max-width: 990px) {
  .key-feature-block {
    display: block !important;
    text-align: center !important;
  }
  .banner-content {
    padding-bottom: 20px;
  }

  .mobile-app{
    background: #EC0085;
    text-align: center;
    height: auto !important;
    padding: 0 0 20px;
    height: auto;
    .app-content {
      display: block !important;
      line-height: 22px;
    }
    .app-img {
      width: 100px;
      margin-top: 20px !important;
    }
  }
  .subscribe {
    &.section-bg {
      .container {
        height: auto !important;
        border-radius: 20px !important;
        .newsletter-girl 
        {
          justify-content: center;
          display: flex;
          img{
            position: inherit !important;
            top: auto !important;
            width: 80% !important;
            height: auto !important;
          }
        }
        
      }
    }
  }
  .topics {
    text-align: center !important;
    div {
      margin-bottom: 20px;
    }
  }
  .key-feature {
    height: auto !important;
    // background: #202A5F !important;
    padding: 20px !important;
    display: inline-block !important;
    border-radius: 25px;
    // margin: 0 20px;
    margin-bottom: 20px;
    width: 90%;
    // margin-top: -35px !important;
    .key-feature-tile  {
      margin-right: 20px !important;
    }
  }
  .mob-key-feature {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-page .home-banner{
    height: auto !important;
    margin-bottom: 50px;
  }
}