<section>
    <div class="pb-4 mb-4">
        <div id="heroBanner" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#heroBanner" data-slide-to="0" class="active"></li>
              <li data-target="#heroBanner" data-slide-to="1"></li>
              <li data-target="#heroBanner" data-slide-to="2"></li>
              <li data-target="#heroBanner" data-slide-to="3"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active hero-slider">
                <div class="carousel-caption">
                  <section class="d-flex align-items-center">
                    <div class="container-fluid">
                      <div class="row pl-5 ml-5 mt-5">
                        <div
                          class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                          <h2>
                              New Block Chain Event
                          </h2>
                          <p>
                            Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde omnis iste natus error. sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde omnis iste natus error.
                          </p>
                          <button class="button primary-btn-sm">REGISTER NOW</button>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <div class="carousel-item  hero-slider">
                <div class="carousel-caption">
                  <section class="d-flex align-items-center">
                    <div class="container-fluid">
                      <div class="row pl-5 ml-5 mt-5">
                        <div
                          class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                          <h2>
                             New Block Chain Event
                          </h2>
                          <p>
                            Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde omnis iste natus error. sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde omnis iste natus error.
                          </p>
                          <button class="button primary-btn-sm">REGISTER NOW</button>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <div class="carousel-item  hero-slider">
                <div class="carousel-caption">
                  <section class="d-flex align-items-center">
                    <div class="container-fluid">
                      <div class="row pl-5 ml-5 mt-5">
                        <div
                          class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                          <h2>
                             New Block Chain Event
                          </h2>
                          <p>
                            Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde omnis iste natus error. sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde omnis iste natus error.
                          </p>
                          <button class="button primary-btn-sm">REGISTER NOW</button>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <div class="carousel-item  hero-slider">
                <div class="carousel-caption">
                  <section class="d-flex align-items-center">
                    <div class="container-fluid">
                      <div class="row pl-5 ml-5 mt-5">
                        <div
                          class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                          <h2>
                             New Block Chain Event
                          </h2>
                          <p>
                            Sed ut perspiciatis unde omnis iste natus error sit qsiuss voluptatem accusantium doloremque laudantium, sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde omnis iste natus error. sdda sdftotam rem aperiam, eaque ipsa quae ab illo quae Sed ut perspiciatis unde omnis iste natus error.
                          </p>
                          <button class="button primary-btn-sm">REGISTER NOW</button>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>