<!--/***********First Page***********/ -->

<div class="create-capsule-page">
  <div class="container pt-5">
    <div class="back-link pt-0">
      <a (click)="activateFirstNavTab()" [routerLink]="['../myfeeds']">
        <img src="/assets/images/back-arrow.png" class="mr-2" />
        Back to Dashboard
      </a>
      <h2 class="text-center">Create Capsule</h2>
      <div>
        <ul class="capsule-steps">
          <li>Basics</li>
          <li>Key Points</li>
          <li>Metadata</li>
        </ul>
      </div>
    </div>
    <div class="row card-section d-flex justify-content-center mb-4 pb-4">
      <div class="carousel-card">
        <div class="px-4 upload-image text-center">
          <button class="button secondary-btn-sm contribute-btn mb-4">Upload Image</button>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <select class="form-control">
                  <option>Topic Name</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <select class="form-control">
                  <option>Duration</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- <img src="/assets/images/upload-image-before.png" alt="" class="header-image" /> -->

        <div class="content mt-5">
          <div class="form-group">
            <label for="capsuleTitle">Capsule Title</label>
            <input type="text" class="form-control" id="capsuleTitle" />
          </div>
          <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="3" id="description"></textarea>
          </div>
        </div>
      </div>
      <div class="carousel-card">
        <div class="content mt-5">
          <div class="title">Title you entered in the first card will appear here</div>
          <div>
            <div class="form-group">
              <label for="keyPoints">Key Points</label>
              <input type="text" class="form-control" id="keyPoints" /> <span>Add</span>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" /> <span>Add</span>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-card">
        <div class="content mt-5">
          <div class="title">Metadata</div>
          <div class="metadata-form scroller">
            <div class="form-group">
              <label>Capsule Type</label>
              <select class="form-control">
                <option>Capsule Type</option>
              </select>
            </div>

            <div class="form-group">
              <label>Publisher</label>
              <select class="form-control">
                <option>Publisher</option>
              </select>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Topic Level</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Target Audience</label>
                  <select class="form-control">
                    <option>100</option>
                    <option>200</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Primary Category</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Secondary Category</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="resourceURL">Resource URL</label>
              <input type="text" class="form-control" id="resourceURL" placeholder="URL" />
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Expiry Date</label>
                  <select class="form-control">
                    <option>1 Week</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <label>Editors Pick</label>

                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" />
                  <label class="custom-control-label" for="customSwitch1"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-4">
      <button
        class="button secondary-btn-md mb-5 mr-3"
        (click)="activateFirstNavTab()"
        [routerLink]="['../myfeeds']"
      >
        Cancel
      </button>
      <button class="button secondary-btn-md cta mb-5">Next</button>
    </div>
  </div>
</div>

<!--/***********Second Page***********/ -->
<div class="create-capsule-page-Admin">
  <div class="container pt-5">
    <div class="back-link">
      <a (click)="activateFirstNavTab()" [routerLink]="['../capsules']">
        <img src="/assets/images/back-arrow.png" class="mr-2" />
        Back to Dashboard
      </a>
      <h2 class="text-center">Create Capsule</h2>
      <h4 class="font-medium text-center">Add Questions</h4>
    </div>
    <div class="row card-section d-flex justify-content-center mb-4 pb-4">
      <div class="carousel-card md-width adminPagesCard">
        <div class="clearfix">
          <a class="hyperlinkBtn float-right mr-2" href="javascript:void(0)">Add</a>
        </div>
        <div class="innerCardSection">
          <div class="q-section">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Question 01</h4>
              <div class="d-flex align-items-center">
                <span class="p-dots mr-2 mt-1"></span
                ><a href="javascript:void(0)">
                  <img src="../../../../assets/images/trash.svg" alt="Delete"
                /></a>
              </div>
            </div>
            <form class="w-100 my-3">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Question" />
              </div>
            </form>
          </div>
          <div class="option-section">
            <form>
              <div class="form-check d-flex align-items-center">
                <div class="d-flex align-items-center form-input-row">
                  <span class="p-dots mr-2"></span><label class="mb-0 mr-2">A</label
                  ><input type="text" placeholder="Answer Option 1" class="form-control" />
                </div>
                <label class="form-check-label" for="radio1">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="radio1"
                    name="optradio"
                    value="option1"
                    checked
                  />Answer
                </label>
              </div>
              <div class="form-check d-flex align-items-center">
                <div class="d-flex align-items-center form-input-row">
                  <span class="p-dots mr-2"></span><label class="mb-0 mr-2">B</label
                  ><input type="text" placeholder="Answer Option 2" class="form-control" />
                </div>
                <label class="form-check-label" for="radio1">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="radio1"
                    name="optradio"
                    value="option1"
                  />Answer
                </label>
              </div>
              <div class="form-check d-flex align-items-center">
                <div class="d-flex align-items-center form-input-row">
                  <span class="p-dots mr-2"></span><label class="mb-0 mr-2">C</label
                  ><input type="text" placeholder="Answer Option 3" class="form-control" />
                </div>
                <label class="form-check-label" for="radio1">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="radio1"
                    name="optradio"
                    value="option1"
                  />Answer
                </label>
              </div>
              <div class="form-check d-flex align-items-center">
                <div class="d-flex align-items-center form-input-row">
                  <span class="p-dots mr-2"></span><label class="mb-0 mr-2">D</label
                  ><input type="text" placeholder="Answer Option 4" class="form-control" />
                </div>
                <label class="form-check-label" for="radio1">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="radio1"
                    name="optradio"
                    value="option1"
                  />Answer
                </label>
              </div>
            </form>
          </div>
        </div>
        <div class="innerCardSection">
          <div class="q-section">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Question 02</h4>
              <div class="d-flex align-items-center">
                <span class="p-dots mr-2 mt-1"></span
                ><a href="javascript:void(0)">
                  <img src="../../../../assets/images/trash.svg" alt="Delete"
                /></a>
              </div>
            </div>
            <form class="w-100 my-3">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Question" />
              </div>
            </form>
          </div>
          <div class="option-section">
            <form>
              <div class="form-check d-flex align-items-center">
                <div class="d-flex align-items-center form-input-row">
                  <span class="p-dots mr-2"></span><label class="mb-0 mr-2">A</label
                  ><input type="text" placeholder="Answer Option 1" class="form-control" />
                </div>
                <label class="form-check-label" for="radio1">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="radio1"
                    name="optradio"
                    value="option1"
                    checked
                  />Answer
                </label>
              </div>
              <div class="form-check d-flex align-items-center">
                <div class="d-flex align-items-center form-input-row">
                  <span class="p-dots mr-2"></span><label class="mb-0 mr-2">B</label
                  ><input type="text" placeholder="Answer Option 2" class="form-control" />
                </div>
                <label class="form-check-label" for="radio1">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="radio1"
                    name="optradio"
                    value="option1"
                  />Answer
                </label>
              </div>
              <div class="form-check d-flex align-items-center">
                <div class="d-flex align-items-center form-input-row">
                  <span class="p-dots mr-2"></span><label class="mb-0 mr-2">C</label
                  ><input type="text" placeholder="Answer Option 3" class="form-control" />
                </div>
                <label class="form-check-label" for="radio1">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="radio1"
                    name="optradio"
                    value="option1"
                  />Answer
                </label>
              </div>
              <div class="form-check d-flex align-items-center">
                <div class="d-flex align-items-center form-input-row">
                  <span class="p-dots mr-2"></span><label class="mb-0 mr-2">D</label
                  ><input type="text" placeholder="Answer Option 4" class="form-control" />
                </div>
                <label class="form-check-label" for="radio1">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="radio1"
                    name="optradio"
                    value="option1"
                  />Answer
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-4">
      <button
        class="button secondary-btn-md mb-5 mr-3"
        (click)="activateFirstNavTab()"
        [routerLink]="['../capsules']"
      >
        Cancel
      </button>
      <button class="button secondary-btn-md cta mb-5">Submit</button>
    </div>
  </div>
</div>
