@import '../../../../assets/styles/variables.scss';

/***********First Page CSS*************/
.create-capsule-page {
  .container {
    max-width: 1000px;
    .title {
      font-size: 24px;
      font-family: HelveticaNeueLTProBoldCondensed;
      padding-bottom: 28px;
    } 
    label {
      font-family: $primary-font-medium;
      font-size: 18px;
    }
  }
  input, textarea, select {
    margin-bottom: 0px;
  }
  .error-text {
    input, textarea, select {
      border-color: red;
    }
    .error-msg {
      color: red !important;
    }
  }
  .form-field {
    margin-bottom: 25px !important;
  }
  .carousel-card {
    height: 630px;
    transition: none;
    width: 493px;
    @media only screen and (max-width: 990px) {
      height: auto !important;
    }
    &:hover {
      transform: none;
    }

    .upload-image {
      background: #f2f2f2 url('../../../../assets/images/upload-image-before.png');
      background-size: cover;
      height: 193px;
      padding-top: 50px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      .secondary-btn-sm {
        width: 140px;
        height: 44px;
        font-size: 16px;
        font-family: $primary-font-bold;
        border: 0;
        border-radius: 22px;
      }
    }
  }

}
.next-btn {
  &:disabled {
    background-color: #9c9c9c;
    border-color: #9c9c9c;
  }
}
