<!--/***********First Page***********/ -->
<div class="create-capsule-page">
  <div class="container pt-5">
    <div class="back-link pt-0">
      <a (click)="showAdminCapsulesTab()" [routerLink]="['../capsules']">
        Admin
      </a> > <span>Create Capsule</span>
    </div>

      <h2 class="text-center">Create Capsule</h2>
    <div class="justify-content-center mb-4 pb-4">
      <div class="title">Capsule Front Side Information</div>
      <div class="row">

        <div class="col-6"><label for="capsuleTitle">Capsule Title</label>
          <input type="text" name="title" [(ngModel)]="createCapsuleForm.title" class="form-control" placeholder="Enter Capsule Title" />
        </div>
        <div class="col-6"> <label>Topic Category</label>
          <select name="type" [(ngModel)]="createCapsuleForm.type" name="Select" class="form-control">
            <option>Topic Category</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Duration</label>
            <select name="duration" [(ngModel)]="createCapsuleForm.duration" class="form-control">
              <option disabled value="0">Duration</option>
              <option value="15">15</option>
              <option value="30">30</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6"><label for="capsuleTitle">Summary by/Author</label>
          <input type="text" name="auther" class="form-control" />
        </div>
        <div class="col-6"> <label>Published Date</label>
          <input type="text" name="date" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="description">Description</label>
          <textarea class="form-control" name="description" [(ngModel)]="createCapsuleForm.description"
            rows="4"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12"><label for="capsuleTitle">Upload Image <span>(formats: jpg, jpeg, png)</span></label>
          <input type="file" name="uplaodImage" class="form-control" />
        </div>
      </div>


      <div class="content mt-5">
        <div class="title">Capsule Flip Side Information</div>
        <div class="form-group">
          <label for="Description">Add Tags</label>
          <input type="search" class="form-control" />
        </div>
      </div>

      <div class="content mt-5">
        <div class="title">Metadata</div>
        <div class="metadata-form">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                <label>Capsule Type</label>
                <select name="type" [(ngModel)]="createCapsuleForm.type" class="form-control">
                  <option>Capsule Type</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                <label>Publisher</label>
                <select name="publisher" [(ngModel)]="createCapsuleForm.publisher" class="form-control">
                  <option>Publisher</option>
                </select>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                <label>Topic Level</label>
                <select name="level" [(ngModel)]="createCapsuleForm.level" class="form-control">
                  <option>Beginner</option>
                  <option>Intermediate</option>
                  <option>Advance</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                <label>Target Audience</label>
                <select name="audience" [(ngModel)]="createCapsuleForm.audience" class="form-control">
                  <option value="All">All</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                <label>Primary Category</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                <label>Secondary Category</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="resourceURL">Resource URL</label>
            <input type="text" name="resourceURL" [(ngModel)]="createCapsuleForm.resourceURL" class="form-control"
              placeholder="URL" />
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                <label>Expiry Date</label>
                <select name="expiryDate" [(ngModel)]="createCapsuleForm.expiryDate" class="form-control">
                  <option>1 Week</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <label>Editors Pick</label>

              <div class="custom-control custom-switch">
                <input type="checkbox" name="editorsPick" value="1" [(ngModel)]="createCapsuleForm.editorsPick"
                  class="custom-control-input" id="customSwitch1" />
                <label class="custom-control-label" for="customSwitch1"></label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row mb-4">
      <button class="button secondary-btn-md mb-5 mr-3" (click)="showAdminCapsulesTab()" [routerLink]="['../capsules']">
        Cancel
      </button>
      <button class="button secondary-btn-md cta mb-5 next-btn" (click)="onCreateCapsule()">
        Save
      </button>
    </div>
  </div>
</div>