@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.box-content-img {
    float: left;
    margin-right: 70px;
    border-radius: 10px;
}
.video-library-card {
    cursor: pointer;
    border: 1px solid #c3c2c2;
    border-radius: 4px;
    height: 495px;
    .video_thumb {
        height: 180px;
    }
    .header-image {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .content {
        .title {
            font-size: 18px;
            font-family: $primary-font-medium;
            padding-bottom: 5px;
            color: #333;
            p {
                color: #626262;
            }
        }
        .description {
            font-size: 16px;
            overflow-y: auto;
            height: 190px;
        }
    }

}