@import '../../assets/styles/variables.scss';
@import '../../assets/styles/common.scss';

.box-content-img {
  float: left;
  margin-right: 70px;
  border-radius: 10px;
}
.video-library-card {
  cursor: pointer;
  border: 1px solid #e8edff;
  border-radius: 5px;
  height: 375px;
  .video_thumb {
    height: 125px;
    padding-bottom: 20px;
  }
  .header-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 125px;
  }
  .content {
    .title {
      font-size: 16px;
      font-family: $primary-font-black;
      color: #262626;
      p {
        color: #777777;
        font-size: 13px;
        margin-bottom: 10px;
      }
    }
    .description {
      font-size: 14px;
      min-height: 85px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow-y: hidden;
      margin-bottom: 10px;
    }
    .pills {
      background: #d9e9f7;
      color: #556779;
    }
  }
}

.video-skeleton {
  height: 360px;
  .image {
    height: 120px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .content {
    .title {
      height: 20px;
      min-height: 20px;
      margin-bottom: 10px;
    }
    .author {
      height: 16px;
      width: 70%;
      margin-bottom: 30px;
    }
    .skeleton-description {
      height: 16px;
      margin-bottom: 10px;
    }
    .badge {
      height: 26px;
      background-color: $skeleton-grey;
      &.badge1 {
        width: 60px;
        margin-right: 10px;
      }
      &.badge2 {
        width: 80px;
      }
    }
    .title.loading,
    .author.loading,
    .skeleton-description.loading {
      border-radius: 2px;
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .mob-banner-txt {
    width: 100%;
    margin-top: -65px;
  }
}