<div id="video-page" class="skill-studio-page p-main pb-0">
  <app-spinner></app-spinner>
  <div class="card flex justify-content-center gap-2">
    <p-toast position="top-center" key="tc"></p-toast>
  </div>
    
  <div class="col-lg-12 px-0">
    <div class="container-fluid top-navigation">
      <div class="container">
        <div class="back-link">
          <a class="url-link" [routerLink]="['/ai-hub/dashboard']">AI Hub</a>
          <span>Video Library</span>
        </div>
      </div>
    </div>
  </div>
  <section class="container-fluid aihub-banner video-library pt-5">
    <div class="container">
        <div class="text-right mob-mr-0 mt-5">
          <div class="banner-highlights text-white">We will TRAIN you <br>CRACK your interviewes</div>
        </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="hub-search pb-4">
        <div class="col-lg-6 d-inline-flex align-items-center pl-0">
          <div class="search-box mt-0 pl-0 ml-0 mr-1 col-lg-6">
            <input type="text" name="searchTopics" placeholder="Search Topics" class="mb-0" [(ngModel)]="searchText" (keyup.enter)="onSearch()" (blur)="onSearch()"/>
            <button title="search bar" class="search-btn" (click)="onSearch()"></button>
          </div>
          <div [ngClass]="{'item-selected': selectedTopics.length > 0}" class="page-filter">
            <p-multiSelect
              [options]="topics"
              [filter]="false"
              (onChange)="onChange($event)"
              optionLabel="title"
            ></p-multiSelect>
          </div>
        </div>
        <div class="col-lg-6 hub-register pr-0">
          <button class="button primary tertiary w-auto px-3 mx-0">Register</button>
        </div>
      </div>

      <div class="cards-spacing card-section mb-4 pb-4">
        <div *ngFor="let video of filteredVideoList; let i = index"
          class="course-card video-library-card carousel-card mx-0" (click)="onVideoClick(video)">
          <div class="position-relative">
            <div class="icons okHand" *ngIf="!video.isRecommended" (click)="onRecommendClick($event, video)"><img src="/assets/images/okhand-icon.svg" alt="okhand icon" class="rounded-img">
            </div>
            <div class="icons okHand" *ngIf="video.isRecommended"><img src="/assets/images/okhand-icon-active.svg" alt="okhand icon filled" class="rounded-img">
            </div>

            <div class="video_thumb"><img alt="play icon" class="header-image" [src]="video.imageUrl">
              <div class="play-button"></div>
            </div>
          </div>
          <div class="content">
            <div class="title">
              <div class="pb-1">{{video.title}}</div>
              <p>
                Published Date: {{video.publishedOn}}
              </p>
            </div>
            <div class="description">
              <p>
                {{video.summary}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>