@import '../../.././../assets/styles/variables.scss';
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.loader-select {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  background: #fff; 
  width: 100%;
  height: 100vh !important;
  z-index: 998;
  margin-bottom: 15px;
  background: #fff;
  opacity: 0.7;
  .loader-holder {
    margin: 0 auto;
    position: absolute;
    top: -28% !important;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    width: 140px;
    height: 80px;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    p {
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}
