<div class="digest-card" (click)="openTekbyte()">
  <div class="card-top">
    <div class="conference-header">
      <div class="d-flex justify-content-between align-items-top">
        <div class="title w-75">{{ tekbyte?.title }}</div>
          <span class="pills mt-2">Metaverse</span>
          <div class="bookmark-icon-animated mt-1"></div>
      </div>
      <div class="description">{{ tekbyte?.summary }}</div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div class="recommend"><span class="okhand-gray-icon"></span>Recommend <span
        class="count">({{ tekbyte?.recommendations }})</span>
    </div>
      <div class="d-flex align-items-center">
        <span class="premium-gray-icon"></span>{{ tekbyte?.prizingModel }}
      </div>
    </div>
  </div>
</div>