<div class="digest-card" (click)="openTekbyte()">
  <div class="card-top bg-1">
    <div class="conference-header">
      <div class="title">{{ tekbyte?.title }}</div>
      <div class="description">{{ tekbyte?.summary }}</div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <span class="okhand-gray-icon pr-4"></span>{{ tekbyte?.recommendations }}
      </div>
      <div class="d-flex align-items-center">
        <span class="premium-gray-icon"></span>{{ tekbyte?.prizingModel }}
      </div>
    </div>
  </div>
</div>
